[2014-05-09 21:43] glassfishrobot opened #467 "Add support for HTTP client timeouts"
The spec should support HTTP client timeouts.

Example (ClientBuilder):

[code]

– or –

[code]

Jersey and RESTEasy support this feature in their vendor specific implementations.
#### Affected Versions
[2.0]

[2014-05-16 01:47] glassfishrobot opened #468 "JAX-RS treats URLs with and without a trailing slash as equivalent"
In section 3.7.3 "Converting URI Templates to Regular Expressions" JAX-RS appends "(/.*)?" to the resulting regex, thus treating URLs with or without a trailing slash as equivalent.

This is a mistake. According to RFC 1808, section 4, step 6, the two URLs are not equivalent. As a result, relative paths resolve to a different URL depending on whether the URL contained a trailing slash or not. It i

[2014-06-03 11:19] glassfishrobot opened #469 "ResponseBuilder loses StatusType reason phrase"
<tt>Response.StatusType</tt> has a <tt>getReasonPhrase</tt> method [1] which is not used by <tt>ResponseBuilder.status(StatusType)</tt> method. This issue was reported by a user who created a custom <tt>StatusType</tt>.

Here is a possible fix:

[code]

[1] [https://jax-rs-spec.java.net/nonav/2.0/apidocs/javax/ws/rs/core/Response.StatusType.html#getReasonPhrase(](https://jax-rs-spec.java.net/nonav

[2014-06-18 12:47] glassfishrobot opened #470 "Provide for more predictability in the way filters or interceptors are ordered"
At the moment filters or interceptors are ordered according to their priorities which are integer values.
The chance of interceptors interfering with one another is possible.
This is more of the issue with the filters/interceptors modifying the input stream: example, one handler wants to decrypt the stream, another - do something else, both are coming from different providers but we definitely wan

[2014-06-18 12:57] glassfishrobot opened #471 "Investigate the possibility of a single resource method supporting multiple HTTP verbs"
This is probably a non starter, but I wonder, can we have something similar to what is possible with Servlet API where a single handler supports multiple methods ?
Now and then the users are asking, example, a user wanted to write a JAX-RS server proxying the calls. It may be handy to do:

[code]

This won't change anything in the way resource methods are matched except the runtime will expect tha

[2014-06-18 19:27] glassfishrobot opened #472 "javax.ws.rs.* packages should implement java.lang.AutoCloseable where applicable"
Currently the javax.ws.rs.core.Response and javax.ws.rs.client.Client implement close(), but not the AutoCloseable interface. This would be a nice feature so that developers can leverage the try-with-resources syntax.
#### Environment
All
#### Affected Versions
[2.0]

[2014-07-01 09:58] glassfishrobot opened #473 "Provide API support for HTTP 202"
HTTP 202 provides for the immediate response to the client.
We have a @Oneway annotation in Apache CXF which supports it.

It can be useful to JAX-RS developers to have something like:

[code]

The @Accepted docs would say that a 'void' is expected and no @Produces is supported.

[2014-07-02 03:56] glassfishrobot opened #474 "Users should be able to add arbitrary values to Vary header"
Currently <tt>javax.ws.rs.core.Variant</tt> only supports 3 kinds of values:

*   encodings
*   languages
*   mediaType

But, according to [http://tools.ietf.org/html/rfc7231#section-7.1.4](http://tools.ietf.org/html/rfc7231#section-7.1.4) we should be able to pass arbitrary headers <tt>Vary</tt>. For example, one might want to specify <tt>Vary: Authorization</tt>. See [http://stackoverflow.com/a/

[2014-07-02 10:23] glassfishrobot opened #475 "Clarify how default MessageBodyReaders should deal with concrete implementations of interfaces"
We've had a user reporting an issue to do with CXF javax.activation.DataSource provider throwing an exception after a user typed 'javax.activation.FileDataSource' in the signature.

Given that the spec requires support for java.io.File it was easy to provide a support for javax.activation.FileDataSource OOB.

Now the user asks is it against the spec for a default provider to support a type not spe

[2014-07-03 19:36] glassfishrobot opened #476 "CacheControl.equals() and hashCode() implementation is broken because of cacheExtension field"
<tt>CacheControl.hashCode()</tt> and <tt>CacheControl.equals()</tt> return different values depending on whether <tt>this.cacheExtension</tt> is null or an empty map.

This means that the following code returns false:

[code]

Lazy initialization of fields should not affect their value. equals() and hashcode() need to be fixed to return the same value whether the map is initialized or not (or just

[2014-07-04 17:37] glassfishrobot opened #477 "Clarify if MBR/MBW should see annotations from interfaces and concrete classes"
Given

[code]

should MBR and MBW see @GET + @Produces only or @GET + @Produces + @A where @A is a custom non-JAX-RS annotation ?

Proposal: update the Annotation Inheritance spec text accordingly, probably makes sense to avoid merging but I'm not sure

Thanks

[2014-07-15 20:20] glassfishrobot opened #478 "Declarative HATEOAS support"
With JAX-RS 2.0 initial support for HATEOAS was introduced with building Link headers (server side) and following them (client side).

With JAX-RS 2.1 this support should get improved by a declarative way of defining links. JAYWAY provided an idea how this could look like in an HATEOAS talk available on YouTube ([https://www.youtube.com/watch?v=CcQE9481lMs](https://www.youtube.com/watch?v=CcQE9481

[2014-07-23 13:26] #451 closed, assigned to nobody

[2014-07-23 14:40] glassfishrobot opened #479 "Update Configuration documentation to clarify where it can be injected"
Configuration can be injected as the JAX-RS context. Please clarify if it can be injected into server root resources. If yes then resolving it as Wont Fix or similar with the related comment will be fine, thanks
#### Affected Versions
[2.0]

[2014-07-30 13:53] #476 closed, assigned to nobody

[2014-07-30 14:18] #464 closed, assigned to nobody

[2014-07-30 14:25] #461 closed, assigned to nobody

[2014-07-30 14:46] #452 closed, assigned to nobody

[2014-07-31 16:56] #410 closed, assigned to nobody

[2014-08-05 15:05] glassfishrobot opened #480 "Make Link.JaxbLink setters public"
This is a follow-up for #427.
#### Affected Versions
[2.0.1]

[2014-08-05 15:12] #427 closed, assigned to nobody

[2014-08-06 07:05] glassfishrobot opened #481 "Supporting Lamda Expressions with asynchronous invocations"
The JAX-RS API 2.0 defines the InvocationCallback interface to specify reaction upon task termination, which includes either task completion or task failure.

With the rise of Java 8 in the incarnation of both, the current Java SE 8 and the future Java EE 8 platforms, Lambda expression are the typical means to express callbacks. Java SE 8 for example was overhauled to allow Lambda expressions as s

[2014-08-06 08:02] glassfishrobot opened #482 "Supporting Streams API for bulk-processing of headers"
The JAX-RS API 2.0 defines the Headers interface to access a list of all provided request headers. Typically this form of mass-provision is utilized by some kind of filtering and / or iteration algorithm, since obviously nobody really needs literally all headers (including even potentially unknown custom headers).

With the rise of Java 8 in the incarnation of both, the current Java SE 8 and the f

[2014-08-06 10:06] glassfishrobot opened #483 "JAX-RS 2.0 Client API must be able to provide OUTPUT and INPUT for custom HTTP methods"
The JAX-RS 2.0 API defines a Client API for accessing RESTful web services. As some of them are using non-standard HTTP verbs, like SEARCH in WebDAV, it is obvious that any implementation of the JAX-RS standard must be able to correctly (in the sense of the HTTP specification) handle such custom verbs. "Correctly" hereby means, to make no (not any) assumptions.

While this JIRA system already cont

[2014-08-06 12:34] glassfishrobot opened #484 "Entity.getAnnotations() should never return null."
The javadoc states that the method either returns annotation array, if there are any annotations set, or an empty array, if no annotations have ben set. Creating an <tt>Entity</tt> instance by passing <tt>'null'</tt> into the <tt>annotations</tt> constructor parameter however violates the javadoc.

[2014-08-06 12:41] #428 closed, assigned to nobody

[2014-08-06 12:44] #484 closed, assigned to nobody

[2014-08-06 13:30] #412 closed, assigned to nobody

[2014-08-07 10:44] glassfishrobot opened #485 "UriBuilder.fromPath implementation needs to enforce the relativity of the path"
UriBuilder.fromPath documentation states that a builder representing a relative URI is created. UriBuilder.fromPath delegates to a newly created UriBuilder.path() method whose documentation states that " Existing '/' characters are preserved".

So UriBuilder.fromPath("/a") would return a builder representing "/a" which does not qualify as a relative URI.

The same issue exists for UriBuilder.from(

[2014-08-07 10:49] #485 closed, assigned to nobody

[2014-08-22 08:50] glassfishrobot opened #486 "Clarify whether UriInfo.getPath includes a leading slash or not, or provide an alternative"
The Javadoc for UriInfo.getPath just says: "Get the path of the current request relative to the base URI as a string."

In my opinion, it should also specify whether it includes a leading slash or not.

For example: Jersey 2.7 includes the slash, while Jersey 2.8 & later don't. Since it isn't specified, both behaviors are spec-compliant. However,

[2014-08-26 17:28] #479 closed, assigned to glassfishrobot

[2014-08-26 17:31] glassfishrobot opened #487 "Clarify if Application.getClasses and getSingletons can be directly used by Configuration injected on the server"
Clarify if Application.getClasses and getSingletons can be directly used by Configuration injected on the server

[2014-08-27 13:30] glassfishrobot opened #488 "Response.created() and ResponseBuilder.location() have the conflicting documentation about relative URIs"
We've had an issue opened with a reference to Response.created() which recommends the use of UriInfo.getRequestUri to resolve relative references, while ResponseBuilder.location to which Response.created() delegates recommends the use of UriInfo.getBaseUri.

Either Response.created() or ResponseBuilder.location() API docs need to be fixed.

IMHO it's actually be better be done for 2.0.2
#### Affec

[2014-08-27 13:43] glassfishrobot opened #489 "Review and update if needed API docs using the word "resolve""
ResponseBuilder, UriInfo and possibly other API docs use (URI) "resolve" in some cases. For example, ResponseBuilder.location(), etc.
Now that JAX-RS 2.0 has its own URI resolution support, it is becoming a bit confusing what exactly is meant by "resolve".
For example, given "http://a/b" and a relative "b" supplied to ResponseBuilder.location(), most likely the users would expect "http://a/b/b" gi

[2014-09-12 09:02] glassfishrobot opened #490 "Client.close() should close client filters implementing Closeable"
It can help with writing portable client filters operating with the client cache managers, etc. Effectively this issue is about updating the documentation of Client.close().
#### Affected Versions
[2.0]

[2014-09-12 15:33] glassfishrobot opened #521 "Expose remote IP address of request"
There is one small feature missing from Jersey (and JAX-RS) which force me and other to rely on the Servlet API: finding out the remote IP address of a request. It would be nice if that could be done with Jersey (or even better JAX-RS) without dependency on the Servlet API.

I propose that the following methods are added to
org.glassfish.jersey.server.ContainerRequest, doing the same as the corres

[2014-09-17 10:07] glassfishrobot opened #491 "The specification should require a default MBR for StreamingOutput be provided"
I've seen such queries few times and there was another one yesterday.

If a client or server has a binary content coming as InputStream that needs to be saved to some local OutputStream then the current approach is to write a custom code that will manually (possibly with the help of the utility class) read from InputStream and write to OutputStream.

Having the following code instead looks interes

[2014-09-17 14:42] glassfishrobot opened #492 "Consider adding CORS support in JAX-RS.next"
From the JAX-RS users mailing list:

[2014-09-26 05:04] glassfishrobot opened #522 "Client should implement AutoCloseable"
Please have Client implement <tt>AutoCloseable</tt> so it can be used with the try-with-resources block or added to a list of resources that should be closed at the end of some session (e.g. unit tests).
#### Affected Versions
[2.0, 2.0.1]

[2014-10-07 18:22] glassfishrobot opened #493 "Pluggable implementations"
Seems that containers are not able to switch JAX-RS implementations like JPA due to the specification limitations.

Related issue for the Wildfly container: [https://github.com/javaee-samples/javaee7-samples/issues/93#issuecomment-58228004](https://github.com/javaee-samples/javaee7-samples/issues/93#issuecomment-58228004)
#### Affected Versions
[2.1]

[2014-10-15 17:04] #294 closed, assigned to glassfishrobot

[2014-10-15 17:10] #436 closed, assigned to glassfishrobot

[2014-10-15 17:11] #419 closed, assigned to glassfishrobot

[2014-10-15 18:20] #414 closed, assigned to glassfishrobot

[2014-10-20 16:55] #126 closed, assigned to glassfishrobot

[2014-10-20 16:57] #370 closed, assigned to glassfishrobot

[2014-10-28 16:57] glassfishrobot opened #494 "JavaDocs for Client, WebTarget and Invocation should clearly say whether invocations MUST be thread-safe"
JAX-RS 2.0 provides a Client API which is prepared for intense reuse of object instances of Client, WebTarget and Invocation. Unfortunately the JavaDocs of these classes do not say whether a caller can rely upon these instances are thread-safe. As a recent discussion on the user's mailing list has discovered, users abstain from the rist of concurrent usage of these instances as they fear risk of p

[2014-11-07 19:23] glassfishrobot opened #495 "Document thread-safety"
The Javadoc of all classes should document their thread-safety, otherwise programmers are forced to make potentially-wrong assumptions.
#### Affected Versions
[2.0]

[2014-11-12 13:03] glassfishrobot opened #496 "Add a 'doc' property to all of JAX-RS annotations"
Java Docs do not always adequately describe the purpose of a given JAX-RS method or parameter. A 'doc' property set by default to an empty string can be useful to offer a JAX-RS specific documentation and it will be easier for various document generators (WADL, Swagger) to get a documentation from a well known property, example:

[code]

[2014-11-12 13:07] glassfishrobot opened #497 "Support for HTTP proxies in Client API"
Having an API for simplifying configuring the clients which need to go via proxies might be useful

[2014-11-12 13:10] glassfishrobot opened #498 "Reader and Writer interceptors should see the request context properties"
The interceptors should see the properties set either on Client or Container request context. For example, it can be handy if a client request filter has aborted a request and would like to pass a hint to a reader interceptor on how to act on such a response.

[2014-11-18 13:42] glassfishrobot opened #499 "Clarify processing of empty parameters"
Empty parameters (i.e. "a" in URIs like "?a" and "?a=&b=c") have specific behavior (see pseudo-code below, using Jersey), but in my opinion this is not clearly specified in neither the specification (sections 3.2 & 3.3.2) nor the Javadoc of @DefaultValue.

if(p == null)

{ return try-parse(@DefaultValue)-or-return-500 || JavaDefaultValue }

else if(p.isEmpty()) {
try

{ return parse(p) } catch(e)

[2014-11-18 14:00] glassfishrobot opened #500 "Allow to differentiate default values for "null parameters" & "empty parameters""
Assume the following resource method:
@GET Response getMessages(@QueryParam("unread") boolean unread)

{ ... }

Now I would like to be able to have the following behavior:
GET "/messages" -> unread = false
GET "/messages?unread" -> unread = true
This is analog to HTML boolean attributes, where the mere presence of an attribute indicates the value "true".

However, because @DefaultValue is used for

[2014-11-18 21:48] glassfishrobot opened #501 "Standardize proxy-based JAX-RS client API"
All major JAX-RS implementations have some kind of proxy-based extension to build restful clients using an interface and the same set of annotations used server-side. If you're familiar with writing JAX-RS services, the development of a client becomes much easier.

This is also the core idea of frameworks like Square's
Retrofit and Netflix Feign.

Some references:

*   [http://docs.jboss.org/reste

[2014-11-20 18:31] glassfishrobot opened #502 "Add getAcceptableEncodings to HttpHeaders"
Accept-Encoding can have values with the qualifiers and it can be tricky for users to deal with sorting them, HttpHeaders already has a similar support for language and type qualifiers

[2014-11-24 15:23] glassfishrobot opened #503 "Support java.util.Optional as parameter type in resource methods"
Jersey fills in missing optional resource method arguments with 'null'. Dealing with "possibly null" variables can be a bit of an annoyance, so more than often I do

Optional<String> optArg1 = Optional.ofNullable(arg1);
Optional<String> optArg2 = Optional.ofNullable(arg2);
...

at the top of my resource methods. This opens up for use of many convenience methods such as map, orElse, orElseThrow, if

[2014-11-26 10:24] #498 closed, assigned to glassfishrobot

[2014-11-26 10:29] glassfishrobot opened #504 "ResponseBuilder should have a method accepting a map of headers"
In can be tedious to manually set the cached headers on an instance of ResponseBuilder.
Response.fromResponse implementation has the code that might be reused

[2014-12-11 20:09] glassfishrobot opened #505 "Exceptions thrown during validation"
The specification should be more explicit on how the underlying BV exceptions are reported to applications during resource validation. Applications can use exception mappers to handle these exceptions, but only if the specification is clear as to how these exceptions are reported.

Some users have stated that certain JAX-RS implementations wrap exceptions, making it more difficult to handle them i

[2014-12-11 20:21] glassfishrobot opened #506 "Exception handling and recovery during validation"
The only way to handle exceptions thrown during (declarative) resource validation is via exception mappers. This mechanism may be insufficient in some cases, especially when an application (or framework) can recover from some errors. The problem is that there is a single mapper for say, ConstrainValidationException, for all resource methods in an application, making error recovery difficult.
####

[2014-12-17 17:07] glassfishrobot opened #507 "Passing data from a filter to a resource"
Currently there is no way to pass information from a filter to a
resource. It would be cool if there was a method on
ContainerRequestContext (or something) that could register a value that
could be injected via @Context. For example:

containerRequestContext.pushContext(IDToken.class, token);

@Path
public class Resource

{ @Context IDToken token; }
#### Affected Versions
[2.0]

[2014-12-17 17:17] glassfishrobot opened #508 "Support for forward/redirect"
Similar to what is supported by the Servlet spec.
#### Affected Versions
[2.0]

[2014-12-23 16:57] glassfishrobot opened #509 "Spec should declare a vendor-neutral way to start JAX-RS server in Java SE environment"
JAX-RS declares Java SE as one of several possible environments. Unfortunately it does not declare how to start a JAX-RS server application in pure Java SE. As a consequence, all vendors provides different methods to do so, leading to vendor-locked-in applications.

To get rid of the vendor-lock-in I'd like to propose that the JAX-RS specification defines a vendor-neutral API how a JAX-RS server a

[2015-01-12 13:49] glassfishrobot opened #510 "Section 3.2 is unclear on primitive and param conversions"
Section 3.2 talks about what status and exceptions should be thrown if there is a problem dealing with primitives or ParamConverters.

"Other exceptions thrown during construction of field or property values **using 3 or 4 above** are treated as client errors: "

It goes on to state which exceptions to throw. Now, I think "using 3 or 4 above" should probably be removed from the spec. So that parsi

[2015-01-16 14:03] glassfishrobot opened #511 "Consider using @javax.annotation.Priority"
Instead of JAX-RS' @Priority annotation, which could be deprecated in favor of the common one.

[2015-01-22 12:17] glassfishrobot opened #512 "Introduce a DefaultMethod HTTP method annotation"
In some cases it can be useful to have any HTTP method supported by a given JAX-RS resource method.

For a resource method annotated with a DefaultMethod annotation it still has to satisfy all the resource selection algorithm requirements with the only minor exception that any HTTP method matches. Important: it is not meant to catch the requests which fail a path or media type matches.

Effectivel

[2015-02-04 18:26] #510 closed, assigned to spericas

[2015-02-05 15:59] glassfishrobot opened #513 "MediaType isCompatible doesn't work when subtype is wildcard with suffix"
MediaType isCompatible produced incorrect results when subtype is wildcard with suffix. So for example "application/*+xml" is not compatible with "application/vnd.test.type+xml".
#### Affected Versions
[2.0.1]

[2015-02-21 15:54] glassfishrobot opened #514 "Typo in AsyncResponse"
In the javadoc of AsyncResponse [http://docs.oracle.com/javaee/7/api/javax/ws/rs/container/AsyncResponse.html](http://docs.oracle.com/javaee/7/api/javax/ws/rs/container/AsyncResponse.html):

using the @Suspend annotation.
should be
using the @Suspended annotation.

[2015-02-22 09:10] glassfishrobot opened #515 "Incorrect code example for DynamicFeature"
The code example for Section 6.5.3 Dynamic Binding has an incorrect method parameter declaration for the DynamicFeature interface.

... void configure(ResourceInfo resourceInfo, Configuration config) ....

It used the Configuration object as the second parameter which incorrect.

The right signature is

... void configure(ResourceInfo resourceInfo, FeatureContext ctx) ....
as per JAX-RS 2.0 javado

[2015-03-11 13:10] glassfishrobot opened #516 "Review if Enum.value() can be used to convert it to string if Enum fromValue() exists"
We have a user request, and I'm not certain if it is completely 'won't fix' or something can be done by default without having to depend on ParamConverter.

The issue seems to be is that JAXB generates fromValue and valueOf and the value() is apparently aligned with fromValue() while toString() (which is used by default for the conversion) is not.

[2015-03-26 13:12] glassfishrobot opened #517 "Support for HTTP/2.0 and HPACK"
HTTP/2.0 and HPACK claim to provide dramatic improvements particularly with complex multi-resource requests due to parallel multi-responses, binary data format, and header compression.

Servlet 4.0 already provides support for this, and in near future people will demand support for it in JAX-RS – independent of Servlet 4.0 or not. As a consequence, API and / or spec changes of JAX-RS might be need

[2015-04-28 14:58] glassfishrobot opened #518 "Add support for PATCH"
Currently in Jsr-374 - JSON-P 1.1 we are working on supporting Json Patch and Json Merge Patch.

I think that it may has sense to be aligned in this feature by adding @PATH annotation to use PATH Http method and also adding as MediaType the one required by both patch operations which is _application/json-patch+json_

Maybe you had already this in mind, but I have not found any issue mentioning it.

[2015-05-26 11:48] glassfishrobot opened #519 "Define ordering of Providers.getContextResolver"
Suppose Two context resolvers:
@Provider
@Produces(MediaType.TEXT_PLAIN)
public class TextPlainContextResolver implements ContextResolver<T>

and

@Provider
public class WildCardContextResolver implements ContextResolver<T>
—
It is not clear which of these two are to be selected first with
Providers.getContextResolver(T.class, **/**)
#### Affected Versions
[2.1]

[2015-08-26 09:18] glassfishrobot opened #520 "javax.ws.rs-api is not repackagable"
It's easy to meet jar hell with conflict between javax.ws.rs-api.jar and jersey-X-1.x.jar (X could be core|server|client). For example, hadoop depends on jersey-X-1.x, while many other libraries depends on javax.ws.rs-api, such as docker-java. This make it hard to write application running on hadoop and using such libraries.
OSGi is one solution, and repackaging([http://repackage.org/](http://repa

[2015-10-12 13:06] glassfishrobot opened #523 "Configurable @Path resolution strategies"
Due to ongoing discussions on the Jersey mailing list, I am filing this issue for consideration in post-2.1 (e. g. 3.0).

Apparently the @Path resolution strategy is neither well-understood nor intuitive to the average Joe, so there had been suggestions for different alternative resolution strategies.

To preserve backwards compatibility, the original strategy from 2.0 and prior has to be the defa

[2015-11-20 16:51] glassfishrobot opened #524 "Get UriBuilder and Path of root resource"
A common pattern that I find is using a <tt>UriBuilder</tt> to link to another subresource within the same root resource. Unfortunately this usually means I have to do something like this:

[code]

I am surprised a sub-resource doesn't know the path of its root (given it's the same Java class), and so I think we can reduce complexity here by adding two new methods on <tt>UriInfo</tt>:

[code]
####

[2016-01-11 14:04] glassfishrobot opened #525 "Invocation.invoke(Class<t>) javadoc not complete"
The Invocation.invoke javadoc should mention that WAE is not thrown if the requested return type is Response.class (as e.g. in [SyncInvoker.get](https://jax-rs-spec.java.net/nonav/2.0/apidocs/javax/ws/rs/client/SyncInvoker.html#get(java.lang.Class)))
#### Affected Versions
[2.0]

[2016-01-14 14:14] glassfishrobot opened #526 "Add superinterface(s) for common property methods"
The <tt>ClientRequestContext</tt>, <tt>ContainerRequestContext</tt>, <tt>InterceptorContext</tt>, and <tt>Configuration</tt> interfaces each have <tt>getProperty(String)</tt> and <tt>getPropertyNames()</tt> methods and each except <tt>Configuration</tt> have <tt>setProperty(String, Object)</tt> and <tt>removeProperty(String)</tt> methods but they do not each extend any common super-interface(s). A

[2016-01-22 12:02] glassfishrobot opened #527 "MultivaluedHashMap is not deserializable"
Despite the MultivaluedHashMap implementing java.io.Serializable and having a public no arg constructor, it is impossible to deserialize a previously serialized instance of MultivaluedHashMap.

Attempting to do so results in an InvalidClassException being thrown.

A code snippet to reproduce the bug is available here:
[http://stackoverflow.com/questions/34732363/unable-to-deserialize-multivaluedha

[2016-02-05 16:24] glassfishrobot opened #528 "Enhancing ClientBuilder / Configuration to accept ExecutorService"
Asynchronous client methods are currently executed in an unspecified ThreadPool / ExecutorService.

Configuration / ClientBuilder should accept an external ExecutorService which is going to be used for the execution of asynchronous requests.

In Java EE environment an injected ManagedExecutorService could be used to execute managed threads and to restrict the total amount of threads (BulkHeads).
#

[2016-02-06 05:53] glassfishrobot opened #529 "Standardize Connection Timeout and Read Timeout Properties"
Currently read and connection timeout have to configured in provider-specific way. This leads to unportable code:

Client client = ClientBuilder.newClient();
client.property(ClientProperties.CONNECT_TIMEOUT, 100);
client.property(ClientProperties.READ_TIMEOUT, 500);

Even better way (=easier to use) would be to introduce builder methods to specify the timeout behavior.

[2016-02-09 12:47] glassfishrobot opened #530 "ClientBuilder ServiceLoader SPI mechanism does not conform to ServiceLoader standards."
ServiceLoader SPI mechanism states:

[code]

However, the implementation that is used to find <tt>ClientBuilder</tt> sub-class (located in <tt>FactoryFinder.find()</tt>) reads the very first line of the <tt>META-INF/services/javax.ws.rs.client.ClientBuilder</tt> file (by using <tt>BufferedReader.readLine()</tt> instead of omitting

*   lines with comment character <tt>#</tt>
*   blank lines
*   sp

[2016-02-16 05:06] glassfishrobot opened #531 "Programmatic Resource Discovery"
Introduce a way to discover / introspect deployed resources with paths and verbs of a deployment unit.

A String-based, simplified functionality of: [https://jersey.java.net/apidocs/2.16/jersey/org/glassfish/jersey/server/model/package-summary.html](https://jersey.java.net/apidocs/2.16/jersey/org/glassfish/jersey/server/model/package-summary.html) is the minimal requirement.

URIs of the deployed

[2016-02-17 21:50] glassfishrobot opened #532 "Turning MessageBodyWriter#getSize into a Java 8 default method"
Since JAX-RS 2.0 the method MessageBodyWriter#getSize is obsolete and should simply return -1, but it is tedious that implementors of MessageBodyWriters still have to write down that same code again and again.

As JAX-RS 2.1 targets a minimum Java version of 8 it would be possible and beneficial to turn getSize into a default method of the MessageBodyWriter interface, which simply returns -1 alway

[2016-02-25 09:47] #512 closed, assigned to glassfishrobot

[2016-02-25 09:51] #490 closed, assigned to glassfishrobot

[2016-02-25 09:57] #471 closed, assigned to glassfishrobot

[2016-02-25 10:10] #454 closed, assigned to glassfishrobot

[2016-02-25 10:14] #431 closed, assigned to glassfishrobot

[2016-02-25 10:15] #432 closed, assigned to glassfishrobot

[2016-02-25 10:19] #411 closed, assigned to glassfishrobot

[2016-02-25 10:19] #325 closed, assigned to glassfishrobot

[2016-02-25 10:21] #345 closed, assigned to glassfishrobot

[2016-02-25 10:22] #360 closed, assigned to glassfishrobot

[2016-02-25 10:25] #405 closed, assigned to glassfishrobot

[2016-02-25 10:26] #407 closed, assigned to glassfishrobot

[2016-02-25 10:27] #396 closed, assigned to glassfishrobot

[2016-02-25 10:44] #404 closed, assigned to glassfishrobot

[2016-02-29 17:57] glassfishrobot opened #533 "@NameBinding javadoc does not mention use on resource classes"
According to the spec @NameBinding can be used on resource methods, resource classes and javax.ws.rs.core.Application subclasses. However, the javadoc of @NameBinding mentions only resource methods and Application subclasses.
#### Affected Versions
[2.0.1]

[2016-03-02 21:51] glassfishrobot opened #534 "javax.ws.rs.client.FactoryFinder can allow comments in META-INF/services/<factoryId>"
javax.ws.rs.client.FactoryFinder uses a similar file location and naming to java.util.ServiceLoader. However, ServiceLoader allows for '#'-delimited comments in the file, where FactoryFinder does not. Specifically confusing: FactoryFinder ignores the entire contents of the service file if the first line is a comment.

It would avoid confusion for those familiar with ServiceLoader if FactoryFinder

[2016-04-09 06:50] glassfishrobot opened #535 "Allow to specify charset in @Produces/@Consumes using attributes"
The standard should allow to set charset in an easier way than doing string concatenation

[code]

Something like this in case of a single MediaType

[code]
#### Affected Versions
[2.0.1]

[2016-06-23 15:49] glassfishrobot opened #536 "FactoryFinder.find should not solely use the contextClassloader of the current thread"
We are using jaxrs/jersey in a tomcat webapplication.
Wihtin this webapplication we additionally use an osgi runtime (felix) for plugins.

Now we have a problem when somebody uses jaxrs/jersey inside the osgi bundle.

This is what happens:

*   we have jersey in tomcat and another jersey inside the bundle
*   Inside the osgi bundle we want to use```
    ClientBuilder.newClient()
[code]

Why is thi

[2016-08-01 06:25] glassfishrobot opened #537 "Handling of multiple exception mappers for same exception type"
The matching algorithm of an exception type to an exception mapper is defined like this:

That's all. So the spec currently does not define which mapper is selected if there are multiple ones for the same exception type. This is problematic if there are multiple ones provided by the JAX-RS implementation, 3rd party libraries or by the application itself.

This could be fixed if the JAX-RS specific

[2016-08-01 15:55] glassfishrobot opened #538 "Ordering for ParamConverterProviders"
The specification currently doesn't specify the order in which ParamConverterProviders are processed. This is a problem if more than one provider can handle a specific type. This can happen for example if you want to provide specialized converters for default types which are enabled by some annotations.

This issue can be resolved by specifying that ParamConverterProviders are processed ordered by

[2016-08-07 22:50] glassfishrobot opened #539 "Path and ApplicationPath get lost of proxies"
The @ApplicationPath annotation gets lost in the case of a proxy. Most impls have to work around this by searching for the annotation in super classes. However, this annotation should really be inherited.

The same is true for @Path.
#### Affected Versions
[2.0]

[2016-10-24 10:53] glassfishrobot opened #540 "Typo in Javadoc of javax.ws.rs.core.Feature"
In the following phrase, "it's" should be "its":
Once a feature is registered, it's configure(FeatureContext) method [...]

source: [http://docs.oracle.com/javaee/7/api/javax/ws/rs/core/Feature.html](http://docs.oracle.com/javaee/7/api/javax/ws/rs/core/Feature.html)
#### Affected Versions
[2.0.1]

[2016-11-15 09:11] glassfishrobot opened #541 "UriBuilder.fragment() encodes certain "reserved sub-delimiters" as defined in RFC 3986"
A DESCRIPTION OF THE PROBLEM :
A fragment URI with reserved subdelimiters per RFC 3986 (excluding "+", "=" and "&") cannot be built with UriBuilder without encoding.

STEPS TO FOLLOW TO REPRODUCE THE PROBLEM :
Example:
URI uri = UriBuilder.fromPath("

{arg1}

")
.fragment("

{arg2}

")
.scheme("http")
.host("example.org")
.build("test", "xywh=1,2,3,4");

EXPECTED VERSUS ACTUAL BEHAVIOR :
EXPECTED

[2016-11-24 08:56] #534 closed, assigned to nobody

[2016-11-24 08:57] #529 closed, assigned to mkarg

[2016-11-24 09:24] #425 closed, assigned to nobody

[2016-12-09 13:26] glassfishrobot opened #542 "Standard annotation for multipart forms"
Apparently (at least) Jersey and CXF do support multipart form, so it should be simple and straightforwart to define a standard annotation for this.
#### Affected Versions
[2.1]

[2016-12-09 19:53] glassfishrobot opened #543 "Improve MediaType.isCompatible"
MediaType.isCompatible will match a concrete non wildcard media type against a wildcard type whose subtype has a qualifier, for example, "application/xml" will be found to be compatible with "**/**+json" which confuses the users.

Consider updating the followng

[code]

to

[code]
#### Affected Versions
[2.0.1]

[2017-01-13 11:21] glassfishrobot opened #544 "Pass request locale to Bean Validation"
If nothing else is configured, Bean Validation uses the JVM default Locale for accessing validation message bundles. For JAX-RS it'd be great if the request locale (as expressed via the "Accept-Language" header) could be used instead, if present.

Some people achieved that using some [ThreadLocale hackery](https://jaxenter.com/integrating-bean-validation-with-jax-rs-2-106887.html), but mandating t

[2017-01-13 11:25] glassfishrobot opened #545 "More fined-grained control over triggering Bean Validation"
Currently, Bean Validation constraints on resources will always be validated as part of the JAX-RS request lifecycle. Allowing to turn off validation - e.g. for specific kinds of testing - seems desirable.

Similar to the BV integration of JSF and JPA, there could be a
JAX-RS-defined property for controlling the validation behaviour. It could look very similar to the property JPA defines for that

[2017-01-14 15:16] glassfishrobot opened #546 "Allow to use @Produces and @Consumes at the Application class"
Currently, one have to specify @Produces and @Consumes annotations on every resource class, and that's overriden by method level annotations.

Most applications just use one media type for all the resources so it woud be great if we could just annotate the Application class and that value was taken as default.

For example:

@Produces(MediaType.APPLICATION_JSON)
@Consumes(MediaType.APPLICATION_JSO

[2017-02-03 17:44] glassfishrobot opened #547 "Migration from JIRA to GitHub Issues"
It is some kind of common sense these days to have open source projects completely managed on GitHub. Hence I want to suggest to stop using JIRA and start using GitHub Issues.
#### Affected Versions
[2.1]

[2017-02-03 17:46] glassfishrobot opened #548 "Please update spec lead in JIRA"
As apparently the spec lead changed, we should clearly tell that in JIRA. It still says Marek at the moment.

[2017-02-03 17:48] glassfishrobot opened #549 "High-Level SSE Support"
Experts,

Oracle's current SSE API proposal clearly is a good API for SSE. The question is, whether it really fulfils what application developers expert from JAX-RS in particular.

There might be programmers that don't like to explicitly learn a new (and rather complex) set of classes and methods just to get the additional benefit of update notifications, and that the style of the SSE API does not

[2017-02-03 17:55] glassfishrobot opened #550 "Providing default executor at client creation"
Experts,

the proposed RX API allows to explicitly provide an Executor.

I assume that typical applications will only use one or two Executors, and typically a Java EE application will always use the Default Managed Executor Service of the container.

So maybe it would be a good idea if we can get rid of repeating the Executor again and again for each invocation, and provide an optional way to set

[2017-02-03 18:07] glassfishrobot opened #551 "Support for CompletionStage as return type"
I want to propose that JAX-RS spec clearly mandates what a compliant implementation has to do when a resource method's return type is a CompletionStage, or is a Response referencing a CompletionStage is its entity.

For a clear separation of thread pools (particularly in Java EE applications), I want to propose that the JAX-RS spec clearly mandates that a compliant implementation MUST add a stage

[2017-02-03 18:22] glassfishrobot opened #552 "Getting rid of @Suspended final AsyncResponse asyncResponse when using CompletableFuture"
[code]
[code]

My proposal does not solve any "technical problem". It just makes
JAX-RS code look much more business-focused, as it deals much less with
technical aspects but mostly with business-logic.
#### Affected Versions
[2.1]

[2017-02-06 09:40] #550 closed, assigned to nobody

[2017-04-04 12:51] #522 closed, assigned to nobody

[2017-04-06 07:28] #518 closed, assigned to nobody

[2017-04-06 19:00] glassfishrobot opened #554 "Clarify documentation ambiguities"
A number of Resteasy JIRA issues turn out to arise from ambiguities in the JAX-RS specification.

1\. From [https://issues.jboss.org/browse/RESTEASY-1162](https://issues.jboss.org/browse/RESTEASY-1162) "Response.created doesn't work as advertised with relative URIs":

The javadoc for javax.ws.rs.core.Response.created() says, "If a relative URI is supplied it will be converted into an absolute URI

[2017-04-19 21:34] #469 closed, assigned to nobody

[2017-04-25 07:41] glassfishrobot opened #22 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #22 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #106 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #106 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #179 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #179 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #188 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #188 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #209 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #209 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #242 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #242 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #250 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #250 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #252 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #252 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #257 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #257 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #263 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #263 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #301 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #301 closed, assigned to glassfishrobot

[2017-04-25 07:41] glassfishrobot opened #553 "Unavailable"
This issue was unavailable for migration from original issue tracker.

[2017-04-25 07:41] #553 closed, assigned to glassfishrobot

[2017-04-25 12:01] #530 closed, assigned to nobody

[2017-04-25 14:00] #528 closed, assigned to nobody

[2017-05-19 12:32] #548 closed, assigned to glassfishrobot

[2017-05-19 12:33] #547 closed, assigned to glassfishrobot

[2017-05-23 21:32] #525 closed, assigned to nobody

[2017-05-24 05:36] #532 closed, assigned to nobody

[2017-05-24 05:36] #540 closed, assigned to nobody

[2017-05-25 12:45] #551 closed, assigned to nobody

[2017-05-25 12:45] #538 closed, assigned to nobody

[2017-05-25 12:45] #537 closed, assigned to nobody

[2017-05-25 12:46] #511 closed, assigned to glassfishrobot

[2017-05-26 07:02] #552 closed, assigned to nobody

[2017-05-26 07:11] #517 closed, assigned to nobody

[2017-05-26 10:05] #516 closed, assigned to nobody

[2017-05-30 10:38] #444 closed, assigned to nobody

[2017-06-01 18:47] #447 closed, assigned to glassfishrobot

[2017-06-05 12:11] #515 closed, assigned to glassfishrobot

[2017-06-06 14:45] glassfishrobot opened #556 "Turn @Path annotation into a CDI Stereotype"
As suggested on the mailing list [here](https://javaee.groups.io/g/jaxrs-spec/message/111) and [here](https://javaee.groups.io/g/jaxrs-spec/message/151).

This is a sub-issue of #60.

In order to turn any resource class annotated with `@Path` into a CDI bean, the `@Path` annotation can be turned into a CDI Stereotype with the `@RequestScoped` scope default. This doesn't require a runtime dependenc

[2017-06-15 11:44] glassfishrobot opened #557 "Outdated URL on Github project page"
The page https://github.com/jax-rs contains an outdated URL (https://jax-rs-spec.java.net/). It should get replaced by jax-rs.github.io.

[2017-06-15 11:49] glassfishrobot opened #558 "Unique startup code on Java SE"
The micro service architecture is common sense today, and certainly one does not want to add more custom code than needed. Many Java APIs provide standard startup code (like javax.persistence.Persistence or EJB's embedded container startup API). It would be straightforward to have a common JAX-RS 3.0 or 2.2  startup API for Java SE.

For example, it could look like this:
[code]

Implementations co

[2017-06-16 12:17] #557 closed, assigned to nobody

[2017-07-10 05:57] #558 closed, assigned to nobody

[2017-07-11 21:15] glassfishrobot opened #561 "Default implementations for new Invocation.Builder methods"
Since the java target has been raised to 1.8 default method implementation can be supplied when an interface is changed. I pulled down the latest milestone and had to implement two new `rx ` methods on the `Invocation.Builder`. Would it be possible to have default implementations that throw UnsupportedOperationException?

https://github.com/jax-rs/api/blob/2.1-m09/jaxrs-api/src/main/java/javax/ws/

[2017-07-13 16:53] #561 closed, assigned to nobody

[2017-07-20 16:26] glassfishrobot opened #562 "SSL TrustStore per connection regression from 2.0 to 2.0.1"
Via ClientBuilder.sslContext() I setup keystore and truststore configuration.

Testing using 2.0, per connection/request can have different keystore's and truststore's.

Testing using 2.0.1 the truststore is ignored and it picks up the jdk truststore. So I have to define vm parameters -Djavax.net.ssl.trustStore=X and -Djavax.net.ssl.trustStorePassword=Y. But this breaks per connection/request trus

[2017-07-22 05:42] glassfishrobot opened #563 "Integration of Security 1.0 authorization with JAX-RS"
New Security API 1.0 supports the existing declarative security as expressed by constraints in web.xml or annotations like @RolesAllowed keep working as they have always worked. But JAX-RS API does not support the @RolesAllowed or other security annotations.

Example :
https://github.com/payara/Payara-Examples/tree/master/Java-EE/security-jwt-example
https://github.com/payara/Payara-Examples/blob/

[2017-08-08 05:58] glassfishrobot opened #564 "Problem running examples"
Hi everyone,

I've trying to run the examples but just can't get rid of this issue bellow. Any idea of what could been happening?

Using Glassfish 5 on a MacOS with Netbeans 8.2.

The errors are specially in the Sse example.

Severe:   Exception during lifecycle processing
org.glassfish.deployment.common.DeploymentException: CDI deployment failure:Exception List with 2 exceptions:
Exception 0 :
**

[2017-08-29 11:01] #564 closed, assigned to nobody

[2017-08-29 11:04] #562 closed, assigned to nobody

[2017-08-29 11:06] glassfishrobot opened #565 "Clarify Configuration#getClasses() return value"
It must be obvious what is the difference between Application#getClasses and Configuration#getClasses.

Configuration version of that method should return current configuration including auto-discovered features etc; it is not clear (from the javadoc) whether it should include root resource classes. Santiagos point is that resource classes shouldn't be included.

[2017-08-29 16:14] glassfishrobot opened #566 "Livecycle events: Shutdown hooks"
Some applications, particularly such dealing with native access like in the world of IoT, need to know when the application is shutdown.

For example, a JAX-RS Feature "Native Hardware Access" is used to access a proprietary encryption device. Some devices cannot be used by multiple applications, so need to be locked and unlocked. A different use case could be the need to close open handles or flu

[2017-08-29 16:16] glassfishrobot opened #567 "Providers should return Features and Interceptors"
It is quite strange that the Providers interface does not allow to return Features and Interceptors. We should discuss whether it makes sense to add default methods to the Providers interface allowing to query for these component types.

A use case could be that there is an Interceptor which has to be used with SSE, as SSE (as of JAX-RS 2.1) not invoked interceptors.

[2017-08-29 16:17] glassfishrobot opened #568 "SSE Interceptors"
As of JAX-RS 2.1 interceptors are not invoked with SSE events being sent.

One could imagine use cases where it makes sense to have interceptors being invoked when SSE events are sent.

We should discuss whether this should be enabled for JAX-RS 3.0.

[2017-08-29 16:20] glassfishrobot opened #569 "Deprecating JAX-RS-specific annotations in favor of CDI"
Latest CDI specifications allows to use CDI with Java SE. Some JAX-RS specific annotations duplicate ideas also covered by CDI annotations.

For long term, it makes sense to use CDI instead of proprietary annotations. To start this process, the JAX-RS EG should identify which annotations can be replaced by CDI, and mark them as deprecated.

[2017-08-29 16:24] glassfishrobot opened #570 "JAX-RS Launcher for Java SE"
The EG shall discuss whether it makes sense to have one standard Java SE launcher like "javax.ws.rs.server.Container.launch();" (for auto-detect use case / optionally with application class parameter to disable auto-detect). This might be useful to wrap the lots of existing proprietary solutions provided by current (microservice) frameworks.

[2017-08-29 16:33] #570 closed, assigned to nobody

[2017-09-18 20:20] glassfishrobot opened #571 "2.1 maven integration issue"
I'm not sure if this is the right place to post this, but here goes.
I'm attempting to pull in jax-rs 2.1 in Gradle. Gradle complains that it can't resolve due to:
Could not HEAD 'http://central.maven.org/maven2/javax/ws/rs/javax.ws.rs-api/2.1/javax.ws.rs-api-2.1.$%7Bpackaging.type%7D'

As you can see, the packaging .type variable is not getting resolved. I'm wondering if it's because the maven pr

[2017-10-02 12:19] #571 closed, assigned to nobody

[2017-10-04 12:27] glassfishrobot opened #572 "${packaging.type} variable in pom.xml breaks Ivy"
The ${packaging.type} variable introduced in 71c20bd breaks Ivy with the following output:

[code]

Judging by the todo comment in pom.xml you are aware of the issue, but perhaps you are not aware that, in its current state, this still breaks Ivy. It also breaks the download link on mvnrepository.com, by the way.

Here is the same issue in a different project with some interesting comments: https:

[2017-10-18 16:13] glassfishrobot opened #573 "Add status code 308"
[RFC 7538](https://tools.ietf.org/html/rfc7538) describes the behavior of the HTTP status code **308**. While this RFC is quite new it solves an actual problem regarding POST redirections.

And it completes quite well the **307** status code found in the [HTTP 1.1 RFC](https://tools.ietf.org/html/rfc7231) (previously described in the obsolete [RFC 2616](https://tools.ietf.org/html/rfc2616)).

[2017-10-18 16:23] glassfishrobot opened #574 "Allow @Consumes and @Produces on packages"
Versioning API is hard, and there's no real good choices. But if the API designers go for vendoring in the mimetype (like `application/api.v1+json`, `application/api.v2+json`, etc...)

It could be nice to annotate the package or a parent package. But currently this is not possible because the annotations are limited to classes and methods (of course implementation have to be aware of the package a

[2017-10-25 22:58] #572 closed, assigned to nobody

[2017-12-08 16:00] glassfishrobot opened #579 "Default value for @PathParam"
`@PathParam` annotation requires the name of tha param to be specified. This attribute could be made optional and default to the name of the annotated element.

So instead of

[code]

We could just do:
[code]

Method parameters in particular might be more problematic since they are not always available at runtime, but setter or field injection would easily work.

[2018-01-19 00:47] glassfishrobot opened #580 "Add getUriInfo() to ClientRequestContext"
Currently there is no way to obtain the provided query parameters in a ClientRequestFilter implementation other than to split the query string from the URI which is inefficient. The server side ContainerRequestContext interface has access to the UriInfo which contains the getQueryParameters()  method which returns a useful  MultivaluedMap of the parameters.

The motivation behind this request is t

[2018-01-20 02:56] #580 closed, assigned to nobody

[2018-02-02 17:42] glassfishrobot opened #581 "Problem with RuntimeDelegate.getInstance()"
`RuntimeDelegate.getInstance()` currently returns an implementation namespaced under [org.glassfish.jersey.internal.RuntimeDelegateImpl](https://github.com/jax-rs/api/blob/1181f3b9caf69e36362d86bb01fc6e89083824ba/jaxrs-api/src/main/java/javax/ws/rs/ext/RuntimeDelegate.java#L70). However, that implementation does nothing except [throw an exception](https://github.com/jersey/jersey/blob/88c6d7d90092

[2018-02-10 21:09] glassfishrobot opened #1 "Place holder issue for Pull Request 1"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/1

[2018-02-10 21:09] #1 closed, assigned to nobody

[2018-02-10 21:09] glassfishrobot opened #2 "Place holder issue for Pull Request 2"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/2

[2018-02-10 21:09] #2 closed, assigned to nobody

[2018-02-10 21:09] glassfishrobot opened #3 "Place holder issue for Pull Request 3"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/3

[2018-02-10 21:09] #3 closed, assigned to nobody

[2018-02-10 21:09] glassfishrobot opened #4 "Place holder issue for Pull Request 4"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/4

[2018-02-10 21:09] #4 closed, assigned to nobody

[2018-02-10 21:09] glassfishrobot opened #5 "Place holder issue for Pull Request 5"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/5

[2018-02-10 21:09] #5 closed, assigned to nobody

[2018-02-10 22:17] glassfishrobot opened #555 "Place holder issue for Pull Request 555"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/555

[2018-02-10 22:17] #555 closed, assigned to nobody

[2018-02-10 22:17] glassfishrobot opened #559 "Place holder issue for Pull Request 559"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/559

[2018-02-10 22:17] #559 closed, assigned to nobody

[2018-02-10 22:17] glassfishrobot opened #560 "Place holder issue for Pull Request 560"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/560

[2018-02-10 22:17] #560 closed, assigned to nobody

[2018-02-10 22:19] glassfishrobot opened #575 "Place holder issue for Pull Request 575"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/575

[2018-02-10 22:19] #575 closed, assigned to nobody

[2018-02-10 22:19] glassfishrobot opened #576 "Place holder issue for Pull Request 576"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/576

[2018-02-10 22:19] #576 closed, assigned to nobody

[2018-02-10 22:20] glassfishrobot opened #577 "Place holder issue for Pull Request 577"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/577

[2018-02-10 22:20] #577 closed, assigned to nobody

[2018-02-10 22:20] glassfishrobot opened #578 "Place holder issue for Pull Request 578"
This is a place holder issue for Pull request from https://github.com/jax-rs/api/pull/578

[2018-02-10 22:20] #578 closed, assigned to nobody

[2018-02-10 22:23] grexe commented on #493
hmmm 3.5 years later this is still an issue and I had a hard time integrating a 3rd party library that comes with Jersey... hope for the new Eclipse umbrella to bring some fresh air and progress into this long-standing major pain...

[2018-02-10 22:32] derekm commented on #493
@grexe — check out Hammock 2.0, which is making swappable JAX-RS impls via CDI 2.0 portable extensions

[2018-02-11 10:04] deki commented on #467
This is already done, see #529. Please close.

[2018-02-12 20:15] grexe commented on #493
thanks @derekm looks pretty amazing, will check it out in more detail for sure!

[2018-02-12 23:22] mkarg commented on #573
-1, as this RFC is a draft only and it won't be possible due to WORA to remove support of 308 in case it never reaches public standard status.

[2018-02-15 13:19] bric3 commented on #573
@mkarg Yet almost every browser already handle this status : https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308.

Also, most of the time REST APIs will be the target of applicative clients (mobile apps, servers, js apps, etc.).

While it doesn't justify to add this status code, I'd like to point out that in the history browsers implemented a long list of draft RFC before becoming an _Int

[2018-02-15 16:50] mkarg commented on #573
@bric3 You missed my point. RFCs have statuses for good reason. JAX-RS, as any official Java standard, cannot go back. A feature, once there, must stay for virtually ever. In case the RFC will be replaced, we cannot adopt the final one. So there is no other solution (due to WORA) as to wait until the RFC is an official standard.

[2018-02-16 13:33] spericas commented on #573
I understand Markus' point. However, this RFC has been around for 3 years and there is very good support for it. Given it's rather narrow scope, I don't see a problem considering it for inclusion.

[2018-02-16 14:10] jansupol commented on #573
Just a note, for the first release of EE4J, a backward compatible API should be released first. I believe this merge would break the backward compatibility

[2018-02-16 14:30] bric3 commented on #573
Agreed I understand @mkarg point, but given that all (recent) browsers already supports it, there's little possibility this RFC to be abandoned.

@mkarg Do you think it would be acceptable to have a dedicated class or annotation for _pending approval_ status (e.g. `@Beta`)

[2018-02-16 15:53] mkarg commented on #573
@jansupol This merge would not break anything, as certainly any new features have to go into a branch separate from the one for initial Java EE 8 proof-of-compliance.

[2018-02-16 15:56] mkarg commented on #573
@bric3 What will you do in case the undoubtly very very very unlikely case happens and the RFC _does_ get abandoned? And no, as this is a _normative_ project and not an just some _implementation_, I do not think it would be a good idea to add anything the like `@Beta`. What we can do, and I support that, is adding a branch for experimental features and add the feature there.

[2018-02-17 12:48] chkal commented on #565
Hi! I reported this issue back then. Please see [this discussion on the mailing list](https://javaee.groups.io/g/jaxrs-spec/topic/clarification_of/5911666?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,5911666) for details.

I would love to see this one clarified in the javadocs. So, let me sum up the discussion:

* `Application.getClasses()` allows the developer to manually specify root resource

[2018-02-17 12:51] mkarg commented on #565
@chkal The issue was discussed in the EG but frankly spoken I forgot the outcome. I will dive into the archives. If it bears that the issue is really open for discussion, I will try to get Jersey, CXF and RestEasy into the boat so we can find a concensus.

[2018-02-17 12:54] chkal commented on #565
Thanks, Markus. This would be great!

[2018-02-17 13:08] chkal opened #583 "Clarify if Feature implementations can be auto-discovered via @Provider"
I already brought up this issue on the mailing list in early 2017. Please see [this discussion](http://download.oracle.com/javaee-archive/jax-rs-spec.java.net/users/2017/04/4281.html) for reference.

The javadocs of most providers (like `MessageBodyWriter`, `ContainerResponseFilter`, `DynamicFeature`, etc) explicitly mention that implementations can be automatically discovered if annotated with `@

[2018-02-18 21:19] NiklasMehner commented on #527
I will try to come up with a PR for this bug.

[2018-02-19 18:04] NiklasMehner commented on #514
This issue is already fixed in the repository. Should be closed.

[2018-02-19 18:07] chkal commented on #514
Agreed! This seems to be fixed already. See: https://github.com/eclipse-ee4j/jaxrs-api/blob/a2f52e8b489e0ab8fe56adbd9174be5cf6302b64/jaxrs-api/src/main/java/javax/ws/rs/container/AsyncResponse.java#L30

[2018-02-19 18:17] mkarg commented on #514
Closing this as already fixed in initial contribution.

[2018-02-19 18:17] #514 closed

[2018-02-19 19:00] mkarg commented on #583
Still collecting more implementors, stay tuned. :-)

[2018-02-19 19:06] mkarg opened #587 "[INFO] "There are 984 checkstyle errors""
[code]

[2018-02-19 19:07] mkarg commented on #587
It would be great if somebody would find the time to fix this **984** checkstyle errors! :-)

[2018-02-19 19:11] sdaschner commented on #573
I also disagree to add something like `@Beta`. At least if we aim to continue being a standard. Other approaches, such as using an incubator project, a different branch with code that won't make it to the regular branch (at first), or else should be preferred IMO.

I also agree with @jansupol that we need to have a "EE.next 1.0" release first.

[2018-02-19 22:11] mkarg commented on #573
@sdaschner While I share the vision of the PMC that Java EE 8 compliance is first priority _in general_, everybody is free to work on things _he_ likes. So if someone needs a sandbox that will possibly never make it into master at all, he is free to add an experimental branch in his own fork.

[2018-02-20 05:36] chkal commented on #583
No problem. I just wanted to file this as an issue and request for clarification, because back then I just posted on the EG list.

[2018-02-20 05:56] chkal commented on #587
Maybe we could just adjust the checkstyle config. Usually the default configuration is a bit "strict". :laughing:

[2018-02-20 22:41] spericas commented on #587
+1 on adjusting the config

[2018-02-20 22:49] spericas commented on #583
A lot of providers can be used in the client and the server, so that's really not a very good argument. I think this is likely an omission; I recall that Feature and DynamicFeature were somewhat of a late addition.

[2018-02-20 23:03] spericas commented on #565
This one is bit tricky as it was clearly somewhat open to interpretation. I was originally of the opinion that root resource classes should not be there, but it seems many implementations have adopted the opposite approach. I agree we should look at the implementations and at some point create a TCK for this.

[2018-02-21 17:48] mkarg commented on #587
@chkal Any proposal for a _wise_ config?

[2018-02-21 22:43] mkarg commented on #583
Maybe our project is the wrong place for this issue, as it feels more like a spec issue to me, and the spec will IIRC into a different project. It might be correct to suspend this thread and move it into that other project later?

[2018-02-21 22:50] mkarg commented on #565
@spericas Do you have updated contact information of CXF and RESTeasy? AFAIK Sergey and Bill are not active anymore. So whom to ask?

[2018-02-22 05:53] chkal commented on #583
Actually most issues will affect all three repositories: The API, the spec document and the TCK. I guess the question is where the issues which affect multiple repositories should be managed.

Apart from that: AFAIK the issue discussed here just affects the javadocs of the `Feature` interface. So IMO it is the correct place for this issue.

[2018-02-22 06:15] chkal commented on #565
@mkarg Back then [Bill Burke wrote](http://download.oracle.com/javaee-archive/jax-rs-spec.java.net/jsr370-experts/2016/04/0506.html) that Alessio Soldano (@asoldano) will take over as Red Hat's representative.

[2018-02-22 06:19] chkal commented on #583
@spericas So are you +1 for adding a note about the support for auto-discovery via `@Provider` on the server side to the javadocs of the `Feature` interface? If so, I would love to provide a pull request against `2.2-SNAPSHOT`.

[2018-02-22 08:06] asoldano commented on #565
@mkarg @chkal , right ;-)

[2018-02-22 14:00] chkal commented on #587
My guess is that there are some rules which are violated VERY often which causes this high number of violations. I'll try to find some time in the next days to have a deeper look at it.

Can you assign this issue to me although I'm not a committer? Not sure if GitHub allows this.

[2018-02-22 14:35] spericas commented on #583
@chkal Yes, I am. However, it would nice to review the behavior in the major implementations. I believe @mkarg said he was collecting that info.

On the topic of issues, let's all file them here. Perhaps we can uses labels: "api", "spec" and "tck" or something similar.

[2018-02-22 15:39] spericas commented on #587
@chkal We should nominate you as a committer.

[2018-02-22 16:23] chkal commented on #587
@spericas: Thanks a lot! I would be happy to join!

[2018-02-22 16:26] chkal commented on #565
@asoldano: Thanks for your quick response! It would be great if you could join the new [jaxrs-dev](https://accounts.eclipse.org/mailing-list/jaxrs-dev) mailing list which has been created for the Eclipse EE4J subproject for JAX-RS.

[2018-02-22 17:06] asoldano commented on #565
@mkarg @chkal done; actually I missed that mailing list had been created... sorry

[2018-02-22 17:53] mkarg commented on #583
I will talk to CXF and RESTeasy but as of today I am still searching for the correct person at CXF - the ones I asked so far had no clue; I'm iterating down the list of CXF PMC members currently. Stay tuned. :-)

[2018-02-22 18:06] mkarg commented on #565
@asoldano Great to have you here! Can you please review _this_ issue, and #583, from RESTeasy's angle of view? That would be terrific! :-)

[2018-02-22 18:07] mkarg commented on #583
@asoldano Great to have you here! Can you please review _this_ issue, and #565, from RESTeasy's angle of view? That would be terrific! :-)

[2018-02-22 18:21] chkal commented on #565
@asoldano: Great! No worries. The list has been created a few days ago. So you are actually early in the game. :smile:

[2018-02-22 18:22] mkarg commented on #587
@chkal I tried to assign the issue to you but Githab does not accept that.

@spericas I support your proposal and would like to nominate Christian using the "officially" intended way, but I do not understand how and where I have to send the nomination. Do we simply vote on the dev mailing list, or do I have to use a special EF resource to nominate him for election?

[2018-02-23 06:00] chkal commented on #587
I just had a quick look at the Checkstyle results. I updated Checkstyle to the latest version, removed/adjusted some rules that are violated very often ("lines not longer than 120 characters" or "parameters should be final") and we are down to 88 violations. I'll create a PR against `2.2-SNAPSHOT` if you agree. I'll list the adjustments in the PR so we can discuss them if desired.

[2018-02-23 07:42] chkal commented on #583
@mkarg Thanks a lot for taking care of this.

[2018-02-23 14:03] spericas commented on #565
@mkarg I sent a message to Sergey about the mailing list. He has actually joined RH now. I'll try to find out who is working on CXF now.

[2018-02-23 14:43] chkal opened #589 "Broken HTML in @FormParam API docs"
One of the Checkstyle violations pointed to me to an issue in the `@FormParam` javadocs.

The Java EE 6 API docs contain the following list for `@FormParam`:

![Java EE 6](https://i.imgur.com/CIdEq9u.png)

Later a note regarding `ParamConverterProvider` was added. But it looks like this broke the markup. In the Java EE 8 docs the list looks like this:

![Java EE 8](https://i.imgur.com/B2mjkEb.png)

[2018-02-23 17:24] mkarg commented on #565
@spericas Great! Thanks a lot! The people I so far contacted from CXF all left the project meanwhile or are working on different corners of CXF.

[2018-02-24 16:37] derekm opened #591 "Supported RFCs registry"
Can JAX-RS make and keep a registry of all RFCs that are intended to be satisfied by its specification?

[2018-02-24 16:57] mkarg commented on #591
Is this a question or a proposal? ;-) What do you expect from this registry? And how frequently shall it change?

My personal opinion is that JAX-RS should only use and implement RFCs which are on the STD1 track. The reason is that JAX-RS is an API, not a framework. Hence it should concentrate on the _essence_ of what _all_ JAX-RS implementors actually do support, which is quite the opposite of ma

[2018-02-24 17:03] derekm commented on #591
It is a proposal in the form of a question! :)

A list of supported RFCs is required to even see if there has ever been a "STD-1 inclusion" criteria before.

For more information on what you're talking about: https://tools.ietf.org/html/rfc1796

[2018-02-24 17:13] mkarg commented on #591
@derekm Feel free to more concisely describe what you want the JAX-RS project to provide in the technical sense. A web site? A Java enum being part of JAX-RS API? An appendix of the spec PDF?

[2018-02-24 17:19] derekm commented on #591
For example, to address your opinion, `@PATCH` should not be supported by JAX-RS 2.1, since it is not a standard:

Here it is declared experimental/unsupported/nonstandard/unreliable:
https://tools.ietf.org/html/rfc2068#section-19.6.1.1

Here it is pushed aside:
https://tools.ietf.org/html/rfc2616#page-175

Here it is referred to by its "PROPOSED STANDARD" RFC:
https://tools.ietf.org/html/rfc7231#

[2018-02-24 19:32] NiklasMehner commented on #544
Is it really any option to specify this as part of JAX-RS?

Given a class:
``@Stateless
@Path("/hello")
public class Hello {
...
}``

is the validation as specified in JSR-380 requires:

ClockProvider, TraversableResolver and ValueExtractor

ClockProvider, TraversableResolver or ValueExtractor classes are defined in the XML
deployment descriptor (see XML configuration: META-INF/validation.xml), th

[2018-02-24 20:44] NiklasMehner commented on #581
I have create PR https://github.com/eclipse-ee4j/jaxrs-api/pull/592 for this issue.

[2018-02-25 13:00] NiklasMehner commented on #426
Create PR https://github.com/eclipse-ee4j/jaxrs-api/pull/593 for this issue.

[2018-02-25 14:38] NiklasMehner commented on #56
This ticket should be closed, since the client api has been implemented.

[2018-02-25 14:44] NiklasMehner commented on #406
This issue should be closed. The status codes have already been added.

[2018-02-25 14:57] NiklasMehner commented on #63
Archive of discussion is now at http://download.oracle.com/javaee-archive/jax-rs-spec.java.net/jsr339-experts/2011/03/0025.html

[2018-02-25 15:41] mkarg commented on #56
@NiklasMehner This is not true. What the EG decided back then was to have two API levels, low level and high level. What we delivered so far is only the low level API. So this ticket still is validly open.

[2018-02-25 15:44] chkal commented on #56
Oh, interesting. What would a high level API look like? Something like the proxy client suggested on the list?

[2018-02-25 15:52] mkarg commented on #406
Closing issue #406 because JAX-RS 2.1 already implements this in initial contribution:

- https://github.com/eclipse-ee4j/jaxrs-api/blob/a2f52e8b489e0ab8fe56adbd9174be5cf6302b64/jaxrs-api/src/main/java/javax/ws/rs/core/Response.java#L1394
- https://github.com/eclipse-ee4j/jaxrs-api/blob/a2f52e8b489e0ab8fe56adbd9174be5cf6302b64/jaxrs-api/src/main/java/javax/ws/rs/core/Response.java#L1400
- https://

[2018-02-25 15:52] #406 closed

[2018-02-25 15:53] mkarg commented on #56
@chkal As the EG had never finished its discussion about the high level API, it is up to us to discuss it now. :-)

[2018-02-25 19:36] deki commented on #565
Sergey already described the behaviour for CXF in https://javaee.groups.io/g/jaxrs-spec/message/249, it hasn't changed since then:

[2018-02-26 15:50] spericas commented on #565
I think part of the problem is that the Javadoc for `Configuration` is a bit client biased, perhaps due to how it was initially proposed. For example, the set returned by `Configuration.getClasses` is said to possibly be empty, which should not be the case with root classes.

It's clearly useful for some apps to get information about all classes, including root classes etc. I think we should updat

[2018-02-26 16:09] spericas commented on #591
The JAX-RS spec consists of a PDF document and some Javadocs. There are some (likely not all) RFC's referenced at both location. The Bibliography section of the spec lists a few and so do the Javadocs. I don't see the point of adding another document list these (why not another for JSRs etc?), instead we should make sure we have all the necessary references at the existing locations.

[2018-02-27 09:01] chkal commented on #544
I'm not sure if there is really a conflict between BV and JAX-RS in this case. The chapter you are quoting refers to the CDI integration of BV. Basically it defines that a `ValidatorFactory` with defaults from `validation.xml` should be injectable via CDI.

But JAX-RS doesn't state that this CDI managed `ValidatorFactory` should be used for validation. So IMHO JAX-RS implementations could build a

[2018-02-27 10:47] asoldano commented on #583
@mkarg AFAIK, when it comes to RESTEasy, the @Provider annotated features are registered here https://github.com/resteasy/Resteasy/blob/4.0.0.Beta2/resteasy-jaxrs/src/main/java/org/jboss/resteasy/spi/ResteasyDeployment.java#L401 . That means, the behavior is affected by the way the rest application has been deployed; this said, in the common JAX-RS scenarios, scanning should be enabled, so the ann

[2018-02-27 11:05] asoldano commented on #565
@mkarg @spericas RESTEasy  does not return root resources in Configuration#getClasses()

[2018-02-27 11:18] chkal commented on #565
@asoldano: Thanks for confirming. This RESTEasy behavior is exactly what I [discovered back then](https://javaee.groups.io/g/jaxrs-spec/topic/clarification_of/5911666?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,5911666).

[2018-02-27 14:43] spericas commented on #565
@asoldano Would you be opposed to the idea of broadening the return value to include more classes?

[2018-02-27 15:05] spericas commented on #583
I think we should add the statement proposed by @chkal unless there are any strong objections.

[2018-02-27 15:07] chkal commented on #583
@spericas: I could prepare a pull request. We could then let everyone vote on it!?

[2018-02-27 15:28] spericas commented on #56
@mkarg @chkal The high-level API was intended to be like proxy client API now in MP. Not everyone liked the idea of such an API (due to tight coupling etc) and we also ran out of time and had to deliver 2.0 at the time. I think we need to look at this again as a way to align JAX-RS and MP. I'll edit the title of this one.

[2018-02-27 16:19] asoldano commented on #565
@spericas not necessarily, it would be good to mention usecases that justify / require this, though.

[2018-02-27 17:15] spericas commented on #565
@asoldano See the rationale from @chkal above. Couple of reasons: (1) developers may be interested in the complete runtime view of the system (2) implementations aren't consistent, so a clarification is needed.

[2018-03-05 11:19] asoldano commented on #565
@spericas I agree on (2). What I was really looking for was actual examples of usecases needing the changes, but yes, complete runtime view...

[2018-03-05 12:54] johnament opened #596 "Portable SPI for automatically registering Client Features"
Presently there is no way for a Client's `Feature` to be registered automatically.  note that the spec doesn't really different the `Feature` interface between Client & Server runtimes.  Based on on-list discussion, it seems like there is some notion of automatically registered Client & Server providers, based on what's available.  I suspect what most implementations do is:

- Bake it into their c

[2018-03-05 13:00] johnament commented on #583
So with this change, any `@Provider` must be discovered automatically, correct?  E.g. If it implements one of the server side providers, when the server boots it must be registered.

[2018-03-07 16:24] chkal commented on #583
@johnament: That's the behavior already specified today. See JAX-RS 2.1 chapter 4:

This issue is just about the fact that all server-side SPIs except for `Feature` explicitly mention the support for auto-discovery in the javadocs.

[2018-03-08 03:23] jimma opened #597 "Provide api to allow SseBroadcaster.close without cascading effect"
When there is a sink that is used via a broadcaster but also outside of it, close broadcaster will close this sink now. We need an api to do close without  a cascading effect

[2018-03-13 09:54] struberg commented on #418
+1 for adding MIME Multipart support to the JAX-RS API as first class citizen.

we currently have to always defer to internal CXF functions to upload documents and files, etc.

[2018-03-13 10:00] struberg commented on #418
@mkarg pleeeeassse take over :D

[2018-03-13 11:10] mkarg commented on #418
@struberg Assigned to me. I'll try to drive it.

[2018-03-13 11:12] mkarg commented on #418
@spericas @chkal @andymc12 Marc is very keen on getting this standardized, as it supposedly works in all JAX-RS implementations already. What do you think?

[2018-03-13 11:15] mkarg opened #598 "Standardized API for creating proxy client"
There are JAX-RS implementations that can build a client proxy. For example, CXF: https://cxf.apache.org/javadoc/latest/org/apache/cxf/jaxrs/client/JAXRSClientFactory.html. It is a good idea to standardize such factory APIs.

[2018-03-13 11:16] mkarg commented on #598
Originally reported by @struberg

[2018-03-13 11:16] mkarg commented on #598
@chkal @spericas @andymc12 What do you think?

[2018-03-13 15:17] spericas commented on #418
@mkarg I agree this a good idea, clearly incompatible extensions are not. However, I think this task may be larger than what it looks like at first if we want to provide full support for multipart/form-data (including nesting, etc.). Hopefully the API will look similar in spirit to the current one for application/x-www-form-urlencoded but with the additional support needed for multipart.

[2018-03-13 15:18] andymc12 commented on #418
+1 In WebSphere, we end up wrapping the CXF APIs that Mark mentioned.  I'd prefer that they were first class citizens instead.

[2018-03-13 15:44] andymc12 commented on #598
I am definitely in favor.  Personally, I'd like to see some of the work done in the MicroProfile Rest Client project migrate into the JAX-RS spec.  More info here:
http://microprofile.io/project/eclipse/microprofile-rest-client

[2018-03-13 20:12] 38leinaD commented on #418
+1 had to revert to using a raw servlet recently to implement upload functionality in a portable way.

[2018-03-13 20:43] struberg commented on #418
Yes, @38leinaD that might _still_ be needed in _some_ cases.
Well, actually depending if we get streaming right ;)

If the implementation first needs to suck in all the request and only _then_ can decide what to do, then it's not as good. Think about uploading a MRT scan or DVD image with multiple Gigabytes. This might easily exceed your RAM.
But then otoh I'd be perfectly fine if those edge cases

[2018-03-14 14:01] spericas commented on #598
I agree with @andymc12. I think we need to align this effort with the MP (See https://github.com/eclipse-ee4j/jaxrs-api/issues/56). I also think the MP Rest Client should be made part of JAX-RS. I'm not sure what's the best alias to start this discussion.

[2018-03-14 15:28] chkal commented on #598
+1 for aligning with the MicroProfile Rest Client. Perhaps we could compare the MicroProfile client approach to the one implemented by CXF and other vendors to see if there are any fundamental differences.

[2018-03-16 02:34] jimma opened #599 "Clarify if EventSource should reconnect after connection is gracefully closed or add reconnect policy"
- Add more clarification about EventSource should reconnect or not after EventSink is closed in server.
- or add reconnect policy for EventSource builder. For example  Always, OnError and Never.

[2018-03-16 13:38] spericas commented on #599
After reviewing the docs and the experiments provided by @jimma, I believe we should probably enforce re-connections as browsers do. I'm currently discussing this with @jansupol since there is a TCK that covers some of this.

Additionally, in a future version, it may useful to provide more control over reconnects via a policy as explained above.

[2018-03-16 15:36] chkal commented on #418
A fully agree that having multipart support in JAX-RS would be really useful. It is a very common use case and should be supported by the JAX-RS API out of the box.

[2018-03-16 17:29] mkarg commented on #599
-1 for enforcing it in EE4J_8

+1 for enforcing reconnect in 2.2-SNAPSHOT

+1 for policy-controlled in 3.0-SNAPSHOT

From: Santiago Pericas-Geertsen [mailto:notifications@github.com]
Sent: Freitag, 16. März 2018 14:39
To: eclipse-ee4j/jaxrs-api
Cc: Subscribed
Subject: Re: [eclipse-ee4j/jaxrs-api] Clarify if EventSource should reconnect after connection is gracefully closed or add reconnect policy

[2018-03-16 21:08] derekm commented on #591
@spericas -- The RFCs that are declared as supported should be a normative part of the spec. They should be listed explicitly instead of incidentally, otherwise there is no way to QA the spec against the RFCs.

[2018-03-16 21:13] derekm commented on #591
In other words, some RFCs in footnotes & bibliography might be normative and some might be non-normative. In order to QA the JAX-RS spec or confirm its correctness, we need to know all of the RFCs that are considered normative for JAX-RS.

[2018-03-17 13:11] mkarg opened #601 "Formating Rulesets for IDEs"
It would be great it one would find the time to donate some formatting ruleset files for IDEs, matching the currently applied formatting style of the existing code. This makes it easier for hacking the code with the IDE of choice. :-)

[2018-03-18 15:21] mkarg commented on #581
Closing issue due to merged PR #592.

[2018-03-18 15:21] #581 closed

[2018-03-19 15:18] spericas commented on #591
@derekm Everything in the spec is normative unless marked as non-normative (see Section 1.4).

[2018-03-19 15:20] spericas commented on #601
@mkarg I don't believe I have those exact rules, but let me poke around and see if I can find something close.

[2018-03-19 18:25] mkarg commented on #601
@spericas I assume you simply applied the original Sun Java rules? Or did Oracle have a different company style?

[2018-03-19 19:20] spericas commented on #597
Created PR https://github.com/eclipse-ee4j/jaxrs-api/pull/603

[2018-03-24 17:16] mkarg commented on #418
@struberg Seems we all want to get multipart, so maybe you like to propose an API?

[2018-03-24 17:17] mkarg commented on #418
@spericas Can you please create a 2.2 milestone, so this issue can be correctly moved into 2.2 instead of icebox? Thanks.

[2018-03-24 17:27] mkarg commented on #418
@struberg Whether or not streaming buffers _in RAM_ is an implementation detail, so "we" (= the API guys) cannot influence _that_. Besides that, I wonder how you plan to access the headers of the _second_ MRT scan without buffering all the bytes of the _first_ MRT scan? I mean, you _do_ have to put the bytes somewhere to position your input stream at the next part's header.

[2018-03-24 18:03] mkarg opened #605 "Clarification on auto-discovery of singletons"
A JAX-RS application can explicitly declare singleton instances by implementing ```Application#getSingletons```. There should be an unambiguous way to also declare singletons when not implementing this method, i. e. when using auto-discovery and annotations.

Example: One class is annotated as ```@javax.inject.Singleton``` and it implements ```Feature```, ```ContainerRequestFilter``` and ```Contai

[2018-03-24 20:17] deki commented on #467
@mkarg could you please close it?

[2018-03-25 07:11] chkal commented on #418
@mkarg Perhaps we should first create some kind of document that summarizes how the different APIs of the major implementations look like. This would be a great foundation for working on a standard API.

[2018-03-25 10:38] mkarg commented on #467
Closing issue as feature is already supported since JAX-RS API 2.1: ```ClientBuilder javax.ws.rs.client.ClientBuilder.connectTimeout(long timeout, TimeUnit unit)``` and ```ClientBuilder javax.ws.rs.client.ClientBuilder.readTimeout(long timeout, TimeUnit unit)```.

[2018-03-25 10:38] #467 closed

[2018-03-25 10:39] mkarg commented on #529
Closing issue as feature is already supported since JAX-RS API 2.1: ```ClientBuilder javax.ws.rs.client.ClientBuilder.connectTimeout(long timeout, TimeUnit unit)``` and ```ClientBuilder javax.ws.rs.client.ClientBuilder.readTimeout(long timeout, TimeUnit unit)```.

[2018-03-25 10:53] mkarg commented on #587
@chkal Please assign issue back to you as soon as Github lists you as a commiter. :-)

[2018-03-25 11:06] mkarg commented on #527
Closing issue since spericas merged PR #586.

[2018-03-25 11:06] #527 closed

[2018-03-25 11:12] mkarg commented on #472
@spericas @NiklasMehner As PR #594 was merged by Santiago already, can we now close this issue or are the classes still open that someone wants to make AutoCloseable?

[2018-03-25 11:16] mkarg commented on #597
Closing this issue as I merged Santiago's PR #603 into master already.

[2018-03-25 11:16] #597 closed

[2018-03-26 16:16] spericas commented on #418
Here is the link to Jersey's user guide that talks about multipart support:

https://jersey.github.io/documentation/latest/media.html#multipart

[2018-03-26 16:17] spericas commented on #605
Markus,

 Aren’t you describing an implementation bug rather than an spec issue? If @Singleton is used, why should the JAX-RS spec say anything else? Semantics seem pretty clear to me.

 Back to the issue, do you think this was in any way related to implementing Feature?

— Santiago

[2018-03-26 17:50] mkarg commented on #605
@spericas The problem is that the JAX-RS spec does not say how to declare a singleton using annotations. So we both share the intention that it is a bug, but "formally" it is not. The spec completely leaves this question open to EJB and CDI. But what if neither is used? Also I would not say that it is clearly a bug that Jersey / Payara created two instances instead of one -- maybe this is by inten

[2018-03-26 18:12] chkal commented on #605
I agree with @mkarg on this. There is currently no way to declare a singleton using annotations in the JAX-RS component model. Using `@javax.inject.Singleton` would be a way to solve this.

[2018-03-26 19:21] spericas commented on #605
I see, I thought you were talking about a runtime with EJBs. If neither CDI nor EJBs are used, there is no way to declare this, I agree.

 However, extending the JAX-RS component model to support @Singleton seems like a step in the wrong direction. I believe we should not extend that component model anymore, but rather as discussed elsewhere, move away from it and focus on CDI.

— Santiago

[2018-03-26 19:24] spericas commented on #605
I disagree. I don’t think we should extend that model any longer. Any future work in the DI area should be focused on CDI, in my opinion. It is complicated as it is now.

— Santiago

[2018-03-26 21:41] mkarg commented on #605
@spericas I really do share the vision to use CDI in 3.0 for the singleton topic, but I dislike the idea to wait for long time until we come up with a clear solution for the issue. In fact I want a solution for 2.2, and for non-CDI applications, too. Adding an annotation is not breaking compatibility, so there is no other technical force to wait for 3.0 besides you personally not wanting to invest

[2018-03-26 21:43] mkarg commented on #605
@deki @andymc12 Please describe your opinions how to deal with annotation-based singleton declaration.

[2018-03-27 06:28] NicoNes opened #606 "Clarification on the way to handle various HTTP response codes"
Can the JAVA SSE spec be more clear on how to handle all various response codes possible, the way  https://html.spec.whatwg.org/multipage/server-sent-events.html does ?

The java SSE spec only talks about 503 but what   about others response codes:

**1.** 204

According to WHATWG spec:

- Does JAXRS SSE impl should interpret this code the same way ?

- If true should we close the SseEventSource a

[2018-03-27 13:19] spericas commented on #605
Markus,

 There is certainly no breaking compatibility issue, of course. By default, providers are singletons in JAX-RS already. Thus, I just don’t see the urgency justifying all JAX-RS implementations to do more work in the DI area when clearly JAX-RS should have never been in that business.

 As for @Singleton vs. @ApplicationScoped, I’m not certain you can guarantee that they are always the sam

[2018-03-27 14:20] jansupol commented on #605
There is `@Singleton` used in Section 9.4 of the Spec., on a resource. Having this precedence, it make sense to clarify. From the example, it is not clear whether it could be used on any resource, in general, whether it has a connection just to SSE (obviously not, but it is confusing), or whether the annotation makes sense on other JAX-RS classes, not just on a resource. It is possible that the ex

[2018-03-27 14:25] andymc12 commented on #605
For WebSphere (both Traditional and Liberty), we document our support of
integration with CDI and EJB here:
https://www.ibm.com/support/knowledgecenter/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/rwlp_jaxrs2.0_ejbcdi.html

Hope this helps,

Andy

On Tue, Mar 27, 2018 at 9:20 AM, jansupol <notifications@github.com> wrote:

[2018-03-27 14:28] ggam commented on #605
Note that here we are talking about JSR 330 @Singleton, not EJB one.

I'm unsure CDI even specifies javax.inject.Singleton behavior...

El mar., 27 mar. 2018 16:25, Andy McCright <notifications@github.com>
escribió:

[2018-03-27 16:45] mkarg commented on #605
@spericas

Can you please point me to the place where this is mandated by the JAX-RS specification document and / or API? I just can't find that. It would actually solve this issue, because if it is explicitly told, then Jersey is definitively broken, as it creates one instance per interface, not one instance per class.

[2018-03-27 16:47] mkarg commented on #605
@andymc12 Actually this does not help. The question of this issue is: How to annotate singletons without CDI and without EJB. Your like is the reverse of what thread tries to clarify.

[2018-03-27 16:57] spericas commented on #605
First sentence of Section 4.1 (Lifecycle and Environment).

— Santiago

[2018-03-27 17:00] mkarg commented on #606
@NicoNes Can you please a bit more specific what you propose to be changed in the spec?

[2018-03-27 17:20] mkarg commented on #605
@spericas You mean ```By default a single instance of each provider class is instantiated for each JAX-RS application.```, right? Right, seems I missed that line. So Jersey definitively has a bug and I will file an issue once the project is migrated to eclipse-ee4j. Also, I do not see the need for a ```@Singleton``` clarification in the spec anymore due to that. Thanks! :-)

@chkal As my question

[2018-03-27 17:40] NiklasMehner opened #607 "Remove HEADER_DELEGATE from header classes"
The classes CacheControl, Cookie, EntityTag, NewCookie in package javax.ws.rs.core all have a static variable HEADER_DELEGATE that is initialized when the class is initalized.

The HEADER_DELEGATE is used to convert to and from the string representation in valueOf/toString.

The valueOf/toString do not seem to be used by at least RestEasy and Jersey and I do not see a use case for an "end user".

[2018-03-27 18:29] chkal commented on #605
@spericas Thanks for pointing us to the corresponding statement in the spec. In this case we don't need any clarification. Seems like I also missed that one. Sorry about that.

@mkarg Feel free to close this issue.

[2018-03-27 20:19] mkarg commented on #605
Closing as requested clarification is already part of the spec.

[2018-03-27 20:19] #605 closed

[2018-03-27 21:38] NicoNes commented on #606
You're right it was not that clear.

As it is done by the HTML5 SSE spec, I would like the JAVA SSE spec to be explicit on how SseEventSource must handle various HTTP response codes.

To do so and in order not to be that far form the HTML5 spec,  I suggest to follow its rules as much as possible.

So to be specific, I would like the spec to state that:

- On HTTP 204 response code

[code]

- On HT

[2018-03-28 16:46] mkarg commented on #606
@NicoNes @deki @jansupol @andymc12 I think this should be discussed among vendors mostly.

[2018-03-28 18:18] spericas opened #609 "Main pom file still has references to old parents, aliases, etc."
Main pom needs more cleanup to remove old references.

[2018-03-28 19:50] spericas commented on #609
https://github.com/eclipse-ee4j/jaxrs-api/pull/610

[2018-03-29 20:04] derekm commented on #56
Jersey's Proxy Client API should also be reviewed: https://jersey.github.io/apidocs/latest/jersey/org/glassfish/jersey/client/proxy/package-summary.html

[2018-03-30 17:06] mkarg commented on #605
@jansupol Created a Jersey issue for this violation of the JAX-RS specification as @spericas confirmed that it has to be an implementation-specific bug: https://github.com/jersey/jersey/issues/3796.

[2018-03-30 17:14] mkarg opened #612 "TCK has to explicitly verify singletons"
JAX-RS Specification 2.1 Chapter 4.1 Line 1: "By default **a _single_ instance of each provider _class_** is instantiated for each JAX-RS application."

Apparently the TCK, while currently not published, seems to have no explicit test for this rule, as (at least) the RI (Jersey) _seems_ to have passed the TCK but actually creates multiple instances due to a bug I just reported (https://github.com/

[2018-04-01 02:46] cowwoc opened #613 "Query parameter ordering not guaranteed to stay the same"
Some use-cases (e.g. https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#signed-trade-and-user_data-endpoint-security) requires one to be able to look up the query parameter string and request body before actually sending out the request. In the aforementioned case, we are supposed to use these values to generate a hash where ordering maters.

Looking at the Javad

[2018-04-01 02:54] cowwoc commented on #468
My understanding is that resolving `..` relative to `http://www.example.com/a/b` should return `http://www.example.com/` whereas resolving `..` relative to `http://www.example.com/a/b/` should return `http://www.example.com/a/`.

Any web browsers running on top of JAX-RS servers will have problems using relative URIs given the current specification.

[2018-04-01 09:36] mkarg commented on #468
@cowwon I doubt your latter assumption as it would be impossible to navigate to /a from /a/b.

[2018-04-01 09:53] cowwoc commented on #468
@mkarg Navigating downward is fine. Navigating upwards will break.

[2018-04-02 13:19] mkarg opened #617 "Missing Committer's Paperwork"
There is a strong discrepancy between the list of [official commiters](https://projects.eclipse.org/projects/ee4j.jaxrs/who) (Eclipse Foundation) and the list of [actual committers](https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members) (Github). We should try to get both lists look the same, so if your name is on *just one* list (i. e. missing on the other):
* If you do **not** want to

[2018-04-02 13:20] mkarg commented on #617
@arjantijms Please file your paperworks! :-)

[2018-04-02 13:30] arjantijms commented on #617
I should have filed all the paperwork there is to file. Which ones are missing?

[2018-04-02 13:34] arjantijms commented on #617
At least all the Eclipse paperwork should be okay, as I got confirmation and I'm listed for both JAX-RS and Jersey: https://accounts.eclipse.org/users/atijmse7y#tab-projects

I'm not listed here though: https://github.com/orgs/eclipse-ee4j/people

Who do I ask for that?

[2018-04-02 15:36] mkarg commented on #617
@waynebeaton Wayne, can you please help? Why is Arjan not a JAX-RS committer in Github?

[2018-04-02 17:14] #426 closed

[2018-04-02 18:04] waynebeaton commented on #617
AFAICT, @arjantijms needs to specify his GitHub ID on his Eclipse Foundation account.

https://accounts.eclipse.org/user

[2018-04-02 18:06] mkarg commented on #617
@waynebeaton Thanks a lot! :-)
@arjantijms Did you do that?

[2018-04-02 18:58] arjantijms commented on #617
Well, yes and no. My GitHub ID was associated with another account I have on eclipse.org and eclipse.org didn't allow me to make the association. But I removed it from the other account and added it to the current account. So hopefully all is well now.

Thx!

[2018-04-02 20:14] waynebeaton commented on #617
If you're still having trouble, connect with webmaster@eclipse.org

[2018-04-02 20:18] arjantijms commented on #617
@waynebeaton @mkarg Thanks to both of you, it now seems to work. I got the group invitation for EE4J on GitHub :)

[2018-04-03 13:25] spericas opened #618 "Clarify liberty of implementations to provide separate client and server jars"
Although the API jar cannot be split, most implementations do provide separate jars to avoid always referencing a large JAR containing all classes. For example, a JAX-RS client only application does not need server classes from the implementation.

It was suggested that this should be explicitly allowed by the spec: Here is some text that we can use for that,

_

_

[2018-04-03 16:07] mkarg commented on #617
@waynebeaton Thanks for helping! :-)
@arjantijms As you're now listed on Github (https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members) you should have the power to officially **review and assign** PRs. We love to see your votes! :-)

[2018-04-03 17:32] spericas commented on #618
@arjantijms Yes, exactly.

[2018-04-04 10:54] asoldano commented on #598
Speaking of client proxies... RESTEasy has http://docs.jboss.org/resteasy/docs/3.5.0.Final/userguide/html/RESTEasy_Client_Framework.html#d4e2380

[2018-04-04 10:55] asoldano commented on #56
RESTEasy: http://docs.jboss.org/resteasy/docs/3.5.0.Final/userguide/html/RESTEasy_Client_Framework.html#d4e2380

[2018-04-04 13:55] spericas commented on #56
@asoldano Thanks for sharing the link. I noticed a sentence about interface methods only annotated with @Path (akin to resource locators). On the server side, resource locators are used to programmatically bind requests to resource classes (possibly by inspecting params etc), but none of that is possible using client interfaces. So the use case here is primarily to split a potentially large interf

[2018-04-05 18:13] andymc12 commented on #606
Today, it looks like Apache CXF handles the 204 as stated above (closes the connection, does not reconnect).  We are in the process of implementing the 503 behavior - if Retry-After is specified, set the appropriate reconnect delay.

On a 503 with no Retry-After specified, I think the current behavior would be to try to reconnect using the current reconnectDelay setting (500ms by default).  It sou

[2018-04-05 22:30] arjantijms commented on #617
Closing issue as everything seems to be fine now, thanks again to all involved.

[2018-04-07 07:56] arjan commented on #617
wrong guy :-P

[2018-04-07 09:05] arjantijms commented on #617
Believe it or not, but there are more Arjans in the world :P In fact, it's quite a common name in the Netherlands ;)

[2018-04-07 17:55] mkarg commented on #617
@asoldano Apparently you have not finished the EF paperworks. Can I help you with that? I assume you really like to have committer status in Github, not only being listed as a committer on the EF page?

[2018-04-07 22:48] asoldano commented on #617
@mkarg I definitely want to have committer status on Github too. This said, I believe I completed the paperworks weeks ago. I've just re-checked and I had empty fields in the "social media" section, which also includes github. I've added my gihub id there, so I hope everything's fine now. Can you double check that? Note, I get a 404 error when trying opening the https://github.com/orgs/eclipse-ee4

[2018-04-08 07:33] mkarg commented on #618
I have not understood what is the problem with providing the complete JAX-RS API JAR? Isn't it enough to simply use Java 9 modules to restrict classloading?

[2018-04-08 07:37] rogergl commented on #617
@mkarg not sure if I did all the paperwork. So far I only signed the ' Eclipse Contributor Agreement'.

[2018-04-08 07:40] rogergl commented on #601
So far I only know of editoroconfig to accomplish something like this.  Any other ideas ?

[2018-04-08 14:00] mkarg commented on #617
@rogergl As your current target role is _Contributor_ only (not _Committer_), filing the ECA (Eclipse Contributor Agreement) is sufficient. You can now simply join the ongoing discussions in the mailing list / issue tracker / PRs, or ask to get issues assigned to you so you can prepare solutions and file PRs. :-)

[2018-04-08 14:03] mkarg commented on #601
@rogergl Eclipse for example can export the complete set of formatting rules as a single file. Possiby other IDEs can do the same. The actual problem infact is that nobody knows what the settings have to look like. So to solve _this_ issue, one has to go through all the settings of his IDE and tune them as long as the formatting outcome produces a more or less empty git diff to master's HEAD. Once

[2018-04-08 15:42] rogergl commented on #601
@mkarg Ok I could test for IntelliJ. Nevertheless I think it would make sense to provide a simple .editorconfig. That would at least help some users of non IDEs (Visual Code, Vim) and would provide a common basic config across different IDEs.

[2018-04-08 17:41] mkarg commented on #601
@rogergl A PR with a ```.editorconfig``` would be terrific, but please take care that it will match the _existing_ code style as perfect as possible. I want to split up the creation of the config file from the discussion about _changing_ the style.

[2018-04-08 20:05] arjantijms commented on #601
I don't think there really is an existing code style yet, is there?

So let's establish that style first, and then create a formatting ruleset for it that at least partially matches that style. Partially, since most IDEs probably don't have formatting that applies all rules (i.e. I think Eclipse has no formatting to automatically apply the modifier like `private static final).

[2018-04-08 20:17] mkarg commented on #601
@arjantijms The plan is to _fix existing_ things first and change them later _if needed_. So if you simply _want_ to change the style then please start a separate discussion in a separate issue but do not stop contributors from working on this one. Thanks.

There definitively *is* an existing code style as there is existing code and a short check using Eclipse tells us that it seems to be a rather

[2018-04-08 20:31] arjantijms commented on #601
It doesn't really seem there is a clearly defined style I think, as it was needed to ask the following question:

With the check style rules warning about things that are not in the code, it looks like it's definitely not that clear cut.

Maybe it's a simple deviation, maybe not. If only a a short check has been done that's perhaps a bit hard to say. Plus, the deviation would need to be clearly id

[2018-04-08 20:53] mkarg commented on #601
Yes, the existing style _might or might not_ be well specified. We do not know until we try to find out.

And no, it is definitively _not_ more productive to start a lengthy discussion about the likes and disliked of everybody first. It just keeps everybody away from work. It particularly is the wrong place to start a discussion about _new_ rules in an issue that simply tries to get along with the

[2018-04-08 21:03] mkarg commented on #613
Is there a RFC that guarantees order of parameters?

[2018-04-08 21:09] mkarg commented on #606
@andymc12 Will you sponsor this issue? So I would assign it to you now.

[2018-04-08 21:14] mkarg commented on #583
@chkal Still want to prepare a PR?

[2018-04-08 21:16] mkarg commented on #596
@andymc12 @asoldano @jansupol Asking for vendor comments. :-)

[2018-04-08 21:29] mkarg commented on #565
@chkal How to go on?

[2018-04-08 21:31] mkarg commented on #556
@arjantijms As this was originally opened by @OndrejM, may I assign this issue to you so you can further drive this item in his name?

[2018-04-08 21:35] mkarg commented on #509
@jansupol @asoldano @andymc12 Vendors comments requested. :-)

[2018-04-08 21:36] mkarg commented on #509
@deki CXF comments requested. :-)

[2018-04-08 21:42] mkarg commented on #601
We're not taking any resources way from other tasks: The contributor currently working on this issue is a newbie in this project and there is nothing better for him to start with anyways. No need to make up _your_ mind about the guys _I_ toss into the project. ;-)

The job is easier as you might think. I already reformatted using the built-in formatters of Eclipse IDE and noticed that some match r

[2018-04-08 22:12] cowwoc commented on #613
@mkarg The only guarantee that binance seems to ask for is that the signature corresponds to the order of parameters that the client sends (what the server does with it is another story). Are you saying that if there are intermediate gateways they might reorder the parameters?

[2018-04-08 22:29] arjantijms commented on #556
Sure, and I'll discuss it with Ondrej if/when needed.

[2018-04-09 05:08] chkal commented on #613
I think @mkarg is thinking about the HTTP or some other RFC and what they write about query parameter ordering...

[2018-04-09 14:42] andymc12 commented on #606
@mkarg Sure, I can take this issue.

@spericas, all, do you agree with the proposal from @NicoNes ? Basically:

| Response Code is: | Client Behavior is: |
| ------------------------ | ----------------------- |
| 200                         | Listen for events until closed - reconnect (using default or configured reconnect delay) on network issue until client source is closed |
| 204

[2018-04-09 14:55] NicoNes commented on #606
Hi guys,

Thank you for taking this issue.
In addition to global client behavior, do you also agree with completion/error handlers notification policy described for each response code?

[2018-04-09 15:05] deki commented on #509
For me this is a minor enhancement because most setups that I know run inside a container like Tomcat or Spring Boot so there is no need for a start API.

From CXF point of view it's easy to delegate from the new API to the existing `JAXRSServerFactoryBean` that we already have in place.

[2018-04-09 15:47] andymc12 commented on #509
Is there a lot of user demand for this?  I worked on the Embeddable EJB implementation back in Java EE 7 - similar idea with an `EJBContainer ec = EJBContainer.createEJBContainer(properties);`.  It seemed like a good idea at the time, but I never saw much customer adoption.

And I agree with @deki that there are already a lot of setups that make it easy to deploy JAX-RS apps.

If we do this, I wou

[2018-04-09 15:53] andymc12 commented on #596
Assuming that we can clear the IP hurdles with pulling in MicroProfile code here, I would propose that we do something similar to MP's `RestClientBuilderListener`:
https://github.com/eclipse/microprofile-rest-client/pull/80

This would allow developers to provide a `META-INF/services/javax.ws.rs.ext.ClientBuilderListener` file that references a class implementing a new `ClientBuilderListener` inte

[2018-04-09 17:33] mkarg commented on #613
As long as there is no RFC guaranteeing such a preserve-of-order, any intermediate party (like proxies, routers, gateways, etc.) is allows to reorder as wanted. So it makes no sense to enforce something in the backend only.

It makes no sense to collect a proof for actual reordering. This is an API Specification project, so we have to think revers: We need a proof that no party might reorder.

[2018-04-09 17:34] mkarg commented on #613
@cowwoc Well... does "the aren't interested in further discussion" mean that I can close this issue now?

[2018-04-09 17:36] mkarg commented on #601
I never said somebody shall start from scratch. Certainly it makes sense to pick Eclipse/Sun and check what screws to turn on. I bet it will match 99% of the existing code of this project (and any other project is out of scope of _this_ issue).

Also I won't say that _this_ project's existing formatting is totally chaotic.

[2018-04-09 17:39] jansupol commented on #509
I can see a usage for such a declaration; microservices does not necessarily need full Servlet container to run JAX-RS application, microprofile defines JAX-RS but no Servlet.

JAX-RS standard was built on top of Servlet container from the beginning though, there can be consequences of what part of the implementation should be mandatory and what optional. The Async features for instance.

[2018-04-09 17:49] ggam commented on #509
@jansupol while the Servlet container is usually taken for granted, are you
sure the spec mandates it?

El lun., 9 abr. 2018 19:40, jansupol <notifications@github.com> escribió:

[2018-04-09 17:55] roger-gl commented on #601
just tried the IntelliJ formatter. There a lot of differences but most of the time it's 'unused imports' ,  missing blank lines in import and wrong formatting in javadocs and a missing blank after if. Not sure if this info helps...

[2018-04-09 17:56] mkarg commented on #509
Regarding user demand: Well, I wouldn't have reactivated this task if not!

[2018-04-09 17:57] mkarg commented on #509
@ggam The JAX-RS spec explicitly says that Servlets are NOT mandated, and JAX-RS MUST be able to run on pure Java SE, too.

[2018-04-09 17:57] mkarg commented on #509
@andymc12 The proposal is not that an implementation MUST support Java SE, but only that IF it supports Java SE it MUST support this particular API to boot it.

[2018-04-09 18:33] jansupol commented on #509
Well, see Section 2. For Java SE the Spec. says it may work:

But the environment the implementation must work at is Servlet container.

[2018-04-09 18:47] ggam commented on #509
But as Markus said, the spec doesn't mandate a Servlet Container even on
Java EE. That means for example HttpServletRequest is not guaranteed to be
there and injectable, which is pretty common.

Anyway that's unrelated to this issue.

El lun., 9 abr. 2018 20:33, jansupol <notifications@github.com> escribió:

[2018-04-09 20:18] jansupol commented on #509
I am trying to say the implementation of async server operations is relied on Servlet 3.1, and without it, async should be optional.

[2018-04-09 20:28] mkarg commented on #509
I do not understand what we talk about here. All that this issue wants is in case an implementation supports Java SE it shall use a common API to boot it. Everything else is out of scope of this issue. So we now discussing async _here_?

[2018-04-09 20:31] mkarg commented on #617
@asoldano You should be able to assign issues / PRs to you and be a Github reviewer now. Welcome! :-)

[2018-04-09 20:34] arjantijms commented on #601
@roger-gl that sure helps indeed.

I think trying to adjust the IntelliJ formatter in such way that when you apply the formatting you get zero changes is a bit of a waste of time, but we've been discussing this for a bit here without asking what you yourself would actually think about doing that. So I'm curious what you think.

[2018-04-09 21:03] jansupol commented on #509
Ah, we want just to specify a way to boot it, without defining what it should be capable of? Alright, it still can be useful for switching the implementations for JAXRS apps in microservices world... Sounds good.

[2018-04-09 21:07] mkarg commented on #509
Yes, @jansupol, the sole thing _this_ issue tries to provide is a uniform API for _possibly_ existing Java SE bootstrap, not anything more. And yes, the use case I had in mind actually is JAX-RS Microservices.

[2018-04-09 22:11] cowwoc commented on #613
Sadly, yes. Thanks for the clarification.

[2018-04-09 22:11] #613 closed

[2018-04-09 22:42] mkarg commented on #509
To better illustrate what I intend with this issue, I have set up a preliminary PR #619. Inline code comments welcome! :-)

[2018-04-10 06:05] chkal commented on #583
@mkarg Yeah, sure! Sorry about the delay. I'm quite busy working on the JSR371 TCK at the moment.

[2018-04-10 06:06] chkal commented on #589
Yes, this can be closed. Thanks!

[2018-04-10 06:06] #589 closed

[2018-04-10 06:07] chkal commented on #565
@mkarg I'll prepare a pull request in the next days.

[2018-04-10 17:26] mkarg commented on #565
@chkal Cool! :-)

[2018-04-13 13:58] spericas commented on #618
@mkarg I don't understand your question. This issue is really about implementation jars.

[2018-04-13 14:05] spericas commented on #556
This should probably be a 3.0 issue given that CDI isn't mandatory now.

[2018-04-13 14:13] ggam commented on #556
CDI integration is one of those changes that affect most people, and I
still think it can be done in a minor revision.

Annotating a class at compile time doesn't make the the annotation required
on the classpath at runtime (the JVM just ignores it) so we could find a
solution that works without mandating CDI.

Another possibility is for implementors to register the resources as beans
via a CDI ex

[2018-04-13 14:13] asoldano commented on #509
@mkarg I've commented on the PR

[2018-04-13 14:17] asoldano commented on #596
@mkarg , RESTEasy behavior has properly been described by @chkal and @johnament . This said, I'd be fine with a common spec way of registering client features.

[2018-04-13 15:11] asoldano commented on #618
Why do we really need to mention this in the spec? Only because in future we want to explicitly mandate how the implementations have to be split?

[2018-04-13 15:35] spericas commented on #618
@asoldano No, we shouldn't do that. I've been told that, technically, splitting implementation jars was not allowed under the JCP rules (not sure where that's stated to be honest). Less of an issue going forward, but it does not hurt to be explicit.

[2018-04-13 16:08] johnament commented on #596
@chkal only confusion is why you're mentioning `Application.getClasses()` in the notion of a client.  AFAIK, there is no relationship between client and server in this regard (but maybe there should be?)

[2018-04-13 22:29] bshannon commented on #618
Let me briefly explain the compatibility issue.  If you want more detail, move this discussion to email.
I recognize that the Jakarta EE compatibility rules might be different than the JCP compatibility rules
and so none of this may apply in the future.

The JCP spec requires you to pass the TCK.  Passing the TCK includes meeting non-tested
requirements that are part of the TCK.  We call these the

[2018-04-14 07:13] rogergl commented on #601
@arjantijms I'm not sure. From what I remember the default formatter setting in Eclipse and Intellij do not differ that much. Therefore just defining an editorconfig with the basic settings will be enough and than leave it to the individual programmer that his or her changes do not cause to many changes just because of formatting issues ?

[2018-04-14 08:58] chkal commented on #556
Is this the case even for `@Retention(RUNTIME)`?

[2018-04-14 09:02] chkal commented on #596
@johnament I just mentioned it because I was describing my finding about feature detection on the server side and whether you implement `Application.getClasses()` or not changes this behavior. However, it would be great if feature detection would work the same way on the client and the server.

[2018-04-14 09:36] ggam commented on #556
Yes, although it's a little known behavior. See this Stackoverflow
questions for some more details:
https://stackoverflow.com/questions/3567413/why-doesnt-a-missing-annotation-cause-a-classnotfoundexception-at-runtime

El sáb., 14 abr. 2018 10:58, Christian Kaltepoth <notifications@github.com>
escribió:

[2018-04-14 09:37] ggam commented on #601
+1. And once done, that editorconfig could be moved to the wiki so that
other projects can directly benefit from it.

El sáb., 14 abr. 2018 10:18, Arjan Tijms <notifications@github.com>
escribió:

[2018-04-14 09:43] chkal commented on #556
@ggam Oh, interesting. I didn't know about this before. Thanks.

[2018-04-14 18:27] rogergl commented on #601
@arjantijms +1

[2018-04-16 14:57] andymc12 commented on #596
@johnament @chkal What if we modified the MP Rest Client `RestClientListener` approach to be something like a `ConfigurableListener`.  We could still use the ServiceLoader pattern for the auto discovery/registration, but now the interface might look like this:

[code]

Then we could use the passed-in `Configurable` to configure both the client (during a `ClientBuilder.newBuilder()` call) or the se

[2018-04-16 15:50] chkal commented on #618
@spericas Ok. I got this impression from the following formulation:

But I agree that this would go too far.

[2018-04-16 22:11] bshannon commented on #618
You would need to specify how the APIs behave in all supported configurations.
Hopefully there's a well-defined exception that is thrown when you try to use
something without a corresponding implementation.

[2018-04-17 07:13] chkal commented on #583
Please see #620 for the corresponding pull request.

[2018-04-17 15:31] chkal commented on #565
Please see #621 for the pull request

[2018-04-17 15:49] spericas commented on #596
@johnament Jumping a bit late into the discussion, but reading your original post made me wonder: what is the use case from which the automatic registration requirement was derived?

Client instances are (manually) configurable and, as explained in the Javadoc, are typically heavyweight so the number of instances should ideally be limited. The need for automatic registration seems to suggest that

[2018-04-21 09:04] mkarg commented on #617
@kwsutter Kevin, I wonder why you are listed as JAX-RS committer on the Eclipse Project page, but not on the Github Project page. As you are a PMC member I assume this is by intention?

[2018-04-21 09:13] chkal commented on #617
AFAIK this happens if the GitHub username is missing in the Eclipse account settings.

[2018-04-21 09:26] mkarg commented on #617
FYI: Tody I triggered the process to get all _still_ missing contributors listed on the Eclipse project page into the Github boat with the kind help of @m0mus and webmaster@eclipse.org. I hope that in few weeks all of them finally are here, because I think it is an essential step towards leaving incubator status to reach congruency between the Eclipse Foundation's files and Github's configuration.

[2018-04-21 12:14] mkarg opened #623 "Enabling JDK 8 Doclint Checks"
Yes, I know, it is really a pain that tools tell us we are mostly imperfect with writing good code and great docs. But as this project aims at providing a global standard, possibly one of the most influencing one, we should enable Doclint Checks and fix whatever Javadoc tells us.

I prepared WIP PR #624 and already fixed ALL ERRORs.

**I hope some contributor will chime in here and provide fixes f

[2018-04-22 14:16] mkarg commented on #623
Thank you, @ggam, for fixing all those nasty JavaDoc WARNINGS! I'm just waiting for the committers to review our joint work before I can merge it finally.

[2018-04-25 15:55] spericas commented on #609
@mkarg Closing ...

[2018-04-25 15:55] #609 closed

[2018-04-26 10:42] OndrejM opened #625 "Clarify that SseEventSource.open is not blocking and add means to specify an onOpen handler"
I assume that `SseEventSource.open` is meant to be non-blocking and not wait until the connection is established but the Javadoc doesn't make it clear.

The Javascript version of [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource/onopen) specify an `opopen` method to specify a handler to be called after the connection is established.

Ideally, `open` should return a Complet

[2018-04-27 02:49] jimma commented on #625
@spericas Can we provide the non-blocking open in SseEventSource with a open handler too ? Then SseEventSource#open doesn't need to wait the connection created and do the following things :
[code]

[2018-05-07 13:25] cowwoc opened #626 "Non-blocking client API"
According to http://download.oracle.com/javaee-archive/jax-rs-spec.java.net/users/2017/01/4079.html (and looking at the source-code of Jersey) the RX client implementation is really just `CompletionStage` bolted on top of a blocking request.

Please add the ability to issue non-blocking HTTP calls that return `CompletionStage` on the client.

[2018-05-07 20:43] mkarg commented on #626
Feel free to send a PR. :-)

[2018-05-07 22:16] mkarg commented on #617
Welcome committers @yuHe1 and @weijuntian on GitHub! Please be so kind to shortly introduce yourself to the other committers on the existing welcome round thread on the developer's mailing list! :-)

[2018-05-07 22:33] mkarg commented on #617
@eclipsewebmaster: Still missing PMC Member Kevin Sutter @kwsutter, Steven Liu @liuxiangde and Yan Gao.

[2018-05-08 02:01] liuxiangde commented on #617
@mkarg, I should have finished the committer paperwork weeks ago and my eclipse account setting is associated with my github ID. Is there something missing and what I should do? Thanks

[2018-05-08 02:12] liuxiangde commented on #617
BTW, I got 404 when I access https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members

[2018-05-08 02:29] gaoyan-gao commented on #617
@mkarg , I am listed for both [official commiters](https://projects.eclipse.org/projects/ee4j.jaxrs/who) (Eclipse Foundation) and the list of [actual committers](https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members) (Github). My ID is "yan gao" in Eclipse Foundation list. And my ID is "gaoyan-gao" in Github.

[2018-05-08 02:30] gaoyan-gao commented on #617
And all my Eclipse paperwork should be okay, as I got confirmation and I'm listed for both JAX-RS and Jersey. https://accounts.eclipse.org/users/ygao#tab-projects

[2018-05-08 02:53] gaoyan-gao commented on #617
@mkarg I am also listed for https://github.com/orgs/eclipse-ee4j/people .
Thanks.

[2018-05-08 03:57] edbratt commented on #617
Steven,
You should have received an e-mail notifying you that you have been
invited to the eclipse-jaxrs project. I can see your invitation is still
pending your acceptance. Once you accept that invitation, you should be
good to go.
-- Ed

On 5/7/2018 7:12 PM, Steven Liu wrote:

[2018-05-08 11:25] mkarg commented on #617
@gaoyan-gao Thank you for your answer. I found you in the list now. My fault. Sorry for the confusion. :-)

[2018-05-08 11:27] mkarg commented on #617
@liuxiangde Can you please accept the invitation Ed sent you report here when done? So I can check whether your listed now as committer on Github then. Thanks.

[2018-05-08 17:07] titusthefox04 opened #627 "Problem with maven central"
String  ${packaging.type} not resolved create problem in maven central and in sbt project.

<img width="235" alt="jax-ws-problem2" src="https://user-images.githubusercontent.com/22959765/39771538-d8038772-52f2-11e8-873c-f556a7dae746.png">

<img width="181" alt="jax-ws-problem" src="https://user-images.githubusercontent.com/22959765/39771537-d7e650a8-52f2-11e8-8891-d31e96076f6b.png">

[2018-05-09 02:15] liuxiangde commented on #617
Thanks @edbratt,

@mkarg I missed the invitation sent to my email associated with my github account. I accept the invitation now and I can see I'm listed in https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members and https://github.com/orgs/eclipse-ee4j/people now.

[2018-05-09 04:40] chkal commented on #627
This is a duplicate of #572 and #571.

I think this is actually a sbt bug. Maven (and Gradle?) can handle this dynamic packaging type correctly.

[2018-05-09 21:07] mkarg commented on #617
Welcome committers @kwsutter and @liuxiangdeon GitHub! Please be so kind to shortly introduce yourself to the other committers on the existing welcome round thread on the developer's mailing list! :-)

[2018-05-09 21:09] mkarg commented on #617
Thank you everybody for your patience. I will double-check tomorrow but I think all initial committers are actual Github committers now! Welcome, again! :-)

[2018-05-10 09:20] mkarg commented on #617
Unfortunately there still is one person missing. Does somebody have a current contact address of Rebecca Searls? Thanks. :-)

[2018-05-11 15:53] mkarg commented on #626
@cowwoc Do you really think this is an issue of the JAX-RS API, or are you talking about Jersey-specific implementation?

[2018-05-11 15:57] mkarg commented on #627
@spericas Do you know why we don't simply use `<packaging>jar</packaging>` instead?

[2018-05-11 16:17] chkal commented on #627
AFAIK there is a special Java 9 profile which uses a different packaging type.

See: https://github.com/eclipse-ee4j/jaxrs-api/blob/d2cadd2a5b22b4c7922a3f1d7c5e00506fccdd75/jaxrs-api/pom.xml#L144-L152

[2018-05-11 16:20] #565 closed, assigned to chkal, mkarg

[2018-05-11 16:50] mkarg commented on #627
Looks like this was done solely to make the OSGi packager (bnd) work as it is so outdated that it cannot handle JDK 9. I don't like that solution. OSGi is not part of neither Jakarta EE nor JAX-RS. I'd rather kick OSGi out right now. But what do others think?

[2018-05-11 17:43] cowwoc commented on #626
@mkarg It could be Jersey-specific. That said, I am not aware of what the other implementations do. Are you aware of any of them implementing `CompletionStage` on top of a non-blocking / NIO.2 architecture?

[2018-05-12 09:04] mkarg commented on #626
@cowwoc I am not aware of any vendor's internals. So let's just ask them directly: @deki @jansupol @asoldano @andymc12.

[2018-05-12 19:54] deki commented on #626
Well the discussion in the mailinglist was initiated by Sergey who was implementing the stuff for CXF. CXF has multiple extensions for NIO:
http://cxf.apache.org/docs/jax-rs-rxjava.html, http://cxf.apache.org/docs/jax-rs-project-reactor-support.html and http://cxf.apache.org/docs/jax-rs-nio.html (for the server side)

[2018-05-13 05:43] cowwoc commented on #626
@deki Please excuse my ignorance on the matter but in the case of Jersey there is no relationship between Async, CompletionStage responses and the actual request being non-blocking. Out of the 3 documents you linked to, only the 3rd one talks about non-blocking communication. Hence, I don't think there is any guarantee that the client-side is in fact non-blocking.

[2018-05-13 05:50] deki commented on #626
I agree that reactive and non-blocking stuff was mixed up, but as far as I can see the RX/ Reactor client stuff is implemented in a non-blocking way. Async Http Client is used for that: http://cxf.apache.org/docs/asynchronous-client-http-transport.html

[2018-05-13 07:59] chkal commented on #627
Yeah, looks like this was the reason for introducing the dynamic packing type.

AFAIK the OSGi manifests are required for the Glassfish integration. But I'm not familiar with the details.

I think we should keep the OSGi manifest. It doesn't do any harm and OSGi is still quite popular. Maybe bnd even supports Java 9 today? Perhaps fixing this would simply be a matter of updating the `maven-bundle-

[2018-05-13 12:39] mkarg commented on #617
Welcome committer @rsearls! Please be so kind to shortly introduce yourself to the other committers on the existing welcome round thread on the developer's mailing list! :-)

[2018-05-13 12:42] mkarg commented on #617
@eclipse-ee4j/eclipse-jaxrs Welcome all committers! If not done yet, please shortly introduce yourself on the existing welcome round thread on the developer's mailing list! :-)

As the last missing paperwork was done, were complete now. I am happy that everybody proposed by the EF is onboard of GitHub now. So I am glad to close this ticket finally. :-)

[2018-05-13 12:42] #617 closed

[2018-05-14 16:00] rogergl commented on #601
I finale had some spare time. The following .editorconfig works

[code]

But not sure if that is really helpful.

[2018-05-14 17:03] mkarg commented on #601
Thanks for this initial proposal. Looking at the lot of settings Eclipse and other IDEs actually consider when formatting the code, I really doubt that these six ones will fulfil the intended purpose.

[2018-05-15 17:40] mkarg commented on #626
@cowwoc The API only defines the programming _interface_. _How_ the interface is fulfiled is part of the particular product design. We do not intend to mandate _particular_ designs.

[2018-05-15 18:16] cowwoc commented on #626
@mkarg I understand that and did not mean to imply otherwise. I just want to make sure that nothing in the interface prevents one from implementing a non-blocking Async and Rx requests.

[2018-05-15 21:03] mkarg commented on #626
@cowwoc Please check the spec PDF and the Javadocs. Only these are normative. :-)

[2018-05-16 01:42] cowwoc commented on #626
@mkarg I feel like we're going in circles. I know that only the spec is normative.

Sometimes one publishes out a design that theoretically should support (say) non-blocking I/O but in practice when one tries to implement it you discover that something in the design makes this difficult or impossible. I am asking about concrete implementations simply to rule out this possibility.

On the topic of

[2018-05-16 14:16] asoldano commented on #626
This looks indeed implementation specific. RESTEasy, for example, allows to plug in different client http engines; there's a default async/NIO one based on Apache Async Http Client (http://docs.jboss.org/resteasy/docs/3.5.1.Final/userguide/html/RESTEasy_Client_Framework.html#apache_asynch), alternatively users can provide their engine implementation. A implementation based on Jetty 9 is coming in

[2018-05-16 15:00] spericas commented on #627
@mkarg Must have been OSGi. I don't have a problem fixing it to jar.

[2018-05-16 16:15] cowwoc commented on #626
Okay, I'll go ahead and close this issue then.

[2018-05-16 16:15] #626 closed

[2018-05-29 20:11] jansupol opened #631 "Clear Section 5.8 Executor Services"
The Spec. Section 5.8 says:

There is nothing more about what actually should the executor be used for. The implementation possibly can use the given executor for writing the entity, using filters, interceptors, wiring data, or it can do everything in sync without the executor, and only wire the data using the executor.

[2018-05-30 13:37] spericas commented on #631
I believe this was somewhat intentional at the time. It probably would have been too big of a change to force all implementations to do in a certain way. However, I agree that it may be worth discussing how much this should be fleshed out now.

[2018-05-31 14:31] andymc12 commented on #569
@mkarg, per our discussion on PR #608, I think it might be good to change this issue's milestone to 2.2.  The idea is to deprecate the some of the JAX-RS-specific annotations and replace them with _optional_ CDI annotations.  That would allow removal of the JAX-RS-specific annotations in the 3.0 release.

So in the 2.2 release the JAX-RS spec would support both `@Context` and `@Inject` - CDI is op

[2018-05-31 17:16] mkarg commented on #569
@andymc12 I tend to +1 for this but I am not fully conviced, because @spericas wrote that @Context and @Inject are not fully compatible. We should give it a deeper thought before pulling this into 2.2. Particularly I would be more happy if all vendors would give a short statement if they really want to do this in short term, because I do not want to delay 2.2 just for the sake of some troubles wit

[2018-05-31 17:27] arjantijms commented on #569
@andymc12

+1

A CDI first approach for all EE specs (thus including JAX-RS) is favoured by Payara.

[2018-05-31 17:47] chkal commented on #569
I'm also +1 for this. But I agree with @mkarg, that the incompatibilities between `@Context` and `@Inject` mentioned by @spericas should be discussed in detail.

[2018-05-31 18:48] ggam commented on #569
+1. This was my goal for JAX-RS 2.1 but unfortunately the concern was
raised too late to fit the schedule.

At that time I emailed Antoine Sabot Durand to ask some questions regarding
this CDI integration and he seemed to be interested in helping. I think we
could count with him now again.

El jue., 31 may. 2018 16:31, Andy McCright <notifications@github.com>
escribió:

[2018-05-31 19:50] arjantijms commented on #569
Hi,

On Thu, May 31, 2018 at 7:47 PM, Christian Kaltepoth <
notifications@github.com> wrote:

It would be good to discuss indeed what @Context can do (if anything) that
CDI can't.

In JSF we're busy with a similar switchover. We introduced CDI versions for
existing JSF DI/Managed Bean constructs, and right away deprecated these
JSF Managed Beans. In JSF 2.3 one can technically still use the native

[2018-06-01 09:44] jansupol commented on #569
Jersey made some experiments in making CDI the primary injection framework, but it was not 100% successful. I do not know the details right now, but Jersey allows for registering additional injectables in runtime, and we had an issue to tell CDI while the application already runs: look cdi, here is another class that from now on you start to inject. So this dynamically added injectables are inject

[2018-06-01 12:19] arjantijms commented on #569
Hi,

I'm indeed well aware of Jersey using HK2 internally and the step it took
to experiment with CDI there (at Payara I also come into contact with that
on almost a daily basis). I've even worked directly with the code I think
you're referring to:

https://github.com/payara/patched-src-jersey-old/blob/jersey-2.26.payara-maintenance/ext/cdi/jersey-cdi1x/src/main/java/org/glassfish/jersey/ext/cdi1x

[2018-06-01 12:58] spericas commented on #569
As I stated in the PR, @Inject and @Context have different targets. @Inject cannot be used for params and @Context cannot be used in constructors. A very popular use case for @Context is indeed in param position.

The majority of JAX-RS resource methods use @Context in param position, except for the entity. This would need to be converted to an @Inject at method level, but would make things less c

[2018-06-01 14:09] chkal commented on #569
@spericas To be honest, I'm surprised to hear that using `@Context` on parameters is a popular choice. I actually never saw this in any JAX-RS code. Of course `@*Param` usually is used on parameters. But if you want to get `UriInfo` and friends, using fields usually makes more sense. Or am I missing something here?

[2018-06-01 15:41] spericas commented on #569
@chkal You're right, in thinking about using @Inject at method level (as it cannot be used at param level), I was thinking about @Context and @*Param together. Clearly, @*Param is far more popular at that level. Having said that, @Context isn't that uncommon in param position.

If it is just about field injection, then it shouldn't be that different. Differences in annotations would be in construc

[2018-06-01 17:10] ggam commented on #569
I understand the all-or-nothing approach but we have to define what's that "all". My personal opinion: since CDI doesn't support parameter injection, people using CDI won't really miss it on JAX-RS. Moreover, they could even wonder why they can inject dependencies on JAX-RS and nowhere else.

Developers are currently using `@Context` at parameter level, and it will still work (for now). But it's p

[2018-06-01 17:16] arjantijms commented on #569
Hi,

Providing values for @*Param annotated parameters is a JAX-RS
functionality, that would keep working regardless of what the bean model
and DI system is.

As an @Context replacement for method parameters there may be a couple of
solutions:

1. For CDI based endpoints, just don't support injection of arbitrary beans
2. Any method parameter not having a native JAX-RS @*Param annotation is
taken

[2018-06-01 18:11] spericas commented on #569
Seems that we may have digressed into 3.0 discussions (which is great, but likely for another issue). This issue is about deprecating annotations in 2.2 and potentially providing a transition path to 3.0, and maybe allowing CDI annotations in certain locations in 2.2. Needless to say, JAX-RS 2.2 is intended to be backward compatible.

I have argued that the differences are large enough that people

[2018-06-01 18:49] arjantijms commented on #569
I hear you, though I think the proposed changes till so far do ensure that.

Deprecating @Context is just that, deprecation.

While `public String sayHi(@NotNull @FormParam("name") String name, Foo foo` is backwards compatible, unless I'm missing something. As far as I know this syntax wasn't allowed in 2.1, so adding it to 2.2 constitutes a new feature. It's not an intermediate step as this would

[2018-06-01 19:08] arjantijms commented on #569
p.s. one question is where the work of saying that `public String sayHi(@NotNull @FormParam("name") String name, Foo foo)` is supported can be done.

I can do a PR for Jersey to support this, but where do we document it? There is no spec project yet for JAX-RS.

[2018-06-01 19:57] spericas commented on #569
@arjantijms I understand that deprecation does not change semantics. However, it does result in annoying warning messages which would be tolerable if the version _after_ 2.2 would only require replacing @Context by @Inject. If such a version is 3.0, which is likely, that would hardly be the only requirement.

As for the sayHi() method. If it was an @PUT/@POST and you didn't use @Context, how would

[2018-06-01 21:00] arjantijms commented on #569
I'm not sure if it should be the version after 2.2. If there's an actual @Deprecated annotation, there should be a replacement right away.

I might still be missing something, but it may not be that difficult.

It concerns the following artefacts / types that are now injectable via @Context:

1. SecurityContext
2. Request
3. Application,
4. Configuration
5. Providers
6. ResourceContext
7. ServletC

[2018-06-01 21:15] spericas commented on #569
@arjantijms Yes, there are indeed solutions, but those that are backward compatible aren't very elegant IMO (not just because of additional conventions, but also for the use of ContextResolver's as "producers" for non-Context injection points) and the other more elegant ones are for a 3.0 discussion ;)

[2018-06-01 21:37] arjantijms commented on #569
Which ones do you exactly mean? (several where mention above ;))

`@Inject ResourceContext resourceContext `

That's probably as elegant and as backwards compatible as you can get, I guess. It's something that should be easy to implement, easy to specify, and won't need changing in a 3.0.

The other one:

[code]

Is that the elegant one for the 3.0 discussion, or the not-very elegantly one?

[2018-06-02 08:28] chkal commented on #569
@arjantijms

I don't think it will be that easy. Actually the `HttpServletRequest` injectable via CDI has one major issue. It only provides the original `HttpServletRequest` without any wrappers applied via Servlet filters, which can lead to surprising results (see [CDI-709](https://issues.jboss.org/browse/CDI-709)).

And I can imagine that JAX-RS implementations also use wrappers which are then i

[2018-06-02 09:57] arjantijms commented on #569
You're right, I mentioned that issue a couple of times before. In theory it's even a bit worse as you could even get a random HttpServletRequest even (the CDI spec doesn't say anything about which version you should get).

Interesting. If that happens after the JAX-RS Servlet is called then the Servlet implementation wouldn't know about them.

The simplest way out for now may be to only provide pr

[2018-06-02 10:56] chkal commented on #569
Correct. I don't remember all the details anymore, but if you use `@Context` to get the `HttpServletRequest` from CXF, you will get a [ThreadLocalHttpServletRequest](https://github.com/apache/cxf/blob/master/rt/frontend/jaxrs/src/main/java/org/apache/cxf/jaxrs/impl/tl/ThreadLocalHttpServletRequest.java). And IIRC this one is even wrapping another CXF request wrapper.

I don't like this idea. Actua

[2018-06-02 11:52] arjantijms commented on #569
I'm not particularly fond about that idea either, but just wanted to mention it for completeness. We absolutely should get rid of @Context. It's one of the things that's very confusing, specifically to people who are new to Java EE and JAX-RS. Sometimes needing @Context to inject things, and sometimes needing @Inject is hard to explain.

It can be, although it does represent reality a little. At s

[2018-06-02 12:42] ggam commented on #569
Totally agree. And then, having parameter injection support ONLY on JAX-RS and nowhere else isn't a bit confusing too? ;)

Is is intended by the Servlet spec that you have a way to access the original request? Using the original request can be problematic as the request might have even been forwarded, which changes some attributes.

For me, the injected request should be the one that the dispatche

[2018-06-02 13:12] chkal commented on #569
I absolutely agree on this one. The only problem is what @arjantijms already mentioned: You could also inject the Servlet objects (HttpServletRequest and friends) into a filter or into a bean which is used as part of the filter processing. So at this point the request didn't even reach the Servlet yet. And in each filter the "current" request/response could be a completely different one, because e

[2018-06-02 13:27] ggam commented on #569
True. But even in that case, there's already a "current request", which incidentally *won't* be request scoped, but `@Dependent`. This might seem strange, but is similar to the problem with the authenticated caller and JASPIC, which Arjan also discovered on MicroProfile: the request can be initially unauthenticated, authenticated at some point and unauthenticated again before the request ends. Whi

[2018-06-02 13:38] mkarg commented on #569
@chkal As you more actively contribute in this thread as I currently do, I would like you to co-assign this issue to you. Agreed?

[2018-06-02 14:20] chkal commented on #569
@ggam Thanks for the summary. I would actually prefer the second option. IMO injecting a proxied view should be the default. Not sure if we really need the `Supplier<...>` version to get an request without wrapper though. However, I guess all this should go into the Servlet or CDI spec. I don't think that JAX-RS should provide these mechanisms. So perhaps creating some JAX-RS owned class which is

[2018-06-02 15:00] ggam commented on #569
The supplier would support a way to maintain the same request view across the whole request. I'm also unsure about it. It was more to illustrate the multiple views of the request problem.

Totally agree this doesn't belong to JAX-RS. The discussion was just casual here. But before creating another class for JAX-RS and Servlet integration, I'd prefer to see what the new Servlet project committers t

[2018-06-02 15:54] chkal commented on #569
Ok, got it.

I agree. I would love to see the Servlet API project take care of this. But it looks like there is no activity in the Servlet project yet. So I don't think that this will happen in the near future.

[2018-06-04 19:22] andymc12 commented on #569
Wow! I can't afford to take a day off if I want to keep up with this thread!  :)  Great conversation!

Regarding @spericas 's concern about deprecation warning messages, I think it is valid but not a show-stopper.  The warning messages should occur at compile-time which tells developers that they need to start thinking about the future - and if I'm an app developer, I'd prefer to know earlier rath

[2018-06-05 05:00] chkal commented on #569
+1 for this. Currently CDI doesn't allow to inject method parameters, but that shouldn't be a blocker for deprecating `@Context`. For most types which can currently be injected via `@Context`, fields make typically more sense. So "dropping" the support for parameter injection for such types with CDI would be fine to me.

I think it should be the other way around. We don't control `@Inject HttpServ

[2018-06-05 06:26] ggam commented on #569
Instead of the `ServletEnvironment` (or whatever it would be named), I'd prefer Arjan's idea of a qualifier, like `@Inject @JaxRsRequest HttpServletRequest` to get the equivalent of the `@Context HttpServletRequest`.

I expect the Servlet spec to solve this problem at some point by defining their own qualifiers or a way to get the different stages of the request, so anything we do here would be ev

[2018-06-05 21:20] spericas commented on #569
The reason why I'm not convinced that deprecating @context and forcing a particular way of doing things (like moving injection into fields) is correct is because we haven't _decided how we are going to do things in 3.0_. Should 3.0 injection targets always use qualifiers? Should we support arbitrary bean injection in params as @arjantijms suggested?

Moving bean injection from params to fields is

[2018-06-05 21:35] arjantijms commented on #569
I see your point, however I do wonder if it really has to be a 3.0 decision. If things remain backward compatible, is there a pressing reason not to do it in 2.2?

If 2.2 specifies a good way to do injection via CDI, then the way I see it there should not be a reason to change it again in 3.0.

CDI injects proxies in that case, so they'd delegate to the right bean instance. I.e. if a request scope

[2018-06-06 15:54] andymc12 commented on #569
Right, this works today with the `@Context` on fields in providers (which are singletons by default).

Which one?  Annotating the entity parameter, but not annotating the context-specific parameters?

What if we just dropped the requirement for `@Context` on resource methods entirely?  Implementors should be able to figure out which parameters are JAX-RS context-specific parameter types without ne

[2018-06-06 16:19] spericas commented on #569
I meant generally injecting arbitrary beans as params instead of forcing the use of fields. How they are qualified is less important IMO.

 Yes, that could be a possibility. However, we need to keep in mind that an `@Context` injection point can also be satisfied by a user-provided `ContextResolver`. Still possible to do what you suggest, but looking at a method, harder for a developer to spot the

[2018-06-06 16:45] arjantijms commented on #569
The question is if there's indeed a backwards compatibility option or not. From all current proposals I don't see anything that's backwards incompatible, but I might be missing something of course.

From what I see, the new way (using @Inject for artefacts owned by JAX-RS into fields) can happily co-exist with using @Context.

As for method injection, having parameters qualified with CDI qualifier

[2018-06-06 17:43] spericas commented on #569
@arjantijms I may be missing your point, but allow me to clarify the context of my question. The incompatible version that I was referring to was 3.0. That version will _by definition_ be incompatible as it will only support CDI. That is, if I have an existing JAX-RS application that uses `@Context` and no CDI (as CDI is optional today) it will not run in 3.0 without changes. I don't think we want

[2018-06-06 17:59] ggam commented on #569
@spericas my understanding (and I think the general one) was that we were looking to preserve the JCP style of "deprecation on one release, pruning on the next".

So your proposal is to just remove `@Context` support on 3.0 without officially deprecating it first? I'd rather prefer lots of IDE warnings about the use of a deprecated annotation than finding my application doesn't work anymore after

[2018-06-06 18:16] spericas commented on #569
No, that is certainly not my proposal. I've only stated that I don't think that's a requirement anymore and that before we deprecate we should agree on the guidelines on how code should be migrated.

[2018-06-06 18:17] ggam commented on #569
Thanks @spericas!

[2018-06-06 18:55] arjantijms commented on #569
@spericas

Okay understood, +1 to that.

Well, the point is that we may be able to make a number of changes in 2.2 already. Unless of course someone shows that it's incompatible. Then, indeed, it will have to wait for 3.0. But if in any way possible I hope we can do it for 2.2.

[2018-06-15 21:47] #627 closed

[2018-06-15 21:48] #623 closed

[2018-06-16 18:14] ronsigal commented on #625
In the future, can the blocking version throw a TimeoutException or something like that?

[2018-06-18 20:37] andymc12 commented on #418
Sorry for the long delay, but here is how CXF handles multipart support:

http://cxf.apache.org/docs/jax-rs-multiparts.html

It looks to have a lot in common with Jersey's approach (CXF's `@Multipart` ~= Jersey's `@FormDataParam`, `MultipartBody` ~= `MultiPart`, `Attachment` ~= `BodyPart`).

[2018-06-20 15:48] rsoika opened #632 "Inconsistencies in Jax-rs Client Implemenation wenn calling PUT with null value"
I regognized inconsistencies between Jersey and RestEasy implementation of the Jax-RS Client code. The following code does not work in Jersey:

[code]
An IllegalStateException is thrown:
[code]

The same code is accepted by RestEasy.

You may argue that a PUT method without a body does not make sense. But I don't think the jax-rs client implementation should try to educate the developer for good A

[2018-06-20 16:36] chkal commented on #632
@rsoika Thanks for bringing this up.

I agree that the spec or the API docs should state whether `null` is allowed for the entity in the PUT case or not. I've mixed feelings about that. On the one hand using PUT without a body doesn't make sense from a semantic perspective. On the other hand I don't think that implementations should explicitly prevent the user from sending such requests.

Other th

[2018-06-20 17:24] mkarg commented on #632
+1 for allowing `null` with `PUT`, as we should not artificially restrict the API. There might be valid use cases, even when we do not know them so far.

[2018-06-20 17:42] chkal commented on #632
I just did a quick Google search and it looks like there are APIs allowing PUT with empty body like the [Spotify API for Play/Resume](https://developer.spotify.com/documentation/web-api/reference/player/start-a-users-playback/).

Let me emphasize this again: There is no doubt that using PUT in this context is weird from the semantic perspective, but there are APIs out there implemented this way. A

[2018-06-20 18:29] spericas commented on #632
I agree, I don’t see the value of restricting it at the API level.

— Santiago

[2018-06-20 19:58] rsoika commented on #632
And we must see, that the same api allows the implementation of such kind of resource methods:

[code]
Even if this looks weird. I have done this by myself (and I am not proud about it). But so the same api should not avoid me to call the method with its own client.

[2018-06-26 07:08] struberg commented on #543
ping ;)

What about introducing a new method `MediaType#isWildCardCompatible` and deprecating the old `isCompatible` method?

To again highlight the problem:
Having a
`@Consumes("*/json")` also matches if you send `application/octet-stream`.
Which is completely counter intuitive.

Otoh I didn't find any hint in the JAX-RS spec that `MediaType#isCompatible` MUST be used in `@Consumes`?

I mainly lo

[2018-07-01 15:33] damnhandy opened #633 "CDI constructor injection & the use of multi-arg constructors Resource and Provider classes"
One thing that would be very helpful for implementors is providing clarity on how JAX-RS Resource classes and Providers are instantiated when used with CDI. Presently, there's some significant behavioral differences when switching between JAX-RS implementations with CDI. For example, using Jersey 2.27 with JBoss Weld 3.0.4.Final , constructor injection works as you'd expect. With you attempt to do

[2018-07-03 05:30] wesleyegberto commented on #601
Hi All,
I don't know if you still need an Eclipse settings to follow EE4J rules (as @arjantijms said) but I tried to follow the rules.

Here are some notes:
* Maximum width for comments is 120, counting from start of line;
* Kept empty anonymous class inline (like `new GenericType<ArrayList<String>>() {}`);
* Preserved spaces in trailing comments;

To reduce the git changes I kept the following ru

[2018-07-05 14:55] spericas commented on #543
The specification does not allow this to happen. In particular, Step 3a in Section 3.7.2 filters methods according to @Consumes via a reference to Section 3.5. Types “*/json” and “application/octet-stream” do not match.

 Sounds like an implementation issue. Are you using Jersey?

— Santiago

[2018-07-05 15:05] spericas commented on #633
Hi Ryan,

 Section 11.2.8 of the JAX-RS spec states that constructor injection is OPTIONAL with CDI (and other beans). It recommends the use of field injection and @PostConstruct for portability.

— Santiago

[2018-07-05 15:34] arjantijms commented on #633
@spericas

Maybe it's only a matter of rephrasing that saying that "constructor injection is NON-OPTIONAL (MUST be supported)", and that "field injection and @PostConstruct is a style choice and has no influence on portability"?

[2018-07-06 05:50] chkal commented on #601
@wesleyegberto Thanks a lot! This looks great!

I don't know what others think, but if these settings are close to the current code format used, we could ask @wesleyegberto to create a pull request and start using this format for new code. Not sure if we really should apply the format to the existing code. Especially because details of the formatting will always differ between Eclipse, IntelliJ an

[2018-07-06 21:59] mkarg opened #634 "Nightly Builds"
Nightly builds are an open source best practice.

[2018-07-06 22:00] mkarg commented on #634
I'm already in contact with the EF admins to set this up using the EF's internal infrastructure (Jenkins + Nexus) and currently learning how to do it with Multi-Branch-Plugin+Jenkinsfile.

[2018-07-06 22:04] mkarg commented on #634
From EF Admins:

[2018-07-06 22:05] mkarg commented on #634
From EF Admins:

[2018-07-07 06:53] chkal commented on #634
@mkarg Thanks, Markus! The login works fine for me.

Is this a Jenkins instance from the new setup the `ee4j-build` guys are working on?

[2018-07-07 06:59] chkal commented on #633
@spericas I'm wondering why constructor injection was specified as being OPTIONAL back then. Is there any special reason why it wasn't defined as mandatory.

[2018-07-07 10:27] chkal opened #636 "Build the project with JDK11 fails"
Currently the build does NOT work when using the latest EA version of JDK11. See [this Travis build](https://travis-ci.org/chkal/jaxrs-api/builds/401181471) for details.

[2018-07-07 10:30] chkal commented on #634
Awesome! Thanks a lot!

Makes sense to me. I would also be fine with using Jenkins instead of Travis if we get the same feature set (getting builds for pull requests, building against multiple JDKs, etc.).

[2018-07-07 18:44] mkarg commented on #601
In my opinion we should do a complete reformatting of all existing code between JAX-RS 2.2 and 3.0, and then force this format using Checkstyle. Or in other words, I would not apply the format now, not even for new code, as it would not provide a real benefit but leads to mixed styles.

BTW, I do not like to store any IDE-specific stuff in the repository, as this has nothing to do with the project

[2018-07-08 13:34] mkarg commented on #634
Using _only_ Jenkins is problematic because it can only use _either_ pipelines _or_ matrix. So with all the JDKs you like to test, Jenkinsfile will end in a mess.

[2018-07-09 04:14] chkal commented on #634
Ok. Agreed. IMO it is fine to use both. Jenkins for publishing snapshots and maybe other special builds and Travis for running tests for pull requests.

[2018-07-09 14:55] arjantijms commented on #633
Very practical speaking we have used something like this in Payara where both HK2 and CDI tried to inject something. By making it a constructor injection which only CDI does, the conflict was "resolved" (although it's indeed not an ideal solution and there should be a veto actually).

Perhaps you're right, and we shouldn't spend energy on this.

Btw, do you remember why CDI was not chosen right aw

[2018-07-09 16:11] spericas commented on #633
I wasn’t part of that EG. Yes, CDI was coming but also recall that JAX-RS always supported a standalone mode and, at the time, CDI implementations were considered somewhat large and complex (more than pure DI for sure, which was the one part JAX-RS needed) so I think the decision made at the time is perfectly understandable given the constraints.

— Santiago

[2018-07-09 16:45] mkarg commented on #633
To second Santiago, as far as I can remember it was not so clear than today that CDI will be embraced such globally. JAX-RS needed a solution that will be there when JAX-RS 1.0 is there, and that is there as long JAX-RS is there. CDI could have failed.

[2018-07-09 17:23] arjantijms commented on #633
I can appreciate these reasons, although at the time JAX-RS 1.0 was released CDI implementations hadn't been build yet really (OWB, CanDI and Weld were all in progress or even just started), so maybe that couldn't have been the case. Or at the very least, maybe there was the fear that they would eventually get large and complex.

There was JSR 330 though at that same time period, which was only DI

[2018-07-09 18:22] spericas commented on #633
The CDI spec already included Events and many other features that were not needed (and was likely bigger than JAX-RS at the time).

 That is just a few annotations, would have been very confusing if JAX-RS defined different semantics for them.

 Interesting, didn’t know that.

— Santiago

[2018-07-13 05:34] #634 closed

[2018-07-13 18:02] mkarg commented on #634
Nightly builds (**Bleeding-edge CI snapshots for developers and early adopters**) to be found here since today: https://repo.eclipse.org/content/repositories/jax-rs-api-snapshots.

**These files are not intended for end-users. It is not a release.**

[2018-07-13 19:47] spericas commented on #634
Markus,

 See e-mail from Dmitry on the other thread.

— Santiago

[2018-07-15 06:46] chkal commented on #633
Maybe I'm missing something obvious here, but IMO this issue is actually about improving integration with CDI. So fixing it is an important step into the "CDI-as-only-DI world" direction. Currently implementations are not required to support CDI constructor injection which really feels weird for everyone familiar with CDI.

[2018-07-15 12:15] spericas commented on #633
Of course, but I think the original request was about the 2.2 spec. Needless to say this needs to be addressed (with all the other issues) as part of 3.0.

— Santiago

[2018-07-15 13:20] chkal commented on #633
If the real issue is the implementation complexity of combining CDI's `@Inject` with JAX-RS's `@Context` in case of mixed constructor injection, the problem gets automatically solved by eliminating `@Context` as part of 3.0. At least this is my understanding.

[2018-07-21 12:16] mkarg opened #638 "Jakarta EE 8: Release JAX-RS 2.1.1"
The Eclipse Foundation aims to provide a common Jakarta EE 8 release, which means we should release JAX-RS 2.1.1 (i. e. more or less JAX-RS 2.1 + EPL + Essential Bug Fixes + our share of the TCK, hence content of our repo's `EE4J_8` branch).

This issue serves as a place for planning and performing that release.

Issues for this particular release can be found here: https://github.com/eclipse-ee4j

[2018-07-21 12:17] mkarg commented on #638
Is somebody already preparing this?

[2018-07-23 05:50] ggam opened #639 "Deprecate @Context annotations"
Once we have a complete CDI replacement for `@Context` annotations (tentatively on 3.0), they should be deprecated as a first step before removal on a later release.

[2018-07-23 15:12] arjantijms commented on #639
@ggam isn't that replacement already available in the form of `@Inject`?

[2018-07-23 17:02] ggam commented on #639
@arjantijms I'm actually with you. I think `@Inject` could deprecate `@Context` even on 2.2, but I think there's some consensus that 2.2 is too early.

This issue is just to trigger the needed discussions to make it happen as soon as possible. For me that would be 2.2, but we need to get @Path as a bean defining annotation (perhaps via a  `@Stereotype`), which I don't see done for 2.2.

[2018-07-23 18:09] spericas commented on #638
@mkarg Yes, I can work on this one. I will be running signature tests with the TCKs to make sure we can release this.

[2018-07-23 18:42] arjantijms commented on #639
Thanks @ggam

I'm not really sure that there is much consensus that 2.2 is too early, especially when we have no idea yet when we're even able to release a 2.2.

Having `@Path` being bean defining or effectively causing beans with that annotation to be scanned is more of a nice to have than a big requirement IMHO. Might be worth it though to double check how this is done in the MVC spec with @chka

[2018-07-23 19:30] mkarg commented on #638
@spericas Great! Thanks! :-)

[2018-07-23 19:35] mkarg commented on #639
The point with 2.2 is that CDI is optional still in that release. If you want to deprecate @Context in favor of @Inject, this implies that you want to deprecate non-CDI in favor of CDI. It is a paradoxon to do that without making CDI mandatory.

[2018-07-23 20:08] arjantijms commented on #639
The idea is to have `@Context` formally deprecated by actually putting an `@Deprecated` annotation on it, and then using an `@deprecated` annotation in Javadoc pointing to the usage of CDI.

In that case, of course, CDI *MUST* be supported by the implementations. User code however that doesn't use CDI (yet) can still run unchanged, as `@Context`, even though being deprecated still works.

`@Contex

[2018-07-23 20:56] ggam commented on #639
I totally agree with you. In the last days of 2.1 I researched myself a bit
but I couldn't find a way to *portably* get @Path beans scanned by an
extension.

It is done in WildFly via propietary APIs. It's not the best solution and
it wasn't received with too much enthusiasm when I proposed it dor 2.1, but
would be a transitory solution. I opened a CDI issue related to this some
time ago: https://

[2018-07-24 11:29] mkarg commented on #639
While I understand your dreams and hopes (which I do share), just voting for a plan does not make it fulfilled in short term: You still need vendors willing to fill in human resources into that project in short term. Otherwise you would still need to wait. And so far I have not heared officially in this forum that any vendor agreed to our CDI-mandatory-for-vendors idea. So just +1'ing on the API p

[2018-07-24 14:17] spericas commented on #639
We had some earlier discussions about this already. Even if we assume that all implementations support CDI (as stated in the spec today), the transition from `@Context` to `@Inject` is not as straightforward. That is, if a developer gets a deprecated message about `@Context`, it may take more than replacing it by `@Inject` for the application to work.

As I argued before, we need to have a recipe

[2018-07-24 17:05] arjantijms commented on #639
vs

Am I the only one who sees some potentially conflicting statements there? If they're not conflicting, please explain ;) It's not a bad idea to start a vote about this.

Anyway, Payara, which uses Jersey, and to which we contribute, is in favour of CDI support in JAX-RS. If I'm not mistaken we have mentioned this before.

There's not that much for Jersey to change there anyway, as it supports C

[2018-07-24 17:10] arjantijms commented on #639
I agree, so it's a case of carefully analysing each of those.

There's a few things I'm sure we can do regardless, even when we ultimately decide not to use the `@Deprecate` annotation just yet.

For instance, saying that implementations *MUST* support CDI is quite close to what the spec already asks. I have to look up the exact wording, maybe it's even already fine as it is.

Adding built-in bean

[2018-07-24 17:13] mkarg commented on #639
@arjantijms What I wanted to tell with that statements is that I would be happy to have an official vote resulting in the fact that *the majority of the committers* wants to make CDI mandatory in 3.0, but that we have to understand that still *all vendors* have to implement CDI if not done already. For Jersey, CDI is done _in part_ (not _completely_: at least not for the _standalone_ server backen

[2018-07-24 17:14] mkarg commented on #639
I agree, but _this_ issue discusses explicitly `@Deprecate`, so all the rest of the discussion has to go in its own issue. :-)

[2018-07-24 17:15] spericas commented on #639
@arjantijms I think rather than creating more issues, and then having these isolated discussions started again, we should create a wiki and analyze all the `@Context` use cases and propose alternatives using CDI machinery. From that discussion, we should be able to create additional requirements for the spec. Any volunteers?

[2018-07-24 17:18] mkarg commented on #639
@arjantijms Maybe you simply like to open a PR that shows us how easy and safe all your ideas fit into JAX-RS 2.2? So we know exactly what you do propose.

[2018-07-24 17:21] arjantijms commented on #639
It's true that we don't want too many isolated discussions where the same things are repeated.  Definitely +1 for that.

On the other hand, there's the well known divide and conquer tactics, which of course everyone here knows about it.

Fully deprecating `@Context` is, as you mentioned, a potentially bigger task than it seems. Just doing a single part of it that can be done regardless of the othe

[2018-07-24 17:23] mkarg commented on #639
Great, thanks! Until then, I assume we will keep my initial setting that _this_ issue has to stay with 3.0 and _cannot_ be done earlier, just as I said from the start. ;-)

[2018-07-24 19:29] mkarg commented on #639
@arjantijms Sad but true, this one more proofs that Oracle & EF really have to find an agreement soon regarding the spec documents. We simple need them ASAP.

[2018-07-24 19:36] mkarg opened #640 "Support for JPMS"
# Target
JAX-RS should support JPMS.

# Granularity
* One big module?
* Cut into pieces? Which ones?

# Time Frame
* JAX-RS 2.2: Automatic-Module-Name in MANIFEST.MF
* JAX-RS 3.0: Real Modules

# Other Questions
?

**Please Discuss! I will keep the issue description updated without our concensus. :-)**

[2018-07-24 19:41] ggam commented on #640
Correct me if I'm wrong, but we can create a "big module" that in a future
release becomes just an aggregation of modules, like "java.base" and the
likes.

Then we can use multi release jars to provide a module-info.java even on
2.2.

El mar., 24 jul. 2018 21:36, Markus KARG <notifications@github.com>
escribió:

[2018-07-24 19:52] mkarg commented on #640
To provide a module-info.java in 2.2 already, we need to build it on JDK 9 always in a multi-step process (the Java 8 compiler cannot process module-info.java, and all the other files MUST stay ava 8 binaries). This is possible, but a real hack (did that for some projects). Maybe you could provide a PR for that?

I am not sure if it is possible to actually change module definitions later. Is that

[2018-07-25 08:37] asoldano commented on #639
@arjantijms @spericas +1 on creating the wiki page to deal with all @context usecases, thanks

[2018-07-25 21:41] mkarg commented on #638
@spericas I have prepared nightly builds (see #643) on EF infrastructure, just in case you're ready to commit the TCK. :-)

[2018-07-26 05:59] ggam commented on #640
Another, simpler option is to use moditect: https://github.com/moditect/moditect
I'll provide a PR when I find some time.

As long as we export the same packages and do not remove any modules (only adding), I think it will be.

[2018-07-26 08:36] NicoNes opened #644 "Clarification about SseEventSource default retry delay override"
Hi,

According to **javax.ws.rs.sse.SseEventSource** documentation, there are two ways to override the default retry delay:

- Using 503 response with RETRY AFTER header wich is a **one-time** overrride according to the doc:

- Using Retry field from received Sse event:

My question is:

Is the override of the default retry delay using Retry field from Sse event a one time override or not ?

In ot

[2018-07-26 12:50] spericas commented on #638
@mkarg :-) Thanks, I will take a look.

[2018-07-26 15:30] jansupol commented on #639
AFAIK, the Eclipse Foundation has a process that recommends a release once per 3 months (did not check). Should the 2.2 release take place in autumn and 3.0 in mid 19, I see a room for 1 - 2 additional JAXRS releases that can actually deprecate @Context (at that time the impls can have both @Context and @Inject working). I do not see an urge to do so in 2.2.

[2018-07-26 17:24] mkarg commented on #640
Please not just include a tool in the PR but also provide a complete use case. New tools bring complexity, and we should gain a benefit from that (which I do not see yet for 2.2).

[2018-07-26 18:13] arjantijms commented on #639
Given that we indeed go for 1 or 2 additional releases (say 2.3, 2.4), then I agree and we can do it in 2.3 if needed.

My main point is we can start working on it now, and whether it will be included in 2.2 or 2.3 is another question. I don't see much need to wait (e.g. until 3.0) just for the sake of waiting, especially if it's not clear what we'd be exactly waiting for.

[2018-07-26 21:01] mkarg commented on #639
Yes, you can start working on it now, and depending on when it is finished and how much breaking it really is we can decide _then_ into which development stream (next major or next minor) we have to merge it. _Until then_, the only realistic option is to deprecate in 3.0. Hence, again, _this_ issue #639) has to be on hold for the time being.

[2018-08-07 16:12] m0mus opened #649 "Release pipeline for first release"
We need to create a release CI/CD pipeline for this project.

Use these documents as a reference:

- [How to release the first Eclipse version of projects](https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects)
- [JSONP release job](https://github.com/eclipse-ee4j/jsonp/wiki/JSONP-release-job)

[2018-08-07 18:10] mkarg commented on #649
Is that two docs an offical PMC rule we MUST follow or is that just your persional proposal how the pipeline COULD work like?

[2018-08-08 09:30] m0mus commented on #649
"How to release..." document was discussed and approved by PMC. "JSONP release job" is just a sample which you can use as a reference. Feel free to do it as you wish. When it's done we will publish it as a reference as well.

[2018-08-08 16:43] mkarg commented on #649
Understood, thanks! I will look into it ASAP.

[2018-08-08 17:00] spericas commented on #649
@mkarg Jenkins jobs appear to work if started manually at least. Will you be creating the job to stage the release?

[2018-08-08 17:10] spericas commented on #649
Looking at the JSONP pom and pipeline, it may make sense to revisit the parent pom discussion. It would simplify the release if we can use org.eclipse.ee4j:project as parent.

[2018-08-08 17:14] mkarg commented on #649
That's my plan.

[2018-08-09 20:55] mkarg commented on #649
Requested GPG and OSSRH (https://bugs.eclipse.org/bugs/show_bug.cgi?id=537834). Waiting for @eclipsewebmaster to set it up.

[2018-08-15 19:45] mkarg commented on #649
Done for `EE4J_8` in #652. Keeping this issue open for `2.2-SNAPSHOT`.

[2018-08-15 19:47] mkarg commented on #638
Now that we have nightly builds in EF Nexus and the release pipeline in OSSRH set up, what is open wrt the release? TCK? Spec? Bug collections? What shall people help with?

[2018-08-15 20:07] spericas commented on #638
@mkarg With the help of @jansupol it was verified that 2.1.1-SNAPSHOT passes the TCKs. I think we should drop SNAPSHOT via a PR and start with the voting to push 2.1.1 to OSSRH (unless I'm missing some other step).

[2018-08-15 21:26] mkarg commented on #638
@spericas Sounds good, but can we wait with this final PR until the weekend? I'd like to add some of the bug fixes we merged into 2.2-SNAPSHOT. I would send you a list with the commit IDs so you can add them to your PR. Or did you already do that (I did not find any in the EE4J branch)?

[2018-08-15 21:40] mkarg commented on #649
Sonatype granted me the right to control the javax.ws.rs space, so I have the trigger for publication on The Central Repository now; now need for the EF admins anymore. :-)

@chkal FYI

[2018-08-16 05:41] mkarg commented on #649
Modified title and description as the first release is coverred by #638 already (duplicate issue otherwise).

[2018-08-16 12:08] spericas commented on #638
@mkarg I thought we had merged those when deleting 2.1.1-SNAPSHOT, but I guess they were not there. Yes, let's get those in and prepare the branch to kick off the release. I'll look for those commit IDs, but if you have them handy please paste them here.

[2018-08-16 12:13] spericas commented on #638
I believe these are the two commits:

https://github.com/eclipse-ee4j/jaxrs-api/commit/c8e9d188767778a04c547d7b24e0ce885bd3a1e9
https://github.com/eclipse-ee4j/jaxrs-api/commit/4880f9ce2f41a2c70e91dd95edd3d7fbe7ee0535

Agreed?

[2018-08-16 18:05] mkarg commented on #638
We could possibly merge more. What about adding these, too?

https://github.com/eclipse-ee4j/jaxrs-api/commit/82496b3d76f8339af444700ed8a2f540401310e4
https://github.com/eclipse-ee4j/jaxrs-api/commit/a292276056f0a8d938a62ec2abd3a9d3d07baec9
https://github.com/eclipse-ee4j/jaxrs-api/commit/a046a50d0dfc60c8e24002aa7a437b20ddcc9e91
https://github.com/eclipse-ee4j/jaxrs-api/commit/e781b332843f00c8776c

[2018-08-16 18:45] spericas commented on #638
@mkarg I have the last two ready in my fork. The other ones are OK except for e781b33 since I believe there was some discrepancy in the implementations and moving from 2.1 to 2.1.1 should require no changes IMO.

[2018-08-16 20:12] mkarg commented on #638
@spericas Agreed, let's keep e781 out. Ok, so after few cherry-picks on your side we're ready to release, right? What about that EF release review stuff, is that ready or shall I prepare something?

[2018-08-16 20:46] mkarg commented on #649
Closing this issue as the pipeline is set up and tested (Jenkins signed and pushed 2.1.1-SNAPSHOT to OSSRH/snapshots repository).

[2018-08-16 20:46] #649 closed

[2018-08-17 15:18] spericas commented on #638
@mkarg The commit message for this one:

https://github.com/eclipse-ee4j/jaxrs-api/commit/82496b3d76f8339af444700ed8a2f540401310e4

mentions version 2.2. I sort of understand why and would suggest that we leave it out as well for 2.1.1. Other than that, the PR is ready on my end.

[2018-08-17 15:48] mkarg commented on #638
That was a typo. Actually it should read "According to JAX-RS 2.1 specification". So we could add it to 2.1.1.

[2018-08-17 21:07] spericas commented on #638
@mkarg Ok, PR has been submitted.

[2018-08-24 17:30] mkarg commented on #638
Release staged on OSSRH and passed validation: https://ci.eclipse.org/jaxrs/job/Publish%20Release/11/.
Next step is IP Approval and Release Review, according to https://docs.google.com/drawings/d/1ZoEf7lvzBOB1PIq7q7JdFbTvTlAgzCkvIiEDH-CYJL4/edit.

[2018-08-24 18:47] spericas commented on #638
@mkarg My understanding is that we are on step 6 here:

https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects

So just need to kick off a new release on our project page. I'm confused about the IP Approval that you mentioned. What is that?

[2018-08-25 07:44] mkarg commented on #638
@spericas I assume the term "IP Approval" found in the chart means step 9 in Dmiry's list.

[2018-08-27 13:25] mkarg commented on #638
@spericas Ok, just ping me when I shall do something.

[2018-08-27 13:29] spericas commented on #638
https://projects.eclipse.org/projects/ee4j.jaxrs/releases/2.1.1

@mkarg Do you have full access to view and edit the release?

[2018-08-27 15:08] mkarg commented on #638
@spericas Yes, I could press "Save" (without changing anything) and it says "Updated release".

[2018-08-27 17:36] spericas commented on #638
@mkarg Great, I filled out some basic info about the release now. If you want to start with (2) and (3) from your list, go ahead. Otherwise, I'll get back to this later.

[2018-08-27 17:43] mkarg commented on #638
Okay I will do (2) and (3).

[2018-08-27 17:50] mkarg commented on #638
@spericas (2) is done (https://projects.eclipse.org/projects/ee4j.jaxrs/releases/2.1.1/iplog/preview; https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17366).

[2018-08-27 17:56] mkarg commented on #638
@spericas (3) is done (https://projects.eclipse.org/projects/ee4j.jaxrs/reviews/2.1.1-release-review; mail sent to PMC and EMO)

[2018-08-28 07:38] mkarg commented on #583
Closing this issue, as it has been fixed in 2.1.1.

[2018-08-28 07:38] #583 closed

[2018-08-28 13:27] mkarg commented on #638
@spericas (2) IP log is approved. http://dev.eclipse.org/ipzilla/show_bug.cgi?id=17366

[2018-08-30 13:49] mkarg commented on #638
@spericas (3) PMC has approved release 2.1.1. Still waiting for EMO approval (review still is in pending state)

[2018-09-06 14:46] mkarg commented on #638
@spericas (3) EF release review is successfully finished since yesterday (https://bugs.eclipse.org/bugs/show_bug.cgi?id=538340), so as announces I will technically release JAX-RS 2.1.1 to Maven Central on 2018-09-10. If you know any showstoppers then please let me know, otherwise this is the point of no return, as we cannot remove or update artifacts on Maven Central.

[2018-09-06 16:31] spericas commented on #638
@mkarg No showstoppers that I know, green light!

[2018-09-08 22:00] mkarg commented on #638
@spericas Pressed the button. It will take a while to sync. Should be available at The Central Repository on Monday (or even on Sunday).

[2018-09-08 22:11] mkarg commented on #638
@spericas Wow, sync was pretty fast: Building Jersey mvn tells me `Downloaded from central: https://repo.maven.apache.org/maven2/javax/ws/rs/javax.ws.rs-api/2.1.1/javax.ws.rs-api-2.1.1.jar (127 kB at 220 kB/s)`!

**Closing this issue with your kind permission, as this proofs we just successfully published our first release!**

[2018-09-08 22:11] #638 closed

[2018-09-09 06:05] chkal commented on #638
Awesome! Thanks @mkarg!

BTW: AFAIK the sync to Maven central only takes about one hour. But the update of the search index on search.maven.org takes much longer.

[2018-09-10 07:45] amihaiemil opened #657 "Default Overview of a JAX-RS bean"
HATEOAS is one of the most important principles of a RESTful API and this includes navigability. I always like to use the following metaphor: when navigating a RESTful API from the browser, the user should get the feeling that they are playing with a poorly loaded website, which only displays the HTML structure and links, without any CSS.

This said, take the below JAX-RS class:

[code]

From my e

[2018-09-10 13:43] spericas commented on #638
Awesome, great job!

[2018-09-10 17:37] mkarg commented on #657
-1

* What you propose it is just syntactic sugar ontop of something you can already achieve without it, so there is neither a real need for a _specification_ nor a _substantial_ simplification of the achieved task.
* Your proposal enforces _exactly one particular_ solution, but other programmers might like to have a _different_ solution for the same problem (interface self-description aka resourc

[2018-09-11 07:04] amihaiemil commented on #657
@mkarg

Well, the fact that it's easy to implement is not an argument. Most developers don't even understand what REST actually is. I suppose you know [this](http://roy.gbiv.com/untangled/2008/rest-apis-must-be-hypertext-driven) famous rant of Mr. Fielding. Also, [here](https://www.amihaiemil.com/2017/05/03/test-driven-rest.html) are my (more elaborate thoughts on it.

So, even if it's simple to i

[2018-09-11 21:02] mkarg commented on #657
@amihaiemil I well understand your point, but frankly spoken, your arguments still do not convince me. In particular the idea seems to be incomplete. Maybe you like to hack a PoC which demonstrates how OPTIONS and GET alternatives work together, and in particular, how GET (your solution) and GET (any other solution) work together? I mean, this smells like the need for a solution provider in the en

[2018-09-12 22:04] mkarg commented on #638
Tagged as "2.1.1" so it shows up in Github "Releases" view now.

[2018-09-13 04:41] chkal commented on #636
I guess this is caused by JDK11 not including JAXB any more, so the following config doesn't work any more:

https://github.com/eclipse-ee4j/jaxrs-api/blob/5ca037f209e916e4fff9df647ef0055dc9722b6b/jaxrs-api/pom.xml#L130-L135

[2018-09-13 04:51] mkarg commented on #636
Right, simply *enabling* `javax.xml.bind` will *definitively* not work anymore on JDK 11. We must replace it by a Maven dependency on JAXB 2.3.1 or JAXB 2.4.0-SNAPSHOT. I assume the scope should be `provided`?

[2018-09-13 07:02] chkal commented on #636
AFAIK the dependency is only required for the tests, so `test` would be a better fit.

BTW: I don't think it is a good idea to always add JAXB as a dependency, because it may cause weird effects with JDK8. So perhaps we should use profiles?

  * JDK8: No JAXB dependency and no `--add-modules` for surefire.
  * JDK9+: Add JAXB dependency and no `--add-modules` for surefire

Thoughts?

[2018-09-13 11:35] amihaiemil commented on #657
@mkarg I only mentioned ``OPTIONS`` or others because you brought it on the table. :D

I personally think a GET would be enough, since it's the simplest, most intuitive way of seeing the APIs overview. It would be primarily for human usage (let's call it like this): developer reads it from the browser, same as they use Swagger.

The described polymorphim is just how I'd do it now. If JAX-RS had th

[2018-09-13 14:13] spericas commented on #636
+1 for profiles.

— Santiago

[2018-09-13 20:44] andymc12 commented on #596
@spericas I think the main use case is third party products (like MicroProfile OpenTracing, Metrics, etc.) that want to plug-in to JAX-RS clients.  Today, when a third party utility like Metrics wants to track how often a particular URI is invoked, it has to find a vendor-specific API to register itself - or else the user must explicitly register the provider.

In many scenarios, you may have a de

[2018-09-13 21:31] mkarg commented on #657
@amihaiemil Jersey, just to name one, already provides such a self-description using WADL, but on a different path. So what you propose is incompatible. How to solve this discrepancy? Someone now needs to make WADL go away and implement your counter proposal. Why should he? Who pays for that, and who has the actual benefit? Your solution is just, different, but IMHO not any better than what Jersey

[2018-09-13 21:36] mkarg commented on #636
+1 for profiles. I have to go deeper into the code to see whether really only the tests are in trouble or whether we e. g. have a reference in Javadocs, too.

[2018-09-13 21:49] mkarg commented on #596
Sorry for chiming in late. Maybe I missed the point, by why can't we simply do something like `ClientBuilder.autoRegisterFeatures()...` which simply would find all `Feature`s on the classpath and _those_?

[2018-09-14 05:35] chkal opened #659 "Clarify if ReaderInterceptor must be applied without an entity parameter"
Given the following interceptor:

[code]

And a resource like this:

[code]

In this scenario JAX-RS implementation aren't consistent regarding whether the interceptor is invoked or not. This should be clarified in the spec.

The original use case is the CSRF protection implementation in the JSR 371 RI. It uses a special [ReaderInterceptor](https://github.com/mvc-spec/ozark/blob/0c5a4990f7cd43a648

[2018-09-14 05:53] mkarg commented on #659
**Proposal**: We change the spec in 2.2-SNAPSHOT so it is clear about the fact that an interceptor MUST NOT be called around parsing the _HTTP entity_, but it MUST be called around invocation of an _MessageBodyReader_ ONLY. Would that be sufficient?

[2018-09-14 06:06] chkal commented on #659
No! :smile:

See my latest response on the mailing list.

[2018-09-14 06:32] amihaiemil commented on #657
@mkarg I see, thanks for the thorough explanation. I'll try to see what the Jersey guys say :)

[2018-09-14 10:33] arjantijms commented on #657
@amihaiemil I'm technically one of the Jersey guys (albeit a rather new one), but I'd personally say that if the proposal to add HATE OS to JAX-RS is accepted, then surely I'd like to look at implementing it in Jersey (according to the JAX-RS API/specs). However, I'd personally don't see any merit in implementing HATEOS specifically for Jersey in a proprietary way.

Of course I'm only one voice an

[2018-09-14 13:56] spericas commented on #659
Personally, I feel that interceptors should be called regardless of how data is bound in a JAX-RS application. The JAX-RS processing pipeline (see spec appendix) **_should not_** be affected by a developer's choice of @FormParam or @Form or any new binding annotation we define in the future. If there's an **_HTTP_** entity that needs to be processed, there must be a reader/writer and an intercepto

[2018-09-15 07:57] mkarg commented on #659
Unfortunately this is not what JAX-RS 2.1 specification says currently:

This is pretty *unambiguous* about the fact that *only* entity parameters are to be created by MBRs, and that `@FormParam` is *not* an entity parameter. So in turn, `@FormParam` *prevents* invocation of MBRs (and ReaderInterceptors).

This does *not* require that MBR (and ReaderInterceptor) is to be called, and IMHO it does s

[2018-09-15 08:01] mkarg commented on #659
Having said that: The former is only valid in the context of v2.1.2 *clarifications* . I am +1 for rephrasing the mentioned paragraphs in v3.0 as a separate *enhancement issue*, so vendors and third party extension providers have a chance to get comfortable with the new situation then (i. e. explicitly *mandating* invocation of MBRs and Interceptors for non-3.3.2.1 entity parameter use cases, incl

[2018-09-15 09:46] chkal commented on #659
I disagree.

This section states that:
* An entity parameter is a parameter not annotated with one if the `@*Param` annotations.
* The value of an entity parameter is created by invoking a corresponding entity provider.

It does **not** state that:
* The entity provider MUST only be invoked if there is actually an entity parameter for the matched resource method.

So in my view it would be perfect

[2018-09-15 11:28] mkarg commented on #659
You are wrong here. 3.3.2.1 explains what to do with entity parameters. It is part of a list describing the contents a resource method signature is comprised of. Please do not cut single lines out of context. MBRs had been invented solely to provide a means to build entity parameters, nothing else. As I said, we can change that, but for now, it is simply a clear misuse by seeing it out of context.

[2018-09-15 12:02] mkarg commented on #636
I can certify that Christian's assumption was absolutely right, and that the cause *definitively* is the excession of JAXB out of the JRE since version 11:
[code]

I'll now provide a PR with a profile-base fix, unless someone else tells me he already started this.

[2018-09-15 16:09] chkal commented on #636
I was planning to prepare a PR in the next days. But I didn't start yet. So if you find some time to work on this, go ahead! That would be awesome!

[2018-09-15 16:19] mkarg commented on #636
Done in private fork. But now it fails with missing Java Activation Framework. Heck! Why do we need JAF?!

[2018-09-16 13:48] mkarg commented on #636
Found out that we need JAF because JAXB needs it, but the JAXB POM does not contain this dependency (in latest = 2.3.0). I checked current SNAPSHOT for JAXB (2.4.0) and it seems they solved that. So I assume we can remove the dependency once JAXB 2.4.0 is published.

[2018-09-17 12:59] chkal commented on #659
Don't get me wrong. My suggestion definitely goes beyond a simple clarification. Although I think that adding it in 2.x may work.

I don't get this. Why would the suggestion allow multiple MBRs to be executed? If there are `@FormParam` annotations, the entity parameter (if any) must be a `Form`. So there will be only one MBR involved.

[2018-09-17 14:07] spericas commented on #596
All,

 [+1] I generally agree with using the service loader mechanism for this auto config feature

 [-1] Using a class scanning mechanism would be very time consuming, especially in a server environment

— Santiago

[2018-09-18 16:34] andymc12 opened #661 "module-info.java needs "uses" clause"
While working on PR #658, I noticed that the existing module-info.java for 2.2 does not have a `uses javax.ws.rs.client.ClientBuilder;` clause which should be required in order to support `ServiceLoader` lookups of the ClientBuilder implementation in JPMS.  We may also need similar clauses for `RuntimeDelegate`, etc.

This issue should be considered a sub-task of issue #640.

[2018-09-19 05:43] mkarg commented on #661
Thanks for this great bug fix! :-)

[2018-09-19 10:45] m0mus opened #663 "Change Maven coordinates"
All current API libraries shipped must be distributed to Maven Central under a sub-package of the `jakarta` groupId. Before the first release Maven coordinates of this project must be changed as it's described [here](https://github.com/eclipse-ee4j/ee4j/wiki/New-Maven-Coordinates).

[2018-09-19 11:34] mkarg commented on #663
1. Your issue description talks in particular about groupId, but the reference page also talks about artifactId. Is my assumption correct that the needed change *includes* also the artifactId?
2. Does this imply that JAX-RS MUST do this change for EE4J_8, and it is *not* early enough to do it EE4J_9?
3. Is this a final and official PMC decision?

[2018-09-19 12:03] amihaiemil commented on #657
@mkarg I opened an Issue to the Jersey repo, pointing here. I also opened one for RestEasy (they manage tickets in Jira, unfortunately, so no Github reference).

[2018-09-19 12:07] mkarg commented on #657
@amihaiemil So you now start implementing Jersey / RESTeasy or what is your next step?

[2018-09-19 12:10] amihaiemil commented on #657
@mkarg Well you said that a vendor should implement it first before it can be made a standard, so I asked Jersy and RestEasy about it, right? To my knowledge, they are the biggest vendors for JAX-RS.

[2018-09-19 13:51] m0mus commented on #663
1. Both groupId and artifactId have to  be changed.
2. Must do it for EE4J_8. I share your concerns about 'too early', but it was the spec committee decision.
3. Oct 22
4. It was the spec committee decision. Yesterday of the steering committee meeting I'd got a clarification that it must be done.

[2018-09-19 13:59] asoldano commented on #657
@amihaiemil , how about a link to the jira you created?

[2018-09-19 14:09] amihaiemil commented on #657
@asoldano Right, here it is: https://issues.jboss.org/browse/RESTEASY-2022

[2018-09-19 14:11] mkarg commented on #663
Ok, thanks. I will skip the diskussion whether the steering committee has the power to give the PMC commands and provide a PR asap. ;-)

[2018-09-19 19:51] spericas commented on #663
I respect the decision, but wish this would have been enforced post EE4J_8.

— Santiago

[2018-09-19 20:34] rmcdouga opened #667 "Implementation Page - Links to project pages instead of source code repos"
Wouldn't it be more useful to link directly the various project websites rather than to the underlying github repositories?

For example, the page currently links to the Jersey github project page instead of the Jersey website ([https://jersey.github.io/](https://jersey.github.io/)).  Oddly, the project page does not link to the web site either, instead choosing to link to the Eclipse page.  This

[2018-09-19 22:31] m0mus commented on #663
@spericas I agree and exposed my concerns to PMC. It's not been heard.

[2018-09-20 19:07] NicoNes commented on #606
Any answer guys ?

[2018-09-20 21:14] andymc12 commented on #596
All, I know that @johnament opened this issue, but after chatting with @pavolloffay from the MP Open Tracing community, it seems like Open Tracing would benefit from a listener being invoked on creation of a new `Client` rather than a new `ClientBuilder`.  The main reason is that OT needs to manipulate the executor service specified on the `ClientBuilder`.  If the user then sets a new executor ser

[2018-09-21 05:45] mkarg commented on #659
I  am neither +1 nor -1 about the *next major* specification implying changes to existing implementations, mandating the invocation of a MBR in case of no entity parameter being there. For me it is ok if we clearly say in 3.0 that a `MBR<Form>` (and any interceptors around that) MUST be invoked to feed @FormParam. Unfortunately this is not up to personal preferences but first about what the *curre

[2018-09-22 10:57] mkarg commented on #667
Thank you for this enhancement proposal. I have modified [the wiki page](https://github.com/eclipse-ee4j/jaxrs-api/wiki/Implementations) so now you will find separate links for project web site and project source code.

[2018-09-22 10:57] #667 closed

[2018-09-22 17:28] rmcdouga commented on #667
You're welcome.  Thanks for making the change!

[2018-09-23 14:19] mkarg commented on #636
PR #660 is in second review week but has not enough approvals. I hope somebody chimes in and approves it besides myself, so I could effectively merge it next week.

[2018-09-24 13:35] spericas commented on #596
@andymc12 In theory, multiple (but not too many) `Client`'s should be created from a single `ClientBuilder`. Moving this rather time consuming logic to the creation of each `Client` seems like a step back to me.

Perhaps someone could explain the OT use case in a bit more detail. Who's creating the `ClientBuilder`? Could it be addressed by ordering the listeners? (Not a suggestion, simply trying t

[2018-09-24 13:48] spericas commented on #659
What? This does not make any sense. The pipeline includes pre and post-matching filters. There is always a pipeline.

AFAICT, there's a single implementation that has decided to optimize this. As as I stated, the optimization should still valid when no interceptors are available. I think this is a rather simple clarification.

@andymc12 Would it be possible to suggest to the CXF team to only optim

[2018-09-24 15:30] pavolloffay commented on #596
@spericas The main concern is around overriding executor service. Tracing integration can consist of these parts:
1. propagate a context (threadlocals) from parent thread to filters
2. filter which is invoked per request
3. (auto) registration/installation of all above

The listener on `Client.onBuild()` helps with 1. and 3. The listener  `ClientBuilder.onCreate()` also solves the problem but if u

[2018-09-24 16:13] spericas commented on #596
@pavolloffay Is it possible for the OT implementation to detect the condition and abort with an explanation of the problem? As I said above, this is not a new condition, many JAX-RS integrations can be affected by users updating the processing pipeline in unexpected ways. As long as frameworks can detect the problem and inform the user, I don't see a problem.

[2018-09-24 16:53] andymc12 commented on #606
@spericas that was my recollection also.  I'll try to have a PR to "spec-ify"  this behavior soon (hopefully by the end of the week).

[2018-09-24 19:02] pavolloffay commented on #596
In this case no. There is now way to know if context is not-propagated because somebody has overridden `ExecutorService` or because there wasn't context.

This is very ugly issue. Broken traces are hard to detect!

Tracing can be also e.g. priority on the filter, and that is ok and expected. But this issue with executor service is nasty and It would be a major improvement to provide an API in JAX-

[2018-09-24 20:10] pavolloffay opened #668 "Context propagation for async client"
A JAX-RS provider can depend on context propagation. This context is propagated betewen threads via thread locals. An example use of such context can be found in tracing integration.

Parent tracing context e.g. one which represents server request has to be available in client filter when creating an outbound request in order to wire them together. At the moment this is typically done by wrapping

[2018-09-24 20:17] andymc12 commented on #659
@spericas It looks like CXF uses the method signature to determine how to process in the incoming request. I'll continue to investigate an approach that allows CXF to invoke interceptors and MBRs in this scenario, but at this point it looks non-trivial.

That said, I think Markus's interpretation is correct.  The text in section 3.3 of the spec talks about the parameter values determining the proc

[2018-09-25 10:46] keilw opened #669 "Travis Build badge seems broken"
While the last build looks OK on Travis, the build badge still keeps saying "error", both in the README file and in Travis itself. What causes that and how can it be resolved?

[2018-09-25 11:41] mkarg commented on #669
I doubt there is anything we can do about that. The badge ist neither created nor stored by is, it is simply a link to Travis.

[2018-09-25 12:12] mkarg commented on #669
I checked that with Travis. The Travis CI page of JAX-RS (https://travis-ci.org/eclipse-ee4j/jaxrs-api) shows also a build failed batch. So your issue is invalid. I think what you noticed simply is a refresh / timing problem of Travis CI itself.

[2018-09-25 12:12] #669 closed

[2018-09-25 13:45] keilw commented on #669
Sometimes even different branches can cause weird behavior. Some badges are very buggy and broken, e.g. the javadoc.io one can't handle a "EDR" prefix ;-( I hope you consider also pointing to Jenkins in addition to that?

[2018-09-25 14:36] spericas commented on #659
Ok, great.

I don't think that is what it is saying. I interpret it as "If there's an entity parameter then an entity provider must be used". That is certainly not logically equivalent to "If there's NO entity parameter then NO entity provider must be used". In other words, you cannot go from A->B to not(A)->not(B).

[2018-09-25 14:40] pavolloffay commented on #596
This is a very good point. if the `ClientBuilder` Implementation provides a getter on the executor service it can be done otherwise OT listener overrides it. It's not ideal we should be a way to reliably propagate the context. #668

[2018-09-25 14:54] mkarg commented on #669
Feel free to send a PR.

[2018-09-26 03:38] kwhat commented on #627
So, when is 2.2 being released so I can stop dealing with this problem.

[2018-09-26 03:55] chkal commented on #659
+1! That was also my interpretation. Of course the spec states that you need an MBR if there is an entity parameter. But saying that this implies that you must not invoke the MBR if there is no entity parameter doesn't make sense.

However, I agree that my proposal (2) may be more than a simple clarification. However, I strongly believe that my proposal makes sense and leads a much more consistent