[2018-09-26 05:05] mkarg commented on #659
Again, I have no problem with making MBR invocation mandatory in the _future_, but for the sake of a *clarification* we have to stick with the *original intention* of the spec authors. And that original intention simply *is method invocation*: See Appendix C. It clearly shows that interceptors and MBRs _only_ are invoked for the sake of method invocation, and method invocation is clearly described

[2018-09-26 05:17] mkarg commented on #627
I am sorry to say there is no fixed deadline for 2.2, as this depends on ongoing negotiations between Oracle and the Eclipse Foundation.

@spericas @chkal Do you think it would be safe to merge #628 also into `EE4J_8`?

[2018-09-26 13:51] spericas commented on #596
What if the `ExecutorService` in use was accessible from the `ClientRequestContext` available in the filter? Could that be used together with the proposed `ClientBuilderListener`?

[2018-09-26 13:56] spericas commented on #627
@mkarg We had to provide a pretty detailed explanation of all the changes that went into EE4J_8 for 2.1.1. I'd rather not check more changes into that branch.

[2018-09-26 14:47] pavolloffay commented on #596
so `ClientRequestContext.getExecutorService()`. I don't think so it would solve the problem. The filter can be already invoked on different thread so we are not able to get context stored in thread locals from parent thread.

[2018-09-26 17:46] mkarg commented on #627
@spericas Understood. As I was not involved in that part of the release so dumb question: Did you have to manually write a report or how was this step performed?

[2018-09-27 03:47] chkal commented on #659
Well, of course the MBR pipeline is optional. But my understanding of the "optional" was actually that you can only invoke the MBR pipeline if there is a request body. Of course you cannot invoke it for GET requests, so the MBR pipeline is **optional**.

But anyway, I think it is pretty obvious that the current spec wording isn't clear enough. As @andymc12 already mentioned: Otherwise this discuss

[2018-09-27 14:59] spericas commented on #659
That is exactly right.

 Agreed with @chkal and @andymc12 on this one.

 As I stated before, I very much agree with option (2).

[2018-09-27 15:01] spericas commented on #596
I meant as a way to detect if it the executor had been replaced by the user. In any case, if you have a proposal that works, let's review it.

[2018-09-27 15:15] spericas commented on #627
@mkarg It was a manual process. Nothing it could not be done again, of course.

[2018-09-27 15:30] pavolloffay commented on #596
@andymc12 in https://github.com/eclipse-ee4j/jaxrs-api/issues/596#issuecomment-423335514 proposed something.

Other proposal is might be to create callbacks (before, at, after) when context is switched to different thread.

[2018-09-27 17:12] mkarg commented on #627
@chkal +1
@spericas What do you think?

[2018-09-27 17:14] mkarg commented on #659
+1 for separate issue with a clear proposal what the spec / Javadocs shall be changed like

[2018-09-27 17:21] mkarg commented on #596
I do not understand why you want to use threadlocals instead of simply tagging a request using its properties bundle?

[2018-09-28 06:30] pavolloffay commented on #596
Tracers use so-called SopeManagers to propagate context between multiple instrumentations (e.g. server filter and client filter) in order to correlate spans.

Passing context/span manually is inconvenient especially in languages with thread locals. We cannot ask developers to pass the context manually around.

[2018-09-28 15:55] mkarg commented on #596
Neither can you expect that all vendors of all libraries and applications on earth are forwarding the threadlocals from one thread to the next when using complex thread interactions internally. What will you do in case the application does not pass just a thread pool but actually an *essential application-specific  functionality* to `executorService`? This is pretty valid, and your executor servic

[2018-09-29 14:01] #636 closed

[2018-10-01 08:34] pavolloffay commented on #596
This is not about propagating the context between all interactions but rather making sure that _only_ providers in JAX-RS can get context from caller thread. This is very important for distributed tracing integration and I guess it's been well described here. Here is an example how is it done in MP rest client https://github.com/eclipse/microprofile-rest-client/blob/master/api/src/main/java/org/ec

[2018-10-02 04:04] chkal commented on #596
@mkarg While I actually love the idea of having some kind of unified extension API for both the server and the client side, I wonder if there isn't some weird overlapping (at least conceptually) with existing mechanisms like `Feature` and `DynamicFeature`. Just thinking out loudly here.

[2018-10-02 05:01] mkarg commented on #596
@chkal The difference between `Extension` and `Feature` / `DynamicFeature` is that the latter are API while the first one is SPI. So for example, that "Auto-Detection" that some platforms provide would be an extension, and that extension would provide the API features. The existing overlap is there because it was not invented earlier. We should take the chance now so we can clearly remove the sect

[2018-10-02 11:06] m0mus opened #672 "Incorrect spec-version plugin configuration"
I found the following configuration of `spec-version` plugin in `EE4J_8` branch:

[code]

It seems wrong to me.

1. `<apiPackage>${project.groupId}</apiPackage>` equals to `jakarta.ws.rs` which is wrong. API package name must stay `javax.ws.rs` because the actual Java package is not changed.

2. `<version>1.4</version>` is outdated. The new version properly working with `jakarta` groupId is 1.5. I

[2018-10-02 13:39] spericas commented on #659
@mkarg Sure, let's create another issue. Hopefully others will get involved in the discussion and we can move this forward.

[2018-10-02 13:53] spericas commented on #596
@mkarg IMO, extensions like these are more elegantly implemented using CDI, for example, using events. Since CDI is on our roadmap for 3.0, I don't think we should go as far as adding a whole new SPI for this purpose at this time.

[2018-10-02 16:36] #672 closed

[2018-10-02 16:44] m0mus commented on #663
Any reason why groupId was changed only in `EE4J_8` branch and not in `master`?

[2018-10-02 17:15] mkarg commented on #596
@spericas Agreed, but in turn this means it also makes no sense to provide new SPIs at all - including the one this issue talks about, and the one Andy drafted.

[2018-10-02 17:38] mkarg commented on #672
Can you please point out why plugin version 1.5 is essential? The build looked good to us with 1.4. Thanks. :-)

[2018-10-02 17:46] mkarg commented on #663
The reason is that *once the release is performed* (i. e. `EE4J_8` will become *static*) I am merging all changes from `EE4J_8` back into `master` in *one single* merge action.

[2018-10-03 09:06] m0mus commented on #663
Sounds good, so I am closing this task.

[2018-10-03 09:06] #663 closed

[2018-10-03 09:29] mkarg commented on #663
Actually **I** am the assignee of this task, and I left it open *by intention* to remember merging it into master. I really do appreciate your dedication and understand your time pressure, but see, acting hastily within a project without respect for the partcular governance structure of a project implies a bit of chaos for us others. I cannot check the open issues anymore now, so your positive int

[2018-10-03 12:55] chkal commented on #596
Good point. I really like the CDI extension model. And I would love to see something similar for JAX-RS.

And I agree with @mkarg. If we want to define some kind of extension model based on CDI in JAX-RS 3.0, it would be weird to define a new SPI using the JDK's `ServiceLoader` today.

[2018-10-03 13:10] arjantijms commented on #596
@chkal

As I think you encountered for MVC 1.0, there's a similar issue with features on the server side. Features can only be registered via an annotation, but if the MVC jar is on the server itself (as opposed to being in the war), it won't be scanned for annotations.

[2018-10-03 13:30] spericas commented on #596
@chkal @mkarg Although I agree that we should not introduce a full-blown SPI at this point and wait for a CDI-based alternative down the line, I also believe that Tracing is becoming an increasingly important use case with microservices. Thus, if there's a simple extension that we can introduce for that purpose now, I would support that as well.

[2018-10-03 13:34] arjantijms commented on #596
@chkal

I actually had the exact same problem. I implemented MicroProfile JWT, which is 99.999% using standard Java EE APIs. Only to registering a necessary JAX-RS Feature for when the jar is part of GlassFish or Payara I had to use that.

Hmmm, I wonder what the best way forward is for standardising `ForcedAutoDiscoverable`, especially in the context of the Client Features as well.

[2018-10-03 14:01] chkal commented on #596
I agree. The bootstrapping and registration of providers was one of the major aspects for the MVC RI for which implementation specific solutions were required.

I agree that we should think carefully about how the current situation can be improved and how we want to handle new SPIs. Both for the server and for the client.

My 2 cents: Although I really like CDI and the CDI extension model, I also

[2018-10-03 16:27] mkarg commented on #596
So we're back where we started: We need an SPI `Extension` interface which essentially uses `ServiceLoader` to enforce auto discoverable, and we do not want to wait until CDI is here. :-)

[2018-10-03 17:05] chkal commented on #596
Maybe! This is just my opinion. I would love to hear other thoughts about it.

[2018-10-06 10:38] mkarg commented on #587
PR #677 would reduce the actual number of checkstyle errors from 260 to 50, so I think it would be a good thing to continue the open discussion in #601 and replace "historic Oracle style" by "EE4J style" as the next measure w.r.t #587.

[2018-10-07 06:28] chkal commented on #601
I would be fine with applying the EE4J code formatting rules.

BTW: You can find the formatting rules [here](https://github.com/eclipse-ee4j/ee4j/wiki/Code-Conventions).

I don't think this is a good idea. If we agree on a code format, then we should apply it NOW. Of course we have to find some good time slot for this as it may affect pending pull request, but I'm pretty sure that this is doable.

[2018-10-07 06:46] mkarg commented on #601
I understand your concerns, and that's why I wanted to format the stuff *back in March*, when we had only one or two small open PRs. Also I think *after* 2.2 would be better because 3.0 will imply a lot of huge changes at all, so we could do at as the very first action after merging all open PRs into 2.2 and before accepting any PRs against 3.0. But OK, we could also do it now if it is wanted so u

[2018-10-07 08:04] wesleyegberto commented on #601
Hi

I would like to know if anyone has checked the Eclipse settings I'd provided [here](https://github.com/wesleyegberto/jaxrs-api/tree/master/etc/ide_config)

As pointed by @chkal, some details may differ between IDE's.

So I will setup and export the settings from those IDE's after double check each rule.

If @arjantijms provides his settings, which were used in his [PR](https://github.com/eclip

[2018-10-07 09:00] mkarg commented on #601
Arjan,

thanks for the settings. I will ask the PMC to put them into their wiki.

-Markus

From: Arjan Tijms [mailto:notifications@github.com]
Sent: Sonntag, 7. Oktober 2018 10:21
To: eclipse-ee4j/jaxrs-api
Cc: Markus KARG; Mention
Subject: Re: [eclipse-ee4j/jaxrs-api] Formating Rulesets for IDEs (#601)

@chkal <https://github.com/chkal>

I think applying the new rules as soon as we agreed on them

[2018-10-07 11:11] wesleyegberto commented on #601
I just pushed [here](https://github.com/wesleyegberto/ee4j-cc-ides-configs) an initial setup with @arjantijms settings with a small change to reflect one section from Sun's CC.

The settings available are for Eclipse and IntelliJ, I will configure now for Netbeans.

[Here](https://www.diffchecker.com/gCpyOiTN) is a diff comparing the formatted code from Eclipse (on the left) and IntellijJ (on the

[2018-10-07 11:41] mkarg commented on #601
@wesleyegberto I do not understand what you do currently as the discussion came to the current end that we will upload Arjan's changes to the EE4J wiki, which I already initiated. So please send your changes *there*. Thanks.

[2018-10-08 05:30] mkarg commented on #627
@kwhat I think you can be happy: I just published JAX-RS 2.1.2 on [Maven Central](https://search.maven.org/artifact/jakarta.ws.rs/jakarta.ws.rs-api/2.1.2/bundle) **including** the fix you requested. :-)

[2018-10-08 13:28] spericas commented on #601
@chkal I agree with the use of the EE4J rules for 2.2.

[2018-10-08 13:33] spericas commented on #627
@mkarg Great!

[2018-10-08 20:07] andymc12 commented on #659
In one of @chkal's [comments](https://github.com/eclipse-ee4j/jaxrs-api/issues/659#issuecomment-421546594), there was the issue that CXF was showing different results for an `@FormParam` parameter than the same form property in the `Form` entity parameter.  I agree that this is a bug, and we are fixing that in the CXF code base.  This will get CXF to option (2).

Please note that there is still th

[2018-10-10 15:44] FroMage commented on #668
That sounds related to [MP-Concurrency](https://github.com/eclipse/microprofile-concurrency) which provides context propagation, based in part on what [RESTEasy does](https://github.com/resteasy/Resteasy/blob/master/docbook/reference/en/en-US/modules/Reactive.xml#L375) with [Reactive Contexts](https://reactiverse.io/reactive-contexts), where contexts are propagated automatically to RxJava pipeline

[2018-10-10 15:47] FroMage commented on #639
Last time I checked, CDI did not support injecting in method parameters, where `@Context` had to be used. Did that change?

[2018-10-10 16:02] FroMage commented on #639
Sorry I just now realised that was discussed already here and in #569. My personal opinion is that method param injection alone is a good reason to keep `@Context` because moving to a field injection is more verbose, less local, and potentially more costly because not every method need every injected field, not to mention more messy with variable proliferation.

As an added benefit we have with `@

[2018-10-11 07:44] FroMage commented on #639
Well, yes we can do the injection ourselves for method parameters, but I'm not sure we can do async injection for fields anymore if CDI is in charge. I'd have to check that.

[2018-10-11 17:42] arjantijms commented on #639
@fromage what’s an async injection?

[2018-10-11 18:59] FroMage commented on #639
What I described above, which is _very_ useful in reactive programming:

[2018-10-11 20:06] spericas commented on #639
What is the use case for that?

[2018-10-11 22:46] arjantijms commented on #639
Does it mean that when there's a producer for say `Future<Bar>` you can `@Inject Bar bar`?

[2018-10-12 04:50] mkarg commented on #639
IIUC the asynchronity simply calls the *producers* in a parallel way, so it does not really *inject* parallel? Or is the injected value actually just a "laziness wrapper" of the same type which effectively calls the *producers* at the time of first access?

[2018-10-12 07:16] FroMage commented on #639
Well, no, that's much less useful because `Future` is blocking async: you can't register a listener for it: you have to block the current thread to wait for it, which is not usable in reactive applications.

It's rather for non-blocking async types such as `CompletionStage` (by default) and RxJava's `Single` (by extension) which support non-blocking async resolving.

[2018-10-12 08:17] ggam commented on #639
@fromage I guess this is related to this PR of you https://github.com/weld/core/pull/1828

So, it's impossible to create that feature portably right now? Have this been talked about on the CDI EG? If not, it would be good to open an issue to gather some feedback.

[2018-10-12 08:27] FroMage commented on #639
It is related, but much simpler to implement in jax-rs. We are going to discuss it as part of CDI, though. Meanwhile it already is supported for a while by RESTEasy thanks to `@Context`.

[2018-10-12 09:33] FroMage commented on #639
No, there is no original caller of method: that injection happens before the resource method is invoked.

[2018-10-12 09:56] pavolloffay commented on #668
Is jax-rs going to use mp-concurrency? My main request here is to make sure that context is propagated to providers e.g. filters/interceptors. That is the place where tracing integration needs access to the context.

[2018-10-12 11:01] arjantijms commented on #639
But isn't resolving the actual target of the injection supposed to be done lazy for normal scoped types?

I mean, the fields are originally only set to a lightweight proxy, and only when the code inside the class actually calls a method on that proxy is the underlying object being produced, right?

So this would only be needed for dependent scoped types?

[2018-10-12 11:02] arjantijms commented on #668
My guess (but I don't know), is that it would use ee-concurrency.

[2018-10-12 12:13] FroMage commented on #668
I can't answer that, but RESTEasy already does use a similar context propagation and that currently extends to filters/interceptors. When MP-Concurrency is out, RESTEasy will support it.

EE-Concurrency does not support context propagation ATM. I don't know if it plans to.

[2018-10-12 12:16] FroMage commented on #639
Laziness does not really come into it: it's about blocking vs non-blocking. If the event-loop model that executes the request must block in order to resolve an async value that will be provided by that same event-loop later, you can't use blocking to resolve it. In reactive non-blocking models you don't want to introduce blocking anywhere in your application: you have to rely on non-blocking async

[2018-10-12 12:36] arjantijms commented on #639
Are you sure? Since now you're resolving dependencies that aren't used I think.

[2018-10-12 12:39] FroMage commented on #639
Hence the use of method parameters to distinguish things that are really going to get used.

It's simply impossible to do non-blocking async injection lazily, because proxies are blocking by nature. Until Loom comes along with fibers…

[2018-10-12 12:42] arjantijms commented on #639
Even method parameters don't all have to be used. If you inject say 3 method parameters, it can still depend on the logic in the method which one it actually needs and uses.

[2018-10-12 12:50] arjantijms commented on #639
Btw, instantiating an object or finding it in a scope, which is what the overwhelming majority of resolving is about, is that really worth it in practice to do eagerly, but asynchronously?

I guess your answer will be "yes" of course, but is there any benchmarking done here?

[2018-10-12 13:00] FroMage commented on #639
If you're not sure to use it, you can always resolve it yourself in the method by returning a `CompletionStage`.

I gave the example of obtaining a DB connection, but the same is true of looking up permissions. In non-blocking reactive settings, you should just never block. Applications are entirely meant to not block, in order to maximise CPU usage and minimise thread count/resources.

[2018-10-12 13:29] arjantijms commented on #639
I personally think it's rather rare for an injected dependency to do that in its `@PostConstruct`. Most would rather make use of a (implicit) connection pool, and then make use of the pool as part of a method on it being executed.

If you really need to eagerly create beans and their dependencies, I guess your target would be more directed at the moment the scope is created though.

At the cost of

[2018-10-12 13:31] arjantijms commented on #639
p.s.

Deprecating and providing CDI alternatives doesn't mean that `@Context` is gone immediately. Most people can start using the CDI versions them, and the (I assume) very small number of people that know about this asynchronously eager instantiation can keep using @Context for that.

[2018-10-12 13:40] derekm commented on #639
Pardon me for being slightly off-topic here, but I use sub-resource locators a lot, and the way I use them it requires I initialize my subresources first with CDI and then with JAX-RS.

E.g.,
[code]

Would be awesome if a JAX-RS to CDI bridge could entirely handle this without manual intervention from me, but I’m not sure how it would be possible.

[2018-10-12 13:58] spericas commented on #639
So, if I understand this correctly, this is the use case of a service_A depending on, say, values from service_B and service_C. If `CompletionStage<B>` and `CompletionStage<C>` are injected, it would be the responsibility of service_A to define its resource method using `@Asynchronous` and registering callbacks so that a response is only produced when B and C become available (likely on a differen

[2018-10-12 14:10] ggam commented on #639
El vie., 12 oct. 2018 15:29, Arjan Tijms <notifications@github.com>
escribió:

@arjantijms I imagine his usecase accounts for the injcetion of e.g. an
EntityManager that obtains the connection from a pool and possibly has to
wait for some connection to be free.

[2018-10-12 14:11] FroMage commented on #639
Or the DB to answer, or using an async DB. Lots of use-cases :)

[2018-10-12 14:13] FroMage commented on #639
Except we're not relying on `@Asynchronous` because the injected value is produced as a `CompletionStage` so it's up to the producer to produce it in any non-blocking way it wants. It can really be produced by the current thread after it has registered its listeners and made the request asynchronous.

The exact same amount of magic that does this for resource methods that return a `CompletionStage

[2018-10-12 14:15] FroMage commented on #639
But look, this isn't about async injection, sorry to have derailed the thread. I just wanted to illustrate that `@Context` has allowed us to have a great feature in RESTEasy where CDI could not provide a solution, so that was a data point in favour of not ditching `@Context` entirely.

[2018-10-12 14:19] ggam commented on #639
The topic is still worthy to be discussed though. Would you mind moving it
to the mailing list?

El vie., 12 oct. 2018 16:15, Stéphane Épardaud <notifications@github.com>
escribió:

[2018-10-12 14:27] ggam commented on #639
If I'm understanding him correctly, this is not truly about JAX-RS, but
about non blocking injection in general. They have done it on their JAX-RS
cause it was the only place they could do it.

But once the resource method is invoked, provided that it is not
asyncronous, it can always call some CDI beans which use a DB connection
that the thread needa to wait for, blocking the request thread again

[2018-10-12 14:36] arjantijms commented on #639
EntityManager that obtains the connection from a pool and possibly has to
wait for some connection to be free.

But how often does one uses an entity manager in the `@PostContruct` method?

The injection of just the entity manager doesn't do anything yet. It's a very lightweight object.

For example:

[code]

When you're doing `@Inject SomeService someService` somewhere else, there's no connection

[2018-10-12 14:39] arjantijms commented on #639
special way in order to do non blocking injection, and not about JAX-RS
producing an async response.

The injection itself would rarely be blocking. Only if it was a dependent scoped bean, that performs logic involving an (external) other system in its `@PostConstruct` method would that happen.

[2018-10-12 14:40] arjantijms commented on #639
So if it does not depend on the spec, you can just use the same RESTEasy internals for it that `@Context` in RESTEasy now depends upon, doesn't it?

[2018-10-12 14:41] FroMage commented on #639
@ggam yes, except that CDI would have to change API to support it: it couldn't be doing `Object get()` to get the resource, but would need to be non-blocking async: `CompletionStage<Object> get()` to support async injection. And then the container would still have to figure out if there's async injection and if yes turn the connection async like it does for resource methods that return `Completion

[2018-10-12 14:43] FroMage commented on #639
@arjantijms in the reactive world there are lots of things you want injected that might actually block (anything that might hit the network).

It works right now, but only if you don't remove `@Context`, or at least if you don't remove the possibility of JAX-RS injection.

[2018-10-12 14:44] leewalton opened #679 "RFC4918"
RFC4918 lists a number of http response codes which are not defined in the jaxrs-api, making it difficult to cleanly respond with these codes to clients that are expecting them.

An example is the TM Forum Open APIs, which make extensive use of a 422 response code in their swagger definitions.

Are there any plans to make the jaxrs-api compliant with RFC4918?

[2018-10-12 14:46] derekm commented on #679
I’ve been saying for a while that JAX-RS needs an explicit registry of the RFCs it intends to comply with as a piece of primary documentation.

[2018-10-12 14:50] arjantijms commented on #639
I understand, but what I mean is that during injection it would be awkward at best if a dependency would start hitting the network. There's really only two things potentially executed when a dependent s scoped dependency is injected during injection time; the constructor and the `@PostConstruct` method.

Accessing the network from those methods is not super common I think (of course, it's possible

[2018-10-12 14:57] ggam commented on #639
Well, true, but at some point the proxied will need to instantiate its
proxied value.

You are right about the EntityManager example and indeed you don't usually
inject a db connection, but a DataSource from which you get and release a
collection only when you need it. That example wasn't so good.

But you can easily inject a config property that tries to get a value from
an external server and af

[2018-10-12 15:05] ggam commented on #639
It's rare to hit the network during construction, but what about @Produces?
It can be done exactly for such dynamic cases. Still a lightweight proxy
will be injected, but before using it, the producer code will need to be
invoked. I personally don't consider producers with network dependencies a
bad practice.

El vie., 12 oct. 2018 16:50, Arjan Tijms <notifications@github.com>
escribió:

[2018-10-12 15:44] spericas commented on #639
Right, understood.

 Exactly, and without looking at an example (do you have one?), if feels that the potential code simplification provided by async injection is minimal over the standard JAX-RS 2.1 API.

 As you said, this is a bit off-topic, but these are the type of discussions that help improve specifications, so definitely worth having them ;)

[2018-10-12 16:02] arjantijms commented on #639
invoked. I personally don't consider producers with network dependencies a
bad practice.

Absolutely correct, but then we do come back to the question whether the injected bean will indeed be used.

Just an example:

[code]

In that case, you will not always actually hit the `UserService`. So in the example of FroMage, `SomeThing` would be asynchronously instantiated, and all its dependencies, whi

[2018-10-12 16:08] mkarg commented on #639
Instead of trying to convince *us* to keep `@Context` wouldn't it be a better idea to convince the *CDI team* to support this scenario?

[2018-10-12 16:11] ggam commented on #639
Agreed. But if object construction is now done only when the proxy is first
used, wouldn't that work still in this non blocking way?

You get an empty proxy and once you try to use if, its CompletionStage is
used to create it asyncronously.

That's different from what @formage has explained, as it misses the
opportunity to create all objects on the same pipeline, and has the
potential outcome of g

[2018-10-14 09:13] mkarg commented on #601
Arjan's IDE settings are available meanwhile: https://github.com/eclipse-ee4j/ee4j/blob/master/codestyle/ee4j-eclipse-formatting.xml :-)

[2018-10-14 09:15] mkarg commented on #601
@andymc12 @asoldano @jansupol Can you please vote regarding using EE4J formatting, and for what release 2.2 or 3.0 we shall apply it? :-)

[2018-10-15 08:42] FroMage commented on #639
Our usage samples reveal that method-injection (of async types) helped a lot for readability for methods where those async types where always used, especially when there were several of them.

[2018-10-15 08:42] FroMage commented on #639
That's also an effort underway, but I had to point out that until this is resolved in CDI, `@Context` is very useful for reactive applications.

[2018-10-15 13:35] spericas commented on #639
Show us the samples!! :-)

[2018-10-15 15:07] asoldano commented on #601
I'm fine with the changes for EE4J rules being applied anytime

[2018-10-16 11:33] leewalton commented on #679
I've responded to this further on the pull request with my thoughts on this, so I'll just link the comment [here](https://github.com/eclipse-ee4j/jaxrs-api/pull/680#issuecomment-430202333) rather than repeating them.

[2018-10-16 16:38] jansupol opened #681 "Api version 2.1.2 issues"
We [hit a few issues with latest 2.1.2 API](https://github.com/eclipse-ee4j/jersey/pull/3962) for which the API should be re-released. We still examine consequences of the issue, so the list is not full, yet

OSGI manifest:
==========
  o  OSGi specifically requires Java SE 9: Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=9.0))". This is the main reason for which the API needs to

[2018-10-16 17:30] mkarg commented on #681
Feel free to provide a PR.

Regarding our own module name, this cannot be changed in 2.x as it would break backwards compatibility. Such a change can only be done in 3.x.

[2018-10-17 11:28] leewalton commented on #679
I've closed the associated pull request, and I'm going to close this issue, as I am going to resolve this through extension of the JAX-RS API, rather than changing the api itself, as per @mkarg's recommendations in the pull request.

[2018-10-17 11:28] #679 closed

[2018-10-17 21:38] mkarg commented on #681
Regarding the module name, we can stay with the current one, as the PMC today announced that this is just a *recommendation*. It would break backwards compatibility, so we can only change it in 3.x.

[2018-10-18 03:54] chkal commented on #681
I think many of the OSGi problems are caused by the `spec-version-maven-plugin`. Is anyone familiar with the plugin? There seems to be no documentation and my understanding is that it basically automatically sets a few maven properties (like `2.1.99`, `2.1.99.01`, etc). I spent quite some time trying to configure it for JSR 371 but I'm still not sure how it actually works.

[2018-10-18 05:03] mkarg commented on #681
That is why I proposed to get rid of it. But the problem then is, that some people want to keep OSGi compatibility, so we have to provide that by hand or annoy them. So we either need an expert for that plugin (as Oracle did not publish, possibly not even write, a documentation), or we need an OSGi expert to create the needed meta information manually.

[2018-10-18 06:36] chkal commented on #681
Agreed! It looks like the plugin basically enforces [these rules](https://javaee.github.io/glassfish/wiki-archive/Maven%20Versioning%20Rules.html). But I didn't check them in detail yet.

[2018-10-18 13:39] spericas commented on #681
@jansupol Do you of anyone that can help us configure the plugin correctly? Is there any correlation between the JDK version used to build the artifacts and the one shown in the manifest?

[2018-10-18 23:06] derekm commented on #591
@spericas -- What does the spec declaring itself normative have to do with being able to audit the spec against the RFCs it claims to be compliant with?

[2018-10-19 05:36] mkarg commented on #681
@chkal Those rules look like being Glassifish-specific (in the meaning of: specific to one particular product). As we strive to be vendor-independent, I think we should simply ignore them. So it might be best to simply remove that plugin and just add a static minimum OSGi manifest possible by hand. I hate all those strange special magic produced by fancy Maven plugins.

[2018-10-19 05:50] leewalton commented on #591
+1 for publishing a **_concise_** list of the RFCs, JSRs, or other specifications that the JAX-RS API and its implementors must be **_compliant_** with.

[2018-10-19 07:47] NicoNes commented on #644
@andymc12 maybe you can help here ?

Thanks

[2018-10-21 09:03] mkarg commented on #601
Thanks to everybody for participating in this discussion!

As there had been no more contributions in the past few days, and as the discussion was open for two weeks meanwhile, I think we can call the proposal of using EE4J rules to `master` *right now* as **accepted**.

As the assignee of this issue, I want to thank @arjantijms for preparing the Eclipse IDE rules and formatting all the files, and

[2018-10-21 09:03] #601 closed

[2018-10-22 13:29] spericas commented on #591
Nothing, I was just answering to your comment that some things _may_ not be normative in the spec.

[2018-10-22 16:04] andymc12 commented on #661
Yes.  Thanks for the reminder.

[2018-10-22 16:04] #661 closed

[2018-10-23 03:41] jimma opened #683 "Clarify if propertiesProvider takes precedence over property setting in JAXRS.Configuration.Builder"
If a property value like port  is already set  with JAXRS.Configuration.Builder#property("port",value) or  JAXRS.Configuration.Builder.port (value) apis, then it loads property values from properyProvider with JAXRS.Configuration.Builder# from(propertiesProvider), does this value take precedence ?  Or the value later loaded/set overwrites previous setting ?

[2018-10-23 05:03] mkarg commented on #683
Like rather most builder patterns I know, my intention when designing this API was that an ongoing overwriting will happen when chaining mutators of the the same property. This means "the last one wins". The builder simply accumulates the result of all calls in historic order.

[2018-10-23 05:03] #683 closed

[2018-10-23 05:31] mkarg commented on #657
@amihaiemil A PR against JAX-RS makes no sense as long a there is no feedback from users of the existing feature. So unless the feature you are working on got adopted by Jersey and produced a mostly positive user feedback, all you can share in the JAX-RS issue is a link to your Jersey PR.

[2018-10-23 06:40] jimma commented on #683
If I understand correctly, the propertyProvider function which passed to builder is actually called when read this value  with Configuration#property(name), this is something like :
[code]
If we support the last one wins, it has to define some flag to track the historic order, then it knows if the same property value should read from propertyProvider or not.  Is it better we simplify this and defi

[2018-10-23 08:56] pavolloffay opened #684 "ClientResponseFilter not called on UnknownHostException"
At the moment there is no way how to intercept exceptions like `UnknownHostException` (maybe also `RedirectionException`) in `ClientResponseFilter`. Note that `ClientResponseFilter` is called for a such request. If the integration uses both filters and response filter is used to free up resources this leads to leaks.

[2018-10-23 17:12] mkarg commented on #684
I assume you meant to say *Note that Client**Request**filter is called for such a request*.

Your approach is not specification compliant. According to JAX-RS 2.1 chapter 6.1 `...a ClientResponseFilter is executed upon receiving a server response...`. In the case of `UnknownHostException` no response is actually received, hence it is obvious and correct that no response filter is invoked.

You nee

[2018-10-24 05:19] mkarg commented on #681
Guys, if nobody chimes up to fix that strange plugin, I will simply remove OSGi in master and EE4J_8 as the JAX-RS charter does not imply it and apparently the wrong config is a showstopper (if it is not, I wonder what this issue is all about). So if anybody needs OSGi, speak up *now* and *provide a different solution*.

[2018-10-24 13:58] spericas commented on #681
@mkarg -1 This is likely important for EE4J, even if not for JAX-RS directly. Let's wait a bit more.

[2018-10-24 14:23] arjantijms commented on #681
-1 from me as well. This is almost certainly important for the EE4J project, and this implementation of the JAX-RS API is still a part of Eclipse-EE4J of course.

[2018-10-24 14:54] jansupol commented on #681
For JAX-RS API it is crucial to be an OSGi bundle, otherwise, JAX-RS can never be used in glassfish. Glassfish is using OSGi to load modules/jars. The argument that JAX-RS is a vendor-independent project and does not need  OSGi is not strong enough, Glassfish is too important customer to scratch OSGi, just because some issues were experienced with Felix plugin.

JAX-RS is not alone in this. Every

[2018-10-25 03:55] jimma commented on #683
Thanks for clarifying my doubt . BTW, can you please point me the jersey source code ? I didn't find it from jaxrs2.2 branch : https://github.com/eclipse-ee4j/jersey/tree/JAXRS_2_2

[2018-10-25 04:47] mkarg commented on #683
https://github.com/eclipse-ee4j/jersey/pull/3839/files :-)

[2018-10-25 10:10] pavolloffay commented on #684
Yes I meant `ClientRequestfilter`. I do not have a strong opinion how this should be done but I think jax-rs should provide an API to intercept all calls, even the failed ones.

Yes that is what I mean. We need a callback which is called _always_ if the request filter was called.

I think we could go even further and have an interceptor per network attempt e.g. if the jax-rs supports redirects.

[2018-10-26 05:57] chkal commented on #681
I'm also +1 for keeping the OSGi manifest. However, I'm still not very happy about the fact that the OSGi manifest entries are magically created from some plugin without any documentation. I spent many hours trying to set up this plugin for JSR 371 and still don't fully understand how this plugin is supposed to work. So what about simply moving the relevant configuration for the OSGi manifest to M

[2018-10-26 15:52] mkarg commented on #681
@chkal Manually these properties means that everybody must have an understand of the sense of these properties, i. e. the sense of OSGi. I have no clue of OSGi and have no use of that. So someone of the OSGi lovers has to maintain that.

[2018-10-30 10:46] m0mus opened #690 "Release to OSSRH staging repository"
The previous 2.1.2 release didn't uptake the new Eclipse dependencies. It's been released to public, so there is no way of changing it. The new release (2.1.3) is needed. Please release it to OSSRH staging only. Don't deploy it to Maven Central until everything is tested.

- [x] Uptake new Eclipse versions of dependencies (if any). Use [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclip

[2018-10-30 13:01] spericas commented on #690
We should fix the OSGi issues as well #686.

[2018-10-30 17:56] mkarg commented on #690
Guys, just as an good advice from a long-time Github user: Try to open one issue per problem. This makes it easier to manage the parallel work on all of them. :-) We now have two issues open both with a collection of problems inside it. Nobody knows who is working on which item. :-(

[2018-10-30 18:08] mkarg commented on #690
@m0mus This big-bang-approach won't work outside Oracle. To be able to build against Jakarta dependencies, these dependencies MUST be available on Github: Travis CI will fail otherwise, in turn blocking the PR on Github, so we cannot merge it into JAX-RS 2.1.3. So the right way is to *not* stop the world, but to bootstrap the dependencies *bottom-up* on Maven Central *or* on Eclipse Nexus. Note th

[2018-10-30 18:33] bshannon commented on #690
Markus KARG wrote on 10/30/2018 11:17 AM:

Can you point to this statement from Eclipse and instructions for how to
implement what they want?

As soon as I figure out how to do a release properly.  I currently have it
staged at OSSRH (I think), but if something else is required I need to know what
to do.

[2018-10-30 19:06] mkarg commented on #690
@bshannon I doubt there is a written *official statement* of the EF regarding this. @gaelblondelle told me in Summer the EF tries to have everything on their own infrastructure "just in case", and @fredg02 [proposed in some other discussion](https://bugs.eclipse.org/bugs/show_bug.cgi?id=535778#c21) we shall use [Eclipse Nexus](https://wiki.eclipse.org/Services/Nexus) to allow the Jakarta projects

[2018-10-30 19:08] jansupol commented on #690
@mkarg Let's wait on the @chkal 's PR #686 to finish. Let's wait for JAX-B and JAF to be released. If any work still will need to be done, I'll help with the PR/OSGi and then you will use the release job of yours. Sounds good?

[2018-10-30 19:18] jansupol commented on #690
@mkarg I do not think we need to use staging repo, JAF is used in so many projects, sooner or later it gets released.  We need to wait for JAXB API anyway

[2018-10-30 19:39] bshannon commented on #690
Markus KARG wrote on 10/30/2018 12:13 PM:

My understanding is that, assuming you're using the EE4J parent pom, you just
need to build using the "staging" profile and that will allow the build to used
staged artifacts.

(I haven't verified this myself yet, although I wrote a wiki page explaining how
this should work but I'm waiting for the moderator to approve it.)

[2018-10-31 06:18] mkarg commented on #690
@jansupol I will just wait for anybody fixing the OSGi stuff, and JAF and JAXB being released *somewhere* (either OSSRH or Maven Nexus) and file a PR for that pom change then. After that I will initiaite 2.1.3 release.

@bshannon Unfortunately this is not the case, as each project has *its own* staging area with different access rights. I just checked the list Sonatype provided me, and I only can

[2018-10-31 07:09] chkal commented on #690
I think @bshannon is refering to this entry in the EE4J parent pom.

https://github.com/eclipse-ee4j/ee4j/blob/20c7b207dccbcaf2bd4e5fb743f4db8fe129c07a/parent/pom.xml#L251-L263

[2018-10-31 09:03] NicoNes commented on #659
Hi guys,

I'm facing a strange behavior with both jersey and resteasy about invocation of ReaderInterceptor. I was reading at your discussion hopping I will find an answer but it's not that clear.

Here is my case: consider following resource and providers registered in my JAX-RS application:
[code]
[code]
[code]
When calling the GET method of `TestResource` from my browser without sending no requ

[2018-10-31 10:34] chkal commented on #659
To be honest, I'm also surprised that the interceptor is called even for GET requests. However, I don't think the spec is very strict here. So IMO this is currently no violation of the spec.

[2018-10-31 10:34] chkal commented on #659
And a second thought: I'm pretty sure that CXF won't invoke it in this case.

[2018-10-31 10:54] m0mus commented on #690
@mkarg

GlassFish is a big project consuming most (all) of EE4J projects. All components are tied together. Here is the [dependencies graph](https://wiki.eclipse.org/EE4J_projects_dependencies). It makes sense to use the same staging infrastructure for all components. I respect the independence of projects, but they are a part of a bigger project, so some common rules are required.

All components

[2018-10-31 11:09] NicoNes commented on #659
Yes but there is something to clarify here.
IMO, if MBR are here to map request body to JAVA type there is no need to invoke them when there is no request body.
This way, it will also be consistent with what is done for MBW. MBW pipeline is not invoked when there is no response body (`containerResponseContext.hasEntity()` returns false).

[2018-10-31 12:18] spericas commented on #659
@NicoNes I tend to agree that it shouldn't be called in this case. Is this in general or a result of using a `GET` with an entity? Does it happen with `PUT` or `POST` as well?

[2018-10-31 13:40] FroMage commented on #579
Is there any chance we can reopen this issue for consideration? We have added an equivalent annotation in RESTEasy that does just that and it's much better for user code.

[2018-10-31 13:49] FroMage opened #691 "Pluggable single-value async types"
JAX-RS 2.1 introduced support for `CompletionStage` as a resource method return value for a single async value, but many clients support other types of single async values, such as RxJava 1 and 2 and Reactor.

In RESTEasy we added support for a pluggable mechanism to support extending single async values, which ultimately rely on being able to convert them to a `CompletionStage`. This is trivial i

[2018-10-31 14:40] NicoNes commented on #659
@spericas It's general, it happens for GET, PUT and POST as well

[2018-10-31 16:24] chkal commented on #579
Just to make sure I understand correctly. Java 8 supports preserving method parameter names in the byte code, is that correct? But it is not enabled by default?

[2018-10-31 16:27] chkal commented on #579
For the maven-compile-plugin it is available as an opt-in. See the documentation for [&lt;parameter&gt;](https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#parameters).

[2018-10-31 16:37] FroMage commented on #579
Yes, and the frameworks can detect that it has not been enabled and warn if required.

[2018-10-31 18:11] mkarg commented on #691
IIUC this kind of provider is just syntactic sugar as it does not solve a problem that couldn't get solved without it. In fact I didn't ever come across any user so far who really complained about the fact that he must convert his proporietary interface into a Java SE standard interface manually.

[2018-10-31 18:20] mkarg commented on #579
As it seems a solution might be possible I have reopened this issue.

[2018-10-31 18:57] mkarg commented on #690
@m0mus I understand your view, but see, Jakarta != GlassFish. Some of us care for GlassFish, others do not. So no, JAX-RS is not part of a bigger project "GlassFish", it is just part of a bigger project "Jakarta" and for that one we do not need neither synchronized releases nor shared staging. GlassFish is just any consumer of JAX-RS. There are others that can use 2.1.2 without problem, and I will

[2018-10-31 19:37] bshannon commented on #690
@mkarg I think one of us is confused, or means something different when we talk about staging.
I successfully deployed JAF to the OSSRH staging repository.  I can access it from other projects
by (e.g.) using the "staging" profile in the ee4j parent pom.

We want to get all components to *at least* this state, of being deployed to the OSSRH staging
repository.  That allows the components to be int

[2018-10-31 19:52] spericas commented on #690
@mkarg GlassFish is a very important part of Jakarta EE and we should work together in JAX-RS to deliver it into GlassFish. As stated by @bshannon, this should be a cooperative and collaborative effort, while at the same time providing independence to each individual project.

[2018-11-01 16:31] chkal commented on #690
Just to make sure I understand this correctly. So the JAF release currently in release review will be kept in the staging repository for now and will not be released to Maven central in the next days?

I think what @mkarg meant when talking about "bottom up" was the dependency tree. My impression was always that it would make most sense to do full releases (to Maven Central) of the leafs in the de

[2018-11-01 17:39] mkarg commented on #690
@bshannon Thanks for the clarification. I actually misunderstood "staging" as "*only* staging". Fine, so I can rewrite the dependencies soon. :-)

@chkal Yes, like you said, I only meant the dependency tree with "bottom up" so JAX-RS can be released once JAF and JAXB are released, not the governance model (but in fact, now that it was mentioned, I also love bottom-up governance).

@spericas I'm so

[2018-11-01 17:46] bshannon commented on #690
Christian Kaltepoth wrote on 11/01/2018 09:44 AM:

It can't be released to Maven Central until the release review completes.

Releasing them to the staging repository should be good enough to allow other
projects to make progress and update their dependencies.

That's probably a violation of the EDP since they haven't completed a release
review.

[2018-11-01 20:47] mkarg commented on #690
@spericas

Reading all the comments of this thread again I still have the impression that Dmitry asks for (a) that the JAX-RS team updates the release tracker of the particular product of *GlassFish* and (b) delaying JAX-RS release 2.1.3 to Maven Central for the sole sake of checking against the compatibility with the exact product of *GlassFish*. This is a rather clear preference for one particul

[2018-11-01 21:05] bshannon commented on #690
Markus KARG wrote on 11/01/2018 01:48 PM:

We need JAX-RS to work in GlassFish, and we need to track the progress so that
we can better manage the release of GlassFish.

If you release JAX-RS 2.1.3 and we later discover that it fails some tests when
integrated with GlassFish, you'll need to release another version of JAX-RS to
fix those problems, and we'll need to wait for that release before we c

[2018-11-01 22:02] mkarg commented on #690
Bill, who is "we"? I don't need JAX-RS work in GlassFish. ;-) Okay, I "want" JAX-RS work in GlassFish. :-)

I fully understand the negative impact on GlassFish and would love to see progress on the bug fix, but for the sake of being product-independent and self-governed I must insist on the independence of release processes. Anyways, looking at the current status of GlassFish, I doubt that there i

[2018-11-01 22:39] edbratt commented on #690
Please think of it as this way:

Oracle just contributed about 13 million lines of code to Eclipse
Foundation. Early on, we established that we'd need to build it and test
it, to be sure that the code we've contributed is, in fact,
representative of Java EE -- which will provide the basis for Jakarta EE
moving forward.

Once this is verified, we have a formal basses to claim that Java EE has
been

[2018-11-02 06:46] chkal commented on #690
@bshannon

Sure, but will it be released to Maven Central after the release review or will it stay in the staging area and wait for other projects which depend on JAF? I just want to understand if we can expect JAF to appear in Maven Central in the next days or if it will take more time.

I think it would be really helpful to have some kind of checklist for projects to go through before promoting

[2018-11-02 07:07] chkal commented on #681
@jansupol

I'm trying to understand if this is really a problem. Disclaimer: I'm not an expert for JPMS, so my thoughts may be totally wrong. :laughing:

JAX-RS uses JAXB annotations on the `javax.ws.rs.core.Link` class. The `requires transitive` entry in the `module-info.java` basically means that modules depending on JAX-RS will automatically gain access to the JAXB API, correct? As JAX-RS expor

[2018-11-02 13:08] spericas commented on #691
@FroMage Although I understand where you're coming from, other than a return type, there's not a lot of "JAX-RS" in this proposal. There are lots of libraries and utilities providing conversions between these types, it's easy enough to use one of those utilities to convert things into `CompletionStage`. IMO, the gain is not worth the investment.

[2018-11-02 13:11] spericas commented on #681
@chkal Not an expert in JPMS either, but I just wanted to add a note that we need to drop that dependency in 3.0. It was a mistake to ever introduce it (and I am to blame for proposing that).

[2018-11-02 13:16] FroMage commented on #691
Well, what's JAX-RS is that users don't have to finish _every_ method with `toCompletionStage()` boilerplate. JAX-RS has always been about being able to return the most useful type users can return and get the machinery translate that into the wire representation. This is making async return types useful again, with very little changes required in the machinery since one async return type is alrea

[2018-11-02 13:33] asoldano commented on #691
Moreover, once this interface is in the API, the framework implementing JAX-RS can simply provide an implementation for it, so that the user does not have to figure out which library/utility to use, etc.
In a way, this addition is similar to the RxInvokerProvider on client side, which allows extending the rx() functionality beyond the CompletionStage support.

[2018-11-02 17:58] bshannon commented on #690
Christian Kaltepoth wrote on 11/01/2018 11:46 PM:

I expect to release it to Maven Central shortly after the release review is
approved.

[2018-11-02 19:12] mkarg commented on #690
@bshannon Great! :-) I will change JAX-RS's POM accordingly in preparation!

[2018-11-03 18:15] mkarg commented on #691
@FroMage I see a huge difference between supporting official mandatory parts of Java SE (`CompletionStage`) and supporting proprietary products.

@asoldano JAX-RS 2.1 already allows a framework to implicitly support any framework it wants, but I see you point (vendor-lock-in). But shouldn't we *instead of the described idea* provide a solution that "simply" allows `WriterInterceptors` to turn a sy

[2018-11-03 18:20] mkarg opened #693 "TCK migration into JAX-RS repository"
At the moment the TCK is one big piece of code for all parts of Jakarta EE. Once the PMC allows us to do that, we should provide a concerted pair of PRs for the migration of the JAX-RS-piece of the TCK:
* [ ] PR to insert into JAX-RS repo
* [ ] PR to eliminate in Jakarte EE repo

[2018-11-04 07:11] chkal commented on #693
I fully agree. But I think it will take some time before we can start working on this. The [EE4J Projects - Technical Direction](https://www.eclipse.org/ee4j/direction.php#split-stand-alone-jakarta-ee-tck-into-individual-projects) document states:

IMO it would make sense that the PMC starts this discussion early and before the TCK is split up.

But of course we can also start some discussion abou

[2018-11-04 09:14] chkal commented on #693
Ok, let's push the PMC a bit. :laughing:

Agreed. It would be very beneficial to have everything in one place. Especially because changes to the API usually also affect the spec and the TCK. So pull requests should update all these components. If these would be spread across different repositories, updating all of them in a consistent way would be difficult.

This may be a realistic option. The [M

[2018-11-04 09:17] mkarg commented on #693
My experience of the past year is that the PMC sometimes needs to get pushed into discussions, so let's just start here. ;-)

I would say it is advisory to only have one repository per API, so in the case of JAX-RS I would say let's work towards a long-term structure like this one...

[code]
...and publish not only the api on Maven Central but also the tck and spec. It might sound visionary, but I

[2018-11-04 09:18] chkal commented on #693
Ok, let's push the PMC a bit. :laughing:

Agreed. It would be very beneficial to have everything in one place. Especially because changes to the API usually also affect the spec and the TCK. So pull requests should update all these components. If these would be spread across different repositories, updating all of them in a consistent way would be difficult.

This may be a realistic option. The [M

[2018-11-04 09:26] chkal opened #694 "Activate 'final' profile for EE4J_8 releases"
As already mentioned in #686, we need to activate the `final` profile when performing releases from the `EE4J_8` branch:

https://github.com/eclipse-ee4j/jaxrs-api/blob/20223096b812df674c54cc44d50a7759c56309c5/jaxrs-api/pom.xml#L78-L90

@mkarg Could you perhaps update the Jenkins release job accordingly? I guess you are most familiar with how the release pipeline works. :-)

[2018-11-04 12:28] #694 closed, assigned to mkarg

[2018-11-04 15:59] mkarg commented on #694
Okay, so this means when we do a release of JAX-RS we have to decide whether it is a pre-release or not, and we have to modify the Jenkins setup. I really think getting rod of the plugin will be the simplest solution, as we can keept one single Jenkins setup but just modify the pom itself to keep the final values intended in the manifests.

[2018-11-04 18:49] chkal commented on #659
I finally found some time to prepare a pull request for the idea I mentioned in https://github.com/eclipse-ee4j/jaxrs-api/issues/659#issuecomment-421546594. Please refer to #695 for details. If merged, the original problem described in https://github.com/eclipse-ee4j/jaxrs-api/issues/659#issue-360162726 will be resolved automatically.

[2018-11-05 14:52] jansupol commented on #693
Once upon a time there was a product. The product was named Java EE CTS, aka Java EE TCK. That was a joint set of tests, some of which were part of TCKs, some were not. When another product, an application server passed the tests in Java EE CTS, the application server was Java EE compatible.

The main question is: Does the community want to have a process that marks an application server compatibl

[2018-11-05 18:13] mkarg commented on #693
I understand you sorrows, but I see some points largely different: The future is not in application servers (these are ancient relicts of the pre-cloud era), but in dynamically assembled sets of mostly independent APIs (like CDI + JAX-RS + NoSQL). Jakarta 8, possibly 9, typically will be a common API for existing application server products, but beyond that, the market will definitively strive for

[2018-11-05 19:13] arjantijms commented on #693
@jansupol

I agree with you and share the same concerns.

A long time ago, before the Java EE CTS, we had tons of independent APIs that users could again supposedly dynamically assemble. "Dynamically" being a euphemism here for putting the burden of this assembling on the user.

This resulted in many Frankenstein stacks, that each were different from company to company. Skills and documentation we

[2018-11-05 21:03] OndrejM commented on #693
@mkarg, @chkal

This seems tempting but it doesn't work well if tests should also cover integration of a spec with other specs, such as @mkarg example of JAX-RS + CDI + NoSQL. I believe that specs should work only as isolated APIs but define behavior when combined with other APIs. Maybe some basic tests that only cover the spec API without other APIs can be easily placed into the API repo, but mor

[2018-11-05 21:06] OndrejM commented on #693
As an example, MicroProfile currently uses the approach of having the TCK in the API repository. And we're hitting the issue of how to write tests that ensure that multiple specs work together. E.g. MP Rest Client with MP Config, etc. The specs already describe what should happen if they are combined with other specs but it's hard to write and maintain tests for that in a single repo.

[2018-11-06 06:12] mkarg commented on #693
Completely understood, but easy to solve: JAX-RS stores its own test kit in the JAX-RS repo. The JAX-RS spec mentions specs which it should be compatible with. So it contains that particular compatibility tests. If the Jakarta EE spec mandates more things between two specs, that particular things have to be in the test kit stored in the Jakarta EE umbrella repository (just where the umbrella PDF s

[2018-11-06 06:17] chkal commented on #693
Thanks everyone for sharing your thoughts. I absolutely agree that there are many challenges and that how to handle the TCK and where to manage it is a tradeoff. Every way to do it has pros and cons. Maybe we can find some kind of compromise with a single Jakarta EE TCK repository containing shared tests and git submodules including some tests managed by the individual API project?

Just a small s

[2018-11-06 06:19] mkarg commented on #693
@chkal Your are absolutely right. I do not understand the fuzz about letting this be decided at a higher level as it was already discussed at this level and the outcome was the document you cite from. So while it is OK for me to discuss that again and again, my guideline is that document.

[2018-11-06 08:47] chkal commented on #659
@spericas I agree. The original intent of this issue was to clarify if entity interceptors have to be applied if there is only a `@FormParam` but not an entity parameter. This will hopefully be fixed by #695.

@NicoNes Could you file a separate issue for the topic you brought up?

[2018-11-08 05:13] chkal commented on #639
I just wanted to share an [interesting discussion](https://groups.google.com/forum/#!topic/microprofile/gvj94XBhtvM) about the JAX-RS <-> CDI integration from the MicroProfile mailing list. Especially, because it lists some important edge cases.

[2018-11-08 12:14] m0mus opened #697 "Start a Release Review"
Passing **Release Review** is a required step before making a first public release. Deadline for passing the review is Nov 30th, 2018. Release review takes some time to complete, so it makes sense initiating it as soon as possible.

- [x] Start Release Review
- [x] Update [Release Review Tracker](https://wiki.eclipse.org/EE4J_Projects_Release_Review_Tracker)

Additional information:

- [How to sub

[2018-11-08 12:15] m0mus commented on #697
Successful:
https://projects.eclipse.org/projects/ee4j.jaxrs/reviews/2.1.1-release-review

[2018-11-08 12:15] #697 closed

[2018-11-08 18:37] mszabo-wikia commented on #543
Hey @spericas it seems to me that this might be an implementation-defect within JAX-RS API itself. Specifically, the implementation of `javax.ws.rs.core.MediaType#isCompatible` looks like this:
[code]

For the first condition, the comment says that the media types would match only if both types are wildcards, but it uses an OR operator instead of AND. I was able to reproduce the issue with the fol

[2018-11-08 20:51] ljnelson opened #698 "Must the following pseudocode be supported by all JAX-RS implementations?"
I'm exploring some edge cases that come up as a result of CDI reaching version 2.0 and now containing the ability to start a CDI container in Java SE.

I'm curious if the following pseudocode case MUST be supported by all JAX-RS implementations.

(I'm typing this in the issue editor so please forgive syntax errors etc.  I believe the intent of my question will be clear nonetheless.)

A root resour

[2018-11-09 06:17] mkarg commented on #698
I think there is a misunderstanding:
* "CDI" (in the sense of 11.2.3) means "CDI 1.0 Application-Server-Provided Container", but your code uses "CDI 2.0 Java SE Container" which is so far not clearly specified by the JAX-RS spec (we're working on that one).
* "product" (in the sense of 11.2.3) is a framework of application server like Jersey, RESTeasy or CXF, not your custom code.
* That spec chap

[2018-11-09 17:28] ljnelson commented on #698
I understand you, but I don't think the CDI version matters.

Let me rephrase the question:

I have a build of (say) Glassfish that supports JAX-RS 2.0.  I add a jar file to its classpath using `asadmin`.  The jar file contains nothing other than `Greet.class` above.  I start Glassfish.  Must my root resource class be recognized and part of a JAX-RS application?  Must this be true of all JAX-RS im

[2018-11-09 18:46] mkarg commented on #698
The CDI version matters, because CDI 2.0 knows Java SE containers, while CDI 1.0 does not. Your code looks like using the JAX-RS 2.2's Java SE Bootstrap, which is different from JAX-RS 2.1's Server Container bootstrap.

The answer is *no*. Products COULD do that but they are not forced to, at least not by the *JAX-RS* specification.

The JAX-RS specification does not cover the case of adding JAX-R

[2018-11-09 18:46] #698 closed

[2018-11-10 06:56] chkal commented on #681
@jansupol Thanks. I agree. Maybe we should leave it as it is.

It looks like #686 and #687 fixed everything mentioned in this issue. So I'll close this issue now. Feel free to reopen if I missed anything.

[2018-11-10 06:56] #681 closed

[2018-11-12 12:57] jansupol commented on #690
@m0mus  JAX-RS release depends on [JAXB-RI impl](https://github.com/eclipse-ee4j/jaxrs-api/pull/692#issuecomment-437664913)

[2018-11-13 17:53] ggam commented on #693
@arjantijms

Agreed, although the standalone tests themselves might be developed independently and referenced via Git submodules from a central repository. That way each project is in charge of its TCK, but we maintain an overall integrated experience.

The central repository would also contain integrations between specs defined on the umbrella project.

Isn't the Jakarta EE Platform project the e

[2018-11-13 21:20] mkarg commented on #543
@sberyozkin There is progress on this issue. You were the original reporter.

[2018-11-13 21:46] arjantijms commented on #693
@ggam

Something like that might be an option indeed. The PMC already started clearly in the beginning that a non-coherent and totally independent series of tests is certainly not what we should strive for.

Probably a first action point would be agree upon the tooling being used. Looking at the MP and CDI TCKs I think Arquillian and testing in the unit test phase instead of the integration phase,

[2018-11-14 04:50] chkal commented on #543
It would be great if more people could review #700. Any help is welcome.

[2018-11-14 09:30] mszabo-wikia commented on #543
@chkal yeah, the spec doesn't seem so clear here—I'm inclined towards agreeing with the OP that this is likely a bug caused by a missing parentheses.

[2018-11-14 09:37] mszabo-wikia commented on #543
Okay, after some more digging it seems that as per [RFC 2616 section 14.1](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1), specifying a media type with wildcard type and explicit subtype is considered to be invalid when used as a value for the `Accept` header. So the question I guess, is whether to allow declaring such a media type as a value for resource classes/methods' `@Consum

[2018-11-14 17:58] mkarg commented on #543
Treating it as invalid would break backwards compatibility. If we do that, we need to introduce it not before 3.x.

[2018-11-14 19:35] mkarg opened #702 "Rules for reduced minimum review periods"
In the past months we came across situations where the minimum review periods we all agreed upon had been suboptimal. While still the default is a great choice, there are voices calling for exceptions, and we should have clear rules for exceptions.

This issue tries to provide a basis for discussion about exceptions and rules for exceptions.

**Proposal**
* The default *minimum* review time is two

[2018-11-15 05:11] chkal commented on #702
Hey @mkarg. Thanks a lot for starting this discussion.

I really like this proposal. Especially as it enforces the two weeks for substantial changes while also providing the flexibility to get minor fixes and changes to the build merged very quickly.

So +1 for this suggestion.

[2018-11-15 14:31] m0mus commented on #690
Folks, this is the only API not released to OSSRH staging now. Can you please review and release it ASAP? You are blocking other projects.

[2018-11-15 14:50] spericas commented on #690
PR #701 dropping JDK 11 from Travis for EE4J_8 branch is now merged.

[2018-11-15 15:11] spericas commented on #702
I’d like to propose a simplified version of this:

 (1) Minimum two full weeks is default (as in the proposal below)

 (2) For non-API, non-spec, non-javadoc changes (e.g., pom, travis, checkstyle, etc), a proposal to fast track the PR is requested at submission time. If a fast tracked PR receives 3 committer +1 votes (and no -1), it can be merged immediately provided at least 1 day has passed sin

[2018-11-15 15:58] waynebeaton commented on #690
I'm coming to this a bit late, so I'll apologize for not reading every word in this thread.

There is no specific requirement to use The Eclipse Foundation's Nexus instance (I'll make sure that my colleagues are on the same page). The requirement is that milestone/snapshot builds be labeled as such (milestone, release candidate, pre-release, beta, snapshot, ... ) The PMC determined that using OSSR

[2018-11-15 17:44] asoldano commented on #702
I'm fine with the proposal as well as with the slightly different version from @spericas

[2018-11-15 18:43] chkal commented on #702
I think the versions of @mkarg and @spericas don't differ very much. So I would be fine with both. I think we should require three +1 votes in any case, even for changes to the build script and other minor stuff. We have enough committers who quickly respond to PRs, so getting three votes should be easy. I'm also +1 for a minimum review period of 1 days for such cases.

[2018-11-16 06:42] mkarg commented on #690
@m0mus By all due respect. We are not *blocking* anybody. We work as fast as we can, but we will do it with care and with respect to our rules. That might imply some annoying delay to others, but this is quite normal in open source projects.

[2018-11-16 06:59] chkal commented on #702
Maybe I'm missing something, but the proposals of @mkarg and @spericas are **very** similar:

 * Default review period of two weeks
 * The review period can be shortened at creation time of the PR for non-API changes (minimum 1 day).
 * Such PRs need three +1 votes and no -1 vote (only difference: @mkarg proposed to require one +1 by the project lead).

Or am I missing some other difference? To be

[2018-11-16 17:09] mkarg commented on #690
Last order! I am about to stage to OSSRH, but there are two open PRs against `EE4J_8`!

- [ ] https://github.com/eclipse-ee4j/jaxrs-api/pull/692 (I will merge as soon as votes are repeated)
- [ ] https://github.com/eclipse-ee4j/jaxrs-api/pull/699 (We need to decide whether to fast-track *or* to skip for `EE4J_8`)

Please review both so I can perform the staging! :-)

[2018-11-16 17:22] chkal commented on #690
@mkarg I don't think that #699 is required for the release. So +1 for starting with the release procedure!

[2018-11-16 17:47] spericas commented on #690
@mkarg Agree with @chkal. +1 for release!

[2018-11-16 18:32] mkarg commented on #690
@chkal @spericas Thanks for your reply. I press the red button now. ;-)

[2018-11-16 18:38] mkarg commented on #690
https://ci.eclipse.org/jaxrs/job/Publish%20Release/17/

[2018-11-16 19:06] mkarg commented on #690
OSSRH Staging done for 2.1.3-SNAPSHOT: https://oss.sonatype.org/content/repositories/snapshots/jakarta/ws/rs/jakarta.ws.rs-api/2.1.3-SNAPSHOT

As I assume that we shall stage a non-SNAPSHOT next, I have prepared a fast-track PR https://github.com/eclipse-ee4j/jaxrs-api/pull/703 to fix that and will re-stage once that is approved for merge.

[2018-11-17 10:18] chkal commented on #702
Ok, got it. Thanks for explaining.

I would be fine with both proposals, but I've a slight preference for (B).

[2018-11-17 10:48] arjantijms commented on #702
I've got a small preference for (C) Arjan, but otherwise it's (B).

There's this thing called version control and reverts for that one in a million time something might be committed that shouldn't have. My fear is that the strictest rules open the door for hectoring more than anything else. I assume most of us are adults here, so there's not really a need for that.

[2018-11-17 21:39] mkarg commented on #690
OSSRH Staging done for 2.1.3: https://oss.sonatype.org/content/repositories/jakartawsrs-1001/jakarta/ws/rs/jakarta.ws.rs-api/2.1.3

[2018-11-17 21:54] mkarg commented on #690
@jansupol This issue is assigned to you. Feel free to close it. :-)

[2018-11-17 22:24] jansupol commented on #690
@mkarg thank you :)

[2018-11-17 22:24] #690 closed

[2018-11-18 07:44] chkal commented on #681
Version 2.1.3 has been release to the Staging repository now. The manifest of this release looks like this:

[code]

@jansupol Can you confirm that this manifest is ok?

[2018-11-18 07:50] chkal commented on #681
The `Bundle-Name`, `Bundle-SymbolicName` and `Extension-Name` are still using the `javax` prefix, but it looks like most of the latest releases are doing it the same way (Servlet, Enterprise Security, Websocket). A few others already migrated to a `jakarta` prefix (JPA for example).

[2018-11-18 07:55] arjantijms commented on #681
I'm pretty sure these should be using `javax`, as it indicated the package name and that one hasn't changed.

Only the maven coordinates have changed. I agree, it's somewhat confusing.

I assume JPA is wrong here then. cc @m0mus

[2018-11-19 16:20] FroMage commented on #691
Which is why this one is in by default and I'm proposing an extension to make others pluggable. But keep in mind that this type is not what people use in their applications. Real users will not use them and will be glad there's a mechanism to support the popular reactive types.

Funny you mention that because we added support for asynchronous filters in RESTEasy: https://developer.jboss.org/en/res

[2018-11-23 06:38] mkarg commented on #681
@eclipse-ee4j/eclipse-jaxrs Last Call! I will forward JAX-RS 2.1.3 from OSSRH Staging to Maven Central if nobody posts -1 within the next eight hours. As JAX-RS 2.1.3 passed TCK I do not see a reason (and the project lead did not tell me one either) to either wait any longer nor to set up an additional voting, because we already agreed to publish 2.1.3 and never decided that that vote is "for stag

[2018-11-24 07:11] mkarg commented on #681
Pushed JAX-RS 2.1.3 to Maven Central. :tada:

[2018-11-25 08:53] amihaiemil commented on #657
@mkarg Closing, as explained [here](https://github.com/eclipse-ee4j/jersey/issues/3938#issuecomment-441425023). Thanks!

[2018-11-25 08:53] #657 closed

[2018-11-28 12:54] dhirajforyou commented on #572
issue persists:

[ivy:resolve] tried /home/data/.ivy2/local/javax.ws.rs/javax.ws.rs-api/2.1/${packaging.type}s/javax.ws.rs-api.${packaging.type}
[ivy:resolve] tried http://repo1.maven.org/maven2/javax/ws/rs/javax.ws.rs-api/2.1/javax.ws.rs-api-2.1.${packaging.type}
[ivy:resolve] CLIENT ERROR: Not Found url=http://repo1.maven.org/maven2/javax/ws/rs/javax.ws.rs-api/2.1/javax.ws.rs-api-2.1.$%7Bpackagi

[2018-11-28 18:31] ronsigal opened #706 "Add new method javax.ws.rs.core.Response.isClosed()"
A number of javax.ws.rs.core.Response methods, e.g., getEntity() and hasEntity(), include a line in the javadoc like

    * @throws IllegalStateException in case the response has been {@link #close() closed}.

However, in the absence of a method like isClosed(), we end up writing code like

instead of

The implementation of isClosed() should be simple, and it leads to nicer code.

An example of a

[2018-11-28 18:36] ronsigal opened #707 "Define HeaderDelegate to be a provider"
Nothing in the JAX-RS 2.1 spec says that javax.ws.rs.ext.RuntimeDelegate$HeaderDelegate is a provider, which means that there is no reason to expect that something like javax.ws.rs.core.Configurable.register(Class<?>) will work for a HeaderDelegate. Moreover, there is no compulsion to recognize a declaration of a HeaderDelegate in a META-INF/services/javax.ws.rs.ext.Providers file, or a definition

[2018-11-29 00:33] ronsigal commented on #707
Here's an artificial example. There is an application specific header, TestHeader, with a specific syntax understood by TestHeaderDelegate. Note that TestHeaderDelegate is annotated with @Provider, and in TestApp, TestHeader is registered as a provider.
[code]

[2018-11-29 06:33] chkal commented on #659
I just merged #695. So I guess we can close this now.

To sum up: The values of `@FormParam` bindings are resolved via a `javax.ws.rs.core.Form` instance which is created by executing the corresponding MBR. So all implementation must invoke the reader interceptors if there is at least one `@FormParam`.

Feel free to reopen this issue if you think that this needs more clarification.

[2018-11-29 06:33] #659 closed

[2018-11-29 19:18] jamezp opened #708 "Client does not work well with the security manager"
I've not looked extensively, but the `ClientBuilder.newClient()` does not work well if the security manager is enabled. The biggest issue is the `ServiceLoader` essentially requiring a `<<ALL FILES>>, read` permissions. I've got a [branch](https://github.com/eclipse-ee4j/jaxrs-api/compare/master...jamezp:secman-client-fix) with an example of how it could work for this specific case. There is likel

[2018-11-29 19:40] andymc12 commented on #606
I still think this is a good thing to clarify, but as I mentioned in the [PR](https://github.com/eclipse-ee4j/jaxrs-api/pull/670#issuecomment-442965532), I don't have time to complete it.  I'm unassigning myself, but somebody else is more than welcome to use what I've contributed so far to complete this.

[2018-11-30 14:17] spericas commented on #706
As I stated before, this addition seems reasonable to me. You may want to consider creating a PR to let people comment on it.

[2018-11-30 14:31] arjantijms commented on #706
+1 seems quite reasonable indeed.

[2018-11-30 21:14] jamezp commented on #708
I'll have to debug more in my environment, WildFly, but essentially the `ServiceLoader` needs to be able to read different JAR's in order to find the implementation. If the path to the JAR isn't not readable via the security manager then a `SecurityException` is thrown. I'll see if I can create a standalone reproducer as well. It is debatable whether the client API should allow this or not and I'v

[2018-12-06 15:00] rfelcman opened #709 "Jakarta release has wrong OSGi Bundle-SymbolicName"
Jakarta release of this API has wrong value of OSGi Bundle-SymbolicName in MANIFEST.MF.
Current value is _javax.ws.rs-api_ but expected value could be _jakarta.ws.rs-api_ .

[2018-12-06 18:32] dagnelies opened #710 "Less is more"
Hi,

today, I took a look at https://jooby.org/ . I just wanted to try out and since it used `@GET`, `@Path` and the other usual stuff, I thought it would be nice. However, I noticed it states "not JAX-RS compliant" and uses its own set of annotations which is a subset of JAX-RS ...and thought "*why*"?! ...so out of curiosity I digged a little deeper and I found out that the developers didn't want

[2018-12-06 20:09] jansupol commented on #709
I am not sure there is a consensus about Bundle-SymbolicName. So far, from all the jakarta API in Elipse Glassfish, only JSON-B API has `jakarta` prefixed Bundle-SymbolicName. For instance, _jakarta.mail.jar_ has `com.sun.mail.jakarta.mail`.
@rfelcman Can you support your statement with some written evidence it should be `jakarta` prefixed?

[2018-12-06 20:48] mkarg commented on #710
Thank you for sharing your opinion. This is an open source project which lives from active participation. So feel free to provide a PR with your intended changes so we can discuss on a more constructive basis.

[2018-12-06 22:57] dagnelies commented on #710
I was indeed rather unconstructive. Neither do I have a sensible PR to make. The thing with APIs is that they cannot be trimmed down without breaking backwards compatibility, which would be equally harmful. If you are open to suggestions, the only one I could offer would be to split it in a "basics" and an "extended" version. That way, the barrier of adoption would be lower, while Jersey & Co coul

[2018-12-07 09:42] rfelcman commented on #709
_jakarta.mail.jar_ is not good example. It's implementation. `jakarta.mail-api` is better. There is `Bundle-SymbolicName: jakarta.mail-api`.
In the list bellow You can see Jakarta projects (APIs) used in EclipseLink and there is inconsistency in Bundle Symbolic Names:
- jakarta.activation-api - OK
- jakarta.annotation-api - OK
- jakarta.json-api - OK
- jakarta.mail-api - OK
- jakarta.persistence-a

[2018-12-07 15:47] #710 closed

[2018-12-10 07:50] Bo98 commented on #591
Apologies for being late to the party here but I saw some of the comments on #582 and had to chip in.

I think the mentality of avoid "proposed standards" at all costs is a little ridiculous considering _HTTP itself_ has never reached internet standard status. The 2nd RFC of HTTP 1.1 (from 1999), RFC 2616, did reach one stage past "proposed" in the form of a "draft standard" - but such a step no l

[2018-12-10 09:33] NicoNes opened #711 "Clarify when to invoke MBR and MBW pipeline"
Hi guys,

AFAIK the current spec does not clearly state when to invoke MBR and MBW pipeline and this leads to situation like following:

Consider the given resource and providers below registered in a JAX-RS application:

[code]
[code]
[code]
[code]
When calling the GET method of `TestResource `from my browser without sending no request body I was
not expecting the `TestReaderInterceptor.aroundRea

[2018-12-10 09:35] NicoNes commented on #659
Yep just created it: https://github.com/eclipse-ee4j/jaxrs-api/issues/711

[2018-12-10 14:08] lukasj opened #712 "Missing license and notice files in api jars"
from https://www.eclipse.org/projects/handbook/#legaldoc-distribution

[2018-12-10 17:21] lukasj commented on #709
[sample.zip](https://github.com/eclipse-ee4j/jaxrs-api/files/2663842/sample.zip) is slightly modified version of [existing test project in Tycho](https://github.com/eclipse/tycho/tree/master/tycho-its/projects/TYCHO309pomDependencyConsider)

* unzip sample project
* dependency on `jakarta.ws.rs:jakarta.ws.rs-api:2.1.3` is defined in the root (parent) pom.xml
* usage of this dependency is expressed

[2018-12-11 06:33] mkarg opened #714 "Release 2.1.4"
This is to inform all committers about plans to publish release 2.1.4 on shot notice.

Teams Jersey and Tycho requested changes that might be obstacles towards GlassFish 5.1.

**If nobody rejects this proposal, I will publish JAX-RS 2.1.4 including these changes (https://github.com/eclipse-ee4j/jaxrs-api/milestone/10) on Saturday Dec 15.**

-Markus

[2018-12-11 06:40] mkarg commented on #712
Thanks for reporting this legal issue! I wonder why neither the EMO nor the PMC ever noticed that in the release review... ;-)

[2018-12-11 14:16] spericas commented on #702
This discussion is about a month old and there were no more comments. So far the preferences are:

 (A) Markus
 (B) Christian, Arjan, Santiago

 and Alessio supporting either option.

 At this point, I believe we should go with option (B) which states: Allowed shortened period of no less than a day for non-API changes with the requirement of three +1’s (committers) and no -1’s for approval. Change

[2018-12-16 11:58] mkarg commented on #714
Release 2.1.4 is staged on [OSSRH](https://oss.sonatype.org/content/groups/staging/jakarta/ws/rs/jakarta.ws.rs-api/2.1.4/). Please everybody check ASAP for any other known showstoppers, in particular Team GlassFish.

[2018-12-16 12:11] mkarg commented on #709
@jansupol Please check the staged 2.1.4: Can we close this issue?

[2018-12-16 12:11] mkarg commented on #712
@jansupol Please check the staged 2.1.4: Can we close this issue?

[2018-12-16 15:39] chkal commented on #714
I just checked the release and it looks fine. My only concern is actually what I already posted in the comment here: https://github.com/eclipse-ee4j/jaxrs-api/pull/713#issuecomment-447577111

[2018-12-17 12:39] mkarg commented on #714
As nobody reporting any showstoppers withing 24 hours, I have published to Maven Central. Release 2.1.4 is hereby done. :-)

[2018-12-17 12:39] #714 closed

[2018-12-19 21:08] jansupol commented on #709
Yes, we can close this

[2018-12-19 21:08] #709 closed

[2018-12-27 18:46] darklord549 opened #718 "Need add method to Add the given, single header value under the given name."
Not able to add single header value, it is required for unit testing using mockito.

I researched, that it is available in "org.springframework.http.HttpHeaders" but my project is using "javax.ws.rs.core.HttpHeaders". so need this for implementation of mockito test scripts.

Also if i am using org.springframework.http.HttpHeaders, i am not able to cast (HttpHeaders) httpHeader.

Please help.

[2018-12-27 18:56] darklord549 commented on #718
@chkal Could you please have look on this

[2018-12-28 07:37] chkal commented on #718
The `javax.ws.rs.core.HttpHeaders` interface exposes a read-only view of the request headers for the current JAX-RS request. So it doesn't make any sense to have setters in this interface. You could either implement the interface with a mock class which provides such setters or use Mockito to create a "virtual mock" which provides custom behavior.

[2018-12-28 07:37] #718 closed

[2018-12-29 13:08] mkarg commented on #712
@jansupol "ping" ;-)

[2019-01-04 19:03] jansupol commented on #712
Actually, I cannot see the legal docs in [2.1.4](https://oss.sonatype.org/content/groups/staging/jakarta/ws/rs/jakarta.ws.rs-api/2.1.4/jakarta.ws.rs-api-2.1.4.jar)

[2019-01-05 13:34] mkarg commented on #712
@jansupol You are right, these is missing. I will investigate at which point those got stripped from the JAR. Thanks for checking! :-)

[2019-01-07 06:44] mkarg commented on #712
Apparently `maven.multiModuleProjectDirectory` is not evaluated at runtime on the EF's Jenkins instance. This is weird, because the running Maven version is 3.5.4, and that property was introduced in 3.3 already. I will ask team Maven what could be the cause.

[2019-01-07 16:52] jansupol commented on #712
The property `maven.multiModuleProjectDirectory` points to the actual directory, not to the top most project directory. I assume the jenkins job is executed from `jaxrs-api/pom.xml` and hence the actual folder is different from the pom.xml folder. Hence, `maven.multiModuleProjectDirectory/..` does not point to the legal doc files folder. Either the release job or the maven pom needs to be changed

[2019-01-07 18:43] mkarg commented on #712
It seems the problem is different. I tried *locally on my laptop* by starting maven in the topmost folder, and provided `-f jaxrs-api/pom.xml`, and it worked like a charm, just like it would when starting directly in the "correct" folder and just giving no `-f` at all. That is just what the EF Jenkins does, too.

But while it correctly resolves `maven.multiModuleProjectDirectory` on my laptop, it

[2019-01-08 05:04] chkal commented on #712
Why do we use `${maven.multiModuleProjectDirectory}` even if this isn't a multi-module project? Is there any specific reason for that? I just created #720 to replace it with `${project.basedir}` which should definitely work even on Jenkins.

[2019-01-08 17:47] jansupol commented on #712
Right, no reason to point to `${maven.multiModuleProjectDirectory}` as JAX-RS project does not have modules

[2019-01-10 05:59] mkarg commented on #712
@jansupol Please check https://oss.sonatype.org/content/repositories/snapshots/jakarta/ws/rs/jakarta.ws.rs-api/2.1.5-SNAPSHOT/jakarta.ws.rs-api-2.1.5-20190110.054840-1.jar. LGTY?

[2019-01-14 19:47] jansupol opened #721 "Moving Eclipse Jenkins from old infra to new one"
EF is moving old Jenkins instances from old infra to a new infra. The Jenkins is available at https://jenkins.eclipse.org/jaxrs/, the build job has been transferred.

EF is asking whether [it is possible to drop](https://bugs.eclipse.org/bugs/show_bug.cgi?id=541740) the old infra.

@mkarg Can you please check the transferred release job?

@everyone Can the old infra be disposed in favor of the new

[2019-01-15 13:19] jansupol commented on #712
Yes, it looks good. TCK passed.

[2019-01-19 19:07] mkarg commented on #721
Existing infra still working well. New infra failing due to missing JDKs labels. Will fix this after 2.1.5, which I do with the old infra.

[2019-01-19 19:08] mkarg commented on #712
Done with 2.1.5, closing.

[2019-01-19 19:08] #712 closed

[2019-01-20 16:17] mkarg commented on #721
@jansupol I am a bit confused. The referenced ticket does not say the EF wants to migrate us, but instead *you explicitly asked* for the migration and in particular, to shutdown the existing and quite fine working Jenkins instance. As I am using that old infra for releasing and was pretty happy with it, I wonder if you like to elaborate a bit why you requested the shutdown of that service without

[2019-01-21 07:02] arjantijms commented on #721
@jansupol

Yes, when everything is transferred please go ahead. It's very confusing to only have JAX-RS on this old infra.

[2019-01-24 06:40] mkarg commented on #721
I'm still working on this. Apparently we need to change the supported set of JDKs. Please find PR #724  so I can continue.

[2019-01-24 14:03] jansupol commented on #721
I fail to see how removing Oracle JDK from Travis helps with building on Jenkins.

[2019-01-24 17:48] mkarg commented on #721
@jansupol Jenkins is improved by replacing Oracle JDK 8 by OpenJDK Latest in the Jenkinsfile. The Travis changes are for Travis probles, not for Jenkins problems. So for #721 we only need one of those fixes, the other fix is needed for Travis problems.

[2019-01-25 13:15] jansupol commented on #721
The PR is a bit problematic, There are 3 parts of it, in a single PR:
1) Replacing Oracle JDK by OpenJDK in Jenkins. That's fine. Oracle JDK is available in bash only, it's fine to build the JAX-RS API with OpenJDK.
2) Removing the EA from the build. It's fine, it's causing issues, we can remove it.
3) Removing Oracle JDK 8+. I do not see any rationale behind this. I do not see how this fixes any

[2019-01-26 11:16] mkarg commented on #721
**This issue is dependent of #724.**

[2019-01-26 11:58] mkarg opened #725 "Official Agreement between Oracle and The Eclipse Foundation"
Due to legal reasons, we need Oracle to officially allow the Eclipse Foundation to extend JAX-RS by new methods, classes and subpackages within and subordinate to the `javax.ws.rs` Java package. This agreement is **essentially needed** *before* we can release JAX-RS 2.2, and it is even needed to publish nightly builds of all new features we invent ontop of JAX-RS 2.1. The agreement is *not* needed

[2019-01-26 12:00] mkarg commented on #725
@bshannon @waynebeaton @spericas I want to kindly ask you to clarify this issue with Oracle and the Eclipse Foundation, as from all our project members I assume you are those with the most influence and insight into the legal process. If you feel that you are the wrong people, please propose better suited committers to be assigned instead.

[2019-01-27 06:52] chkal commented on #725
The latest public information about this seems to be in the [Minutes of the January 8 Jakarta EE Steering Committee Meeting](https://docs.google.com/document/d/1HFuUzROQICSsk8LZNaT03KkqyBAenSF9N8_r5vTIHQo):

So it looks like the agreement is still WIP.

[2019-01-30 16:32] pa314159 commented on #598
There is one more client proxy implementation at https://github.com/pa314159/rest-bridge that has been started some time ago and resurected recenty.

The implementations is now compatible with Eclipse-MP-1.2 so I think unifying such an API with Eclipse-MP would be possible...

[2019-01-31 18:43] #543 closed

[2019-01-31 19:09] mkarg commented on #721
Nightly builds working incorrectly, still working together with EF admins to solve this. Stay tuned. :-)

[2019-02-04 07:26] mkarg opened #730 "Clarification: MessageBodyWriter#writeTo SHOULD NOT / MUST NOT close the stream"
The JAX-RS 2.1 JavaDocs for `MessageBodyWriter#writeTo` say: _"The implementation should not close the output stream."_.

This is confusing because SHOULD NOT implies that it is allowed for an MBW to actually close the stream. On the other hand, downstream filters do not expect closed streams; in particular their JavaDocs tell _"Get the entity output stream. The JAX-RS runtime is responsible for c

[2019-02-04 10:56] chkal commented on #730
Good catch. I agree that updating the docs of `MessageBodyWriter#writeTo()` to MUST NOT is a good solution.

[2019-02-05 06:18] mkarg commented on #721
The new infrastructure is working well since yestedays tweaks by the Eclipse Foundation admins. Hence I am closing this issue.

WARNING: The job for nightly builds will currently fail on JDK 11 due to this bug https://bugs.openjdk.java.net/browse/JDK-8212233. Don't assume this has to do with the new infra, this is completely independent and just popped up in this environment by incident. I'm worki

[2019-02-05 06:18] #721 closed

[2019-02-06 22:17] mkarg opened #734 "Maven Javadoc Plugin fails on JDK 11 and later"
Due to this https://issues.apache.org/jira/browse/MJAVADOC-575 bug of the Maven Javadoc Plugin JAX-RS builds fail on JDK 11 and later.

[2019-02-08 23:03] mkarg commented on #734
[Fix](https://gitbox.apache.org/repos/asf?p=maven-javadoc-plugin.git;a=commit;h=1fe0654bfe1ca550219f428c0dd767a3e70dab69) exists and works well. Many thanks to @rfscholte for fixing this within hours after I reported it! :+1:  Waiting for Maven JavaDoc Plugin 3.1.0 to be release on Maven Central. Then I will file PR to adopt it.

[2019-02-09 14:55] chkal commented on #711
Sorry for the delayed response.

Not invoking the MBW pipeline if there is no response entity sounds reasonable to me. Especially because the responsible MBW can only be determined if you have an entity class. I'm +1 for making this more explicit by mentioning it in the MBW API docs.

The MBR case is more difficult. For the MBR one could decide whether to invoke the pipeline either by the presence

[2019-02-09 17:09] NicoNes commented on #711
Hi @chkal,

In the case where a request body is sent by the client and there is no entityParemeter (or `@FormParam`) on the matched resource as follow, why should we invoke the MBR ? What will we do with the read entity ?

[code]

So according to me MBR, should only be invoked in this case. I mean when user explicitly express  that he cares about the request body by adding entity parameter or `@Fo

[2019-02-09 17:15] NicoNes commented on #644
Just adding the Reateasy Jira about it with comments: https://issues.jboss.org/browse/RESTEASY-1958?_sscc=t

[2019-02-09 17:36] NicoNes opened #736 "Clarification about Response.readEntity(XXX)"
According to the javadoc of:

- Response.readEntity(Class)
- Response.readEntity(javax.ws.rs.core.GenericType)
- Response.readEntity(Class, Annotation [])
- Response.readEntity(javax.ws.rs.core.GenericType, Annotation [])

1. those methods are supposed to close the original entity input stream (unless the supplied type is input stream) and then cache the result for subsequent retrievals via `Respo

[2019-02-10 09:57] chkal commented on #711
Agreed. Actually the JAX-RS implementation knows if the matched resource method declares an entity parameter or if there is any `@FormParam` involved. And if neither is the case, the MBR isn't really required as the resulting entity isn't used any anyway. The only thing that COULD happen is that there is a `ReaderInterceptor` which wants to intercept the incoming entity stream (for logging, auditi

[2019-02-10 10:13] chkal commented on #736
IMO your understanding is correct and both Jersey and RESTEasy doesn't behave correctly. But it would be interesting to hear other thoughts about this as well.

[2019-02-10 10:28] NicoNes commented on #711
I get you point.

But in the case where I'm not interested in "creating"  entity stream when there is no request body, the MBR will be invoked and will just add "extra treament" for nothing right ?

IMO the best option for user to "create" entity stream when there is no request body is to do it from the filter chain using "ContainerRequestContext.setEntityStream()". Then the MBR will be invoked af

[2019-02-10 12:33] chkal commented on #711
Correct.

Agreed. This would certainly be a better option. I just wanted to mention that in theory people could use the `ReaderInterceptor` API this way.

@eclipse-ee4j/eclipse-jaxrs Any other thoughts?

[2019-02-10 13:35] NicoNes commented on #644
Hey @chkal

Maybe you could also help here to get this move forward ?

Thanks

[2019-02-10 14:08] chkal commented on #644
@NicoNes Unfortunately I'm not very familiar with SSE. That's why I didn't respond to this issue yet.

@eclipse-ee4j/eclipse-jaxrs Anyone with more insights on this?

[2019-02-11 16:39] spericas commented on #736
These are good point @NicoNes. We definitely need a clarification here and an understanding as to why implementations do not appear to honor the `getEntity()` semantics here. Any comments @jansupol?

[2019-02-11 16:58] andymc12 opened #742 "Mandate usage of JSON-B instance provided by user's ContextResolver<Jsonb>"
Glassfish/Jersey contains a nifty feature that allows a user to specify a `ContextResolver<Jsonb>` provider.  The returned instance of `Jsonb` is then used by Glassfish to serialize and deserialize JSON objects.  That way a customer could, for instance, serialize private fields.

While this feature exists in the RI, it is not mandated by the spec, and so other JAX-RS implementations (CXF, RestEasy

[2019-02-12 06:36] chkal commented on #742
+1

Unfortunately we would need to add this to the spec document, which isn't available yet.

[2019-02-12 13:58] spericas commented on #742
+1

 We should target this for 2.3.

— Santiago

[2019-02-12 14:25] spericas commented on #711
I think a MBR should be called if there is an entity param (or `@FormParam`), regardless of how the request looks like. If a resource _expects_ an entity, its corresponding MBR (and filter chain) should be given the chance to _produce_ one, whether it's read from an inputstream or defaulted in some other way.

If there isn't an entity param, then I would understand why calling a MBR does not make

[2019-02-12 16:34] arjantijms commented on #742
+1

Very much in favour of this and indeed should be targeted for 2.3.

[2019-02-13 07:22] NicoNes commented on #711
As I  was saying to @chkal, I understand this point of giving a chance to user to _produce one_.
But in the case where I'm not interested in "creating" entity when there is no request body, the MBR will be invoked and will just add "extra treament" for nothing: MBR selection process, execution...

So in order not to pay this extra cost for nothing, the best solution will be to let user to create/m

[2019-02-13 08:24] mkarg opened #743 "Spec Clarification Chapter 2.3.2: Servlet 3 framework pluggability mechanism MUST be supported"
Chapter 2.3.2 currently says: "It is **RECOMMENDED** that implementations support the Servlet 3 framework pluggability mechanism...".

I want to suggest that this is changed to: "Implementations **MUST** support the Servlet 3 framework pluggability mechanism".

Justification: I assume that all implementations support this mechanisms already, so there is no need to keep this unreliable trap open fo

[2019-02-13 08:25] mkarg commented on #743
@jansupol @andymc12 @asoldano Vendor opinions?

[2019-02-13 20:30] asoldano commented on #743
I'm fine with the proposal

[2019-02-14 14:02] spericas commented on #711
@NicoNes I don't believe the two cases are equivalent. MBRs and their interceptors are _typed_ while filters operate on byte streams: providing a default would be a lot easier using the MBR/interceptor chain.
Frankly, this whole discussion seems a bit pointless to me, the use case we are trying to _optimize_ is very narrow in practice; at this point the discussion seems more academic than practica

[2019-02-14 14:06] spericas commented on #743
I don't disagree that most vendors support this, but what is the justification for such a change at this point? I'm not sure Servlet will continue to be relevant in the future, hence I'm -1 on this.

[2019-02-14 14:33] NicoNes commented on #711
@spericas Yes for sure it's more academic than practical I agree.
Can we please at least be more specific in the spec about when MBR are invoked saying that its is invoked no matter of the HTTP method or the request body availability. Only the enty param or @FormParam presence matter.

[2019-02-14 16:17] spericas commented on #711
@NicoNes Yes, we can certainly do that. If you have a suggestion as how/where to do this based on your analysis, please provide it here. We can target this for 2.2.

[2019-02-14 18:35] mkarg commented on #743
@spericas Are you really -1 (= we MUST NOT change this even if ALL OTHER commiters are +1 -- that would have the smell of dictatorship ;-) ) or actually 0 (= you personally don't like it but do not stand in the way if others are +1)? The point about changing is that servlets are everything but outdated! Current Payara for example still runs Jersey in Servlet mode, so when deploying a WAR to an app

[2019-02-14 23:04] jansupol commented on #736
Javadoc to `getEntity` says:

That's what Jersey does. It does not return the cached entity, as the entity is never cached.

I am concerned about automatic caching being a performance issue unless the cached entity means a simple reference to a Java entity returned by `readEntity`. (In that case, if the entity is mutable, `readEntity().toString() might differ from getEntity().toString()`). I am no

[2019-02-15 00:31] NicoNes commented on #736
Hi @jansupol ,

Actually javadoc for `getEntity` first states that:

 IMO it means that if the entity has been read as a `Date` Java instance for example, using `readEntity(Date.class)` the `getEntity()` should return this `Date` entity not matter its mutability.

Then the doc says:

IMO it means that if the entity has not been read at all using any of `readEntity(...)` methods,  the raw input str

[2019-02-15 00:48] NicoNes commented on #736
Its not the point of this issue, but following is not totally right

In following case I was expecting an IllegalState to be thrown since the entity was previously fully consumed as an input stream but instead `getEntity()` returns the fully consumed input stream that is not really usefull given its current state:

[code]

[2019-02-15 06:16] chkal commented on #711
I was thinking about simply adding some statements like this to the MBW/MBR API docs:

[2019-02-15 06:21] chkal commented on #743
Which *pluggability mechanism* is the spec referring to? `ServletContainerInitializer` with `HandlesTypes`? `web-fragment.xml`? Anything else?

From the context of this statement it sounds like it refers to annotation discovery. Or am I wrong? IMO this is an implementation concern and I don't see much value for the user if the spec recommends or enforces anything in this regard.

[2019-02-15 13:00] spericas commented on #711
@chkal LGTM

[2019-02-15 15:40] jansupol commented on #736
@NicoNes  [Caching term was not clear even back in the JAX-RS 2.0 days](https://github.com/eclipse-ee4j/jersey/blob/310db2c89cde2b80a967f49130b4db651ee52c48/core-client/src/main/java/org/glassfish/jersey/client/ClientResponse.java#L255). If caching the entity means keeping a reference to the entity, that would be easy to implement.  I'd like to see some javadoc warning that if the user would retri

[2019-02-15 16:57] NicoNes commented on #711
I was looking at the Http RFCs trying to see if there is something preventing us from handling request body depending on the HTTP method we are using.
It appears that request body is only forbidden for TRACE method. So my question is: should we enforce a check in JAX-RS for that case given what we said before ? Or is it more the responsability of the underlying HTTP server to perform this check ?

[2019-02-15 17:06] mkarg commented on #743
@chkal The JAX-RS Spec 2.1 chapter 2.3.2 just uses the term "the Servlet 3 framework pluggability mechanism", which IMHO means the explicit mention of JAX-RS in the Servlet 3 spec's chapter 8.2.4. It is *not* about annotation discovery, but about the fact that a JAX-RS WAR does not need to come with a WAR, but instead JAX-RS implementations can programmatically forward the value of @ApplicationPat

[2019-02-15 18:28] NicoNes commented on #736
I agree that javadoc wording (_un-consumed_, _fully consumed_, _consumed_) are a bit confusing.

So let's try to make that clear to get a precise idea of what those methods are supposed to do.

**getEntity()**:

I do not want to talk about `readEntity(...)` yet in details, but in what follow, I assume that `readEntity(InputStream.class)` returns the message InputStream instance.

I suggest to chan

[2019-02-16 03:53] danielflower commented on #693
For now, is the jax-rs TCK available to download at all for individuals? I'm implementing the spec but struggling to find how to get the TCK.

[2019-02-16 08:02] chkal commented on #693
The JAX-RS TCK is part of the Jakarta EE TCK which you can find here:

https://github.com/eclipse-ee4j/jakartaee-tck

[2019-02-16 08:33] mkarg commented on #693
@danielflower What is the target of your work, another open source JAX-RS framework? 8-)

[2019-02-16 09:00] danielflower commented on #693
Thanks for the link!

This is for a little web server library I'm writing with a partial jax-rs implementation built in: https://github.com/3redronin/mu-server

It is different from the existing implementations I've seen in that the user to constructs their own resources and passes them to the library, e.g. if `Fruit` is a jax-rs resource class: `MuServer server = MuServerBuilder.httpsServer().add

[2019-02-16 09:59] chkal commented on #743
Well, it is not **only** about, but **also** about annotation scanning. The full sentence from the spec:

_It is RECOMMENDED that implementations support the Servlet 3 framework pluggability mechanism to
enable portability between containers **and to avail themselves of container-supplied class scanning facilities**._

Agreed!

Well, that's not completely true. If ISVs want to support pre-Servlet

[2019-02-16 10:22] chkal commented on #711
I don't think that this should be enforced on our side.

BTW: I just open #744 for adjusting the MBW/MBR API docs. Please let me know what you think.

[2019-02-16 11:23] mkarg commented on #743
@chkal I think you misunderstood the intention of this this issue. The intention is to *ignore* pre-Servlet 3.0 containers, hence to allow ISV to concentrate on containers supporting Servlet 3.0 *without* the need to explicitly provide a web.xml file. That's why I asked if all vendors already support it, so we can discard that chapter from the spec.

[2019-02-16 15:20] chkal commented on #743
Don't get me wrong. I'm fine with requiring Servlet 3 and making the support for Servlet 3 pluggability mechanism required. I just wanted to emphasize, that IMO the term "pluggability mechanism" is a bit vague. Why don't we just start this section with something like:

[2019-02-16 15:49] mkarg commented on #743
Because it still would imply that there is more than one way to deploy as servlet would exist. My simple change (one single word changed, and removed a lot of other text) makes it pretty clear that once you package as a servlet, you never need a web.xml.

[2019-02-17 22:45] jansupol commented on #693
Fyi I have put together few notes about one possibility [how to setup the TCK build and run](https://wiki.eclipse.org/TCK:Build_From_Jakarta_EE_TCK_Repo_And_Run) from that repo.

[2019-02-19 13:50] spericas commented on #743
@chkal The concept of "pluggability" originated in the Servlet spec. People referred to it as the "web framework pluggability" or "pluggability mechanism". Frankly, nobody ever thought that part of the spec was ambiguous due to that terminology.

@mkarg I'm really -1. I don't see the point of spending any time in this area. If mandatory, shouldn't this be better covered by the TCKs? Why spend time

[2019-02-19 14:12] spericas commented on #711
I agree with @chkal. No need to enforce that.

[2019-02-19 17:24] spericas commented on #736
I agree with @NicoNes interpretation of the Javadoc. I think it's important to convert this into actual use cases:

(1) getEntity() -> InputStream

(2) getEntity() -> InputStream, InputStream consumed, getEntity() -> IllegalStateException

(3) readEntity(Foo.class) -> Foo, getEntity() -> Foo

(4) readEntity(Foo.class) -> Foo, readEntity(Bar.class) -> IllegalStateException

(5) bufferEntity(), read

[2019-02-19 18:28] NicoNes commented on #736
About case 4,  I think it's important to be clear that any subsequent invocation of `readEntity(xxx.class)` whatever the xxx type must throw an IllegalStateException:

(4) readEntity(Foo.class) -> Foo, readEntity(XXX.class) -> IllegalStateException

Yes probably or any other internal mechanism sure :+1:

[2019-02-19 18:36] spericas commented on #736
@NicoNes Are you interested in submitting a PR that clarifies the `getEntity`, `readEntity` and `buffer Entity` docs and interactions? Looks like all these javadocs can use some tweaking to clarify this behavior. We need to be precise but also concise since developers often dislike reading pages of Javadocs.

[2019-02-19 18:51] NicoNes commented on #736
@spericas Yes sure I will do it :+1:

[2019-02-19 19:02] mkarg commented on #743
@spericas I came across this when talking to our packaging team. They really hate that "SHOULD". Actually I do not see what you mean with "spending time". I just would replace the word "SHOULD" by "MUST" in the JavaDocs if all vendors agree that they support the framework anyways. In fact I think the TCK is not even to be touched. But ok, if you have such strong feelings against it, I have to acce

[2019-02-19 19:07] mkarg commented on #730
Shall we backport this clarification into 2.1.6?

[2019-02-19 19:40] spericas commented on #743
That's what I'm doing right now answering your comment :)

 This has nothing to do with Jersey or my work. I agree that in general "MUST" is nicer than "SHOULD". I'm not sure that I agree that's all we need to do, if something is a "MUST", it "MUST" (not "SHOULD") be tested. There is also many other "SHOULD"'s in the spec, and I really hope we don't start discussing each one going forward.

[2019-02-20 05:51] mkarg commented on #743
Well, as one target of the user community is to develop the specification further, be assured that there will be lots of discussions regarding SHOULD and MUST in the future, because -like in this particular case- some of the SHOULDs simply are deprecated meanwhile due to technical progress. If all of them will be prevented by you _simply because you don't like to invest time_ that would be really

[2019-02-20 14:02] spericas commented on #743
We have a lot of work ahead of us related to CDI and the next generation JAX-RS. I don't see at all how opening SHOULD vs MUST discussions helps "develop the specification further" as you say (unless they relate to the new work). And it has nothing to do with democracy or having no time, I see little to no benefit to make this change for end users, while I see a lot of benefit in working in other

[2019-02-20 17:13] mkarg commented on #743
While I do not share the idea to -1 issue X due to issue Y implying lots of work, but I respect your opinion and vote.

[2019-02-21 19:18] chkal commented on #730
I'm not completely sure about that. We actually changed `should` to `must`, which may be more than a simple clarification!?!

[2019-02-21 19:35] mkarg commented on #730
I share this opinion.

[2019-02-22 04:25] jimma opened #745 "Clarify more about SseBrodcaster.onClose() behavior"
SseBroadcaster.onClose() has this description:
[code]
If I undestandand correctly, from the javadoc,  these register consumers should be called when the SseEventSink is closed if this SseEventSink is in the broadcast target list.  Is this api intended to do nothing about SseBroadCaster.close() ?  Should these listeners registered in SseBroadcaster care  SseEventSink's close event ?

[2019-02-22 07:34] marekkopecky opened #746 "@Provider annotation on client on server-side"
According to the spec, it seems that ClientRequestFilter with @Provider annotation should be used with Client without registration. This behaviour currently doesn't work on Jersey, RESTEasy fix this on server side (see [RESTEASY-2084](https://issues.jboss.org/browse/RESTEASY-2084), [RESTEASY-2163](https://issues.jboss.org/browse/RESTEASY-2163))

I suggest to make clear in the spec, that this can w

[2019-02-22 14:05] spericas commented on #746
Yes, I agree this needs to be clarified. Generally speaking, support for `@Provider` requires a form of class scanning which is normally supported in server environments, and the mechanism was originally crafted to locate providers connected to the server API.

[2019-02-24 13:59] anthonyvdotbe opened #747 "Request.evaluatePreconditions(): anything other than "If-None-Match: *" must return 412"
The Javadoc for `Request.evaluatePreconditions()` says:

However, [RFC 7232](https://tools.ietf.org/html/rfc7232#section-3.2) says:

So `Request.evaluatePreconditions()` must return 412 for anything other than "If-None-Match: *"

[2019-02-25 15:21] spericas commented on #745
Correct.

 No, there wouldn't necessarily be an `SseEventSink` to pass to those consumers right?

 Are you asking whether this `onClose(Consumer<SseEventSink> onClose)` method makes any sense at all?

[2019-02-25 15:26] spericas commented on #747
I suspect the original semantics for these methods pre-date RFC 7232, which is from 2014. Perhaps the issue here is updating the JAX-RS spec referring to that RFC? WDYT?

[2019-02-25 16:58] anthonyvdotbe commented on #747
Yes, exactly. I created a pull request to update the spec.

[2019-02-27 06:11] jimma commented on #745
Ah, right.

Yes. That is my doubt.

[2019-02-28 15:16] jimma commented on #745
Do that means these listeners are intended to do some cleanup work in SseBroadcaster if there is SseEentSink error or close event happens ?   When a SseEventSink is closed, we remove it from the registered list?

[2019-03-01 14:48] spericas commented on #745
@jimma Are you asking as a JAX-RS developer or implementor? As a developer, you just get informed about the event, so it's up to you to do something with that info.

[2019-03-05 06:21] mkarg commented on #747
Anybody having a list of more RFC 7232 changes, so we could put all of the fixes into the same next version?

[2019-03-05 07:25] mkarg commented on #734
Maven JavaDoc Plugin 3.1.0 was released some days ago, so I have modified PR #735  to fix this issue in our bugfix branch (`EE4J_8`). I will adopt the fix ontop `master` by a single rollup PR later (as usual).

[2019-03-06 06:31] mkarg commented on #711
@spericas PR is merged. Can we close this issue?

[2019-03-06 06:32] mkarg commented on #711
Shall be backport this clarification into 2.1.x?

[2019-03-06 06:59] chkal commented on #711
@mkarg +1 for closing. And IMO we could backport it.

[2019-03-06 18:19] mkarg commented on #711
Ok, so I put it on my [backport stack](https://github.com/eclipse-ee4j/jaxrs-api/pull/741).

[2019-03-06 18:19] #711 closed

[2019-03-06 18:44] anthonyvdotbe commented on #747
Each of the new RFCs (7230-7235) has an appendix "Changes from RFC 2616" that can be used as a guidance for required updates to JAX-RS. I agree it would be nice for all updates to go into the same next version.

[2019-03-06 18:59] mkarg commented on #747
@anthonyvdotbe Would you be interested to provide more PRs wrt the mentioned RFCs?

[2019-03-06 19:28] anthonyvdotbe commented on #747
@mkarg yes, as this seems a good starting point to get more involved, but at the moment I don't want to make any commitments I won't be able to keep

[2019-03-12 08:05] mkarg commented on #725
@spericas IIUC then we must not publish any new features without this agreement being negotiated finally. As our plan was to publish JAX-RS 2.2 soon, I wonder what this means to us. Do you share my opinion that any work on JAX-RS other than bug fixing is impossible, hence the project is more or less stuck?

[2019-03-12 20:07] bshannon commented on #725
@mkarg That's correct.

[2019-03-14 19:28] andymc12 commented on #639
Hi All,

Related (only partially) to the topic of async injection, would we need some sort of CDI thread context propagation mechanism?  I bring this up due to some discussion in the MP Concurrency about whether they should support JAX-RS specific thread context propagation, or just rely on CDI propagation - see [here](https://github.com/eclipse/microprofile-concurrency/issues/134#issuecomment-472

[2019-03-15 10:10] sdaschner opened #749 "Inject Client via CDI"
It would be a nice addition if the JAX-RS `Client` type can be injected via `@Inject` (see #569, #60, #639) which results in the same result as `ClientBuilder.newClient()`. However, by doing so we facilitate to mock the JAX-RS client out of classes in test scopes.

Additionally, the `ClientBuilder` could also be injectable, if users want to use injection with further configuration and still enable

[2019-03-15 13:25] spericas commented on #639
Thanks for bringing this up @andymc12. Clearly, all this works fine in the synchronous case. For async, I see two separate cases: the `ExecutorService` is under the JAX-RS implementation control or it isn't.

If the JAX-RS implementation does _not_ manage the executor service, then I don't see how the code above would work even if you use `@Context` (as a side note, Jersey has an annotation called

[2019-03-16 10:36] m0mus commented on #725
Just a clarification. Jakarta EE 8 release must not contain any API changes. You should target changes to the next Jakarta EE release.

[2019-03-16 10:54] mkarg commented on #725
@m0mus I think that it pretty clear to everybody. But without the agreement I doubt anybody will continue to work on any new features anyways.

[2019-03-18 13:10] jimma commented on #745
@spericas  sorry for the late reply.   I am asking as implementor.Just to want to know  what does implementor should do here to better understand this api's job.

[2019-03-18 16:07] spericas commented on #745
@jimma Implementations need to: (1) Keep track of the registered consumers and (2) Detect error and closing conditions on underlying sinks. One way to do this may be by wrapping sinks during the registration process and intercepting calls.

[2019-03-21 14:07] FranklinYu opened #750 "Is generated Javadoc available online?"
I can find old versions at https://jax-rs.github.io/apidocs/2.1/ so is new one being built anywhere? If any, it should be mentioned in README.

[2019-03-21 20:43] arjantijms commented on #725
Maybe a bold suggestion, but what if we let 2.2 be for what it is at the moment, and start working on JAX-RS 3.0 (targeted for next Jakarta EE release) where we change all the `javax.ws.rs` packages to `jakarta.ws.rs` or `ee.jakarta.ws.rs` (or whatever the PMC recommends).

I know it's not ideal, but we can at least continue that way.

Thoughts?

[2019-03-21 21:44] bshannon commented on #725
@arjantijms Obviously that would break all existing applications and is not something that
should be done without approval from the PMC and the Specification Committee, and even
then only as a last resort.

While finalizing the trademark agreement that will allow evolution of the javax.* packages
is taking longer than any of us would like, progress is still being made so it's premature
to consider

[2019-03-21 23:07] arjantijms commented on #725
@bshannon

Not necessarily, as an implementation can still ship the old libraries and the existing app can be run against that.

Alternatively, Maven Shade is pretty amazing at rewriting code to use different packages, and a deployer could shade (or reverse shade, from a certain point of view) the application code being deployed.

Of course, we don't want every EE4J API project to do this in a dif

[2019-03-22 06:22] mkarg commented on #725
@arjantijms There is nothing that can stop you certainly, but I think it is worth waiting a few more days. At JavaLand I had the opportunity to learn the reasons for the delay from a PMC and EF representatives, and I will share it for the community soon in a blog entry. In short: I assume it wouldn't be necessary to rename the packages, so your work would be in vain. In fact all parties, apparentl

[2019-03-22 06:26] mkarg commented on #750
In fact there is no published JavaDocs currently, but you can simply `git clone... && mvn javadoc:javadoc` them within seconds. :-)

@ivargrimstad Is the PMC having any plans for setting up machine-writeable web sites for all EE4J subprojects? And does the PMC have a Github handle to include them in issue discussions like this one easily?

[2019-03-22 07:46] ivargrimstad commented on #750
Hi,

The Jakarta EE Marketing committee is in the process of setting up an
infrastructure for all EE4J projects to have a dedicated page on
https://jakarta.ee, similar to https://microprofile.io/projects/. The PMC
will notify the projects when this is set up and assist in getting the
information out.

Ivar

On Fri, Mar 22, 2019 at 7:26 AM Markus KARG <notifications@github.com>
wrote:

[2019-03-22 08:09] arjantijms commented on #725
It's certainly worth it to wait a few more days, or weeks even. Let's see then. Thx.

[2019-03-22 13:57] FranklinYu commented on #750
@ivargrimstad I checked https://microprofile.io/projects/ but is it only a single-page README for each project? That would not suffice since JavaDocs is a lot more. It would be cool if every EE4J (Jakarta EE) project gets a URL prefix like https://jakarta.ee/projects/jaxrs-api/.

[2019-03-25 06:06] #747 closed

[2019-04-01 17:36] mkarg commented on #734
Closed with #735

[2019-04-01 17:36] #734 closed

[2019-04-01 17:37] mkarg commented on #730
Closed with #731

[2019-04-01 17:37] #730 closed

[2019-04-02 20:11] mkarg commented on #706
@ronsigal Will you provide a PR?

[2019-04-04 07:42] ivargrimstad opened #752 "Update Scope Statement for Jakarta API for RESTful Web Services Project"
Update the scope statement for the project: https://projects.eclipse.org/projects/ee4j.jakartaee-platform/governance

See https://docs.google.com/spreadsheets/d/1FPLjo_DJDOQngVtdrYgaDk98d9NBG-0ODgdmOG3LOsI/edit?usp=sharing for examples.

[2019-04-04 16:50] mkarg commented on #706
@ronsigal Ron? Hello?

[2019-04-04 16:53] mkarg commented on #725
Another two weeks over. Any news on this topic that Oracle, EF Legal or PMC want to share?

[2019-04-04 17:44] ivargrimstad opened #753 "Change project name to Jakarta RESTful Web Services"
Background information:
https://waynebeaton.wordpress.com/2019/04/04/renaming-java-ee-specifications-for-jakarta-ee/

Checklist:
- [ ] GitHub
- [ ]  README file
- [ ]  CONTRIBUTING file
- [x]  Eclipse Project under https://projects.eclipse.org/projects/ee4j

[2019-04-04 17:54] mkarg commented on #753
-1 as Wayne's personal opinion is not authoritative. Please instead provide a link to the authoritative decision of the EF that this *must* be done.

[2019-04-04 20:03] mkarg commented on #753
BTW, is it really needed that someone (don't know who actually) decides about the projects name and the committers of the project are not even considered to get asked for proposals?

[2019-04-05 05:37] mkarg commented on #753
Actually @ivargrimstad 's rather brief summary is not the sole truth. As @waynebeaton [commented](https://waynebeaton.wordpress.com/2019/04/04/renaming-java-ee-specifications-for-jakarta-ee/#comment-26798) to the above blog entry, in fact the actual name of the project is to be chosen *by us*; the list on his blog was just *his personal proposal*.

@eclipse-ee4j/eclipse-jaxrs Hence all JAX-RS comm

[2019-04-05 06:39] ivargrimstad commented on #753
Hi,

The naming standard has been formed after discussions among all the members
of the Jakarta EE Working Group Steering Committee and Specification
Committee. You are free to come up with your own suggestions, but
ultimately the names must be approved by (I would guess) the Specification
Committee (maybe also the Steering Committee).

Ivar

On Fri, Apr 5, 2019 at 7:37 AM Markus KARG <notificatio

[2019-04-05 17:31] mkarg commented on #753
@ivargrimstad There is a naming *standard*? Can you please link to the published document?

[2019-04-05 17:33] mkarg commented on #753
Proposal #1: We keep "JAX-RS" and "Java API for RESTful Web Services" as long as nobody of Oracle officially forbids that.

Proposal #2: Once Oracle officially forbids that, we keep "JAX-RS" with its long form "Jakarta API for RESTful Web Services".

[2019-04-05 17:36] ivargrimstad commented on #753
@mkarg I don't think the naming sheet has been published. The naming standard, or pattern, is what Wayne outlined in his blog post.

[2019-04-05 17:37] mkarg commented on #753
@ivargrimstad Can we agree upon that Wayne's blog is non-normative, as he explicitly told me that it is solely his personal opinion and not an official EF channel? Can the committees please immediately publish all official decisions somewhere?

[2019-04-05 17:59] ivargrimstad commented on #753
The minutes are published here https://jakarta.ee/meeting_minutes/ as soon as they are approved. I will take it up on the next meeting that this information need to be shared as quickly as possible.

[2019-04-05 18:05] mkarg commented on #753
@ivargrimstad Great, thanks! :-) In fact it would be goold if all committees would have official announcement channels that post official decision rather immediately after deciding them.

[2019-04-05 18:09] ivargrimstad commented on #753
Ooops, sorry clicked the close button by accident :)

[2019-04-05 19:34] mkarg commented on #753
:-D

[2019-04-06 15:16] chkal commented on #753
My following thoughts are based on the assumption that we aren't allowed to use the Java trademark in the name for the specification anymore. And according to my understanding, that's the current situation and therefore suggestion (1) by @mkarg would not be possible.

In this case I'm voting for:

I don't think that dropping the **API for** is a good idea. Keeping it emphasizes that it is an API/s

[2019-04-06 16:38] ivargrimstad commented on #753
I kind of like keeping it simple. How about simply **Jakarta REST**?

@chkal This would be analog to MVC. When we move that spec over, it would make sense to call it Jakarta MVC and not Jakarta API for MVC, which doesn't really add any value...

[2019-04-07 05:53] chkal commented on #753
IMO having API in the name actually adds value, because it makes the specification nature clearer. Or do you think that having Jakarta in the name is sufficient for people to know it is about an API and not an implementation?

I'm not sure if the name must me very short, because people will call it JAX-RS anyway :-)

What about the pattern:

That's shorter than the "Jakarta API for ..." scheme. It

[2019-04-07 12:59] ronsigal commented on #706
Hi @mkarg,

Sorry. Yes, I would be happy to create a PR.

-Ron

[2019-04-07 15:15] mkarg commented on #706
@ronsigal Great, go ahead! We'd love to review it. :-)

[2019-04-08 14:13] spericas commented on #753
Hi All,

 I agree with Christian about keeping API in the name. So I like the prefix “Jakarta API for …”

— Santiago

[2019-04-08 15:47] arjantijms commented on #753
I don’t like only JAX-RS having “api for” in its name. I believe in some level of consistency. Either all spec projects should have this, or none should.

[2019-04-09 08:41] arjantijms commented on #753
@chkal

Just wondering, but MVC doesn't have API in its name, does it?

[2019-04-09 15:04] chkal commented on #753
I would prefer

over

But I guess that's mostly a matter of taste.

[2019-04-09 16:25] watarhu commented on #418
This is how resteasy resolves multipart:

https://docs.jboss.org/resteasy/docs/1.1.GA/userguide/html/Multipart.html

Comparison table (TBR):

|Library|Jersey|CFX|Resteasy|
|:--|:--|:--|:--|
|Multipart param| `@FormDataParam` | `@Multipart` | `@MultipartForm` + `@FormData` + `@PartType` |
|Multipart body| `MultiPart` | `MultipartBody` |  `MultipartInput` |
|Body Part| `Attachment` | `BodyPart` | `I

[2019-04-09 22:37] arjantijms commented on #753
@chkal I hear you, but I just wonder if not "Jakarta" signals that it's an API project, since all Jakarta projects are API projects if I'm not mistaken. Implementations use names like GlassFish, TomEE, and what have you.

[2019-04-10 05:11] mkarg commented on #753
@arjantijms No, the name "Jakarta" is not enough, as least people in the user community actually know that it *only* contains APIs. Even the Jakarta EE web site points to implementing products: Just press the "products" button and you will see the list of *all* EE4J products, like Jersey! And not even the FAQ restricts the name to "API only"! ;-(

[2019-04-10 19:09] arjantijms commented on #753
@mkarg Sorry, which "products" button is that?

All EE4J projects is something else I think. EE4J is not Jakarta EE.

My take on it is that all API projects are renamed to "Jakarta *" projects, obviously Jersey is not a Jakarta project itself, but an implementation of Jakarta REST.

[2019-04-10 19:58] ronsigal commented on #706
Looking at the javadoc again, I see that Response.getEntity() throws IllegalStateException in two cases:
[code]
So using !response.isClosed() as a "guard" in
[code]
isn't quite enough.

As far as I can tell, the phrase "the entity was previously fully consumed as an {@link InputStream input stream}" seems to be equated with something like "a call to Response.readEntity()" has returned an entity".

[2019-04-10 20:15] mkarg commented on #706
@ronsigal You might be right was all you say, but that aspect is a different issue, so can you please either rename the thread or create a second one? Thanks. :-)

[2019-04-10 20:19] mkarg commented on #753
@arjantijms Go to [the official Jakarta EE web site](https://jakarta.ee/) then click the yellow button [Projects] in the middle of that page. You will be navigated to [the EE4J web site](https://projects.eclipse.org/projects/ee4j), so people will definitively think it is the same. As Jersey is found on that page, people definitively will think that Jersey is a Jakarta project.

[2019-04-10 20:23] ronsigal commented on #706
Hi @mkarg. Ok, sure, I think I would create a separate issue in which I suggest some new wording in the Response javadoc. If I can figure out some sensible wording. I'll have to think a little more.

[2019-04-10 20:25] ronsigal commented on #706
By the way, @mkarg, would an issue like the current one normally include an update to the TCK? In this case, testing the behavior of Response.isClosed().

[2019-04-10 20:25] mkarg commented on #706
@ronsigal Again, we can deal with it in *this* issue once you simply modify the title to reflect the actual target of your thread.

[2019-04-10 20:26] mkarg commented on #706
@ronsigal TCK must be updated once the behavior is actually changed.

[2019-04-10 20:26] ronsigal commented on #706
Ok, @mkarg, that's good too. :)

[2019-04-10 20:27] ronsigal commented on #706
Umm, @mkarg, re: "TCK must be updated once the behavior is actually changed."

Does that imply a separate issue?

[2019-04-10 20:30] mkarg commented on #706
@ronsigal No. We can cover TCK *and* API changes *and* Spec changes in the same issue, as long as the title and discussion of the issue clearly reflect the common intention. :-)

[2019-04-10 20:35] ronsigal commented on #706
Ok, @mkarg, thanks. Will do.

[2019-04-10 20:36] arjantijms commented on #753
Aha okay, projects, I was looking for products.

That should be easy enough to fix though. If all projects in the ee4j repo that are APIs start with "jakarta" it should be a beginning. FAQs and other info pages can clarify this further.

E.g.

- https://github.com/eclipse-ee4j/jakarta-rest
- https://github.com/eclipse-ee4j/jakarta-security
- https://github.com/eclipse-ee4j/jakarta-faces
- https://

[2019-04-10 20:56] bshannon commented on #753
I'm not so worried about distinguishing API from implementation in the "short names"
of these projects, but I would expect the full names to be like:

- Jakarta REST
- Eclipse Jersey

which pretty clearly distinguishes which is API/spec and which is implementation.

[2019-04-10 20:58] mkarg commented on #753
@bshannon Maybe for an Eclipse Member, but I doubt the average Joe could separate it.

[2019-04-10 21:56] bshannon commented on #753
I'm not sure the average Joe *cares* about the difference between API and implementation.  :-)

When the average Joe needs to decide between downloading Apache this, JBoss that,
or Eclipse whatever, I think the difference will be clear enough.  Downloading Jakarta
REST alone won't be good for much.

[2019-04-11 05:08] mkarg commented on #753
As a JUG leader I can tell you: Be sure, the average Joe does! There are many out there who only care for a single API. Besides the big hypes people still build applications around just JPA or just JAX-RS, but still want to be independent of a particular products like Jersey.

[2019-04-11 07:33] chkal commented on #753
Maybe we should continue this discussion on the jakarta.ee-community list? IMO consistency between all specs is actually the most important aspect regarding the naming.

[2019-04-11 11:22] mkarg commented on #753
@chkal Actually I do not see what actual, measurable benefit naming consistency would bring, or what actual, measurable drawback missing consistency of names would bring. Also Wayne said it is up to the projects to decide. So no, bold -1 for moving the discussion of *our* name to a different community.

[2019-04-11 13:24] spericas commented on #753
+1

— Santiago

[2019-04-15 14:32] yuriy-slobodchikov opened #754 "Why javax.ws.rs/javax.ws.rs-api/2.1.1 is build by JDK 9 ?"
Manifest-Version: 1.0
Automatic-Module-Name: java.ws.rs
Bnd-LastModified: 1535126700945
Build-Id: 08/24/2018 12:04 PM
Build-Jdk: 9.0.1
...
Extension-Name: javax.ws.rs
Implementation-Version: 2.1.1

Looks like 2.1.1 was build with JDK 9
It causes problems while loading in Java 8.

May be it should be rebuild by JDK 8 ?

[2019-04-15 14:39] chkal commented on #754
AFAIK this is required for `module-info.java`.

Could you describe the problems you are running into in more detail?

[2019-04-17 15:35] yuriy-slobodchikov commented on #754
Hello @chkal ,

In one project we use gradle jmeter plugin
It starts jmeter with our classes and all its dependencies
In one of our tests classes we use UriBuilder  from javax.ws.rs.core.UriBuilder with implementation
in org.glassfish.jersey.uri.internal.JerseyUriBuilder
and when we upgraded  javax.ws.rs to 2.1.1 we got error starting JMeter

2019/04/17 17:44:24 FATAL - jmeter.JMeter: An error occ

[2019-04-17 20:47] mkarg commented on #754
@yuriy-slobodchikov I cannot see any bug here. The file `module-info.class` *must* be compiled with Java 9 or later as it is part of JPMS; a Java 8 compiler cannot compile it. Do you really use the latest version of JMeter? It looks like it thinks that file is a class, which it actually isn't. Anyways, this isn't a JAX-RS issue, so while we can continue this discussion, I will close the issue as t

[2019-04-17 20:47] #754 closed

[2019-04-17 21:34] spericas commented on #754
@yuriy-slobodchikov At first glance, it seems that JMeter (or Jorphan) should be ignoring `module-info.class` during that scanning. Perhaps there's a newer version that does that?

[2019-04-18 13:10] yuriy-slobodchikov commented on #754
@mkarg
@spericas

Thank you for responses so I got answer that compiling with JDK 9 was intentional.
I just downgraded back to 2.1 version in my project.
We did not upgrade JMeter to newest one because of other combinations of issues with libraries we use.

This ticket/question can be closed.

[2019-04-20 15:16] mkarg opened #756 "Reducing number of labels"
Github says we are using 132 labels. I want to kindly ask to allow me to clean this up. Proposal: Remove all "grey" labels, keep just "colored" labels. +1 from all?

[2019-04-21 07:35] chkal commented on #756
AFAIK all the gray labels were created as part of the migration from java.net and represent priority, component, labels and other information from JIRA.

I'm fine with cleaning this up. 132 labels is too much. And there are many redundant labels. I think the important question is whether we want to keep some labels like the "Component: *" ones.

[2019-04-22 10:12] jimma commented on #644
@mkarg @spericas  Any comments about this issue ?

[2019-04-22 20:53] mkarg commented on #644
@NicoNes Sorry for the very very very long delay. The answer to your question is YES, the last received retry delay is to be used for ALL future reconnects, as clearly found in the JavaDocs: https://github.com/eclipse-ee4j/jaxrs-api/blob/565db8101a01fed275959277dba29f8107b99335/jaxrs-api/src/main/java/javax/ws/rs/sse/SseEventSource.java#L51-L53

[2019-04-22 20:53] #644 closed

[2019-04-23 05:37] jimma commented on #644
@mkarg I am thinking about this case :  For example, retry fieldy set by server is intended to let EventSource wait 30 minutes to reconnect; after 30 minutes the connection is established again and EventSource starts to consume the event events, during consuming events if network connection drops, it doesn't make sense it still wait 30 minutes to reconnect.

[2019-04-23 17:18] mkarg commented on #644
@jimma I understand your argument, but this issue was titled "Clarification about", not "Enhancement for". So if you want to *change* the text of the JavaDocs, feel free to provide a PR.

[2019-04-24 12:00] jansupol commented on #750
There is https://jax-rs.github.io/apidocs/2.1/ for current API

[2019-04-24 13:11] bappajubcse05 opened #757 "Passing name-value pair from a map as query parameters in JAX-RS client"
I am trying to access one existing REST service from my client side using JAX-RS client as below-
[code]

Here I want to pass a map as method parameter and JAX-RS client will convert that to query parameters.

For example, if I pass a map (`[name=test, vendor=top1]`) as parameter (i,e, `serverApi.addServer("linux", map);`), JAX-RS client will transform it to `/server/linux/add?name=test&vendor=top

[2019-04-25 03:10] s18634879388 opened #758 "can't use login service"
method :
[code]

exception :
[code]

[2019-04-25 04:54] mkarg commented on #758
Maybe I missed something, but this doesn't look like a particular issue of the JAX-RS API / Specification, but more like a bug of particularly RESTEasy: ```RESTEASY003215: could not find writer for content-type application/x-www-form-urlencoded type: javax.ws.rs.core.Form```.

So maybe you could elaborate why you think it is *not* a RESTEasy problem, but a *JAX-RS* problem?

[2019-04-25 05:33] mkarg commented on #757
If you want a *query* parameter why do you specificy `@PathParameter`?

If you want *dynamic* parameter names, why do you specifiy the *static* name `map`?

What do you expect a machine to imply from those constraints?

[2019-04-25 06:05] s18634879388 commented on #758
sorry，not is this project... I will close this Issue

[2019-04-25 06:05] #758 closed

[2019-04-25 09:53] bappajubcse05 commented on #757
@mkarg Probably some part of my query was confusing. I have removed that part.
I am trying to build query-parameters from the key value pairs of a map as stated above.

Could you please help me to achieve this.

[2019-04-25 11:45] mkarg commented on #757
There is no map-to-multiple-*different*-parameters conversion defined by the JAX-RS 2.1 specification. You need to multiply invoke [WebTarget#queryParam(String, String...)](https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/client/WebTarget.html#queryParam-java.lang.String-java.lang.Object...-) with *different* parameter names.

[2019-04-25 11:49] mkarg commented on #749
In line with our roadmap we should cover this in JAX-RS 3.0.

[2019-04-25 11:51] mkarg commented on #746
#751 could be a vehicle to get this done

[2019-04-25 11:52] mkarg commented on #756
@eclipse-ee4j/eclipse-jaxrs Any more opinions?

[2019-04-25 12:13] arjantijms commented on #756
I agree there are far too many labels (and perhaps a few too many open issues, but that's another discussion). Many of the grey ones look like they could be removed, especially things like "adoptajsr" etc.

[2019-04-25 13:13] spericas commented on #757
@bappajubcse05 The declarative style of the interface above suggests that you're using MP REST Client, is that so? JAX-RS does not currently support that. See https://github.com/eclipse/microprofile-rest-client

[2019-04-26 09:51] FroMage commented on #639
@andymc12 note that using MP-Context-Propagation (formerly MP-Concurrency) this works with RESTEasy because it defines a `ThreadContextProvider` for the state it needs for `@Context` to work. We believe this is enough.

[2019-04-26 19:01] ronsigal opened #759 "Clarify role of @PostConstruct annotated methods in validation steps"
The first two validation steps are

* Phase 1 Inject field values and initialize bean properties as described in Section 3.2.
* Phase 2 Validate annotations on fields, property getters (if enabled) and the resource class. The order in which these validations are executed is implementation dependent.

In the case that CDI is enabled, RESTEasy currently initiates field/property validation at the end

[2019-04-26 19:36] spericas commented on #753
After reading @bshannon's comment, I agree we can drop "API". In fact, the proposed "Jakarta RESTful Web Services" seems perfectly fine to me.

[2019-04-26 21:09] mkarg commented on #509
Closed by #619.

[2019-04-26 21:09] #509 closed

[2019-04-26 21:11] mkarg commented on #472
Closed by #594.

[2019-04-26 21:12] #472 closed

[2019-04-26 22:33] m-reza-rahman commented on #753
+1. It's a good name.

On 4/26/2019 3:36 PM, Santiago Pericasgeertsen wrote:

[2019-04-27 06:17] chkal commented on #753
I'm +0 for "Jakarta RESTful Web Services". I definitely see value in keeping "API" in the name for the reasons mentioned above, but I would also be fine with this name if everyone likes it.

[2019-04-27 06:42] mkarg commented on #753
I'm -1 for dropping the word "API", due to the reason already mentioned.

[2019-04-29 13:56] spericas commented on #753
So if I understand the discussion and voting so far, the candidates are:

 [1] Jakarta RESTful Web Services
 [2] Jakarta API for RESTful Web Services

I'm honestly fine with either one. OTOH, if JAX-RS ends up being the only project using "API", that would be odd IMO.

[2019-04-29 16:13] mkarg commented on #753
I don't have a problem with unaligned names, as we lived with that for many years at the JCP and nobody cared. In the end, Java EE always just was an umbrella around otherwise standalone and often pre-existing APIs; it seems we sometimes forget that _or_ the EF wants to turn that view upside down (JAX-RS only being a _chapter_ Jakarte EE).

Anyways, I think we possibly discuss the wrong thing at a

[2019-04-29 18:59] spericas commented on #753
@mkarg Ok, then there are no objections (so far) for "Jakarta RESTful Web Services".

[2019-04-30 05:11] mkarg commented on #757
@bappajubcse05 Apparently your question was not directly related to JAX-RS but more to MP REST Client, and you did not respond for five days, so I will close your issue. Feel free to reopen it if needed.

[2019-04-30 05:11] #757 closed

[2019-04-30 05:13] mkarg commented on #759
@ronsigal You are a committer to JAX-RS. Feel free to provide a PR. May I assign this issue to you?

[2019-04-30 05:19] mkarg commented on #756
@eclipse-ee4j/eclipse-jaxrs Committers, actively please list the names of those grey labels in this issues comments that you personally want to keep. So I know which ones (besides the colored ones) are still needed. According to our committer conventions, I will keep this issue open for collecting proposals for two full weeks (i. e. **only four more days from now**). After that, **I will remove al

[2019-04-30 12:23] spericas commented on #756
@mkarg I'm OK with removing all grey labels.

[2019-04-30 16:15] ronsigal commented on #759
Ah, @mkarg, I didn't know I was a committer. ;-)

Sure, I'll certainly work on it.

[2019-04-30 16:53] mkarg commented on #759
LOL

[2019-04-30 21:02] andymc12 commented on #753
+1 for [1] Jakarta RESTful Web Services - I prefer to be consistent with the other projects.  But I don't really have a strong preference either way.

[2019-04-30 21:17] arjantijms commented on #753
Although I'm fine with "Jakarta RESTful Web Services", I think the previously proposed "Jakarta REST" might be even better.

After all, isn't "Web Services" redundant? Do we also have "RESTfull [something else]"?

On the other hand, I do appreciate we have "SOAP Web Services" as well, although we don't have quite that name.

So for me:

* Jakarta RESTful Web Services +1
* Jakarta REST **+10**

[2019-04-30 21:18] arjantijms commented on #756
I just went through them again, and I think all grey ones can be removed indeed.

[2019-05-01 08:49] chkal commented on #759
@mkarg Are you sure? Ron isn't listed in the [GitHub team](https://github.com/orgs/eclipse-ee4j/teams/eclipse-jaxrs/members) or on the [Eclipse project page](https://projects.eclipse.org/projects/ee4j.jaxrs/who).

[2019-05-01 09:16] mkarg commented on #759
@chkal Christian, you are right. May bad. I just checked the people in the *Github assignee picker*, and it does contain Ron. In fact it seems this picker contains all committers *plus* the reporter of the issue. Good to know that! Seems even after years I can learn something new about Github! ;-)

@ronsigal Sorry for the confusion. Christian is right. While I can assign the issue to you, you actu

[2019-05-01 15:03] ronsigal commented on #759
@mkarg, I'm crushed. ;-)

Right now I'm focused on a RESTEasy release, but I look forward to spending some time on JAX-RS issues.

[2019-05-02 09:26] sdaschner commented on #753
My 2ct's:
- My preference is to keep "API" in the names, since that indicates what it is.
- I definitely would like to have all project names sharing a common patterns.
- I'd prefer "Jakarta API for RESTful Web Services".

[2019-05-03 16:08] mkarg opened #760 "Rename packages javax.* to jakarta.*"
As the trademark negotiations between the Eclipse Foundation and Oracle [failed](https://eclipse-foundation.blog/2019/05/03/jakarta-ee-java-trademarks), I suggest we should immediately rename all packages from `javax.*` to `jakarta.*`.

[2019-05-03 16:12] mkarg commented on #760
@eclipse-ee4j/eclipse-jaxrs All JAX-RS committers please vote ASAP by posting a comment with +1 / 0 / -1. Thanks.

[2019-05-03 16:15] mkarg commented on #725
The trademark negotiations officially [failed](https://eclipse-foundation.blog/2019/05/03/jakarta-ee-java-trademarks), so I am closing this issue and propose to follow @arjantijms' above proposal to immediately rename all packages. Please vote for issue #760 ASAP.

[2019-05-03 16:15] #725 closed

[2019-05-03 16:25] mkarg commented on #753
@eclipse-ee4j/eclipse-jaxrs As the trademark negotiations [failed](https://eclipse-foundation.blog/2019/05/03/jakarta-ee-java-trademarks), I'd like to kindly ask all JAX-RS committers to cast the final vote in this issue ASAP, so we can proceed with the needed renaming. This discussion is open for 29 days already, but it is still active, so I'd like to propose that we do the final count in one wee

[2019-05-03 16:46] arjantijms commented on #760
+1 rename swiftly, rename fast, rename completely.

A quick internal discussion among several JSF committers revealed the exact same wish.

[2019-05-04 15:22] chkal commented on #760
+1 for renaming quickly. This will also allow us to finally provide snapshots.

[2019-05-04 22:07] jansupol commented on #760
Let me provide some context, before the vote, mainly taken from the only [source ](https://eclipse-foundation.blog/2019/05/03/jakarta-ee-java-trademarks/) given to us.

There are different opinions on what it means to remain TCK compatible. While some say it is ok to mix jakarta namespace for additions with original javax, because signature tests do not fail as they do not know the new API package

[2019-05-04 22:24] m-reza-rahman commented on #760
I think it is best to verify things with the Eclipse Foundation and not
make assumptions one way or the other. After all, that is why they are
there. Is there someone here from the Eclipse Foundation that can comment?

On 5/5/2019 6:07 AM, jansupol wrote:

[2019-05-04 22:52] jansupol commented on #760
My interpretation goes further:

Since JAX-RS is using Servlet API, and I am not aware of any renaming activity on Servlet if Servlet won't evolve then JAX-RS is still using the javax namespace if it uses javax.servlet?

[2019-05-05 06:11] mkarg commented on #760
@waynebeaton Can you please comment the raised questions? Thanks.

[2019-05-05 06:21] chkal commented on #760
Please note that Servlet isn't a compile-time dependency of the JAX-RS API. So whether Servlet stays in the javax namespace or not isn't really relevant for us. At least if I understand it correctly.

[2019-05-05 06:33] mkarg commented on #760
We need to differentiate between *our* renaming of the namespace *we live in*, and possible renamings of the namespace we are *dependent* of. My plan is to provide a PR which has separate commits for that, as I assume that it will change over time: There might be dependencies that change their namespace earlier, other might change them later, or never at all. But *we* have to rename *our* namespac

[2019-05-05 07:26] chkal commented on #760
Maybe I'm missing something, but AFAIK the only `javax.*` package we depend on is `javax.xml.bind`.

https://github.com/eclipse-ee4j/jaxrs-api/blob/fd8b006a7aa80e14571a122698979ef904c0474f/jaxrs-api/src/main/java/module-info.java#L17-L33

[2019-05-05 08:30] chkal commented on #752
Draft:

(*) The name may need to change depending on the outcome of #753

The draft of the scope statement is based on the wording in the original [project propsal](https://projects.eclipse.org/projects/ee4j.jaxrs/reviews/creation-review).

Please share your thoughts.

[2019-05-05 09:52] chkal commented on #760
I highly recommend everyone to have a look at this great [blog post](https://markclittle.blogspot.com/2019/05/to-enterprise-java-and-beyond-personal.html) by @nmcl. I don't agree to all the arguments mentioned in this post, but it is definitely worth reading it!

[2019-05-05 11:29] mkarg commented on #752
+1

[2019-05-05 11:50] jansupol commented on #760
As we were [informed](https://www.eclipse.org/lists/jakarta.ee-community/msg01124.html), the options should be revealed the upcoming week.  It can be clear the renaming is the best option, eventually, but I believe we should know our options first. After so many months of waiting for the Agreement to be signed, waiting a few more days for our options does not seem like something not to withstand.

[2019-05-05 12:14] jansupol commented on #760
Note that Specification is not just API.

[2019-05-05 12:18] mkarg commented on #760
To be prepared for the worst case, I have started a draft #761 to collect the needed changes in one single PR.

[2019-05-05 12:28] chkal commented on #760
Agreed! But fortunately the API doesn't depend on the Servlet API directly and the spec doesn't mention the Servlet package name, so AFAIK both are not affected by a potential update of the Servlet package name. But of course the TCK needs to be updated in this case.

[2019-05-05 15:28] jansupol commented on #760
For completness, let's see what is mentioned in javax namespace:
`javax.activation.DataSource`
`javax.xml.transform.Source`
`javax.xml.bind.JAXBElement`
`javax.validation.ValidationException`
`javax.xml.ws.Provider`

[2019-05-06 06:38] bshannon commented on #760
@jansupol,

It's more complicated than that.  You could mix existing javax.* APIs with new jakarta.* APIs in the same spec, but the new jakarta.* APIs can't have any effect on the existing javax.* APIs that would change the behavior of those existing javax.* APIs.  That's probably not an acceptable restriction so mixing is not a great choice.

No, that is not the intent of that statement.

For mos

[2019-05-06 14:12] spericas commented on #760
How did you produce this list?

— Santiago

[2019-05-06 15:56] jansupol commented on #760
@spericas Search for javax in the Specification PDF.

[2019-05-06 16:11] asoldano commented on #760
I agree on waiting few more days if that's going to provide more information for making a proper choice.

[2019-05-06 21:43] mkarg commented on #756
As announced, I have removed all labels but kept the following:
* Coloured labels
* Component: labels

[2019-05-06 21:43] #756 closed

[2019-05-07 03:18] chkal commented on #756
Thanks, @mkarg.

[2019-05-07 20:53] spericas commented on #752
I'd like to propose a small tweak to make it a bit more clear:

[2019-05-07 20:55] mkarg commented on #752
+1

[2019-05-07 21:36] chkal commented on #752
I'm fine with this new version. But I'm curious. Why do you prefer "foundational API" over just "API"?

[2019-05-07 23:24] spericas commented on #752
@chkal Because there are many APIs these days related to the development of web services, but not all of them are core/foundational.

[2019-05-09 15:22] chkal commented on #752
@spericas I'm not sure I fully understand the difference between foundational APIs and other APIs. However, as mentioned above, I'm fine with this version.

@eclipse-ee4j/eclipse-jaxrs Any other thoughts?

[2019-05-09 15:39] spericas commented on #752
@chkal Let me use an example then. OpenAPI is a very useful API to develop services, but it is not foundational. JAX-WS is a foundational API for SOAP-based services in Java as well.

[2019-05-09 15:47] chkal commented on #752
@spericas Thanks for sharing this explanation. OK, so it is actually about low-level vs high-level APIs in some regard? I could argue that Servlet is even more foundational than JAX-RS. However, compared to OpenAPI you are certainly right. But, as mentioned above, I'm fine with this wording.

[2019-05-09 16:00] andymc12 commented on #752
+1 - thanks!

[2019-05-09 16:59] spericas commented on #752
@chkal I doubt a lot of people think about Servlets as the foundation to build _REST_ services. IMO, this is the reason why one technology is evolving and the other isn't.

[2019-05-09 21:35] jansupol commented on #753
+1 for Jakarta RESTful Web Services

[2019-05-11 08:48] mkarg commented on #753
@spericas I have checked all the votes again and agree that there is a slight preference for "Jakarta RESTful Web Services". So I'd say I will close this issue hereby with that result. If somebody thinks that we identified the false winner, then please feel free to comment.

[2019-05-12 07:31] mkarg commented on #760
One more week is over. How long do we like to wait? This is a showstopper for [JAX-RS 2.2](https://github.com/eclipse-ee4j/jaxrs-api/milestone/6).

[2019-05-12 08:25] chkal commented on #753
What's the final decision regarding the acronyms? Is it explicitly forbidden to use the acronym JAX-RS?

[2019-05-12 09:15] mkarg commented on #753
@chkal That would be really sad, and frankly I doubt that *the user community* actually would care about such a constraint and simply continue to use the acronym, even if *we* would abstaint. JAX-RS is not a registered trademark nor mentioned in [the trademarks file](https://github.com/eclipse-ee4j/jaxrs-api/blob/master/NOTICE.md#trademarks) [Oracle](https://github.com/eclipse-ee4j/jaxrs-api/commi

[2019-05-12 09:49] chkal commented on #753
@mkarg I absolutely agree on everything you wrote. I'm just curious what the official response regarding this is from the EF/PMC/etc.

[2019-05-13 09:55] ivargrimstad commented on #753
@mkarg and @chkal Whatever you decide to call it in your daily speech or communicating between peers is totally up to you and nobody could care less. Call it BOB if you like.

Personally, I will probably use JAX-RS when talking about the Java EE 8 API and Jakarta REST or similar when talking about the Jakarta API, just to avoid confusion.

Whether there will be any guidelines, recommendations, res

[2019-05-13 13:49] spericas commented on #753
Thanks for the clarification @ivargrimstad

[2019-05-13 16:35] bshannon commented on #753
Yes.

[2019-05-13 17:23] chkal commented on #753
Could you provide a reference? If I understood @ivargrimstad correctly, there isn't any guideline or restriction yet. I'm confused.

[2019-05-13 20:05] bshannon commented on #753
Sadly, no.  The details are wrapped up in the negotiations between Oracle and Eclipse that ultimately failed.

[2019-05-13 20:12] mkarg commented on #753
@bshannon I think we could simply say, Oracle claims "JAX-RS" as one of its unregistered trademarks, so it is not possible to use it without written permission, right?

[2019-05-14 13:22] spericas commented on #753
@eclipse-ee4j/eclipse-jaxrs Suggestions for an acronym to use instead of JAX-RS?

[2019-05-14 19:40] ggam commented on #753
What about promoting "Jakarta Rest" instead of a new acronym? It's short
enough to officially use it, and people will probably refer to it as JAX-RS
for some time anyway.

El mar., 14 may. 2019 15:22, Santiago Pericasgeertsen <
notifications@github.com> escribió:

[2019-05-14 19:50] bshannon commented on #753
I agree.  (Or "Jakarta REST".)  That's the way we've been heading with most of the other
projects/specs, which avoids the acronym issue.

[2019-05-15 13:13] spericas commented on #753
+1 on "Jakarta REST" to replace "JAX-RS"

[2019-05-18 16:34] mkarg commented on #760
Another week is over, and it doesn't seem like a conclusion will get found. I'm +1 for not waiting longer but simply rename the `master` branch right now, as it already contains changes to the API.

[2019-05-18 17:01] chkal commented on #760
+1

[2019-05-20 09:50] asoldano commented on #760
+1 Well, yes, considering the API has indeed been changed on master, I haven't heard of any alternative to renaming packages.

[2019-05-20 13:45] spericas commented on #760
Although I think this is ultimately the right way to go, it's probably better to wait for the community discussion to reach an agreement before starting to rename packages.

https://www.eclipse.org/lists/jakartaee-platform-dev/msg00029.html

[2019-05-20 17:14] mkarg commented on #760
@spericas Waiting for actually *what*? As we already modified `master`'s signature, that branch *must* get renamed - independent of which proposal wins.

[2019-05-20 17:43] spericas commented on #760
@mkarg I just think it's better to wait until this discussion is finalized in case something changes. Is anyone really eager to consume the renamed API right away?

[2019-05-20 17:51] mkarg commented on #760
@spericas Yes we're eager to consume it as we're working actively on a new application at the moment.

[2019-05-21 14:06] jansupol commented on #760
I believe a new release should be performed the right way. It's version 2.2, so it corresponds to a JAX-RS (or whatever the name) 2.2. That is a new Spec, it should be released along with the updated Spec pdf, and since it is in Jakarta, it should follow the Jakarta Spec process.

Releasing just an API without following the process would result in an unapproved non-Jakarta API, IMO. Maybe it would

[2019-05-21 16:00] mkarg commented on #760
@jansupol I agree with that, but what I *immediately* need is not a release, but a is a way *to go on*, and that way can only be to have nightly builds of the renamed packages, to be sure, that the application I develop today will run with Jakarta-RS 2.2 once it is officially released later this year. It definitively is no option for application programmers to wait and wait and wait endless for an

[2019-05-22 20:11] ronsigal commented on #418
For the record, we've gotten past 1.1:
https://docs.jboss.org/resteasy/docs/4.0.0.Final/userguide/html/ ;-)

On 4/9/19 12:25 PM, Albert Farré Figueras wrote:

[2019-05-24 22:12] ronsigal commented on #759
Ummm, @mkarg, where does the specification document live?

[2019-05-24 22:14] mkarg commented on #759
@ronsigal Due to legal issues Oracle was not able to transfer the specification document's source code to the Eclipse Foundation so far. You can find the latest pre-EF source here: https://github.com/jax-rs/spec.

[2019-05-24 22:18] ronsigal commented on #759
Ahhhh, thanks. i guess, then, that we can't update https://github.com/jax-rs/spec. But I think this issue has to be addressed in the spec. Is there anything I can do now, or do we have to wait for an EF version of the spec document?

[2019-05-24 22:30] ronsigal commented on #759
Wow, it's in TeX!! The other day when I suggested calling the Eclipse project JAK-RS, the K reminded me of the X in TeX. "TeX as in blecchhh", as Knuth said. ;-)

[2019-05-25 08:01] chkal commented on #752
Ok, looks like everyone is happy with the latest draft. So we have a winner:

[2019-05-25 08:05] chkal commented on #753
As this issue is mostly about the full project name and we identified "Jakarta RESTful Web Services" as the winner, I'm moving this to "Ready for approval" in the [corresponding board](https://github.com/orgs/eclipse-ee4j/projects/11).

[2019-05-25 08:24] mkarg commented on #759
@ronsigal Some PMC member told me that he expects by September we will have the spec transferred. So you can already prepare the changes, to have it at hand later.

[2019-05-25 14:55] ronsigal commented on #759
Ah, ok. Thanks, @mkarg.

[2019-05-25 16:54] ronsigal commented on #759
I've uploaded the spec document to https://www.papeeria.com, where it can be shared. In particular, if you want to see it, give me your email address and I can share it.

First, note that the javadoc for javax.annotation.PostConstruct says, "This annotation MUST be supported on all classes that support dependency injection." I believe that that applies to a Jakarta RESTful Web Services implementat

[2019-05-25 16:56] ronsigal commented on #759
I'm not sure if these changes are worth adding to the Change Log. I do suppose that it would be reasonable to add appropriate tests to the TCK.

[2019-05-25 20:31] ronsigal opened #765 "Clarify validation of getter methods in the spec document"
This issue arose in the context of JIRA issue https://issues.jboss.org/browse/WFLY-11956 "@PostConstruct on @ApplicationScoped bean called too late in case @Valid is annotated on a business method". The discussion includes comments from Gunnar Morling and Guillaume Smet from the Hibernate Validator project and also from Santiago Pericas-Geertsen, and the conclusion was that the discussion of gette

[2019-05-25 20:45] ronsigal commented on #765
I've written an alternative section 7.4 "Default Validation Mode" in the version of the spec I've uploaded to https://www.papeeria.com. If you want to see it, give me your email address and I can share it.

[2019-05-28 13:49] spericas commented on #759
@ronsigal Thanks for the contributions. I think it is fine to update the issue with the new text until the spec becomes available; changes like this do require a change log entry. Finally, I believe the intention is to convert all specs to AsciiDoc.

[2019-05-28 15:43] ronsigal commented on #759
Thanks, @spericas.

[2019-05-28 16:17] ronsigal commented on #765
I've gotten feedback from Guillaume Smet from the Hibernate Validator project, who says, "It looks good to me, far more clear (and correct) than the previous version." Also, he points out that we should update the link to https://beanvalidation.org/2.0/spec, the BV 2.0 spec. Thanks, Guillaume.

[2019-05-29 23:23] ronsigal commented on #554
For the first problem, Response.created(), I would suggest turning the javadoc for created() to
[code]
There are two reasons for this change:
1. It makes the semantics of Restpons.created() consistent with the semantics of ResponseBuilder.location().
2. It's likely that the more common usage of created() would be to extend the base URI rather than include the path to the resource method.

[2019-05-29 23:34] ronsigal commented on #554
For the second problem, I think it's reasonable to update the javadoc for @DefaultValue to "Defines the default value of request meta-data that is bound using one of the following annotations: javax.ws.rs.QueryParam, javax.ws.rs.MatrixParam, javax.ws.rs.CookieParam, javax.ws.rs.FormParam, or javax.ws.rs.HeaderParam.", omitting @PathParam. I just don't see how to make sense of a missing path segmen

[2019-05-30 05:54] chkal commented on #554
@ronsigal I agree that `@DefaultValue` doesn't make much sense for `@PathParam`. +1 for change the wording as proposed.

[2019-05-30 16:20] ronsigal commented on #554
Thanks, @chkal. Do you have a reaction to the Response.created() problem?

[2019-05-31 05:19] chkal commented on #554
@ronsigal I agree that your proposed solution for the `Response.created()` issue is good. It would be more consistent if relative URIs are always resolved relative to base URI of the application, regardless of which method on `Response` or `ResponseBuilder` is used. However, this is also a non-compatible change, although this method never really worked as expected.

@eclipse-ee4j/eclipse-jaxrs Oth

[2019-05-31 09:04] asoldano commented on #759
Btw, can you share a link to a page or such with the procedure for adding a committer? Ron should have actually been granted the committer role here for the same reason I was (not sure what didn't work in the process, possibly on our side); Ron is effectively leading RESTEasy with me these days and actually started contributing to it way before me... ;-)

[2019-05-31 09:06] asoldano commented on #752
+1

[2019-05-31 11:31] mkarg commented on #759
You can find the rules in the Eclipse Project Handbook: https://www.eclipse.org/projects/handbook/#elections-committer.

[2019-05-31 12:54] mkarg commented on #753
@ivargrimstad What shall we change for the "Github" item in your checklist?

[2019-05-31 13:02] mkarg commented on #752
I have updated https://projects.eclipse.org/projects/ee4j.jaxrs according to the end of our discussion. Everybody please review. :-)

[2019-05-31 13:14] spericas commented on #554
@ronsigal @chkal I believe the `Response::created` issue is really a bug in the spec. However, as stated, the proposed and correct behavior is not compatible. Perhaps we need to (1) fix the Javadoc to reflect actual behavior and (2) add a new method.

[2019-05-31 16:16] ronsigal commented on #554
@spericas, @chkal, ok, I'll work on something that maintains backwards compatibility.

[2019-05-31 17:29] andymc12 commented on #752
@mkarg Looks good.  Thanks.

[2019-05-31 18:30] ronsigal commented on #759
Btw, @mkarg, I once got drunk with Bill Burke. If that doesn't qualify ... ;-)

[2019-05-31 19:51] ronsigal commented on #707
I've added a section defining HeaderDelegate's as providers:

[2019-05-31 19:53] ronsigal commented on #707
I've uploaded the spec document to https://www.papeeria.com, where it can be shared. In particular, if you want to see it, give me your email address and I can share it.

I should probably create TCK tests that enforce the behavior of providers on HeaderDelegates.

[2019-05-31 22:43] ronsigal commented on #554
@spericas, @chkal Now that I'm thinking about this issue again, I think my proposal is just right.

1. What I suggested was to change the Response.created() javadoc to "reflect actual behavior". That is, Response.created() calls ResponseBuilder.location(), which resolves relative to the base URI. So the change satisflies @spericas' (1). Note, by the way, that the actual semantics of Response.creat

[2019-05-31 22:54] ronsigal commented on #765
Here, by the way, is the new section:

7.4 Default Validation Mode

A field with one or more constraints is validated by directly accessing its value. On the other hand, a
property, as defined by the Java Beans specification, has an associated getter method, and, if the getter method has one or more constraints, the getter is executed and the return value is validated.

At execution time, method v

[2019-06-01 06:50] chkal commented on #752
@mkarg Perfect! Thanks!

[2019-06-01 06:52] chkal commented on #753
@mkarg Maybe the repository description (which is "Jaxrs" ATM) and the wiki content?

[2019-06-01 06:53] chkal commented on #554
I think we definitely need to fix (1), but I don't see much benefit of adding another method just get a different behavior for relative URI resolving.

[2019-06-01 06:56] mkarg commented on #753
@chkal Repo description and wiki don't contain neither project name nor scope. There is no decision about what to do with acronyms, as the official answer from the PMC still is open (announced for June).

[2019-06-01 06:59] chkal commented on #753
@mkarg In this case IMO there is nothing to do on the GitHub side for now. So this task can be considered to be completed.

[2019-06-03 13:16] spericas commented on #707
@ronsigal The motivation that you provide makes sense, and the proposal certainly aligns with other parts of the spec, like readers and writers as you point out. OTOH, this was originally proposed as an implementation's extension and not an application's one because it was deemed as uncommon for applications to do this.

The fact that it _can_ be done, does not mean it _should_ (it is yet another

[2019-06-03 13:23] spericas commented on #554
@ronsigal I'm fine with addressing just (1) at this point

[2019-06-03 14:45] ronsigal commented on #554
Ok. Thanks, @spericas.

[2019-06-03 14:54] ronsigal commented on #707
re: "The fact that it can be done, does not mean it should"

@spericas, that's a good point. I tend to be somewhat theoretical. As my graduate school advisor once said (ironically), when I was working on transfinite ordinals, "It's when you get past omega raised to the omega that you get into practical applications."

[2019-06-03 17:12] mkarg opened #766 "Jakarta EE 8 TCK job"
@m0mus provided instructions regarding TCK transfer:

To test Jakarta EE 8 compatibility we need to create a Jenkins job on project's Cloud Jenkins instance formally testing the API against the relevant TCK and as needed, relevant CTS subset tests.

For projects that do not already have automated testing, there is provided parameterized Jenkins job that can be invoked to perform these tests. User

[2019-06-03 18:42] waynebeaton opened #767 "Convert "Eclipse Project for JAX-RS" into a specification project"
In order to prepare this project to engage in specification work, we need to convert it into a specification project as defined by the Eclipse Foundation Specification Process (EFSP). As part of this work, we will change the project name per #753 and the scope per #752.

We'll use this issue to capture the work that needs to be done as part of this effort. We'll update the following task list with

[2019-06-03 20:43] mkarg commented on #767
@waynebeaton PR #763 implies the solution for #752 and #753 and will get merged ASAP.

[2019-06-03 20:45] mkarg commented on #767
@waynebeaton Why create a different repository for the spec? It makes sense to keep it in the API repository to have both in sync / be able to add new features in both in a single commit.

[2019-06-04 16:33] waynebeaton commented on #767
@mkarg we discussed this on the PMC call today. I believe that this requirement is from a point in time when we thought that specification document would be under a different license than the API. This is no longer the case.

The minutes will show that the PMC is of the opinion that the Specification Document and API can be kept in a single repository if that's what the team wants to do.

[2019-06-04 16:40] mkarg commented on #767
@waynebeaton Thanks for this clarification. I marked that bullet as optional in the checklist.

[2019-06-04 16:44] #760 closed

[2019-06-05 02:24] waynebeaton commented on #752
We can derive, then, a scope statement for the specification itself along these lines:

I'm inclined to as you to include "for Java(TM)" in there somewhere (we're seeing this in other scope statements). Or do you believe that it's reasonably implied?  What do you think?

[2019-06-05 03:47] bshannon commented on #752
Including "for Java(R)" seems unnecessary, although probably not harmful.

[2019-06-05 04:44] chkal commented on #752
I agree that "for Java" is unnecessary. IMO "Jakarta" implies "Java".

[2019-06-05 05:01] mkarg commented on #752
For sake of not losing even more relationship to the Java platform, I'd like to keep "for Java".

[2019-06-05 05:09] #753 closed

[2019-06-05 21:29] waynebeaton commented on #767
I've tweaked the plan a bit. I removed the bullet about creating a separate repository, I added a change of project id to "ee4j.rest", and repository name to "rest-spec". Feel free to suggest an alternative repository name ("jaxrs" is, unfortunately, off the table)

[2019-06-06 04:55] mkarg commented on #767
@waynebeaton AFAIK we still had not been shown the proof that JAX-RS is an Oracle trademark hence why keeping "jaxrs" is off the table.

[2019-06-06 04:57] mkarg commented on #767
Regarding the Gitlab URL I do not see a need to repeat "ee4j" as it is already contained in the prefix "eclipse-ee4j". Why not simply doing "gitlab.com/jakarta/rest"?

[2019-06-06 05:09] chkal commented on #767
Agreed. @kwsutter [mentioned](https://www.eclipse.org/lists/jakarta.ee-community/msg01177.html) that there will be some official statement about the requirements for acronyms. Any news on this?

[2019-06-06 07:27] nimo23 opened #768 "resolveTemplates should ignore null values"
Null values are allowed within query params. Jax-Rs ignores null values by leaving the query string:

[code]
[code]

This is well done. However, when using the "resolveTemplate" with a template uri, null values are not allowed:

[code]
-> throws Null pointer exception, instead of using "BASE_URL?user=1" if query param "test" is null.

If any query param is `null`, then "jaxrs" should also ignore t

[2019-06-06 15:08] spericas commented on #767
@chkal Even after learning about any such requirements, it's unlikely JAX-RS will be on the table. I think we should move on from this discussion and use "Jakarta REST". It is a fresh start after all.

[2019-06-06 15:21] spericas commented on #768
Resolving template variables is a _more generic_ operation that filling in values for potentially _optional_ query params. In particular, there are other params, such as path param, that can be targeted using `resolveTemplates` --and for which a `null` value would be odd.

 Given how these operations are different in nature, I'm not sure I agree with the need to make these operations behaviorally

[2019-06-06 15:30] waynebeaton commented on #767
@mkarg do you really mean "Gitlab"?

The project id is something that we (mostly) use internally. You'll see it in the PMI URL and in IPZilla. The repository URL that I've suggested is github.com/eclipse-ee4j/rest-spec

[2019-06-06 16:19] mkarg commented on #767
@waynebeaton Sorry, certainly I meant "Github".

If the ID is just used internally, how can it be a trademark problem to keep jaxrs there?

[2019-06-06 16:30] waynebeaton commented on #767
I did say "mostly". The id (e.g. "ee4j.rest") and the short name that comes from it ("rest") is used in some URLs.

[2019-06-06 17:18] nimo23 commented on #768
Yes, path-params should not be allowed to be null.

Maybe, the `resolveTemplate()`-method should only delete the `null`-params from the**"query"-part** of the URI and let the rest of the URI as it is.

This behavior would be equivalent with:

`.queryParam("test", null) `

or

[code]

However, I'm also not sure if this makes sense..so feel free to close this issue.

[2019-06-06 17:27] nimo23 opened #769 "provide Proxy Interface at the client side"
With RestEasy, we can define an interface to make restful calls at the client side:

[code]

[code]

Would be nice to provide this by jaxrs-api.

[2019-06-06 17:47] NicoNes commented on #736
Hi Guys,

Quick update to let you know that it is in progress. We are working on it with @ronsigal who spoted the same confusion in the doc (https://github.com/eclipse-ee4j/jaxrs-api/issues/706).

[2019-06-06 20:53] jansupol commented on #769
This is basically part of the functionality of [Microprofile REST Client](https://download.eclipse.org/microprofile/microprofile-rest-client-1.3.2/?d). I assume the discussion about the relation between JAX-RS and the MP rest client will come

[2019-06-07 04:44] chkal commented on #767
@spericas

I don't think so. At least there seems to be no trademark registered for JAX-RS. And @kwsutter [mentioned](https://www.eclipse.org/lists/jakarta.ee-community/msg01157.html) that most of the acronyms are NOT trademarked. As mentioned before, IMO we should only change the acronym if there are legal reasons to do so.

[2019-06-07 07:23] nimo23 commented on #769
In my opinion, **JAX-RS** should be merged with **Microprofile REST Client** and  should be called **"Open-EE-Restful"** with namespace "`openee.restful.*` or "`ee4j.restful`". The same goes for "Open-EE-Persistence", "Open-EE-Security", "Open-EE-Config", etc.

[2019-06-07 09:09] ggam commented on #769
So you propose to abandon the Jakarta EE name?

El vie., 7 jun. 2019 9:23, nimo23 <notifications@github.com> escribió:

[2019-06-08 09:05] nimo23 commented on #769
Imagine the follwing:

- Open-EE-RS (former: Microprofile REST Client + JAX-RS) with namespace `openee.rs.*`
- Open-EE-Persistence (former JPA) with namespace `openee.persistence.*`
- Open-EE-Security (former JEE-Security) with namespace `openee.security.*`
- Open-EE-Metrics (former Microprofile Health) with namespace `openee.metrics.*`
- etc.

I think, it is better to merge the efforts into Open-

[2019-06-08 10:12] chkal commented on #769
I don't think that this issue is the best place to discuss your Open-EE idea. And I'm pretty sure that there won't be another name change.

[2019-06-10 08:10] Cousjava commented on #769
@nimo23 See https://github.com/eclipse-ee4j/ee4j/issues/1 for the debate on naming. Open EE was considered and ultimately rejected in favour of Jakarta EE.

[2019-06-10 08:39] nimo23 commented on #769
@Cousjava thanks for sharing the link. I did not know about it.

The relation between JAX-RS and the MP rest client (and in general, the microprofile and jakarte ee) must come because it's a pitty to spend resources on projects with so much overlapping instead of merging the efforts into one.

[2019-06-10 18:23] kwsutter commented on #753
I just read through all of the comments on this issue and, tbh, I can't figure out what the consensus is from this group concerning the name of the project.  My personal favorite is Jakarta REST.  I really think you want to be as concise and "catchy" as you can since the use of acronyms is still in the air...

[2019-06-10 19:44] waynebeaton commented on #767
Unfortunately none of us (including me) get a vote in this. The name "JAX", and by extension, "JAX-RS" cannot be used moving forward and must be changed.

[2019-06-10 20:19] jansupol commented on #767
This sounds like an opportunity to rename the `JAXRS` interface with some meaningful name. It bootstraps the JAX-RS application in Java SE environment. I would not mind something like `StandaloneBoostrap`  or just `Bootstrap`.

[2019-06-11 08:09] mkarg commented on #767
@waynebeaton Who does have a vote on this?

[2019-06-11 08:10] mkarg commented on #767
@jansupol Can you please open a separate issue for the renaming to `Bootstrap` so we can separate the discussion threads?

[2019-06-11 08:25] mkarg commented on #753
@kwsutter This discussion ended with a democratic vote leading to the renaming already done, see https://github.com/eclipse-ee4j/jaxrs-api/pull/763. Since then, the project is named "Jakarta RESTful Web Services".

[2019-06-11 16:12] jansupol opened #770 "Rename JAXRS interface"
JAX-RS 2.2 branch contains [`JAXRS`](https://github.com/eclipse-ee4j/jaxrs-api/blob/master/jaxrs-api/src/main/java/jakarta/ws/rs/JAXRS.java) interface. Along with renaming JAX-RS, the interface name should be renamed.

As it is responsible for bootstrapping a JAX-RS application in Java SE environment, a name reflecting that functionality should be chosen. Possibilities are:
- `Bootstrap` - simple

[2019-06-11 16:13] jansupol commented on #767
@mkarg I have filed the [issue](https://github.com/eclipse-ee4j/jaxrs-api/issues/770) for renaming the `JAXRS` interface

[2019-06-11 16:24] waynebeaton commented on #767
@mkarg I used a turn of speech. There's no actual vote.

[2019-06-13 05:16] mkarg commented on #767
@waynebeaton What we still have not seen after asking for it many times, is *the actual reason* why JAX-RS must not be used. It is *not* a registered trademark, and so far Oracle has *not* shown a public proof that they claimed it as a trademark. It is *not* mentioned as a trademark in the JAX-RS 2.1 Specification itself, and it is *not* mentioned on Oracle's [former](https://github.com/jax-rs/api

[2019-06-13 05:19] mkarg commented on #770
+1 for keeping `JAXRS` as-is unless a public proof is shown of *a real legal reason* that we MUST NOT keep this acronym. Otherwise +1 for `SeBootstrap` or `SeServer` to be aligned with CDI.

[2019-06-14 22:22] jansupol commented on #766
I have created a bunch of jobs available at https://jenkins.eclipse.org/jaxrs/view/TCK/.

There is a job for:
- [building a JAX-RS 2.1.6](https://jenkins.eclipse.org/jaxrs/view/TCK/job/JAX-RS_EE4J_8_branch_build/)
- [building a ts.jte configuration file](https://jenkins.eclipse.org/jaxrs/view/TCK/job/ts_jte_alter/)
- [integration of JAX-RS to Glassfish](https://jenkins.eclipse.org/jaxrs/view/TCK/j

[2019-06-14 22:27] jansupol commented on #766
Note that there is a documentation for the TCK job [available](https://wiki.eclipse.org/TCK:Build_From_Jakarta_EE_TCK_Repo_And_Run).

[2019-06-14 22:32] jansupol commented on #766
Note that these jobs are for Jakarta EE compatibility, to test the new JAX-RS built from EE4J_8 is compliant with Java EE JAX-RS RI (Jersey) i.e. the API works with Glassfish 5.1.0.

[2019-06-15 11:46] mkarg commented on #766
@jansupol Great, thanks a lot! :-) But I wonder if it is actually the job of the JAX-RS team to check CI with one particular product, here Jersey and GlassFish. I mean, to be fair, we also have to either add RESTeasy, Wildfly, etc. CI jobs then, or drop the Jersey and GlassFish jobs otherwise.

[2019-06-15 15:29] nimo23 opened #771 "provide setInitalDelay() for javax.ws.rs.client.Invocation"
If I want to put some **poll delay** within the jax-rs client, I have to use something like this:

[code]

However, using `Thread.sleep` within jee-container is not good..

Maybe, the **initial delay** can be supported by a new method `setInitalDelay()` for `Invocation`. So something like this can be used to start the GET request after initial delay:

[code]

or

[code]

Or are there any other sol

[2019-06-15 19:45] jansupol commented on #766
The TCK always was tested against RI. Once the RI passed the TCK, the RI was marked as compatible with JAX-RS Spec of the version corresponding to the TCK version.

Here, there is a different use case. The new API is tested with the RI to check the compatibility. Once it passes with RI (or any other VI, does not matter), it can be said it is compatible. If any other VI (such as
 RestEasy) fails th

[2019-06-17 04:23] derekm opened #772 "NotImplementedException to go with Response.Status.NOT_IMPLEMENTED & friends"
Provide equivalent exception types for the new v2.0 Response.Status fields.

[2019-06-17 04:33] derekm commented on #769
This is also something I've been using since 2012 as Jersey's `WebResourceFactory`:

https://github.com/eclipse-ee4j/jersey/blob/master/ext/proxy-client/src/main/java/org/glassfish/jersey/client/proxy/WebResourceFactory.java

When MicroProfile REST Client spec was being written, I made sure the spec writers considered `@BeanParam`s and sub-resource locators, etc.

I have many facilities built arou

[2019-06-17 04:38] derekm commented on #769
Some interesting PRs involving `WebResourceFactory` proxy client from before the Eclipse donation:

JERSEY-1653: Add support for @BeanParam in jersey-proxy-client
https://github.com/jersey/jersey/pull/235

JERSEY-3248: support parameter converters in WebResourceFactory
https://github.com/jersey/jersey/pull/269

[2019-06-17 06:53] jansupol commented on #766
Sorry for the confusion. The TCK is, of course, meant to be run against all the implementations. Out of the box, it worked with the Java EE RI only (i.e. Glassfish), though. The licensees were responsible for running the TCK on their implementation and TCK defined a set of files that could have been changed for the TCK to be run and it also provided an API that the vendors could implement for the

[2019-06-17 14:01] spericas commented on #771
In the _synchronous_ case, the end result will not be different to what you're doing now. In the _async_ case, it could make a bit more sense.

 OTOH, the notion behind delays, retries, etc. is easily abstracted away so that it can be used with different APIs. This is what libraries such as Hystrix and more recently MicroProfile Fault Tolerance have done. I suggest that you take a look at those; I

[2019-06-18 05:27] mkarg commented on #772
@derekm Feel free to provide a PR. :-)

[2019-06-18 05:37] chkal commented on #771
I agree with @spericas. This looks like a very special use case and something like this should be addressed on a different layer and is out of scope of the core API.

[2019-06-18 08:52] nimo23 commented on #771
With `setInitalDelay` JAX-RS can provide a mechanism to avoid excessive polling (e.g. DoS) with its `javax.ws.rs.client.Client`.  The method should be put into the responsible layer which is JAX-RS.

[2019-06-18 13:21] #752 closed

[2019-06-18 14:32] spericas commented on #767
@waynebeaton Any update on the use of acronyms? Thanks

[2019-06-18 16:43] mkarg commented on #767
@spericas Meanwhile I asked Oracle's Trademarks office to confirm that JAX-RS is a trademark. Today they sent an answer which does NOT imply that it is a trademark, NOR that it is NOT. Hence I wrote back that they shall be unambiguous. Let's see what happens.

[2019-06-18 19:34] waynebeaton commented on #767
It is the position of the Jakarta EE Steering Committee that "JAX-RS" cannot be used as a project name, or to otherwise refer to the Jakarta RESTful Web Services specification or project.

The position has changed regarding the use of acronyms in project ids and short names: existing usage will be allowed to continue. So... the name of the Git repository will not be changed as part of this set of

[2019-06-20 16:39] jamezp commented on #708
Looks like this is being fixed in a fork for WildFly https://github.com/jboss/jboss-jaxrs-api_spec/pull/9. I'm going to close this.

[2019-06-20 16:39] #708 closed

[2019-06-21 17:10] waynebeaton commented on #767
I have implemented the changes. We're done here.

Please monitor the [PMC mailing list](https://accounts.eclipse.org/mailing-list/ee4j-pmc) for next steps.

[2019-06-21 17:10] #767 closed

[2019-06-24 11:43] #766 closed

[2019-06-29 19:45] jeyvison commented on #772
i can send a PR about it.

[2019-06-30 17:43] mkarg commented on #770
According to the Jakarta EE Working Group Steering Committee [Acronym Guidelines](https://jakarta.ee/legal/acronym_guidelines/) we are officially allowed to further use the class name `JAXRS`, hence I hereby vote -1 on this issue.

[2019-06-30 17:46] mkarg commented on #750
@ivargrimstad Any news on this topic?

[2019-06-30 18:04] mkarg opened #775 "Boilerplate Spec Document for Steering Committee"
The Steering Committee requested the creation of tha boilerplate specification document before July 15:
[code]

[2019-07-01 13:37] spericas commented on #770
Those guidelines clearly state:

Keeping the same acronym will create confusion going forward. As I stated before, now is the best time to make a change this. So -1 for _not_ renaming the _new_ `JAXRS` interface.

[2019-07-01 14:01] spericas commented on #771
@nimo23 Please close this issue if you agree with what was suggested above.

[2019-07-01 14:18] spericas opened #776 "Prepare Jakarta RESTful Web Services project for Jakarta EE 8 Release"
## Tasks

- [x] Update text files
- [x] Generate "boilerplate" specification project
- [x] Make a staging release
- [x] Generate Stand-alone TCK test results
- [x] Create a PR to jakartaee/specifications repository
- [x] Update the Jakarta EE API jar by submitting a PR to the [jakartaee-api](https://github.com/eclipse-ee4j/jakartaee-api) project

Some changes are required for the Jakarta EE 8 rele

[2019-07-01 14:29] #771 closed

[2019-07-01 14:41] chkal commented on #770
Could you explain this in more detail? What kind of confusion? Java EE will continue to exist as Jakarta EE under the umbrella of the Eclipse Foundation. Beside the package renaming aspect, nothing will change from the user perspective. Users expect new versions of JAX-RS as part of Jakarta EE.

IMO it is the other way around: All this renaming creates the confusion for users.

[2019-07-01 14:53] jansupol commented on #770
No, the interface is not public, yet, no confusion in renaming it.

[2019-07-01 15:07] chkal commented on #770
Agreed! However, my statement was more about the general "avoid the JAX-RS acronym" strategy.

[2019-07-01 15:37] jansupol commented on #770
There is a [guideline](https://jakarta.ee/legal/acronym_guidelines/) that says:

I do not know whether it means there is a way to continue using JAX-RS acronym. But it's likely a different issue.

[2019-07-01 15:40] spericas commented on #770
@chkal  Please read the first sentence of that document:

  If a new acronym or short name is used going forward, the Jakarta context will be clear and unambiguous.

[2019-07-01 16:53] mkarg commented on #770
I have contacted that address and was replied by an Oracle lawyer allowing us to continue the use of JAX-RS.

[2019-07-01 16:59] mkarg commented on #770
BTW, cannot see how keeping `JAXRS` could confuse anybody.

[2019-07-01 17:50] jansupol commented on #770
Truth to be told, I am in a puzzle over the expected functionality of such a named interface since the first moment I saw that name.

[2019-07-01 18:05] jansupol commented on #770
Thought I have said that back then when we had the discussion. Yes, I admit, I prefer the names that do describe the functionality. I know you have provided examples, but those names are not the best-chosen names either. Since 1999, [the name convention] (https://www.oracle.com/technetwork/java/codeconventions-135099.html) says the same:

Not descriptive to me.

It is an acronym to me.

[2019-07-02 05:36] mkarg commented on #770
That might be that case, but as those discussion came to the end that we stick with the name `JAXRS` by an official vote (otherwise it could not be part of `master` right now). So you will need to find at least two people with +1 and you need to convince me not to -1. The latter will become a problem. ;-)

[2019-07-02 13:30] spericas commented on #770
I did not vote against that name at the time, but this was way before the Eclipse guidelines related to the use of acronyms were written. Given that we are now _not_ encouraged to use the acronym anymore, we should _not_ introduce a type of that name. Hence the need to revisit this topic.

[2019-07-02 14:25] mkarg commented on #770
Actually there is no *need*. We explicitly *may* use the acronym as a class name according to the guidelines. So let's stay clear with our phrases: You just WANT to change it. ;-) Its easier to discuss things if we all are frank about our intentions. Mine is that I do not want to stick any more work into an already finished feature, and looking at the recent change in the Jersey roadmap, I wonder

[2019-07-02 14:34] spericas commented on #770
I'm being perfectly frank, I didn't vote against it back then, but I am now after reading the guidelines. I think it's a bad idea to use the acronym to name a class now.

[2019-07-02 17:58] mkarg commented on #770
What about my above proposal? Deal?

[2019-07-03 07:36] ivargrimstad commented on #776
Thanks for starting this @spericas !
Here are some detailed instructions..

### Instructions

- [ ] Update text files
- [ ] Generate "boilerplate" specification project
- [ ] Make a staging release
- [ ] Generate Stand-alone TCK test results
- [ ] Submit tests for ballot
- [ ] Release to Maven Central

See [here](https://wiki.eclipse.org/How_to_Prepare_API_Projects_to_Jakarta_EE_8_Release) for det

[2019-07-03 13:12] spericas commented on #776
Related to #775

[2019-07-05 06:24] mkarg commented on #775
I will prepare the boilerplate ASAP.

[2019-07-06 20:52] jeyvison commented on #749
Is this something we could start working on or we should wait 'till 2.2 is out?

[2019-07-07 09:19] mkarg commented on #749
@jeyvison Great to have you on board! Please find the roadmap in our wiki. CDI will be part of JAX-RS 3.0, which is rather far away. So if you start working on that, it could happen that you need to fix git conflicts from time to time. If you don't fear that, have fun coding! :-)

[2019-07-08 13:59] spericas commented on #776
I will be submitting a PR shortly with some changes to drop references to "JAX-RS" from the Javadocs. Most of these references are unnecessary and can be replaced by "This API" or simply inferred by the context. See bullet 1.2 in how-to above.

[2019-07-09 13:27] mkarg opened #781 "Make Client AutoCloseable"
As there is a `Client#close()` method, I think it makes sense if we declare it `AutoCloseable` in a future release, so it works with try-with-resources.

[2019-07-09 13:28] mkarg commented on #781
@spericas What do you think?

[2019-07-09 15:25] spericas commented on #781
Yes, I don't see a problem with that. OTOH, hopefully this will not encourage developers to create lots of short-lived `Client` instances, which as explained in the Javadocs already, are expensive.

[2019-07-09 20:03] mkarg commented on #781
I don't think it will encourage people for short living instances. In the end, creating a client needs lots of time, so people will notice that this would be a very bad practice.

[2019-07-10 12:55] MarkusKull commented on #781
Some tests (without injected client) create a new client. So yes, this would be useful.

[2019-07-10 19:50] mkarg commented on #775
Boilerplate spec merged into `EE4J_8`.

[2019-07-10 19:50] #775 closed

[2019-07-10 20:19] mkarg commented on #781
Guys, we all had been blind: We already did that in f3fa7d03f91a7d44984659774406d1c2bbce3b65. At least good to know that we still want it! ;-)

[2019-07-10 20:19] #781 closed

[2019-07-18 13:11] mxmlnglt commented on #770
By the way using `Bootstrap` (in any combination as suggested above) would be counterproductive to me as it's been widely used for years to name a CSS framework. Almost every search engine has this page as 1st result when searching for "Bootstrap": https://getbootstrap.com

[2019-07-25 12:38] m0mus opened #786 "Update Eclipse GlassFish"
Update Eclipse GlassFish to use the new version of your API (and implementation, if applicable) by submitting a PR to [GlassFish](https://github.com/eclipse-ee4j/glassfish).

Although a new version of GlassFish will not be released for Jakarta EE 8, we hope to release an update sometime later.

[2019-07-25 14:37] cowwoc commented on #468
Now that Eclipse has taken over the spec, can you please comment on this issue? Thank you.

[2019-07-25 15:30] cowwoc commented on #468
I am attaching a testcase that proves the existence of this bug.

[testcase.zip](https://github.com/eclipse-ee4j/jaxrs-api/files/3432258/testcase.zip)

1. Unpack the testcase
2. Run `mvn install`
3. Run `java -jar target/java -jar target\testcase-1.0-SNAPSHOT-jar-with-dependencies.jar`
4. Open a browser to http://localhost:8080/a/b and click on the "../" link
5. Notice that the browser navigates f

[2019-07-25 21:02] arjantijms commented on #786
https://github.com/eclipse-ee4j/glassfish/pull/22790

[2019-07-25 21:22] mkarg commented on #468
Gili, awesome! Unfortunately I am really busy the next two weeks. Please don't be disappointed if my answer needs a while... :-)

[2019-07-25 23:06] cowwoc commented on #468
No worries. I'll set a reminder to bug you within 2 weeks :) Good luck with your work!

[2019-07-28 15:31] mkarg opened #787 "@ApplicationPath in Java SE deployments"
Apparently (at least) Jersey does not respect the `@ApplicationPath`'s [value](https://github.com/eclipse-ee4j/jaxrs-api/blob/66ce6b3b9ea61daab64153789bababc2c14a3d84/jaxrs-api/src/main/java/jakarta/ws/rs/ApplicationPath.java#L57) *in Java SE deployments*, see [Jersey issue #4205](https://github.com/eclipse-ee4j/jersey/issues/4205).

The JAX-RS specification clearly tells how to use this annotatio

[2019-07-28 15:32] mkarg commented on #787
@eclipse-ee4j/eclipse-jaxrs Committers, please discuss! :-)

[2019-07-29 15:28] chkal commented on #787
IMO `@ApplicationPath` should also be supported in SE environments. Not sure if we need to be more explicit about the fact that it also works in SE environments. At least I would have expected that.

[2019-07-29 16:23] mkarg commented on #787
@chkal Apparently you are not alone with your expectations, but indeed Jersey behaves differently. Hence it would be great to hear some kind of "justification" of team Jersey.

[2019-07-30 10:21] m0mus commented on #776
Staging release: https://oss.sonatype.org/content/repositories/staging/jakarta/ws/rs/jakarta.ws.rs-api/2.1.6/

[2019-07-30 10:22] m0mus commented on #776
jakartaee/specifications PRs:
https://github.com/jakartaee/specifications/pull/7
https://github.com/jakartaee/specifications/pull/8

[2019-07-30 15:26] jansupol opened #788 "Create gh_pages branch in the Project"
It is a **goal** for every Jakarta EE project to contain **project pages**, similarly to [JSON-B](https://eclipse-ee4j.github.io/jsonb-api), for instance. This is done through creating a new branch in the project, called **[gh-pages](https://github.com/eclipse-ee4j/jsonb-api/tree/gh-pages)**.

The immediate reason for this is to store the **results of the TCK** run for the upcoming 2.1.6 release,

[2019-07-31 04:41] chkal commented on #788
+1

AFAIK we can just ask the EF web masters to enable GH pages support for the repository.

BTW: I just learned that there are even other ways than having a separate `gh-pages` to set up GitHub pages today:

[2019-07-31 05:14] mkarg commented on #788
I think `gh-pages` is the most typical way, but a `/docs` folder sounds sweet. The problem is that we might also like to publish JavaDocs and Spec PDFs and possibly some static landing page there, so how can we mix it? Can we tell the TCK job to put the result in some subfolder?

BTW, I have not yet focused on the TCKs, but what actually tests the TCK here in our API project? I always thought the

[2019-08-01 09:50] jansupol commented on #788
Yes, TCK was designed to have implementation tested for compatibility with the Specification. However, for Jakarta EE 8 release, the plan was to release just the APIs, so that the release is as fast as possible. Since the API should be compatible with the previous API released in January, there already is an implementation that passed the TCK. So the idea was to just rerun the TCKs to check the ne

[2019-08-01 15:01] jansupol opened #789 "Compatibility certification request for EE4J implementation of Jakarta RESTful Web Services"
- [x] Organization Name ("Organization") and, if applicable, URL
 * Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)
 * Jersey 2.28
   * [jersey-bean-validation](https://oss.sonatype.org/content/groups/public/org/glassfish/jersey/ext/jersey-bean-validation/2.28/jersey-bean-validation-2.28.jar)
   * [jersey-cdi1x](https://oss.sonatype.org/content/groups/public/org/gla

[2019-08-01 15:16] jansupol commented on #789
(Influenced by [JavaMail example](https://github.com/eclipse-ee4j/mail-spec/issues/1))

[2019-08-01 18:03] mkarg commented on #788
@jansupol I understand what you like to reach with that test, but I do not see why the result needs to be stored or published.

[2019-08-01 18:04] mkarg commented on #789
What actually do you want the committers of JAX-RS to do with this issue?

[2019-08-02 20:51] jansupol commented on #789
This is a request for the implementation to run the TCK with the API. The reason why this is an issue in the JAX-RS and not at the implementation is not quite clear to me. Maybe it could have been grabbed by any implementation, or maybe it is for the JAX-RS project to have the certification process covered on its own issue tracker. I take it as a document that is filled for the release review.

So