[2020-12-09 13:30] FroMage commented on #924
Hi,

As part of our work on RESTEasy Reactive (https://quarkus.io/blog/resteasy-reactive/) we've had to fork the existing Jakarta EE TCK and do the following:

- Remove all the non-jaxrs bits
- Rename the packages to JAXRS 2.1 names
- Replace Ant with Maven (2 modules)
- Replace the ad-hoc test suite with JUnit
- Upgrade Apache HttpClient to the latest version
- Rename every test class to be uniqu

[2020-12-09 15:01] spericas commented on #927
The spec isn't very clear about this. This mechanism of types and generic types was designed for things like `List<String>` or `Set<Foo>`, and then `CompletionStage<T>` support was added. I would think the intent has always been for `type` and `genericType` to have a common supertype that isn't `Object`, and this rule would be violated if `T` and `Completion<T>` are passed.

I wonder what other im

[2020-12-09 15:11] spericas commented on #468
@cowwoc Version 3.0 mentioned in this discussion is now 4.0. We had to change the major number for Jakarta EE 9.

[2020-12-09 16:01] cowwoc commented on #468
Okay, thanks for the clarification. How can we move this issue forward? Does any design discussion need to happen?

[2020-12-09 18:43] mkarg commented on #915
Good catch!

[2020-12-10 12:28] senivam opened #928 "Missing API documentation for JAXRS-API 3.0 (jakartified)"
There are no API docs published for jakartified JAXRS API at https://eclipse-ee4j.github.io/jaxrs-api/apidocs.
The latest version shows only 2.1.6 API docs.

[2020-12-11 06:21] chkal commented on #926
I basically agree that providing another method for setting query parameters using a list could be beneficial. I was just trying to understand what users currently have to do as a workaround.

[2020-12-11 10:01] commodis commented on #926
My usecase was to proxy the query parameters from my current location to a different target where I had to modify a single parameter like for example

https://current.github.com?a=1&b=2

to

https://**after**.github.com?a=1&b=**3**

Was I missing something obvious rather than build up the new query myself?

[2020-12-11 15:35] scottmarlow commented on #924
At a minimum, the Jakarta EE Platform SPEC requirements still need to be tested.  Will the new JAX-RS TCK cover the Platform SPEC requirements?

Or can the new JAX-RS TCK tests be imported to the Platform TCK in some way?

[2020-12-11 18:09] mkarg commented on #924
Can you please share a link to the exact rules, what a new TCK MUST cover?

[2020-12-14 14:39] arjantijms commented on #786
GlassFish has been updated recently with the latest API version.

[2020-12-14 14:39] #786 closed

[2020-12-14 23:25] #832 closed

[2020-12-16 01:06] ronsigal commented on #746
Also related: https://github.com/eclipse-ee4j/jaxrs-api/issues/842.

[2020-12-16 16:58] mkarg commented on #928
Can anybody remember they technical way how to put the current docs there?

[2020-12-16 18:08] mkarg commented on #928
Ah... right. You added it manually there back then. I will provide a PR doing the same for 3.0.0.

[2020-12-17 09:23] jansupol commented on #924
[Another effort for the discussion](https://www.tomitribe.com/blog/introducing-tck-work/)

[2020-12-17 18:33] senivam commented on #928
this can be closed as fixed.

[2020-12-17 18:33] #928 closed

[2020-12-18 13:18] chkal commented on #468
I don't think that there is consensus yet if the current behavior should be changed or not.

Speaking only for myself: I also dislike that trailing slashes are currently ignored. However, I also think that changing this could cause more problems than it solves.

Example from my personal experience: Last week I reviewed some code written by a colleague. He basically defined a resource method like t

[2020-12-18 13:23] mkarg commented on #468
To extends Christian's answers: I personally never differentiated URLs with-or-withot slash, mostly by mistake, was always was happy that "it just worked". But even if fixing this fault would mean that my existing applications will definitively break, I am definitively +1 for fixing it. In the end, it is *my* fault that I did it wrong in my app, so it is *my* job to fix it ASAP. So big +1 for fixi

[2020-12-18 13:24] mkarg commented on #468
@cowwoc Would you like to lead this effort and provide a compulsory PR (including spec & JavaDoc changes)?

[2020-12-18 13:24] chkal commented on #926
Well, wouldn't it be easy to get the `MultivaluedMap` for the current request, replace the single query parameter and then loop over the multimap and call `UriBuilder.queryParam(String, Object...)` for each entry?

[2020-12-18 13:40] chkal commented on #468
I'm not sure if it is really a *fault* of the developer. Actually the spec allows to do it this way, and it will work fine with compliant implementations. The problem is that 95% of the developers don't actually know that trailing slashes are ignored by the matching algorithm and simply do it by mistake.

[2020-12-18 14:04] bertysentry commented on #468
Couldn't the new (proper) behavior just be an option to enable?

[2020-12-18 14:16] cowwoc commented on #468
@chkal

Whether JAX-RS treats this differently or not, the URI specification and all web browsers already do. Any relative URIs you construct will break. The fact that some people haven't run into this problem yet is a matter of pure luck.

@bertysentry

If we introduce an option, I'd flip the default: introduce this change in a major version change, break backwards compatibility, and provide user

[2020-12-18 14:31] spericas commented on #468
I second @chkal's experience as well. I suspect that is the reason why the decision was made in the first version. Unfortunately, I believe this change will create way more angry users than happy ones when their apps stop working.

[2020-12-18 14:47] mkarg commented on #468
Hm... with 3.0 the apps stopped worked anyways.

[2020-12-18 15:04] spericas commented on #468
You mean with package renaming? That is easily automated via tooling, unlike what is being discussed here. If you mean the future 4.0, then I hope not _all_ apps will be broken; moreover, what is being described here affects clients as well.

[2020-12-18 15:18] cowwoc commented on #468
@spericas As I keep on mentioning, the house is already on fire
![image](https://user-images.githubusercontent.com/633348/102629424-23783380-4119-11eb-8649-3a49ca191124.png).
All apps are *already* broken when users attempt to use relative URIs in any web browser.

That said, one thing we can do is log a warning every time a client hits an endpoint with a different trailing slash than the server.

[2020-12-18 15:49] spericas commented on #468
@cowwoc Respect your opinion, but don't share it (despite the funny pics!). It's definitely and interesting discussion, but hardly a showstopper.

 Having said that, It would be interesting and an easier path for some implementations to try this out first.

[2020-12-18 15:55] mkarg commented on #468
@jansupol @ronsigal @andymc12 @deki Are existing products already having a property to switch on this new behavior or would you be interested in adding one? In that case it would make sense to add a JAX-RS property to have a product-independent switch.

[2020-12-18 16:25] spericas opened #930 "Jakarta REST 3.1 Planning"
Creating this issue for the purpose of planning the 3.1 release. As I understand it, EE 9.1 is currently scheduled for Q1 2021. There have been a number of topics under discussion for 3.1, some of which we all agree on and some of which we do not. I propose that we use this issue to finalize the discussion and formalize a plan for 3.1.

**Planning for Jakarta REST 3.1**
1. Bootstrap API
2. Clarifi

[2020-12-18 16:28] spericas commented on #930
From @arjantijms's wiki that relate to (3):

Proposed Changes

- Implementations MUST support @Inject.
- Application MAY use @Inject.
- Support for ContextResolver<Jsonb

Open Questions

- Implementations MUST bring a bundled CDI 2.0 implementation? Alternative is that application has choice of CDI 2.0 implementation and Jakarta REST implementation MUST provide a CDI 2.0 Extension to support it.

[2020-12-18 18:51] andymc12 commented on #930
I've been hearing that EE 9.1 is not intending to include any API changes, and is primarily focussed on the move to Java 11.  That said, it should not prevent us from releasing 3.1 - but the 3.1 release may not be pulled into an EE release until 9.2 or 10 (whichever comes first).

I'm very much in favor of mandating that implementations bring their own CDI 3.0 (or maybe 3.X to allow for the CDI sp

[2020-12-18 19:31] commodis commented on #926
The `MultivaluedMap` is immutable which disallows operations like `put` but yes, basically I am doing this.
I am not telling that this is impossible and no workaround exists. It is just weird that we are not having a consistent API within the same specification. Obviously, it is due to backwards compatibility and based on other specifications.

[2020-12-18 21:07] spericas commented on #930
I've heard the same about 9.1, and hope is not true :) Doing a full EE release takes a lot of time and effort, and just doing this for JDK 11 is hardly innovative IMO. It would be the third Eclipse release in which nothing "truly" new is delivered.

[2020-12-18 21:50] arjantijms commented on #930
As far as I understood, point releases can be included, although they should definitely not contain major breaking changes. E.g. the Faces 4.0 as we have planned (where we fully remove the native managed bean system) would not be in scope for Jakarta 9.1, so neither would be Jakarta REST 4.0 as planned.

I wonder btw, is CDI indeed actually heavyweight, or is it a rumour being spread by people who

[2020-12-19 11:27] chkal commented on #926
I'm still not sure if I fully understand what you mean with "consistent API". If you want to get the query parameters of the current request, modify it and pass it to a `UriBuilder`, you can do something like this:

[code]

I agree that you could get rid of `.toArray()` if `UriBuilder` would allow to provide the query parameters as a list, but you would still end up with three lines of code for yo

[2020-12-19 11:47] chkal commented on #930
+100

One quick thought. For what @spericas proposed above (especially Implementations MUST support `@Inject`) we actually don't have any dependency on CDI at all. It's just about Jakarta Dependency Injection 2.0 (previously JSR 330). Maybe this is sufficient for a first step?

[2020-12-19 12:35] mkarg commented on #930
I recently had a discussion with @ivar grimstad, and he told me that we can publish releases freely as we like. It is up to the platform to decide into which EE release they do adopt a particular release of a subproject. So my opinion is, we should not assume or discuss what EE wants / plans, but go our own way simply.

[2020-12-19 15:47] arjantijms commented on #930
Could be, but that's potentially more confusing still.

If it's explicitly defined to be injected by CDI, this means users can obtain references via the CDI bean manager, decorate injected beans, veto them via extensions, etc etc.

[2020-12-19 23:58] m-reza-rahman commented on #930
Firstly, it is truly encouraging to see the Jakarta REST team moving the technology forward. I hope many folks will chime in with their thoughts. Might it be a good thing to post a notification on the user alias: https://accounts.eclipse.org/mailing-list/jaxrs-dev?

I think the Ambassadors' Jakarta EE 10 Contribution Guide current draft summarizes the potential big ticket items for Jakarta REST we

[2020-12-20 23:00] jansupol commented on #468
I am +1 for having the option in Jersey, but it may be a significant change in the matching algorithm. We might find some cycles for it after Christmas, depending on other 3.1 requirements.

[2020-12-24 16:38] jansupol commented on #930
Do I get it right that [Jakarta EE 9 review is planned for January 31](https://www.agilejava.eu/2020/12/18/planning-for-jakarta-ee-9-1/), so if Jakarta REST 3.1 is to be part of it, the review ballot for 3.1 is to start on January 31, latest?

[2020-12-25 09:35] mkarg commented on #930
No that is not a *spec* review, this is a *plan* review. This means, we must tell what our plan is. Example: *"3.1 = 3.0 + Java SE + minor additions + another TCK for that; we have it mostly done and can deliver it until end of February."*.

I do not see a problem with that deadline. I already hacked some minimal purely Java SE +  JUnit based TCK for `SeBootstrap`  which I can finish and we can re

[2020-12-26 17:27] mkarg commented on #924
Please find a draft for a new TCK in PR #931. Please discuss the general question how to deal with the TCK **here** but discuss all what really is directly related to that draft **there**. Thanks.

[2020-12-27 17:11] mkarg commented on #659
Do we need to mention this in the spec, at least in the history appendix?

[2020-12-27 17:12] mkarg commented on #606
Do we need to mention this in the spec, at least in the history appendix?

[2020-12-27 17:13] mkarg commented on #554
Do we need to mention this in the spec, at least in the history appendix?

[2020-12-30 14:09] mkarg opened #935 "Separation of JPMS modules (breaking change)"
For version 4.x of Jakarta RESTful Web Services I'd like to propose that we split the JPMS modules, so in future only those module would get included by applications that actually are needed. This is useful wherever the footprint and bootstrap time plays a role, like in cloud and edge / embedded scenarios.

At least a separation into "client" and "container" is useful, as there certainly are clien

[2021-01-01 13:42] mkarg commented on #930
As the major target for Jakarta EE 9.1 (and as such, for Jakarta RESTful Web Services .1) is to allow applications to be written in Java 11, we maybe should put that prominently on our documentation, or even in the spec?

[2021-01-04 16:00] spericas commented on #930
@mkarg Yes, we can mention something about Java 11 in the spec.

@jansupol My understanding is the same is inline with @mkarg's. We should finish up and present our plan by the end of January. That is the main purpose of this issue.

[2021-01-04 18:32] spericas commented on #930
I agree that this would make things easier for everyone. However, it seems like a big change for a dot release; also not certain about the implications related to the integration of Jakarta REST into EE. Perhaps we can enforce `@Inject` support in our TCKs without this type of bundling --at least not yet.

 I believe is the fact that CDI goes beyond DI and that it is very dynamic. It supports exte

[2021-01-04 19:15] arjantijms commented on #930
Not necessarily. Any jar that contains an extension isn't scanned by CDI at all, and that extension can directly add types, which is quite similar what you do when you add types in HK2 to the Habitat/ServiceLocator. A beans.xml can disable scanning for the application completely.

HK2 has events as well (publishers and subscribers, which you publish via a Topic). HK2 even has an eventing SPI.

In

[2021-01-04 19:27] spericas commented on #930
@arjantijms I was not trying to compare it with HK2 (which is not related to Jakarta REST, but Jersey), but instead to the DI part of Jakarta REST. Extensions are not the only issue in restarts: all beans are discovered dynamically which is very flexible but not ideal in _some_ environments.

In any case, I'm not personally against CDI in any way, I'm just relaying the message of those that are sk

[2021-01-04 20:05] arjantijms commented on #930
I understand, but HK2 was just used as an example since I'm familiar with it (via Payara/GlassFish) and it's indeed used for at least 1 Jakarta REST implementation. HK2 (to the best of my knowledge) was never used as an argument against Jersey being heavyweight.

Not necessarily as I mentioned in the comment above. Via a beans.xml you can disable scanning, and archives with extensions aren't scann

[2021-01-04 20:24] spericas commented on #930
Sure, you can, but I don't think that's the point. As I understand it, they want automatic scanning of the beans and injection points but with minimal runtime impact.

[2021-01-04 21:06] arjantijms commented on #930
For a previous project I created a maven plugin that scanned classes during the build, and prepared an index file. That index file was then directly read by a CDI extension for minimal runtime impact. Incidentally, that's, again, what HK2 does as well (with the `org.glassfish.hk2:hk2-inhabitant-generator` plugin).

Of course that adds a build-time requirement, which we all decided around 2003 (whe

[2021-01-05 13:40] chkal commented on #935
I like the idea. Although I must confess that I'm not fully sure if I understand all the implications.

[2021-01-06 14:10] jansupol commented on #935
The client needs to be available on the server, too, so to me, it makes sense for the server to depend on the client. The other possibility is to generate two API jars, the way the WebSocket API does, the [complete API](https://repo1.maven.org/maven2/jakarta/websocket/jakarta.websocket-api/2.0.0/) contains everything, the [client API](https://repo1.maven.org/maven2/jakarta/websocket/jakarta.websoc

[2021-01-06 16:54] mkarg commented on #935
I do not see that the server MUST depend of the client. We have many web services running that do NOT consume any other services, so why should they have access to client APIs at all? It is pretty nice to only have Server and Common API and only add a dependency on Client API *if actually needed*.

[2021-01-07 15:39] spericas commented on #930
Back to the planning topic ... After discussing EE 9.1 with a few people it seems that, realistically, we should probably focus on a plan around the first two topics of my original post, namely:

1. Bootstrap API
2. Clarifications and minor additions https://github.com/eclipse-ee4j/jaxrs-api/issues?q=is%3Aissue+milestone%3A3.1+

Anything beyond this will likely be hard to get into EE 9.1, and ther

[2021-01-07 16:18] mkarg commented on #930
[C] Use whatever is already merged to `master` for Jakarta EE 9.1 plus its documentation.

TCK: I would prefer to *not* backport into the platform TCK. Even after explicitly asking for it, nobody at the EF has effectively asked us to either do so, *neither* have we been asked to provide a *single* executable for the TCK. So it seems, it is pretty OK for the EF, that we keep old and new stuff separ

[2021-01-07 20:41] andymc12 commented on #930
I agree that we should deliver something new in Jakarta REST 3.1, but based on what I've been seeing in the platform communications, it doesn't look like they will take new function in the EE 9.1 release.  That said, it would be nice to at least give them a choice - take either 3.0 or 3.1.  So the net is, I'm in favor of **option A**.

[2021-01-08 16:57] mkarg commented on #930
The only probem I have with that is (compared to just delivering what we already *have* in `master`): Do we have the time to fulfil that plan, as it implies things not yet contributed and merged.

[2021-01-11 13:28] commodis commented on #926
Leaving my special usecase aside it is just about the required conversion needed from `List<String` to `Object[]` when using `UriInfo`  as a source to produce an URI via `UriBuilder`.

requiring the step `params.forEach( (name, value) -> uriBuilder.queryParam( name, value.toArray() ) );` feels unnecessary.

[2021-01-11 14:26] spericas commented on #930
I don't disagree with this. We may need to leave some of the issues in (2) out of the release, but at least we'd have some new functionality.

[2021-01-11 15:23] Thihup commented on #930
I like the idea of enabling CDI by default. But from what I can tell a lot of old deployments just don't work with CDI enabled, mostly because of using an implementation way of using @Inject or using Guice.
Just enabling the CDI the startup time gets increased a lot and (usually) fails in the end. I know this is not fully related, but enabling CDI has caused a lot of pain to me.
In that cases the

[2021-01-11 16:43] mkarg commented on #930
@Thihup

I assume you mean having a *CDI* implementation in the packaging.

I wonder if todays this is still a problem, since CDI is *auto-enabled* since Java EE 7. So maybe we can auto-enabled it, too, but provide a standard option to actively disable it if not wanted. That would be in line with Jakarta EE platform behavior.

[2021-01-11 16:53] Thihup commented on #930
Actually, I mean saying a REST implementation, in my case, I usually packaged Jersey 1 or 2 to be able to run REST endpoints. Including the CDI implementation in the package would include the same troubles as deploying the application in a Jakarta EE web/full profile.

Having a standard way of disabling the CDI in the whole deployment might help. Enabling it by default wasn't a good choice for dep

[2021-01-11 21:42] andymc12 opened #937 "TCK Challenge: `isRegisteredRuntimeExceptionExceptionMapperTest ` testing for exact class when should check for `instanceof`"
**Specification:**
Jakarta RESTful Web Services 3.0 (EE 9.0) Full Platform TCK

**Challenged test(s):**
[com.sun.ts.tests.jaxrs.ee.rs.ext.providers.JAXRSProvidersClient#isRegisteredRuntimeExceptionExceptionMapperTest](https://github.com/eclipse-ee4j/jakartaee-tck/blob/adf6ca2beb09b72a77e685d5ec1ad425e0782bc3/src/com/sun/ts/tests/jaxrs/ee/rs/ext/providers/JAXRSProvidersClient.java#L158)

**TCK vers

[2021-01-11 21:54] andymc12 opened #938 "TCK Challenge: Using `@Context` parameters in resource constructors should be optional"
**Specification:**
Jakarta RESTful Web Services 3.0 (EE 9.0) Full Platform TCK

**Challenged test(s):**
[com.sun.ts.tests.jaxrs.spec.resourceconstructor#visibleTest](https://github.com/eclipse-ee4j/jakartaee-tck/blob/adf6ca2beb09b72a77e685d5ec1ad425e0782bc3/src/com/sun/ts/tests/jaxrs/spec/resourceconstructor/JAXRSClient.java#L48)

**TCK version:**
9.0.0

**Tested implementation:**
Open Liberty usi

[2021-01-11 23:06] jansupol commented on #938
I agree that Section 11.2.9 makes CDI behave in contradiction to Section 3.1.2 which says:

parameters.

I agree that CDI will be the first-class-citizen in the next Jakarta REST release, Section 11.2.9 should take precedence over 3.1.2, and Section 3.1.2 should be reformulated, perhaps the requirement can be dropped.

The cause of this challenge seems to be the fact that the CDI is used, no matte

[2021-01-12 03:48] scottmarlow commented on #938
As per https://jakarta.ee/committees/specification/tckprocess, please use `challenge` label:
[code]

[2021-01-12 14:29] spericas commented on #937
As discussed in eclipse-ee4j/jakartaee-tck#587, this is a valid challenge.

[2021-01-12 14:39] spericas commented on #938
Incidentally, this is one of a few problems related to supporting multiple DI mechanisms in Jakarta REST, and a good reason to continue working on moving to a CDI-only architecture. I agree with @jansupol's suggestion to possibly _turn off_ CDI for this test.

[2021-01-12 15:05] andymc12 commented on #938
@spericas @jansupol thanks for the suggestion.  I've been working with @brideck on this, and he confirmed that the test passes for us when we add a beans.xml file with `bean-discovery-mode="none"`.  I'm not sure if that is allowed for CTS compliance testing on 9.0.0, but I think it makes sense to add that beans.xml for future versions of the TCK.  If we're in agreement on this challenge, I can cre

[2021-01-12 15:07] scottmarlow commented on #938
Unrelated to the comments above, I wanted to give some guidance based on my understanding of the current [TCK Process](https://jakarta.ee/committees/specification/tckprocess).  In general, this TCK challenge should be either `accepted` or `denied` within 2 weeks.  If the challenge is `denied`, this issue should be labelled `invalid`.  If the challenge is `accepted`, this issue should be labelled `

[2021-01-12 15:09] scottmarlow commented on #938
I'm responding to my own comment, as I just noticed something related in the TCK Process:
[code]

[2021-01-12 19:13] scottmarlow commented on #938
@andymc12 Adding a beans.xml to the 9.0.0 Platform TCK test archive is not allowed or expected to be done.  The only test modification that you are expected to make is to somehow add vendor specific deployment descriptors.

[2021-01-12 19:18] brideck commented on #938
If this is the case, then we have a truly unfortunate challenge coming your way that will cause the exclusion of 32 tests in the jaxrs bucket.  I view a beans.xml used in such a manner as a server config tweak because we're just telling CDI how to process applications.  Apparently that is not the case.

[2021-01-12 19:56] scottmarlow commented on #938
@brideck I'll look for more details to clarify.

[2021-01-12 21:44] kwsutter commented on #938
Isn't the addition of this beans.xml file the proposed "workaround" or "solution" for this challenge?  Until it can become the real answer in a future version of the TCK?  I can appreciate that we don't want this type of addition to be a general practice.  But, it seems that in this case, this is the suggested "fix" for the problem until the proper solution is figured out and delivered.

[2021-01-14 23:19] andymc12 opened #939 "TCK Challenge: CDI deployment failure prevents app start for JAX-RS / BeanValidation TCK tests"
**Specification:**
Jakarta RESTful Web Services 3.0 (EE 9.0) Full Platform TCK

**Challenged test(s):**
All tests in [com.sun.ts.tests.jaxrs.platform.beanvalidation.annotation](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jaxrs/platform/beanvalidation/annotation/JAXRSClient.java):
com.sun.ts.tests.jaxrs.platform.beanvalidation.annotation#beanAnnotatedIsInvalidForB

[2021-01-15 02:12] scottmarlow commented on #939
@andymc12 we are working on a revision to the TCK process via https://github.com/jakartaee/jakarta.ee/pull/1018 which I think will help make it possible for the (relevant) SPEC team to approve use of a workaround (and the rules for that).

[2021-01-16 11:57] chkal commented on #926
So you think that something like `UriBuilder.queryParams(MultivaluedMap<String,​String>)` would help? In this case we would also have to add `UriBuilder.replaceQueryParams(MultivaluedMap<String,​String>)` for consistency with other methods.

To be honest, I'm not super convinced that having these additional methods bring much benefit. Especially, because there are workarounds which are also just o

[2021-01-16 12:02] chkal commented on #935
@mkarg Just to make sure I understand correctly. So you think we should split up the API JAR into three JARs (common, server, client)? This would be a requirement for getting different JPMS modules, correct?

[2021-01-16 12:21] mkarg commented on #935
In fact, JPMS itself *demands* splitting up the JAR into several JARs (one per module).

I think that common, server, client, would be a good start, but indeed, SSE could be a valid choice for another module. But actually I could imagine that in the end we want many more modules (and: *many* modules is the idea behind JPMS in general). For example, why should an application programmer have a depen

[2021-01-16 13:14] chkal commented on #935
I agree that splitting up into common, server and client may be a good idea. Not sure if we should split up even more (for separating SSE for example). This could be "too much".

But as mentioned above, I'm not fully sure if there are any implications I'm not aware of.

[2021-01-16 21:02] ronsigal opened #940 "Clarify publication of a JAX-RS application as a servlet"
This issue arose in a longish conversation (https://github.com/resteasy/Resteasy/pull/2474) between @andymc12 and me in response to https://issues.redhat.com/browse/RESTEASY-2650. By the end, I came to believe that section 2.3.2
"Servlet" of the spec doesn't make sense. Here's my last comment on the pull request:

My sense of it, at least tonight, is that the section in the spec just doesn't make

[2021-01-16 21:04] ronsigal commented on #940
I've re-written the section in a way that makes sense to me. If there's some agreement, I'll turn it into a pull request.

[2021-01-16 21:10] ronsigal commented on #940
I don't see how to attach a file to this issue, but the document is here: https://issues.redhat.com/secure/attachment/12505596/_publication.adoc

[2021-01-18 22:27] mkarg commented on #940
Ron, honestly I cannot see where there should be anything wrong or weird in the spec. Can you please clearly outline what bothers you here in detail?

[2021-01-19 15:11] spericas commented on #940
@ronsigal I'm not able to access the Redhat issues. Seems like more background in information would be needed here. Like @mkarg, I don't understand the point you are trying to make.

Seems like the use case in question is that for which an implementation needs to dynamically add a servlet as none of the other conditions are met?

[2021-01-19 15:20] spericas commented on #939
@andymc12 Where is that constraint annotation that causes the `DefinitionException`? Any thoughts about this @jansupol?

[2021-01-19 15:37] brideck commented on #939
[ConstraintDefinitionAnnotation](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jaxrs/platform/beanvalidation/annotation/ConstraintDefinitionAnnotation.java) is missing the required message(), groups(), payload() methods.

[2021-01-19 15:56] spericas commented on #930
As @andymc12 mentioned about a month ago, the main focus of EE 9.1 is moving to JDK 11. My understanding is that in the latest platform discussions, the overwhelming preference is _not_ to introduce any API changes in EE 9.1.

I'm more and more leaning towards the idea of Jakarta REST 3.1 being a _standalone release_; likely the better option for us to resolve the outstanding issues too.

[2021-01-19 22:11] jansupol commented on #939
When no beans.xml is defined, the default beandiscovery mode is annotated per CDI 2.0. However, the tests do not use any bean defining annotation. Should CDI be enabled in that case?

[2021-01-19 22:46] ronsigal commented on #940
Hey @mkarg, @spericas,

Sorry, I should have been more explict. Here's what's bothering me. In the section
[code]
On the one hand, it's saying "no servlet handles this application". On the other hand, it's saying that if there's no @ApplicationPath annotation on the Application, then web.xml must have a servlet mapping. Then it gives the example web.xml that not only has a &lt;servlet-mapping&gt;

[2021-01-19 22:50] ronsigal commented on #940
One other somewhat unusual thing, as @andymc12 pointed out, is that the value of @ApplicationPath, if it exists, is supposed to override the value of a &lt;servlet-path&gt;. Wouldn't it be more conventional for a value in a file to override a value in the code? I turned that around my rewritten version.

[2021-01-19 23:25] andymc12 commented on #939
@jansupol

Section 11.2.3 says:

In this case, since the product supports CDI, I take that to mean that `@Path` and `@Provider` should be treated effectively as bean-defining applications. RESTEasy uses a CDI portable extension to add the scoping annotations appropriately.  HTH

[2021-01-19 23:57] jansupol commented on #939
@andymc12 My understanding is that `CDI-style Beans` are CDI managed-beans, i.e. beans with bean defining annotations. That corresponds with the second sentence:

i.e. only `@Provider` with either `@jakarta.inject.Singleton` or `@ApplicationScoped` annotations are supported as CDI-style Beans.

[2021-01-20 01:30] andymc12 commented on #939
It definitely could use some clarification.  RESTEasy was able to pass the TCK for Java EE 8 using this same code (we're just taking the EE8 version and transforming it to use the new namespace), but my guess is that they only ran the Web Profile suite of tests (which doesn't seem to have many CDI-related tests - at least nothing that would verify one interpretation over the other).  These tests a

[2021-01-20 02:58] scottmarlow commented on #939
WildFly is passing the Jakarta EE Platform 8.0.2 TCK which includes these tests (e.g. I just verified that test=com/sun/ts/tests/jaxrs/platform/beanvalidation/annotation/JAXRSClient.java\#beanAnnotatedIsInvalidForBeingFiveCharsLongTest_from_standalone and others are passing).  I'm not disagreeing with the discussion here but am responding since I do help run these tests. :-)

[2021-01-20 03:19] andymc12 commented on #939
@scottmarlow interesting.  Do you know if Wildfly uses the RESTEasy CDI module?  If so, then I would expect the behavior to be the same as what we're seeing.  Or does Wildfly disable CDI for certain tests/archives?  We have a `<cdi12 enableImplicitBeanArchives="false"/>` config setting that can disable CDI annotation scanning.  I'm wondering if we need to configure that setting to match Wildfly's

[2021-01-20 16:20] scottmarlow commented on #939
Yes, WildFly master branch is using resteasy-cdi-3.14.0.Final.jar currently.

I looked to see if we have any similar hacks in place and did not find anything in my search.

I looked in various (WildFly TCK) scripting/xml/configuration/other files and do not see that would influence the com.sun.ts.tests.jaxrs.platform.beanvalidation.annotation tests.

I'm guessing that it could be some WildFly inte

[2021-01-20 18:05] mkarg commented on #930
The decision which version of Jakarta REST is part of Jakarta EE 9.1 is not up to *us* but up to the Jakarta EE Platform project. We simply go on with our release 3.1 as we planned it, and they can choose to pick it or not.

[2021-01-20 18:15] spericas commented on #930
Well, yes, but there are some tasks that are specific to EE 9.1 such as presenting a plan and working on the TCK integration into the platform. As I understand it, standalone TCKs that aren't part of the official repo won't be accepted in 9.1.

[2021-01-20 19:05] spericas commented on #940
@ronsigal Let's analyze this step by step ...

 Up to this point it states that if no servlet handles the app and `@ApplicationPath` is present, then implementations need to dynamically add servlet as described.

 If no `@ApplicationPath` is defined, then an implementation simply does not have all the _necessary_ information (i.e. mapping) to dynamically add the servlet, so it needs a deployment d

[2021-01-20 19:09] spericas commented on #940
That makes sense in _override_ situations, but this is not one of them. This is an _integration point_ between Servlets and Jakarta REST, two separate specs. In other words, `web.xml` is not used to configure anything directly in Jakarta REST (no such descriptor exists).

[2021-01-20 19:30] spericas commented on #939
This statement is about allowing providers and classes to be CDI beans, not about discovery or implying that our annotations are bean defining. OTOH, this is something we should support when we do a full CDI integration, but it raises some questions about how to reconcile discovery vs. whatever is returned by the applications subclass methods.

[2021-01-20 23:15] ronsigal commented on #940
Hey @spericas,

Thank you for the careful response. I follow you most of the way. The point at which I get stuck is, given web.xml
[code]
I look at that and think, "there's a servlet, named org.example.MyApplication, which handles `MyApplication`". It's true that there's no &lt;servlet-class&gt; element, but RESTEasy, and I assume other implementations, has its own implementation. But to make sens

[2021-01-20 23:21] ronsigal commented on #940
re: "web.xml is not used to configure anything directly in Jakarta REST"

I'm not following. In the absence of `@ApplicationPath`, aren't we, in effect, using &lt;servlet-mapping&gt; to configure a JAX-RS application?

[2021-01-20 23:33] ronsigal commented on #940
Here's my rewrite of the section, somewhat poorly translated from asciidoc:

[[servlet]]
==== Servlet

A JAX-RS application is packaged as a Web application in a `.war` file.
The application classes are packaged in `WEB-INF/classes` or
`WEB-INF/lib` and required libraries are packaged in `WEB-INF/lib`. See
the Servlet specification for full details on packaging of web
applications.

It is RECOMMEN

[2021-01-20 23:35] ronsigal commented on #940
One last thing. @andymc12 suggested renaming the init param "javax.ws.rs.Application" to "javax.ws.rs.core.Application", maybe starting by deprecating "javax.ws.rs.Application".

[2021-01-21 17:30] mkarg commented on #930
Until today I have requested multiple times in different places that we get told what we actually MUST provide and whether your above assumptions are official resolution of the PMC / WG, but did not receive an official answer. Until then, I do ignore such rumors.

[2021-01-21 20:18] spericas commented on #940
It does not. As stated before in the spec, that would be a servlet defined with an `<init-param>`. For example,

[code]

 That's right. The first clause is only used by implementations to dynamically add servlets --with the aid of a "simplified" web.xml when the path is not in the annotation.

 Clarifications are always welcome. This text was changed when Servlets added their "pluggability feature

[2021-01-21 20:24] andymc12 opened #944 "Clarification and test of `HttpHeaders.getRequestHeader(String)` when header does not exist"
Per the [javadocs](https://jakarta.ee/specifications/restful-ws/3.0/apidocs/jakarta/ws/rs/core/httpheaders#getRequestHeader(java.lang.String)) for `HttpHeaders.getRequestHeader(String)`:

Get the values of a HTTP request header. The returned List is read-only. This is a shortcut for getRequestHeaders().get(name).
...
Returns:
a read-only list of header values.
...

There is a slight conflict in th

[2021-01-21 20:27] spericas commented on #940
Yes, but only when it relates to the Servlet integration layer and the logic to dynamically add a servlet and when `@ApplicationPath` is not specified (Jakarta REST does not require Servlets to run). I suppose we could have said that if the user provides such a web.xml anyway, we should use the pattern to override the annotation --but I don't recall if that was on the table at the time.

[2021-01-22 01:01] ronsigal commented on #940
Ok, so, basically, the text makes logical sense as it stands, and my confusion came from a misunderstanding. That *suggests*, but doesn't prove, that there might be room for some clarification. Like I mentioned, @andymc12 and I had a long discussion about the meaning, but it's possible that I just led him down the path of confusion where none previously existed. ;-)

Before I just close this issue

[2021-01-22 01:04] ronsigal commented on #940
That makes sense to me. Anyone else?

[2021-01-22 15:52] spericas commented on #940
Yes, thanks.

[2021-01-22 15:53] spericas commented on #940
One problem with such a chance is backward compatibility.

[2021-01-22 18:20] mkarg commented on #930
@edbratt AFAIK the original decision was that platform TCK is intended to be split up and replaced by TCKs per spec, not vice versa. So I do not understand why you think we plan a replacement to be factored *into* the platform. This is not what we strive for. The idea is that Jakarta REST provides new tests in their repo, and the platform team can depend on that binary in the platform TCK.

[2021-01-22 18:27] spericas commented on #930
@mkarg I believe what you're saying has been discussed but is currently _not in scope_ for 9.1.

[2021-01-22 18:41] mkarg commented on #930
That is correct, but *this* PR is about Jakarta REST 3.1, not about Jakarta EE 9.1. What I like to say is: As the platform doesn't want new APIs at all in 9.1, they *anyways cannot* adopt Jakarta REST 3.1. So it is irrelevant what is in scope for EE 9.1 or not.

[2021-01-22 18:48] spericas commented on #930
First, this is an issue and not a PR. Second, I created this issue to discuss EE 9.1 among other things (clearly covered in many comments above). In any case, at this time, we shall continue the discussion of 3.1 without focusing on EE 9.1 anymore.

[2021-01-22 19:04] edbratt commented on #930
@markus the consideration for changing the testing mechanics for the Platform must be coordinated with the Platform committer team. The Platform Spec. (Specifically the TCK User Guide) says that the Platform TCK suffices to verify compatibility of Restful Web Services. If Restful Web Services creates a new TCK with tests that are not included in the Platform TCK then that requirement is not met.
A

[2021-01-22 21:43] mkarg commented on #930
@edbratt 100% agreed. But as I told already, as Jakarta EE 9.1 does not want API changes at all, the platform cannot adopt JAX-RS 3.1 at all, so this is irrelevant.

[2021-01-22 21:45] edbratt commented on #930
Irrelevant? I hope this gives some insight into what must happen to make the kind of change that is being contemplated and provides some of the written basis for what requirements must be satisfied and/or changed

[2021-01-22 21:45] mkarg commented on #930
BTW, for the records: Any specification CAN unilaterally decide about their own TCK, but possibly with the result that it is not part of the EE platform anymore, at least for some time.

[2021-01-22 21:46] mkarg commented on #930
@edbratt "Irrelevant" means, as you talk about implications in the EE 9.1 context only, and as RS 3.1 CANNOT be part of of EE 9.1, there is nothing that MUST be satisfied or changed.

[2021-01-22 21:50] mkarg commented on #930
First, people DO make typos sometimes. ;-)

Second, the title of this issue is "REST 3.1 Planning", not "Jakarta EE 9.1 Planning" and while the description does *mention* some thoughts upon 9.1, it does not necessarily *bind* this discussion to EE 9.1. So I want to kindly ask to have two separate isses, one for 3.1, and one for 9.1. Thanks.

[2021-01-22 22:11] spericas commented on #930
I will not. It's already been discussed here, which was the original intent.

[2021-01-22 22:12] mkarg commented on #930
So given 3.1 will get skipped for EE 9.1, what is the further topic of *this* issue, RS 3.1 or EE 9.1?

[2021-01-22 22:17] edbratt commented on #930
Planning for 3.1 ought to continue. It is perfectly okay to propose something and decide, during the planning phase, that that part of the proposal is not going to be feasible. I would hope that this record would help guide readers in a subsequent plan to accomplish the things that were deemed out of scope, for this particular plan.

[2021-01-22 22:21] edbratt commented on #930
Also, the EE 9.1 planning documents are owned by the Platform team -- headed by Kevin. The original Google Doc is [here](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9.1ReleasePlan). It is supposed to be moved [here](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9.1ReleasePlan), but I don't think that's quite happened just yet. FWIW, I wasn't thrill

[2021-01-22 22:24] mkarg commented on #930
@edbratt Thank you for this background information. In fact, both links show the following content:
[code]
...and nothing else.

[2021-01-22 22:30] edbratt commented on #930
I fixed the google doc. link. Sorry, I was surprised by the TBD page and bungled my copy-paste of the links. The doc. seems to be in some transitional state. I don't think you will find content here that you have not already seen though

[2021-01-22 22:34] mkarg commented on #930
I know that document very well and it proofs my claim when it literally says: "no Specification API updates will be included in 9.1". So we can simply go on with 3.1 without spending any time in thinking about any 9.1-related arguments.

[2021-01-22 22:42] edbratt commented on #930
works for me

[2021-01-23 16:13] chkal commented on #944
I generally prefer to return an empty list in these situations. But IMO it would be more important to be consistent with `MultivaluedMap.get(String)`. So +1 for `null`.

[2021-01-26 20:24] scottmarlow commented on #937
@spericas as per your comment that the challenge is valid, please do mark the challenge as `accepted`.

[2021-01-26 20:25] scottmarlow commented on #937
Does anyone here volunteer to create a `jakartaee-tck` pull request to exclude the test mentioned above?  This would be similar to https://github.com/eclipse-ee4j/jakartaee-tck/pull/601

[2021-01-27 00:50] brideck commented on #937
@scottmarlow Sure, I've got one here for the 9.0.x branch: https://github.com/eclipse-ee4j/jakartaee-tck/pull/603

[2021-01-27 14:20] jansupol commented on #937
To continue with the discussion, based on #939 it is not clear what should be CDI bean and what it should not. Should the ExceptionMapper be not a CDI bean, for the same reasons as in #939, this challenge should not be accepted. If it is completely possible for the CDI to handle the ExceptionMapper as a CDI bean then let's exclude this.

[2021-01-27 15:44] andymc12 commented on #937
@jansupol even if CDI is not in the picture, I believe that this is a valid challenge.  Section 4.1 says:

I read that as an implementor has the right to provide a dynamic proxy to the exception mapper for things like tracing mapped exceptions, enforcing synchronized access, etc. AFAICT, there is no hard requirement in the spec or javadoc that says `Providers` must return the exact instance of the

[2021-01-27 16:19] kwsutter commented on #938
@scottmarlow I thought we decided at a Spec Committee meeting that this approach was an acceptable approach...
`Acceptable if the TCK challenge is accepted by the spec project and spec project agrees that is a valid workaround of adding the (described challenge) Jakarta deployment descriptor (e.g. with agreement for that specific deployment descriptor contents).`

So, if the use of the beans.xml f

[2021-01-27 16:35] jansupol commented on #937
@andymc12 This sounds correct and I agree with the exclude.

[2021-01-27 17:02] scottmarlow commented on #938
Good point, so I guess we can catch up on updating the TCK process document to reflect what we agreed on at the SPEC call.

So, on each TCK challenge that the SPEC lead does agree to resolve via a workaround, we need the SPEC lead to state so.

@spericas could you please respond again on this TCK challenge on whether the suggested workaround (e.g. use of beans.xml with `bean-discovery-mode="none"`

[2021-01-27 17:10] andymc12 commented on #939
Likewise to @scottmarlow's [comment in challenge issue 938](https://github.com/eclipse-ee4j/jaxrs-api/issues/938#issuecomment-768428567), @spericas are you ok with working around this challenge by using a beans.xml that contains `bean-discovery-mode="none"` ?  Thanks

[2021-01-27 17:58] spericas commented on #938
The suggested workaround to use a `beans.xml` with with `bean-discovery-mode="none"` is accepted.

[2021-01-27 18:02] spericas commented on #939
@andymc12 Do we have an explanation as to why WildFly with RestEasy passes this test? I'm generally OK with using a beans.xml, but I'm curious as to why there's a difference in behavior with these tests.

[2021-01-27 18:50] andymc12 commented on #939
I don't have a good explanation...  Our version of RESTEasy (currently 4.5.8) is newer than Wildfly's (3.14), but the [RestEasyCdiExtension class](https://github.com/resteasy/Resteasy/blob/master/resteasy-cdi/src/main/java/org/jboss/resteasy/cdi/ResteasyCdiExtension.java) is the same - this is the code that makes `@Path` and `@Provider` bean defining annotations.

My guess is that either Wildfly d

[2021-01-27 19:23] scottmarlow commented on #937
@andymc12 the spelling of the excluded test is missing some information, could you please check the .jtr files for the failing tests and update `com.sun.ts.tests.jaxrs.ee.rs.ext.providers#isRegisteredRuntimeExceptionMapper` to be the full test name which is identified by the line that starts with `test=`.  Some examples are in https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/install/jakar

[2021-01-27 19:30] spericas commented on #939
OK, I understand. I haven't looked at these tests in great detail, but are there any negative implications on the _good validation tests_ if we turn off bean discovery?

[2021-01-27 20:16] andymc12 commented on #939
I don't think so. When I was researching this challenge, I checked that none of the classes in the test use any other bean defining annotations, and when we disable bean discovery, all of the tests pass.  So I think the good tests are fine either way.

[2021-01-27 20:33] spericas commented on #939
I have marked the challenge as accepted with the proposed workaround of turning off bean discovery.

[2021-01-27 21:09] andymc12 commented on #939
Thanks!

[2021-01-27 22:11] andymc12 commented on #937
@scottmarlow - updated it to `com.sun.ts.tests.jaxrs.ee.rs.ext.providers.JAXRSProvidersClient#isRegisteredRuntimeExceptionMapper` - hopefully that's right.

[2021-01-29 02:22] scottmarlow commented on #937
@andymc12 feel free to attach the .jtr test (should be able to drag + drop into a comment) result file that contains the test name.  For future TCK challenges, we should include the .jtr files.

[2021-01-29 16:42] brideck commented on #937
Uploaded JTR file
[JAXRSProvidersClient_isRegisteredRuntimeExceptionExceptionMapperTest_from_standalone.jtr.log](https://github.com/eclipse-ee4j/jaxrs-api/files/5895029/JAXRSProvidersClient_isRegisteredRuntimeExceptionExceptionMapperTest_from_standalone.jtr.log)

[2021-01-29 17:25] commodis commented on #926
In my opinion, an API should have a consistent layout so people using that API are not re-inventing the wheel each and every time. JDK 16 added `Stream.toList()` even though `.collect(Collectors.toList())` already exists. If both would either use `Object[]` or `List<String>` this would all be fine

[2021-01-29 18:26] andymc12 commented on #926
I don't have a strong opinion either way.  If it makes life easier or more consistent for users, then it's probably a good thing. I think that if we added these methods, most implementors will basically just delegate to the existing method performing the same toArray() approach previously discussed.

[2021-02-02 18:34] scottmarlow commented on #938
Since the workaround is accepted by the SPEC lead, the tests do not need to be excluded (since there is a workaround).  I do not think any further action is needed on this challenge at this time.  This issue can be closed.

[2021-02-02 18:54] andymc12 commented on #938
Thanks @scottmarlow and all!

[2021-02-02 18:54] #938 closed

[2021-02-02 18:54] andymc12 commented on #939
Thanks all!

[2021-02-02 18:54] #939 closed

[2021-02-07 08:13] arucard21 opened #945 "Clarification: Ordering of media types with parameters"
I think a clarification is needed in the JAX-RS specification when it comes to dealing with media types that may include parameters. I'll refer to the 3.0 specification but, if possible, this clarification would also be useful in the 2.x specification.

From the JAX-RS 3.0 specification (chapter 3.7.2, step 2b)

From the JAX-RS 3.0 specification (chapter 3.8, step 7)

Both the request matching and

[2021-02-07 09:03] arucard21 commented on #904
If I understand correctly, for this specific part of the matching algorithm in the specification, it is optimized for performance, not for accuracy. This means that, by design, it will have some false negatives, i.e. not finding a match when there actually is one, as in the example. I think that makes sense though.

The warning in Jersey is because you can't have `foo()` (resource method) and `foo

[2021-02-07 16:06] chkal commented on #926
@eclipse-ee4j/ee4j-jaxrs-committers Other thoughts?

[2021-02-09 14:20] spericas commented on #945
Just to be clear, these two sections are there for different purposes. Section 3.7.2 is about matching and Section 3.8 about determining the media type of responses (way after matching, of course).

 Section 3.7.2 only deals with `q` and `qs` at this time, as these relate to each other and have well-defined semantics. As for Section 3.8, this is about determining the `content-type` of the response

[2021-02-09 16:25] arucard21 commented on #945
My intent is indeed to make the params part of the matching process as well as the response media type determination. I'll try to illustrate the need for this with some examples (written freehand so forgive any minor mistakes).

I'll continue with the `text/plain;format=flowed` example, though my own need for this actually comes from the `profile` parameter with `application/hal+json` (as well as

[2021-02-10 15:12] spericas commented on #945
Correct.

 Yes, except the client can always use `q` to influence the matching. The total ordering on combined types in the spec will honor this.

 Yes.

 I certainly understand where you're coming from. But, every addition brings additional complexity to the algorithm and, to be honest, the benefits seems very small in this case. Most scenarios can be deal with some use of `q` and `qs`. I'd be go

[2021-02-10 15:33] arucard21 commented on #945
Thanks for the clear and concise responses. It really helps with ensuring that the message came across well.

This part is unclear to me. In my example, the client requests the `text/plain;format=flowed` media type which is equivalent to `text/plain;format=flowed;q=1.0` since it defaults to the q-value of 1.0. And in this case the API would return the fixed format. So I don't see how I can use the

[2021-02-10 17:36] scottmarlow commented on #937
https://github.com/jakartaee/specifications/pull/330 is merged and https://download.eclipse.org/jakartaee/platform/9/jakarta-jakartaeetck-9.0.2.zip is available with the exclusion applied.  As well as https://download.eclipse.org/jakartaee/restful-ws/3.0/jakarta-restful-ws-tck-3.0.1.zip

@spericas could you please close this TCK challenge issue as it is now complete.

[2021-02-10 21:04] andymc12 commented on #930
Over on the MicroProfile side, I've been looking at how we might pull in the MP Rest Client into Jakarta.  There has been a lot of favorable feedback in the mail list thread [here](https://groups.google.com/u/1/g/microprofile/c/celFnt7WWZE).  Virtually everybody on the thread is in favor of migrating MP Rest Client to this project.  There is some disagreement about package names.

It might impact

[2021-02-10 21:25] mkarg commented on #930
I think the specification effort for the rest client, including the documentation, TCK, etc., is too huge for 3.1, so I'd say let's publish 3.1 as-as, and adopt the rest client in 3.2.

[2021-02-10 22:25] andymc12 commented on #930
My main reason for wanting to put it in asap (ideally 3.1) is that it addresses the concerns of the package name changes. Although EE9 (and jakarta.* packages) are already out, I suspect that most users will not migrate to their EE8 (and older) apps to EE9 since there is nothing really new in it.  But there will be incentives to migrate to EE10 as it will include new projects and new features in e

[2021-02-10 22:30] jansupol commented on #930
@andymc12 I am +1 for adding MP RestClient to the Jakarta REST. However, will the MicroProfile community agree to move it to 3.1/3.2? I am afraid 3.x RestClient won't work with MP until they move to Jakarta EE 9 API, since MP is using Jakarta EE 8 API (unfortunately Jakarta REST 2.1.6 API has the same maven coordinates as Jakarta EE 9 jar). So the MP community won't be able to benefit from the new

[2021-02-10 22:45] andymc12 commented on #930
@jansupol That's a good point.  I guess my hope was that as part of the migration effort, we would "jakarta-ize" it too.  But it does make things complicated for the next major release of MP (5.0) - because it would want to pull in EE9 (Jakarta REST 3.0) dependencies, whereas the Rest Client would now be in EE10 (or maybe 9.2 - Jakarta REST 3.1/3.2).  TBH, I don't think the issue has been raised i

[2021-02-11 14:28] spericas commented on #945
Yes, you're correct, the default value of `q` does not help here, you'd need to specify it explicitly.

 Right, this is how you'd need to do it. This should work if the implementation follows the algorithm in the spec.

 Yes, it's a workaround, but you're use case is far from common also.

 As I said, I'd like to hear the opinion of others here.

[2021-02-14 09:22] stanio commented on #904
As far as I'm aware the sub-resource locator needs a `@Path` annotation in order to be recognized as such (_"3.4.1 Sub Resources"_).  Whether `@Path("")` or `@Path("/")` is o.k. for sub-resource locator – I can't tell from reading the spec, currently.

---

Yesterday, I started an exercise to implement a standalone _Request Matching_: one according to the spec, and one as I anticipate it should be

[2021-02-15 21:29] stanio commented on #904
Here's my experiment (small Maven project):

-   [request-matching.zip](https://github.com/eclipse-ee4j/jaxrs-api/files/5984189/request-matching.zip)

It implements simplified Request Matching – just the path part.  It could be extended a bit to filter on request method at the end for the sake of coming up with more complete examples.

All in all, I don't see any performance benefit from the overl

[2021-02-16 09:54] stanio commented on #904
[request-matching_2.zip](https://github.com/eclipse-ee4j/jaxrs-api/files/5987494/request-matching_2.zip)

-   Fixed two obvious defects (affecting resource method but not sub-resource method matching; `RequestMatchingSpec.findStep2x()`, `ResourceInfo()`)
-   Added HTTP method input and filtering on.

Here's a sample:

[code]

[A] – RequestMatchingSpec
[B] – RequestMatchingEnhanced

[A] – 10% stand

[2021-02-16 14:19] spericas commented on #904
@stanio Your comments and analysis are interesting but does not seem to be directly related to this discussion. Please move them to an e-mail discussion or a new issue. Thanks.

[2021-02-17 16:45] stanio commented on #904
So, I've thought my comments and analysis are directly related to the original issue I've opened here.  I'm commenting and sharing my findings as I haven't yet seen a definitive resolution on it (such as "won't fix"), but I don't want to spam anyone either.  I've archived my experiment here, in case anyone's interested: [stanio/jaxrs-request-matching](/stanio/jaxrs-request-matching).

[2021-02-18 13:34] MarkusKull commented on #917
A good name for the bit could be `tainted`. As in https://en.wikipedia.org/wiki/Taint_checking with the meaning that the response-data is not controlled by the application.

[2021-02-20 22:22] andymc12 commented on #501
Closing as dupe of #598

[2021-02-20 22:22] #501 closed

[2021-02-20 22:22] andymc12 commented on #56
Closing as dupe of #598

[2021-02-20 22:22] #56 closed

[2021-02-24 14:54] #944 closed

[2021-03-03 18:50] andymc12 commented on #418
@mkarg - I've been doing a little bit of work in this space recently.  If interested, I'd be willing to take it over - or work with you on it.  Here is a rough idea of what I'd propose:

Add new APIs for `Part` (interface, probably in the ext package) and `PartBuilder`.  Ideally, this would work with existing annotations.  So let's say you have a service that produces and consumes multipart/form-d

[2021-03-03 19:08] brideck commented on #938
@spericas

I've made a prospective update to the 9.1 TCK (https://github.com/eclipse-ee4j/jakartaee-tck/pull/635) to always include beans.xml files for these applications.  Please take a look and provide a review approval, if you agree with the approach.

[2021-03-03 19:36] spericas commented on #938
Done.

[2021-03-09 15:53] kingsfleet opened #949 "Response.Status enum doesn't implement equals in a commutative way."
It would expect:

builtResponse.getStatusInfo().equals(Response.Status.UNAUTHORIZED)

to be equals to

Response.Status.UNAUTHORIZED.equals(builtResponse.getStatusInfo())

But the enumeration doesn't implement equals for StatusType, just relying on object identity. So if builtResponse.getStatusInfo() returns an instance of Statuses.StatusImpl then it will return false even if all the relevant value

[2021-04-08 22:00] andymc12 opened #950 "Integration with Jakarta Concurrency 3.0"
I would like to suggest that we add a new section under [section 11.2 Integrations with Jakarta EE Technologies](https://jakarta.ee/specifications/restful-ws/3.0/jakarta-restful-ws-spec-3.0.html#javaee) for Jakarta Concurrency 3.0. In particular, I think that when a user passes a `ManagedExecutorService` to the `ClientBuilder.executorService(...)` method, that we ensure that implementations return

[2021-04-09 13:22] spericas commented on #950
@andymc12 Are you thinking about this for 3.1 or 4.0? At first glance, it seems this may be challenging from a TCK perspective for 3.1.

[2021-04-09 19:57] andymc12 commented on #950
I was thinking 3.1.  For the TCK tests, could we do something like register something with JNDI, then have a client request filter abort with a response (in one case, it should provide an immediate response so the the CompletionStage is completed immediately, and another case where it delays the response by a few seconds), then have the client attempt to look up the JNDI entry upon the completion

[2021-04-12 13:50] spericas commented on #950
My preference would be to do this in 4.0. I'd like to hear other opinions, though.

[2021-04-12 16:28] mkarg commented on #950
My preference is to defer **all** not-yet-implemented API changes to post-3.1 to not further delay the next release.

[2021-04-12 16:35] andymc12 commented on #950
Delaying to 4.0 works for me.  My concern was that I wanted to see this integration occur in the same EE release that includes Jakarta Concurrency 3.0.  It sounds like RESTful WS 3.1 will be a standalone release and 4.0 will be included in EE10 (with Concurrency 3.0). So waiting for 4.0 definitely seems like the right choice. Thanks @spericas and @mkarg!

[2021-04-12 16:40] mkarg commented on #950
@andymc12 I see 3.1 as a standalone milestone on the way towards 4.0, and EE 10 should include 4.0 not 3.1. In the sense of "release early release often" we should try to produce 2-4 such milestones per year, and a "big" JAX-RS release ontop.

[2021-04-12 17:07] spericas opened #951 "Drop support for @Context injection and related artifacts"
Note that this issue is not about deprecation, but about dropping support, and it is targeted for the next major release. We should review other artifacts related to `@Context` that need removal.

[2021-04-12 17:11] spericas opened #952 "Define CDI scopes for all Jakarta REST types"
Most of these definitions are straightforward, but still need to be clearly stated in the spec. For next major release.

[2021-04-12 17:13] spericas opened #953 "Define CDI integration and startup for Java SE applications"
There are some options when it comes to starting the CDI container in an SE application. These options can impact the way in which Jakarta REST components are located and initialized. For next major release.

[2021-04-12 17:16] spericas opened #954 "Review integration with legacy Jakarta EE specifications"
Jakarta REST defines a number of integrations with other Jakarta EE technologies. We should explore if all these integrations are still valid and relevant in our next major release based on what is available and dropped in Jakarta 10.

[2021-04-12 17:26] mkarg opened #955 "Support for record keyword"
It makes sense to support the `record` keyword for parameters and entities, so we should check if there are changes needed in the spec for e. g. parameter converters and entity providers.

[2021-04-14 17:35] maximebochon opened #956 "Response.getLength() limited to int max value (~2GB)"
The "Content-Length" HTTP header provides the length of the body expressed in bytes. There seems to be no limitation in the HTTP specifications about that value.

In the JAX-RS API, this value is available through the getter `getLength()` of the `Response` class, and the returned value is an `int` (32-bits signed integer) which support a maximum positive value of 2 147 483 647. It's around 2 GB, s

[2021-04-14 18:45] lutzhorn commented on #956
Changing the signature of [`int getLength()`](https://github.com/eclipse-ee4j/jaxrs-api/blob/a64b27033d3d4bc6718ce3628a43faa1ca1286df/jaxrs-api/src/main/java/jakarta/ws/rs/core/Response.java#L312) to `long getLength()` would require all classes extending `Response` to be changed. On example is [`InboundJaxrsResponse`](https://github.com/eclipse-ee4j/jersey/blob/7b6d2f84391f24310baae7d8e55e64470364

[2021-04-15 07:14] maximebochon commented on #956
Of course changing the API does have impacts. Why would it not be a good idea though?

Am I in the right place to ask for a correction of small flaw in the JAX-RS API?

[2021-04-15 15:44] andymc12 commented on #956
Yep, you're in the right place.  :)

If we were designing from scratch, I would agree that `long` is preferable to `int`, but making that change now would break backwards compatibility.

I think this is reasonable.  It resolves the backwards compatibility issue and still provides the convenience of returning large content length values.

In the meantime, if you need a workaround on the existing AP

[2021-04-15 17:20] mkarg commented on #956
As JAX-RS is not just some library you can simply switch in your app, but actually is contract between millions of existing applications and the existing application servers, non-backwards-compatible changes are simply a no-go for us (unless we defer your request to a major version like 4.x, which is far, far away). But we can add *new* methods, certainly. :-)

Having said that I am +-0 for your p

[2021-04-16 15:05] maximebochon commented on #956
Thank you @andymc12 for the workaround snippet.

Actually, I had already done something similar, but using much 3rd-party syntactic sugar:

[code]

[2021-04-20 16:50] oliviercailloux opened #957 "Default behavior of a JAX-RS client regarding HTTPS?"
Consider the following code as an example.

[code]

I can’t find in the spec how the client is supposed to behave when connecting to an HTTPS URL with a “default” security setting, that is, when I do not explicitly set an `SSLContext` (as in this example). The documentation is very scarce on that subject, unless I missed something.

* The JAX-RS standard does not mention anything at all about the

[2021-04-21 06:32] chkal commented on #957
In my view it would be reasonable to assume that `SSLContext.getDefault()` is used by default. And I guess that this is what the spec means with "default Java runtime settings". At least in my opinion.

[2021-04-26 09:31] dblevins opened #958 "Clarification: jaxrs/spec/provider/standardhaspriority readWriteBooleanProviderTest"
We're down to our last 23 JAX-RS failures against the 9.1 TCK and 43 failures overall.  We really need some clarification on how this test is supposed to work/pass:

 - `com/sun/ts/tests/jaxrs/spec/provider/standardhaspriority/JAXRSClient#readWriteBooleanProviderTest_from_standalone`

The text from the assertion is as follows:

In our implementation the `TckUniversalProvider` is properly selected

[2021-04-26 14:06] chkal commented on #958
@jansupol Any thoughts?

[2021-04-26 14:54] jansupol commented on #958
The JAX-RS Spec, Section 4.2.4 requires the standard provider for Boolean, MediaType text/plain. The test uses MediaType.TEXT_PLAIN_TYPE, but the TckUniversalProvider is for */*. The standard priority package prefers the built-in providers over the TCK providers because of the media type. The `TckUniversalProvider` ought not to be used I believe.

[2021-04-26 15:03] jansupol commented on #958
Even better, the TckUniversalProvider implements `MessageBodyReader<Object>, MessageBodyWriter<Object>`, which is far worse than the `MessageBodyReader<Boolean>, MessageBodyWriter<Boolean>` required by the vendor's implementation.

[2021-04-26 17:32] scottmarlow commented on #958
CC @spericas

[2021-04-26 19:39] spericas commented on #958
I'd need to review the code in more detail (any links we can attach here would be useful). I think the original intent was to first sort based on MBR's capabilities and then priorities. Ordering was better clarified in the matching algorithm in version 2.0, but it isn't as clear in the MBR selection if I recall correctly.

[2021-04-27 01:23] dblevins opened #959 "Update description/assertion for `standardhaspriority` tests"
As per the clarifications in #958 this set of tests is ensuring that application-provided entity providers MUST NOT take precedence over pre-packaged entity providers in the cases where application-provided entity providers are *more generic* than the corresponding pre-packaged entity providers.

The actual assertion description and comments in the test lack this nuance and imply the test is ensur

[2021-04-27 01:28] dblevins commented on #958
Thank you so much, everyone!  I'm really touched by the number of responses in such a short period of time!  It is truly appreciated. :)

Test now passing and there are no serious regressions from implementing as suggested.

I've created a ticket so I don't forget to come back and help improve the description/assertion for the test: #959

[2021-04-27 01:30] #958 closed

[2021-04-27 15:42] spericas commented on #959
@dblevins Feel free to provide some clarification text. I definitely agree this is necessary.

[2021-04-29 03:57] dblevins opened #961 "Update description/assertion for atomicIntegerIsLazyDeployableAndThrowsErrorTest"
This test has a converter that handles Integer.  The test client sends a string "default", which cannot be parsed and throws an exception [from the converter](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/jaxrs/ee/rs/ext/paramconverter/AtomicIntegerLazyParamConverter.java#L31).  The test client [asserts the response is HTTP 406](https://github.com/eclipse-ee4j/jaka

[2021-04-30 14:19] #937 closed

[2021-05-04 14:16] spericas commented on #930
Plan review for 3.1 has been completed, closing this issue.

[2021-05-04 14:16] #930 closed

[2021-05-04 14:18] spericas opened #962 "TCK test for multipart/form-data API"
Related to issue #418 and PR #948

[2021-05-04 14:20] spericas opened #963 "TCK tests for new Extensions"
We need TCK tests for new Extensions. See PR #947.

[2021-05-04 14:41] spericas commented on #736
Are we still targeting this clarification for 3.1?

[2021-05-12 06:46] mkarg commented on #632
I think what the target of a cross-vendor API like JAX-RS should be is not restricting people synthetically, so I would say, let's agree that such checks are beneficial but should be *disabled by default*. Just had the same case again today and it is really annoying to have Jersey-specific options to be set in an otherwise Jersey-free source code.

[2021-05-12 06:54] mkarg commented on #632
Off-Topic: Just tried Jersey 2.32, and this *does not* switch off the exception! Maybe a bug in Jersey not allowing to *override* properties at that late point?
[code]

[2021-05-12 11:20] arucard21 commented on #945
It doesn't seem like anyone else has been able to give their opinion yet. But I've been trying out this workaround (in Jersey), and it doesn't seem to work that well.

When I have a JAX-RS method that produces both media types, the `selectVariant()` method still only picks up the first.

And when you have separate JAX-RS methods for each media type, the problem gets even bigger. Since the JAX-RS m

[2021-05-12 13:01] spericas commented on #632
Perhaps by creating a Jersey issue and discussing this there instead of here? 😄

[2021-05-14 05:55] oliviercailloux commented on #957
I suggest to add this doc to [`ClientBuilder`](https://javadoc.io/static/jakarta.ws.rs/jakarta.ws.rs-api/3.0.0/jakarta/ws/rs/client/ClientBuilder.html).

I also think the spec should explicitly mention somewhere that the SSL context (used when creating secured transport connections, as mentioned in `ClientBuilder#sslContext`) is used if and only if the scheme is ftps or https, if this is the inten

[2021-05-16 04:19] kira98k opened #966 "Malformed Request Body For Large Post Bodies"
The below issue occurs in the latest version '3.0.2'. These are my dependencies :
[code]
When the below post request is executed the request body received at the server is malformed for any entity with length greater than or equal to 65840.
[code]
To reproduce the issue run a server, `nc -l 8888 > output.txt` and then run the java code.
The output looks like the following:
[code]

While for any bo

[2021-05-16 04:21] kira98k commented on #966
I'm using the version "3.0.2"

[2021-05-16 07:35] mkarg commented on #966
Are you sure this is a generic JAX-RS problem? It more looks like a bug of your specific product. Have you tried to reproduce with a different product?

[2021-05-16 09:58] kira98k commented on #966
I tried it with RESTeasy Client which also has this issue and Apache CFX client which doesn't have this issue.
But both of these implement the Javax version of the JAX-RS API. Can you suggest any implementation of Jakarta where I can test this?

[2021-05-16 10:04] kira98k commented on #966
I also tested this in Jersey client version 2.x which uses Javax and its also an issue in that.

[2021-05-16 10:22] kira98k commented on #966
This is the response I got when I used the Apache CFX client.
[code]

[2021-05-17 13:58] mkarg opened #967 "Match resource methods using @RolesAllowed"
At time of writing, resource matching is based solely on `@Path` and media type. This is not sufficient in some real world scenarios.

In edge cases, this information is not enough to decide for the specific resource method to route a request to *in a sophisticated way*:
- `@RolesAllowed` specifies that role A shall route to method `a` while role B shall route to method `b` and all others to metho

[2021-05-17 14:06] mkarg commented on #967
To pitch the discussion, my proposal would roughly look like this: Let's find a specification wording that takes into account security roles and request properties as a mandatory feature of 4.0. Doing so, a simple request filter would be able to check any combination of headers to set "routing properties" at the request, while the runtime itself would consider both, `@RolesAllowed` and any set of

[2021-05-17 14:47] spericas commented on #957
@oliviercailloux I'm all for clarifications. Are you interested in providing a PR that includes clarification text about SSL? It can be Javadoc, spec or both.

[2021-05-17 14:50] spericas commented on #966
@kira98k I see that you opened https://github.com/eclipse-ee4j/jersey/issues/4796 I will close this one as this is an implementation problem AFAICT.

[2021-05-17 14:50] #966 closed

[2021-05-17 15:09] spericas commented on #967
@mkarg I'm not sure I follow your suggestion here. Would it be possible to frame it in the context of Section 3.7 of the spec? The mention of pre-matching filters is a bit confusing as these are orthogonal to the matching algorithm --seems more like an implementation technique.

In any case, if you can propose changes to Section 3.7, it would help the discussion. For example, if you have two `@GET

[2021-05-18 15:50] #418 closed

[2021-05-18 16:38] mkarg commented on #967
@spericas Thank you for chiming in. In fact, I deliberately abstained from providing a specific proposal, as I wanted to hear everybody's opinion on the *general problem* itself (the need to match by role) before diving into the *specific solution*. My fear is that once I provide a specific change proposal for Section 3.7 then everybody will discuss paricular details *of that specific solution* --

[2021-05-18 16:57] spericas commented on #967
@mkarg Based on your description, I _don't think_ this would be a good addition. I say this mostly because I don't fully understand its implications and because it feels like something that does not belong in the "core". However, if you provide a more concrete proposal, I'd be happy to provide better feedback.

[2021-05-21 08:25] mkarg commented on #967
@spericas Sorry to hear that, because in fact roles-based matching would be a *great* addition and we need it rather *frequently* and the current workarounds we have to do are totally quirky! Ok, so I will provide a detailed proposal how role-based matching actually *resolves* cases where currently no match is possible and hope that it is more clear then what the target is.

[2021-05-21 08:34] mkarg opened #968 "Make annotation inheritance resolution available to components"
The specification currently defines annotation inheritance in chapter 3.6:

As an implementor of components (in particular of filters) I often have the need to follow the above rules when defining *custom* annotations. From the view of an application vendor, it makes sense that my custom annotations behave just like JAX-RS annotations. So for each filter I have to write rather lengthy code which i

[2021-05-21 08:40] mkarg commented on #968
To kick-off the discussion, I would like to propose an initial idea that we define a new, simple entry point in the runtime delegate, **for example**...
[code]
...which effectively calls the *same* algorithm that the runtime already *has*.
Filter implementors can then simply call that code line instead of having to provide the algorithms again and again on their own.

[2021-05-21 19:24] kalgon commented on #967
Instead of having special rules for security roles, could we have a more general dynamic/runtime disambiguation mechanism that could be used when more than one resource match a request?

[2021-05-22 08:46] mkarg commented on #967
Feel free top open your own issue so we can discuss this alternative idea there.

[2021-05-24 11:45] chkal commented on #945
I agree with @spericas that the actual benefit of supporting this case is rather small. However, given the fact that the HTTP spec explicitly mention this kind of ordering, it may be worth to support it.

See: https://www.rfcreader.com/#share60ab9039ff7fe20a44dba01e_line1712

![image](https://user-images.githubusercontent.com/159245/119342910-00d4e280-bc96-11eb-99d7-12672da80c13.png)

[2021-05-24 11:55] chkal commented on #632
Back to the original discussion. It looks like @spericas, @mkarg and I agree that we should allow `null` entities in the client API. Anyone interested in providing a pull request? Maybe even @rsoika?

[2021-05-24 12:03] chkal commented on #968
Wouldn't it make sense to allow the user to access the annotations via the `ResourceInfo` interface?

Something like:

[code]

In a filter you have to inject `ResourceInfo` anyway to access the matched resource method. So getting the corresponding annotations here as well could make sense!?

[2021-05-24 13:30] mkarg commented on #968
I'm fine with both proposals.

[2021-05-25 07:37] arucard21 commented on #945
@chkal Thanks for your input on this. I appreciate that you think this is worth supporting due to it being explicitly part of the HTTP spec. But I still want to explain why I think the benefit of supporting this use case may actually be bigger than you expect. Though it's more a matter of the drawback of not supporting this use case being more problematic than you might expect (I emphasized it in

[2021-05-27 17:14] starksm64 opened #969 "EE Core profile alignment"
The EE 10 platform effort is looking to define a new core profile that targets smaller runtimes and ahead of time compilation runtimes in support of micro services. Currently this is looking to include some version of JAXRS along with a new Jakarta Config and new Jakarta CDI-lite.

That profile will have a TCK that is a composition of the incorporated specification TCKs along with additional integ

[2021-05-27 17:55] spericas commented on #969
@starksm64 Is there any document describing the latest architecture of CDI lite?

[2021-05-28 16:21] likandoe opened #970 "@Consumes incorrectly handles requests with no content type header / potential security risk"
Given the following definition:

@consumes(MediaType.APPLICATION_JSON)
@path("myresource")
@produces(MediaType.APPLICATION_JSON)
public class MyResource {

@Consumes(MediaType.APPLICATION_JSON)
@POST
@Produces(MediaType.APPLICATION_JSON)
public String login() {
    return "\n--Login!\n";
}
}

A request to "/myresource" with no 'content-type' header is accepted, login() is executed and a 200 OK res

[2021-05-28 16:59] spericas commented on #970
First, the annotations in your sample are not following the proper case. Second, the spec clearly states in Section 3.5 that "An implementation MUST NOT invoke a method whose effective value of @Consumes does not match the request Content-Type header.".

Of course this is a bit of an edge case, but certainly the _empty string_ does not match in this case. This could certainly be an implementation(

[2021-05-29 07:05] chkal commented on #970
@spericas But wouldn't it be a good idea to clarify in the spec how such a case should be handled? Of course, we have to deal with backwards compatibility. But IMO mentioning missing `Content-Type` headers would be good, even if we just mention that the behavior is implementations-specific.

[2021-05-31 12:20] keilw opened #971 "Deprecating SecurityContext in favor of Jakarta Security"
This has been a painpoint since at least Java EE 8, so I hope if 4.0 aims to deprecate some legacy stuff the redundant `SecurityContext` may also be taken into consideration?

Jakarta REST since the very first release contained a
https://jakarta.ee/specifications/restful-ws/3.0/apidocs/jakarta/ws/rs/core/securitycontext
While Jakarta Security with JSR 375 defined a more powerful but essentially id

[2021-05-31 17:24] mkarg commented on #971
Due to its limitations, the REST-variant is much easier to implement. In fact, our application is not using the security context the application server provides, but comes with its own implementation. That code will break and will be hard to fix when we make that move. So while I understand your idea, I just see the drawbacks currently and no benefits.

[2021-05-31 17:39] keilw commented on #971
Wonder what @arjantijms has to say about that?
There were calls for a "REST Light" in the Spec Committee already, so it also seems far from lightweight or easy, otherwise why bother to make it lighter?
And I'm not saying there should only be a "REST Light" there is an equal need for a "Security Light" otherwise the Core Profile will be insecure. And if that's doable I see no reason to keep this re

[2021-05-31 17:42] arjantijms commented on #971
I wonder why that would be the case. Why exactly is the REST variant easier to implement exactly?

[2021-06-01 13:43] spericas commented on #970
@chkal I'm always in favor for clarifications, especially the `application/octet-stream` part from the HTTP/1.1 spec.

[2021-06-01 14:56] mkarg commented on #971
Our application implements two filters. One for authentication (we must authenticate against a proprietary solution), one for authorization (we must use a proprietary token system, not compatible with JWT). This was totally easy with REST's SecurityContext. If we switch to Security's SecurityContext, we have to implement more methods and I do not have a clue *how* to implement them (mostly because

[2021-06-01 22:04] keilw commented on #971
Well both are nearly identical, the `get*Principal()` and `is*InRole()` are precicely the same just with a slightly different name.
The `getAuthenticationScheme()` method returns what seems mostly one of the predefined constants, I leave it to @arjantijms what problems the Security API and its implementations would have to offer that (otherwise there is still an option to extend the other and depr

[2021-06-04 15:44] mkarg commented on #742
Anybody working on this one already or shall I set up a proposal?

[2021-06-06 21:34] andymc12 commented on #742
Hi @mkarg, thanks for the reminder about this.  I haven't started writing anything up yet, but I can.  My original plan (before forgetting about this issue... :-) ) was to basically duplicate the text from the JAXBContext.  If you want to take it, please feel free.  Otherwise, I can write up a proposal on Monday or Tuesday.

[2021-06-07 17:13] mkarg commented on #742
@spericas You self-assigned this to you and have it marked as worked in progress, so shall @andymc12 and me keep our hands off?

[2021-06-07 17:17] spericas commented on #742
@mkarg Wanted to start but did not, if somebody wants to take it from me, feel free. Thx.

[2021-06-07 17:49] mkarg commented on #742
Ok will post a draft so we can discuss it.

[2021-06-08 05:55] mkarg commented on #787
I will open a PR for this as soon as https://github.com/eclipse-ee4j/jaxrs-api/pull/931 is generally approved, as I plan to put the tests ontop of it.

[2021-06-08 14:09] ivargrimstad commented on #969
@spericas  The CDI project has started updating the spec document with CDI Lite specifics, https://github.com/eclipse-ee4j/cdi/blob/master/spec/src/main/asciidoc/cdi-spec.asciidoc#cdi-lite

They also have weekly meetings Tuesdays at 10am ET that are minuted in this document: https://docs.google.com/document/d/1LJgN9UZlSwYASnE-IpaFVw9D7spJoK2J1vlys7AyNG4/edit?pli=1#

[2021-06-09 20:18] nadiramra opened #974 "JAXRS charset not set in response"
If the application is not setting content-type, and relies on the jaxrs (annotations), should not the server know that it needs to add charset tag by some configuration switch?  In our JVM, it is started with -Dfile.encoding=UTF-8.  You would think that the server would key off of that and add charset=UTF-8 if it has not been already set?  By default if you do not specify charset it is ISO-8859-1.

[2021-06-09 21:25] likandoe commented on #970
I think the spec needs to be changed 100%, the code and anything that is responsible for this behavior; and if anyone is trusting in this behavoir, then their expectations are wrong and potentially represent a security issue.

Thank you a lot for your feedback!

[2021-06-09 21:28] likandoe commented on #970
Awesome! thank you so much for your help! I'll now identify the code making the mistaken assumption and report to the proper teams.

Thank you!

[2021-06-10 15:36] #924 closed

[2021-06-13 16:51] mkarg commented on #787
Correcting myself: The existing `SeBootstrapIT` contained in the new TCK for 3.1-SNAPSHOT already *implies* this check already, as it is using `@ApplicationPath("application")` everywhere. So there is neither a need nor a benefit from an *explicit* test. Hence I am closing this issue hereby.

[2021-06-13 16:51] #787 closed

[2021-06-14 20:07] andymc12 commented on #974
Afaik, the spec does not mention that the charset should be set, but looking through some test cases in Open Liberty, I do see a difference between CXF and RESTEasy.  By default, CXF returns content types of "text/xml", "application/xml", "application/json" while RESTEasy returns those same content types, but appended with ";charset=UTF-8".  I'm not sure yet, where RESTEasy gets that value.

Still

[2021-06-14 21:35] nadiramra commented on #974
Given that the default is iso8859-1, and that is a subset of UTF-8, I suppose you cannot go wrong to specify UTF-8.  Both encode ASCII the same way.

It is interesting to note that when invoking SOAP it does add the charset=UTF-8, here is what Liberty soap service returns:

Content-Type: text/xml; charset=UTF-8

and this is independent of what -Dfile.encoding is set to.

Also, according to the jso

[2021-06-15 06:02] mkarg commented on #974
I think such a default can be added pretty simple by a custom-made writer interceptor, so I do not see a *need* to amend the spec.

[2021-06-15 08:13] nadiramra commented on #974
Yes, I know one can do so, but why should one have to worry about that?  Like I said, jaxws adds charset automatically.  Why should we make a user have to do something that they really should not have to do?  And again, by the standards, JSON is assumed to be in UTF-8.  But right now, it is ambiguous to say the least.  By HTTP standards, if no charset, then data is assumed to be ISO-8859-1.   Basi

[2021-06-15 13:45] spericas commented on #974
The use of charsets has been loosely defined for some time now. A JEP has been opened for a while about using a different default on the platform (https://bugs.openjdk.java.net/browse/JDK-8187041). If we can find a _reasonable_ rule or suggestion to add to the Jakarata REST spec, I'm in favor of doing so.

[2021-06-15 17:44] mkarg commented on #974
I cannot see a rationale. Jakarta REST is not bound to a specific content type, neither JSON nor another, and it should concentrate on *foundational* functionaly that user *cannot* easily bring into the play easily. Topics like this one should be covered by a "Commons" library. I could imagine that we establish such a library either at the EF or at Eclipse, but definitively it should not be part o

[2021-06-15 20:32] nadiramra commented on #974
All I am saying is that _IF_ a user specifies JSON content-type (or for that matter XML), and does not specify charset, then it should be added as UTF-8. But not going to push it. Reason this is an issue at all is because a client thought the data was iso8859-1 (the default) since there was not charset set, but the payload actually contained national language characters that is not part of iso8859

[2021-06-19 14:36] mkarg opened #978 "Fix Checkstyle Errors"
There are several checkstyle errors in `examples` and `jaxrs-api` sources.

**This is a good newcomer's issue.**

[2021-06-19 14:39] mkarg opened #979 "Fix JavaDoc Warnings"
There are several JavaDoc warnings in `examples` and `jaxrs-api` sources.

**This is a good newcomer's issue.**

[2021-06-21 23:03] andygibson commented on #979
Submitted PRs #984 , #985 and #986

[2021-06-22 15:59] chkal commented on #979
@andygibson Thanks a lot! Looks great!

[2021-06-25 21:22] #742 closed

[2021-07-06 11:51] jimma opened #989 "Add required apis to serialize the EntityPart"
At the moment there is no api to get the object which is added to the EntityPart to serialize the entity to output stream.
It also needs getType() and getGenericType() to select the proper MessageBodyWriter.

[2021-07-06 14:41] andymc12 commented on #989
Hi @jimma  - the `EntityPart.Builder` class is used for the multipart sender to specify the object to send and the type/generic type of that object.  The `EntityPart` is intended to represent the object as a part of a multipart request to the user - it would be analogous to the `Response` object.  So the user should not need to get the object directly (they would need to go through message body re

[2021-07-06 23:33] NicoNes opened #992 "Clarify behavior when SseEvent source onEvent throws and exception"
Hi guys,

The spec does not clearly state what to do when `SseEventSource` `onEvent` listener throws an exception, especially

-  if `onError` listeners must be invoked or not.
-  if the event processing must be stopped or not

In my opinion, if the inspiration of the Java `SseEventSource`  is the JavaScript's `EventSource` then `onError` listener must not be invoked in this case. As discussed [he

[2021-07-07 09:30] jimma commented on #989
Hi @andymc12  Thanks for your quick response.

Yes. Implementor can provide its own access the type and object.  But I see adding these apis will be helpful for  user to get this object  of this Entity before sending out for debug or test purpose, and for implementor these apis are very convenient to select proper message writer to serialize this object.

[code]

[2021-07-07 13:34] spericas commented on #992
On Jul 6, 2021, at 7:34 PM, NicoNes ***@***.******@***.***>> wrote:

Hi guys,

The spec does not clearly state what to do when SseEventSource onEvent listener throws an exception especially if onError listeners must be invoked or not.

In my opinion, if the inspiration of the Java SseEventSource is the JavaScript's EventSource then onError listener must not be invoked in this case. As discussed he

[2021-07-07 13:46] andymc12 commented on #989
I'm concerned that it might add confusion or require language like "if on the sending side and not yet sent, returns the content, otherwise throws an IllegalStateException" or similar (once sent, the implementation is required to close the input stream so it may not be possible to get the content from the `EntityPart` at that point).

In your example, I'm not sure what we would return from `parts.

[2021-07-07 14:35] reschke opened #993 "Missing status codes in Response class"
See <https://github.com/eclipse-ee4j/jaxrs-api/pull/582>, which was closed for reasons that escape me.

There are likely more status codes missing, see the IANA registry at <https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml>. It would also be good to update comments to refer to current RFCs, not obsoleted ones.

cc: @mkarg

[2021-07-07 14:42] spericas commented on #993
The reason is there:

 "@mithunsasidharan Are you still interested in working on this? If so, could you rebase against `3.1-SNAPSHOT" and update the pull request accordingly?"

Needs to be resubmitted for 3.1 using the correct branch.

[2021-07-07 14:54] spericas commented on #992
I agree with your analysis. Do you want to submit a PR for this?

[2021-07-08 08:36] jimma commented on #989
How about we better name it with `getContentEntity()` to get the object and change the `getContent()` to `getContentStream()` for getting the InputStream?

There is still other place like user gets the EntityPart and reads the content in a RequestFilter before serialize to output:
[code]
For a MessageBodyWriter to write the EntityPart list, if we set an` Object `to this EntityPart instead of an` I

[2021-07-11 19:13] NicoNes commented on #736
@spericas I finally take time to do the [PR](https://github.com/eclipse-ee4j/jaxrs-api/pull/1001). Hope it is not too late.

Thanks

[2021-07-16 21:34] pearceeverydaylabs commented on #913
any possibility of reconsidering this now that java 16 records have arrived (and given that there seems to be differing opinions about whether current TCK should block this)?

[2021-07-17 21:16] andymc12 commented on #913
IIUC, a record is really just an immutable class.  If we supported immutable classes (which would work in all Java versions), we could implicitly support records.  So we could modify the spec to indicate that implementations must support constructor injection of *Params for BeanParam classes.  Then we would be able to support something like this (for all Java versions):
[code]

In Java 16, a recor

[2021-07-18 07:20] mkarg commented on #913
Andy's approach sounds feasable to me.

[2021-07-20 04:46] mithunsasidharan commented on #993
@spericas : Is this something thats already been pickedup ? If not I'd like to work on it !

[2021-07-20 15:14] spericas commented on #993
@mithunsasidharan Feel free to work on it. See previous work and suggestion by @reschke.

[2021-07-21 23:56] Duduxs opened #1003 "Any way to execute methods inside init block, or function?"
At the moment I use an architecture to create cruds with the jax using the methods @GET, @POST and so on

[code]

However, I would like to remove this inheritance and work with aggregation for better flexibility.
could have something like this

[code]

Is there any way we can work with functions inside others, or initialize routes within a context that I define manually?

I know you can work with

[2021-07-26 21:23] mkarg commented on #963
Anybody working on this issues?

[2021-07-28 15:36] kalgon commented on #805
This begs another question: should JAX-RS implementations return built-in `ParamConverterProvider`s for basic types?

For example, I was expecting `ResteasyProviderFactory.getInstance().getParamConverter(...)` to give me basic converters for `Integer`, `UUID` and other simple types but I discovered that it had its own mechanism (`StringParameterInjector`) which is not implemented as a `ParamConver

[2021-07-30 13:14] spericas commented on #963
@mkarg Not yet. Feel free to assign it to you if you want.

[2021-08-03 21:59] jamezp opened #1004 "Partial implementation of privileged actions should be completed"
In the various `FactoryFinder`'s there is a privileged action used to get the context class loader. However, there is no such privileged action around the service loader which could fail if the security manager is enabled and read access is not explicitly granted to the implementation JAR.

The `ClientBuilder` could also fail with a security issue while attempting to throw a `LinkageError` if the

[2021-08-09 17:32] andymc12 opened #1007 "TCK Challenge: `connectionLostFor1500msTest` expects reconnect after server responds with 204"
Specification:
Jakarta RESTful Web Services 3.0 (EE 9.0/9.1) Full Platform TCK

Challenged test(s):
[com.sun.ts.tests.jaxrs.jaxrs21.ee.sse.sseeventsource.JAXRSClient#connectionLostForDefault500msTest](https://github.com/eclipse-ee4j/jakartaee-tck/blob/6238aaad5129d61b540e7528a25b54669bceef18/src/com/sun/ts/tests/jaxrs/jaxrs21/ee/sse/sseeventsource/JAXRSClient.java#L196)

TCK version:
9.0.0/9.1.0

[2021-08-09 18:27] #992 closed

[2021-08-10 15:00] scottmarlow commented on #1007
@spericas as mentioned [in the email I sent ](https://www.eclipse.org/lists/jaxrs-dev/msg01030.html), regarding the [TCK process](https://jakarta.ee/committees/specification/tckprocess/), please handle this TCK challenge in the best way for the Jakarta RESTful Web Services spec team.  The outcome should be that you should `accept` or `reject` the challenge to resolve it in the next two weeks (or l

[2021-08-10 21:34] jansupol commented on #1007
The tests tries to simulate the 3x, reconnect, so it calls 3x times
[code]
What I see as the major "issue" with the test is what should `sink.close()` do. I understand RestEasy responds with 204, but to me it is not clear why. @andymc12 Can you please answer this? The client calls ` try (SseEventSource source = SseEventSource.target(target).build()) {` to hit the SSE endpoint and it is hard to dis

[2021-08-11 00:33] andymc12 commented on #1007
@jansupol - thanks for the question and for reviewing the challenge.

I didn't write the RESTEasy code, so I cannot say for certain why it behaves that way.  But I think I understand the design decision.  The spec says that SSE should behave similar to asynchronous resource methods.  An async response that returned no non-null entity would result in a 204.  In this test case, there is no non-null

[2021-08-11 16:14] spericas commented on #1007
@andymc12 If I understand it correctly, a recent change to RESTEasy has resulted in _new logic_ to detect the immediate closing of the connection, resulting in a 204 instead a 200. It seems this new logic would _wait_ until it sees the first connection event (a close in this case) to decide which status code to return.

Now, this new logic seems both clever and problematic. How long do you wait fo

[2021-08-11 17:40] andymc12 commented on #1007
@spericas

Sorry, no. The logic to return a 204 has been there since JAX-RS 2.1, afaict. @jamezp may be able to confirm.

This should probably be considered a side discussion to the challenge, but you raise a good point.  In the event of a client timeout, wouldn't the client just reconnect (assuming it hadn't already closed it's `SseEventSource`)? In that case, the client reconnects (which the ser

[2021-08-11 18:04] spericas commented on #1007
OK, thanks for the clarification. So the improper handling of a 204 response on the client side resulted on a pass before.

 I'm not sure it's a side discussion to be honest. We are asking the community to invalidate/modify a TCK test because of what appears to be a specific behavior in one of the implementations. If we all agree the behavior is desirable, we should probably update the spec and fo

[2021-08-11 18:31] andymc12 commented on #1007
I view it as a side discussion because the intent of the test case is to verify client-side behavior (reconnecting after receiving a non-204 response code).  Ideally, the test case would be written using some sort of mocked server (like MockServer or WireMock, etc.) that supplies exactly the server responses we want rather than depending on the vendor implementation to supply both sides of the tes

[2021-08-11 19:35] spericas commented on #1007
Clearly, it is not the intent of the test, but, client and server APIs are all part of the same spec: there are no bonus points for excellent compatibility of one part and not the other. If an incompatibility is found indirectly, it is still an incompatibility IMO.

 It appears RESTEasy's behavior is intentional, in that, there's special code to handle this scenario that isn't mandated by the Jaka

[2021-08-11 20:24] andymc12 commented on #1007
Are we allowed to change the TCK tests post-release?  If so, let's do it.  My understanding was that that was not allowed, and that exclusion was the only way until the next release, but I'd prefer to keep the tests included - just fixed.

[2021-08-12 09:49] jansupol commented on #1007
So far the easiest "fix" for the test seems to me to add a ContainerResponseFilter that would make sure to return HTTP 200. I am not sure whether it is possible to release Jakarta REST 3.0.2 TCK with a fix, or we need to exclude the test.

Unrelated to Jakarta REST (at the moment), there is an SSE requirement in MP REST Client, and the MP REST Client SSE tests do [not even expect](https://github.c

[2021-08-12 12:45] spericas commented on #1007
I'm not certain about the process myself. Perhaps @scottmarlow can help us here? We may have to exclude it and fix it for the next release.

[2021-08-18 13:42] andymc12 commented on #1007
I am able to work around the issue with the changes in https://github.com/OpenLiberty/open-liberty/pull/18172 - that said, I really like the original RESTEasy behavior better.  The changes that I made to the client side basically behave differently when a 200 is returned with no events (reconnect) than it does when a 200 is returned with 1 or more events (don't reconnect) - that seems wrong to me.

[2021-08-18 14:07] spericas commented on #1007
@andymc12 That's good news. We can certainly discuss this in a future release. Will you close this issue then?

[2021-08-18 15:52] andymc12 commented on #1007
Will do - thanks!

[2021-08-18 15:52] #1007 closed

[2021-08-18 17:20] scottmarlow commented on #1007
@spericas should this issue be marked as `rejected` since the test will not be excluded now?

I would like to update https://github.com/eclipse-ee4j/jakartaee-tck/projects/2 to mark this challenge as either `accepted` or `rejected`.

Thanks!

[2021-08-18 17:55] spericas commented on #1007
Yes, please mark it as `rejected`.

[2021-08-23 21:13] scottmarlow commented on #1007
@andymc12 @spericas could one of you please mark this challenge as `rejected` as I do not have permission to make that change.  Thanks!

[2021-08-24 19:24] spericas opened #1009 "Reduce boilerplate when using SeBootstrap"
As shown in our examples:

https://github.com/eclipse-ee4j/jaxrs-api/tree/master/examples/src/main/java/jaxrs/examples/bootstrap

there is a significant amount of boilerplate for starting and stopping, and it is almost identical in all examples.

Some new methods could greatly improve readability without introducing new semantics. I'd like to propose going from this:

[code]

to this

[code]

[2021-08-24 19:55] mkarg commented on #1009
I am not a big friend of changing the API years after its adoption, and just weeks before GA.

I do not see that it is the job of JAX-RS to handle JVM shutdowns. We should not mix JVM concerns with JAX-RS concerns. Not everbody wants to use shutdown handlers nor will there be a major crowd asking for the app URI. In fact, so least people asked for that in the past years, that Jersey till today did

[2021-08-24 20:02] spericas commented on #1009
Years of adoption? We haven't released yet. There's way too much boilerplate as shown in all the examples, this is the time to fix not later. These are very simple additions, and I actually don't think we should go GA without some boilerplate reduction.

[2021-08-24 21:30] andymc12 commented on #1009
I like the proposal. I'm +1 for it as is, but would suggest using `baseUri` instead of `appUri` for consistency with other APIs like [UriInfo](https://jakarta.ee/specifications/restful-ws/3.0/apidocs/jakarta/ws/rs/core/uriinfo#getBaseUri()).

[2021-08-24 21:40] jamezp commented on #1009
I think this looks much better. I think having a hook into the shutdown is extremely valuable. Much better than a shutdown hook.

[2021-08-25 14:05] spericas commented on #993
@mithunsasidharan Any update on this work?

[2021-08-25 15:12] spericas commented on #639
Lots of interesting discussions here, but the original purpose of the issue was about deprecation of `@Context`. This was done in the spec document already.

[2021-08-25 15:12] #639 closed

[2021-08-25 15:14] spericas commented on #772
Does this issue still need to be targeted for 3.1?

[2021-08-25 16:22] mkarg commented on #1009
Yes, we all agreed on the PR as-is *after* a phase of discussion, and part of that discussion was to copy the behavior of Jersey mostly *and* it was in particular your and / or Jan's personal request to use explicitly shutdown hooks!

[2021-08-25 16:44] spericas commented on #1009
As I said, the proposed changes are fully backward compatible, they don't change anything that was already there, only add and simplify. APIs are there to evolve and improve and this does not go against anything that was already agreed before.

[2021-08-26 00:18] NicoNes opened #1011 "Wording clarification in SeBootstrap.Instance.stop()"
Hi Guys,

I was reading your interesting talk [here](https://github.com/eclipse-ee4j/jaxrs-api/issues/1009), then I started to have a look at the `SeBootstrap`.

I have a little question, not a big deal, about the use of both words "immediate" and "asynchronously" in the `Instance.stop()`  javadoc method.

Is this method supposed to :

- immediately shutdown the Instance ? In this case why do we n

[2021-08-27 18:43] alwin-joseph opened #1012 "TCK Improvement : Use jars built from jakartaee-tck sources for common code across TCKs"
This is based on https://github.com/eclipse-ee4j/jaxrs-api/pull/1002 that migrates a set of jaxrs tests from jakartaee-tck.

There are sources that could be used across TCKs while separating them to respective repos. Those can be pulled as jars and used with a maven dependency. The jakartaee-tck project should build those jars and push them to maven for use by migrating TCK projects.

[2021-08-27 18:43] alwin-joseph opened #1013 "TCK Improvement : Use web.xml content from file structure (PR 1002)"
This is based on https://github.com/eclipse-ee4j/jaxrs-api/pull/1002 that migrates a set of jaxrs tests from jakartaee-tck.

-use web.xml file for deployment, currently it is using hardcoded web.xml string in JAXRSClientIT.java

[2021-08-27 18:43] alwin-joseph opened #1014 "TCK Improvement : Fix the logging mechanism in PR 1002"
This is based on https://github.com/eclipse-ee4j/jaxrs-api/pull/1002 that migrates a set of jaxrs tests from jakartaee-tck.

-Correctly Use TestUtil.java or equivalent for logging based on traceflag parameters.

[2021-08-27 18:53] alwin-joseph opened #1015 "TCK migration : Migrate all standalone tests from jakartaee-tck"
The PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1002 migrated tests from below folders in https://github.com/eclipse-ee4j/jakartaee-tck
jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responsebuilder (15)
jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responsebuilder (85)
jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/uribuilder (128)
jakartaee-tck/src/com/sun/ts/tests/jaxrs

[2021-08-28 13:52] mkarg commented on #1011
It depends if someone actually got or will be confused by it. No such case is known to me, but maybe others do or assume it will be an actual problem?

[2021-09-07 10:33] alwin-joseph commented on #1014
Fixed using commit  https://github.com/eclipse-ee4j/jaxrs-api/pull/1002/commits/4b7b2bb23be7084aa19c6a4fc581190c94eeb2ad in PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1002

[2021-09-07 10:33] #1014 closed

[2021-09-07 10:34] alwin-joseph commented on #1013
Fixed using commit https://github.com/eclipse-ee4j/jaxrs-api/pull/1002/commits/815a85ad76a7d950f21dbf9f0e646c6d3e111c40 in PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1002

[2021-09-07 10:34] #1013 closed

[2021-09-07 18:21] #1004 closed

[2021-09-09 21:39] arjantijms commented on #1004
Just note that the security manager is deprecated for removal in JDK 17, so eventually and sooner than later we need to remove all those actions.

[2021-09-10 15:10] derekm commented on #772
@spericas -- I think not having exceptions for all statuses is an oversight. It is nice to cause specific status codes in responses simply by raising the corresponding exception. Having all users constantly re-invent the wheel by providing their own exceptions in such cases strikes me as somewhat malicious.

[2021-09-10 15:11] spericas commented on #772
@derekm We need someone to submit a PR :)

[2021-09-10 15:21] spericas commented on #772
@derekm Not everyone agrees on the _all or nothing approach_; if a middle ground will not cut it, we might just as well move on ...

[2021-09-10 15:54] derekm commented on #772
@spericas -- How do we know which ones are worth implementing or which exceptions won't be rejected if implemented? I was asking for exceptions for "NOT_IMPLEMENTED & friends." Just implement them one-by-one and see which of _n_ PRs aren't rejected?

[2021-09-10 16:23] spericas commented on #772
@derekm No, you submit the PR with the proposal and update it based on the feedback received and until you get the necessary approvals. If I recall correctly, last time the comments were never addressed. It's really not that complicated, and the way all PR's get accepted.

[2021-09-11 07:50] mkarg commented on #772
No this is not an oversight. JAX-RS is just a *foundational* API that provides the boilerplate for others to build third-party libraries. It is **not** a REST *framework*, it just contains the *really essential* return codes. Such a common library easily could provide lots of status codes and become something like Apache Commons.

[2021-09-11 15:53] hantsy opened #1016 "Add a Java 9 Flow publisher as Reactive Client"
Currently, the Java 8 `CompletionStage` is the standard Rx client provided in Jersey.  As part of Java 9 Flow,  a Flow based Publisher based implementation should be provided in all providers.

[code]

[2021-09-13 13:48] alwin-joseph commented on #1015
I am currently working on jakartaee-tck/src/com/sun/ts/tests/jaxrs/spec tests.

[2021-09-13 14:33] jelemux commented on #1015
Hi, @mkarg already mentioned that I'm interested in helping out on this.
I'm currently working on the remaining [jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core tests](https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/com/sun/ts/tests/jaxrs/api/rs/core). I hope that's okay!
You can have a look at my progress [here](https://github.com/jelemux/jaxrs-api/tree/tck-migration), if you'r

[2021-09-13 14:35] derekm commented on #772
@spericas -- Yes, I'm aware how PRs work. 😄 Which is why I'm asking question so I don't just shoot in the dark trying to bring this home, as I think it is very valuable (and very late).

The only unaddressed comment I can find across a mess of PRs is from @chkal, which paraphrases to "maybe don't implement RequestHeaderFieldsTooLargeException or RequestedRangeNotSatisfiableException". I can imagin

[2021-09-13 16:52] jamezp commented on #1004
Yes. Until then though this would allow, at least RESTEasy, it allows us to stop using a fork of the spec API.

[2021-09-13 22:47] arjantijms commented on #1004
I understand, though alternatively you can grant all permissions or just not enable the security manager?

I know that last bit sounds overly simplistic, but whatever code thinks it needs the security manager needs to rethink that decision pretty soon anyway. The problem here is that we have tons and tons of code just like this, and preparing to remove it will take a long time.

That's why I'm adv

[2021-09-13 22:59] jamezp commented on #1004
This cannot be done for all customers. Some customers are required to use a security manager. Trust me I wish it was that simple :) We (Red Hat) have put a lot of effort into running with the security manager enabled for these customers. I assume other vendors have done the same as well.

[2021-09-13 23:09] arjantijms commented on #1004
I wonder what their plan is then, stay on JDK 16 or maybe 17 forever?

Of course I know it's not that easy to tell customers, but isn't it a little similar to customers that were required to use applets even a few years ago still? Eventually those were full removed as well, and whether customers required applets or not didn't change the fact.

[2021-09-14 00:07] jamezp commented on #1004
For sure something is gonna have to happen. I don't know what the plan is there TBH.

[2021-09-14 07:47] jelemux commented on #1015
Also in the newcookie `equalsTest`, `NewCookie.hashcode()` throws a NullPointerException because `sameSite` is null.
Is this an error in the test or in `NewCookie`?

[2021-09-14 09:58] jelemux commented on #1015
Generally, what should I do if I find such things?
Should I leave them, just report them or is there anything else I can do?

[2021-09-14 17:24] jeyvison commented on #772
Hey Folks :) I'm sure i addressed everything that was supposed to be addressed at the time.  For what i understand , it was closed bacause we didn't get a consensus on what to keep. If we know now it now i'm more than happy in changing my PR and resend it

[2021-09-15 06:23] mkarg commented on #1015
We opened this thread for the discussion of the migration, so it is pretty much the best place to just ask questions like this one.

Typically on would **not** fix anything as part of the migration itself, but separate the fixes in a separate PR. The reason is that they need to be discussed more intensively, so you would slow down your migration PRs without a need.

[2021-09-15 06:24] mkarg commented on #1015
@chkal I think you can answer this question better than me as you were involved in the `sameSite` PR. :-)

[2021-09-15 08:08] jelemux commented on #1015
Ok, so I'll just migrate the tests and document my problems. Once the initial PR has been merged, I'll make a DRAFT-PR with all the accumulated documentation and we can discuss those problems there. Is that alright?

[2021-09-15 13:02] spericas commented on #772
@jeyvison Seems like there is some interest in your PR. If you re-submit, I'll take a closer look and provide a review. Let's give it another shot. Thanks.

[2021-09-15 19:56] mkarg commented on #1015
Sounds good *for me*, but OTOH others might have different opinions, so let's see who chimes into this thread. :-)

[2021-09-15 20:05] mkarg commented on #772
Interesting! In fact, in my daily use of JAX-RS, I am using approx. 10 external feature libraries for things like caching, compression, benchmarking, and other stuff.

[2021-09-17 10:10] BenRomberg commented on #904
Just landed here after having experienced this issue in our application. It's the second time I've experienced this issue in my career and could vaguely remember that it might be intentional.

IMHO as a user of JAX-RS it's not clear why this is happening at all and it is very surprising. The fix is also not easy in our case since we need to have different resource classes. Just because they share

[2021-09-17 12:13] jansupol opened #1018 "TCK: Test SameSite attribute of NewCookie"
See https://github.com/eclipse-ee4j/jaxrs-api/pull/868

[2021-09-17 13:35] jansupol opened #1019 "TCK: Support for Arrays as parameters"
See #890

[2021-09-17 20:32] alwin-joseph opened #1020 "TCK Migration : Fix test failures from tck migration"
There are possible test failures that need to be addressed post migrating the tests from jakartaee-tck.
This is to track all such failures that can be revisited to be fixed post migration once all the tests are in.

The tests are currently disabled by commenting the `@Test ` annotation.

1. 11 test failures in ee/rs/client/asyncinvoker after PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1002.

[2021-09-22 04:59] senivam opened #1021 "3.1 spec - Default Exception Mapper VS Completion Callback"
as per documentation of ``CompletionCallback#onComplete(Throwable throwable)`` :

[code]

Since 3.1 it's supposed to always have at least Default Exception Mapper, so we never have throwable thus onFailure processing in callbacks. Is my understanding correct in this case?

[2021-09-22 16:19] jansupol commented on #1021
Relates to #858.

[2021-09-24 02:42] alwin-joseph commented on #1015
**Current Status**

Completed :
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responsebuilder (15)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responseclient (85)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/uribuilder (128)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/ee/rs/core/request (28)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/ee/rs/client/asyncinvoker (147)

Te

[2021-09-24 14:38] spericas commented on #1021
With the support for `CompletionStage`, I had forgotten about all these details. Wondering if we should deprecate some of this support going forward 🤔

Back to the question at hand. My take on this is that we should call `onComplete` and, if it throws an exception, then fall back to the default mapper. Not calling this method seems wrong.

[2021-09-27 10:47] jansupol commented on #1021
Maybe we can deprecate `onComplete(Throwable throwable)` and add `default void onComplete() {onComplete(null);}`. The `CompletionCallback` is important and should not be deprecated as whole. I agree the `onComplete` should be called no matter the exception or not.

[2021-09-28 06:59] jelemux commented on #1015
Yesterday I tended to the tests in jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/ext, but now I see that they're listed a WIP here.
Is someone already working on those?

If not, I'd suggest I'll do all the remaining tests in jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs (there's not that many left).

[2021-09-28 10:07] alwin-joseph commented on #1015
The tests in jakartaee-tck/src/com/sun/ts/tests/jaxrs/**ee**/rs/ext are WIP. Please continue with any of the remaining tests in jakartaee-tck/src/com/sun/ts/tests/jaxrs/**api**

[2021-09-30 05:41] ascheman commented on #978
Most checkstyle complaints are resolved by #1025 and #1026 now.

However, in [jaxrs-api/src/main/java/jakarta/ws/rs/core/EntityPart.java](https://github.com/eclipse-ee4j/jaxrs-api/blob/69d440443b95b1893a8aac0bdc687c5c7180c54b/jaxrs-api/src/main/java/jakarta/ws/rs/core/EntityPart.java) there are two issues with the number of Exceptions thrown. The checkstyle rules allow a maximum of 3 while the sig

[2021-09-30 06:05] mkarg commented on #978
@ascheman Thanks a lot for your contribution! I will merge them when the minimum review time (1 full day) is over, to give committers a chance to comment / vote. Just as a tipp for your next PR: As long as the commits belong all to the same change, you can simply extend an exisiting PR by pushing into it (but it will drop the existing votes), so you do not need to open several PRs for the same top

[2021-09-30 06:48] ascheman commented on #978
Thanks, @mkarg - yesterday I only wanted to make a first small contribution to JAX-RS in order to learn about the software and the contribution process in the hackathon. We already had the (widely) approved PR #1025. Extending this PR would have reset this process to a preliminary status, what I wanted to avoid. Therefore I raised a second PR with all simple remaining changes.

[2021-09-30 16:58] mkarg commented on #979
There are new JavaDoc warnings. Maybe one of our new contributors like to fix it for 3.1? :-)

[code]

[2021-09-30 17:01] mkarg commented on #979
@jelemux Like to fix this one? :-)

[2021-10-01 09:11] mkarg commented on #978
@ascheman Looking at the code it seems that in that special cases it is definitively wanted to have four exceptions, so this is an exception to the general rule and should be marked with `@SuppressWarnings`. Thanks!

[2021-10-01 09:22] ascheman commented on #978
You (auto) closed the issue, @mkarg ... From my perspective it would make sense to keep it open until it is resolved completely?

[2021-10-01 09:25] mkarg commented on #978
Thanks for telling me. It seems Github did that when I pressed "merge".

[2021-10-01 12:43] jelemux commented on #979
@mkarg  Yes, I do. I'll see if I can find some time for it over the weekend.

[2021-10-01 14:29] mkarg commented on #979
@jelemux Is preparing a PR for this. Thank you, Jeremias! :-)

[2021-10-01 15:06] ascheman commented on #978
Would you mind to switch on `failsOnError` for the checkstyle plugin to make the build fail in the future if there will be new checkstyle violations, @mkarg?

[2021-10-01 15:31] mkarg commented on #978
My personal opinion would be that it should *not* fail in that case, as *in a pure API project* code style is (sorry to say that) rather irrelevant while gettings things through the door quickly before GA is something we often struggle with *already*. But this is a topic which should be discussed and decided among *all* committers, so if you have strong feelings about it, feel free to open a PR ju

[2021-10-02 09:42] ascheman commented on #978
To be honest it is then a little bit frustrating to provide optimisations but having to fear that other committers and contributors will not keep the reached code quality. Then I would like to ask, why use checkstyle at all? I think it has some value even for an API only project: As we could see it does not only enforce syntactic alignment of the code but also finds design decisions which are trea

[2021-10-02 13:31] mkarg commented on #978
@ascheman Please understand that we **cannot** accept your contributions *quickly* if you mix in checkstyle enforcement, as the latter enforces a *rather long* discussion among the committers (at least two full weeks to allow committers being on holidays to vote for or against this rule change). Please do accept my advice as your project mentor and **open a *separate* PR for the checkstyle enforce

[2021-10-02 16:33] ascheman commented on #978
I have reduced #1026 to all changes except checkstyle enforcement and created a second one (#1027) including the last commit  to enforce checkstyle in Maven. You may choose between the two now and discuss internally which way to go.

[2021-10-03 07:11] chkal commented on #978
I actually like the idea of configuring checkstyle to fail the build on violations. This will enforce the correct code style even before it gets integrated into the codebase. Just my 2 cents.

[2021-10-03 08:43] jelemux commented on #979
Submitted PR #1028

---

Also, what is to be done about the issue I mentioned?

There are lots of errors because the code just got ported and focus was on the migration.
Maybe we don't need to generate JavaDoc for this at all though and it can be excluded? WDYT?
Should this be discussed in a seperate PR / issue?

[2021-10-14 09:02] jimma commented on #989
@andymc12  I added some comment https://github.com/eclipse-ee4j/jaxrs-api/pull/990#issuecomment-943155060. Please review.

[2021-10-14 09:32] jimma opened #1033 "Add MultiPartEntity to spec api ?"
I saw we added javadoc to mention the GenericEntity for a List of EntityPart:  the https://github.com/eclipse-ee4j/jaxrs-api/blob/master/jaxrs-api/src/main/java/jakarta/ws/rs/core/EntityPart.java#L45, and is it better we define a MultiPartEntity like for a strong type ?  Then MsgBodyReader/Writer can clearly know it has a list of EntityPart instead of others.
[code]

[2021-10-18 11:16] jelemux commented on #1015
**Current Status**

Completed :

- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responsebuilder (15)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/responseclient (85)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/api/rs/core/uribuilder (126)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/ee/rs/core/request (28)
- jakartaee-tck/src/com/sun/ts/tests/jaxrs/ee/rs/client/asyncinvoker (147)
-

[2021-10-19 19:52] alwin-joseph commented on #1015
Some pending items to be addressed immediately post migration other than test failures :

1. Post merge of https://github.com/eclipse-ee4j/jaxrs-api/pull/1030 the test java files without *IT should be removed from api/ folder as they were added by https://github.com/eclipse-ee4j/jaxrs-api/pull/1029 for resolving dependencies.
2. https://github.com/eclipse-ee4j/jaxrs-api/pull/1029#discussion_r73134

[2021-10-20 09:20] jansupol commented on #1033
Not solely in a form of an interface, the users would need to implement it.
From the message body provider perspective, I do not see much difference, maybe I miss something.
From the user perspective, it might be better to use
`MultiPartEntity multipartEntity = new MultiPartEntity(parts)`. than
`GenericEntity<List<EntityPart>> genericEntity = new GenericEntity<>(parts){};`.

What is the `close` me

[2021-10-20 12:52] jimma commented on #1033
I think the MessageBodyReader/Writer only needs to check this ```MultiPartEntity```.  If user put these EntityParts in a `Map`, the message body provider which check this `List` type doesn't work.

It can dispose/close the underlying InputStream which isn't closed  or delete any temporary files if there is any.

[2021-10-20 19:19] alwin-joseph opened #1039 "TCK Migration : Allow vendor specific deployment descriptors"
This is in continuation to the discussion from https://github.com/eclipse-ee4j/jaxrs-api/pull/1031#discussion_r729248922

The implementations should be able to add their own vendor deployment descriptors that would be their equivalent of the *sun-web.xml deployment descriptors while running the TCK.

The 3 deployment descriptors present in jaxrs tck which need to be remapped are below :

jaxrs-tck

[2021-10-22 19:43] alwin-joseph opened #1040 "TCK Migration : Move the jaxrs TCK users guide and documentation"
We need to move the docs and related contents from jakartaee-tck project to the new REST TCK. This issue is to track this migration. The task of updating the contents of assertions , release notes and users guide can be taken up post this migration.

1. Documentation source :
The tck documentation source folder (docs) would have below folder structure :

[code]

Here the `userguide` folder is a ma

[2021-11-02 16:34] ben-manes opened #1048 "Wording clarification in ContainerRequestContext#setEntityStream"
When implementing a `ContainerRequestFilter` that replaced the EntityStream, I noticed that Rest-Easy's implementation did not close it automatically. The method says `The runtime is responsible for closing the input stream` which indicated to me that the implementation should close the stream when the request completes. The [issue](https://issues.redhat.com/browse/RESTEASY-3040) response was to a

[2021-11-02 17:40] scottmarlow commented on #1039
@starksm64  FYI, this is the issue tracker for allowing vendor deployment descriptors to be specified with the new jaxrs TCK (e.g. likely via Arquillian Extension).

[2021-11-02 17:46] starksm64 commented on #1039
Thanks, I created a TCK Blocking Issues column in the EE10 project with this issue in it.
https://github.com/eclipse-ee4j/jakartaee-platform/projects/5

[2021-11-03 14:04] scottmarlow commented on #1039
What are the best ways to integrate the Vendor specific deployment descriptors in?

Perhaps we could allow the user running the TCK to specify their integration jar and their (user) handling class name.

The (user) handling class could:
1. User implements org.jboss.arquillian.core.spi.LoadableExtension in which case the TCK would have its own LoadableExtension implementation that when its register

[2021-11-03 21:36] alwin-joseph commented on #1015
https://github.com/eclipse-ee4j/jaxrs-api/pull/1050 covers 1 & 2.

This was done

[2021-11-08 13:25] alwin-joseph commented on #1020
Current Status  : 6 test failures post TCK migration

Pending tests failures are currently disabled by commenting the `@Test ` annotation.

1.  Below test fails after PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1022.
- jakarta.ws.rs.tck.spec.provider.overridestandard.JAXRSClientIT.readWriteStreamingOutputProviderTest

2. Below tests fails after PR https://github.com/eclipse-ee4j/jaxrs-api/pu

[2021-11-08 13:29] alwin-joseph commented on #1020
**Current Status  : 6 test failures post TCK migration**

**Pending tests failures are currently disabled by commenting the `@Test ` annotation.**

1.  Below test fails after PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1022.
jakarta.ws.rs.tck.spec.provider.overridestandard.JAXRSClientIT.readWriteStreamingOutputProviderTest

2. Below tests fails after PR https://github.com/eclipse-ee4j/jaxrs-

[2021-11-08 14:32] jelemux commented on #993
Sorry for the late response, I've caught the flu and then had a week of vacation after I recovered.

I went through all the missing status codes and singled those out that MAY be of general interest for REST applications.
I've documented my findings on [this wiki page](https://github.com/jelemux/jaxrs-api/wiki/Missing-status-codes). Feel free to go through them and comment your opinions here.

In

[2021-11-08 14:32] jelemux commented on #993
What may not be of _general_ interest to REST applications but still came up is WebDAV.
The [JAXRS specification states under goals](https://jakarta.ee/specifications/restful-ws/3.0/jakarta-restful-ws-spec-3.0.html#goals):

Because additional status codes can be added by creating an implementation of `StatusType`, it is my opinion that this goal is fulfilled since the API is _sufficiently flexible

[2021-11-08 14:52] andymc12 commented on #993
@jelemux I agree with your assessment on the wiki.  I'm +1 for adding 300, 308 and 451.  I'm +0 or -1 on the rest. I also agree that separate PRs would be the most expedient - I suspect that 308 will be the easiest to get in, while 300 and 451 might take some discussion.  Thanks for putting this together!  I think it will also help us in the future (for example, when JAX-RS officially supports HTT

[2021-11-08 18:10] mkarg commented on #993
I never needed 203; I doubt that it is actually of common use.

WebDAV is definitively an outdated technology which we should not start to explicitly support. In fact, if someone wants to use WebDAV with JAX-RS, he can simply use the ready-to-use extension [WebDAV for JAX-RS](https://search.maven.org/artifact/net.java.dev.webdav/jaxrs) which (for those who don't know) was the reason for me adding

[2021-11-09 20:05] andymc12 commented on #1048
My opinion is that the JAX-RS implementation should close the input stream - so in your example, I would expect to see `Was closed? true` in the output.

That said, there probably needs to be some clarification here - on _when_ and _which_ streams the JAX-RS implementation is required to close. For example:
[code]

This is not a common scenario but is JAX-RS responsible for closing all four input

[2021-11-10 18:07] jansupol opened #1057 "TCK : Fix test https://github.com/eclipse-ee4j/jakartaee-tck/issues/587"
The test was excluded, but it is easily fixed.
After #1045.

[2021-11-12 15:05] jansupol commented on #1057
Solved by #1045

[2021-11-12 15:05] #1057 closed

[2021-11-12 21:16] kingsfleet opened #1060 "Support for trailing headers in the server and client API"
HTTP/2 bring renewed support for tailing headers, this useful when using headers such as Server-Timing where you want to report on work done when streaming the response body after the primary headers has been written. This is great for providing diagnostics to the client without have to resort to accessing server logs.

You can do this indirectly on servers where Servlets are available:

[code]

B

[2021-11-13 11:26] mkarg commented on #1060
This is an open source project, so feel free to propose an API for that. :-)

[2021-11-15 10:58] jelemux commented on #993
Now that the codes have been added, I think this can be closed now.

[2021-11-17 14:32] #993 closed

[2021-11-24 08:46] alwin-joseph commented on #1039
@jansupol suggested alternative solution here https://github.com/eclipse-ee4j/jaxrs-api/pull/1061#discussion_r752285950 .
@scottmarlow what do you think ?

[2021-11-24 11:11] alwin-joseph commented on #1020
These failures were fixed by https://github.com/eclipse-ee4j/jaxrs-api/pull/1061/

[2021-11-24 11:12] alwin-joseph commented on #1020
Fixed by https://github.com/eclipse-ee4j/jaxrs-api/pull/1056

[2021-11-24 11:13] alwin-joseph commented on #1020
Closing this as all the failing tests related to migration of TCK are fixed now.

[2021-11-24 11:13] #1020 closed

[2021-11-26 23:34] arjantijms commented on #1039
@alwin-joseph @scottmarlow

Arquillian has a standard SPI for this. It's `org.jboss.arquillian.container.test.spi.client.deployment.ApplicationArchiveProcessor`

The Arquillian based JWT TCK describes this as well. See: https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/README.adoc#creating-your-implementation-tck-harness-artifact

[2021-11-26 23:37] arjantijms commented on #1039
p.s. in the same `org.jboss.arquillian.container.test.spi.client.deployment` there's a few other SPIs that might be interesting as well.

[2021-12-23 10:33] mkarg commented on #1020
@alwin-joseph I think there is something wrong with the project book keeping. This issue is contained on both projects, EE 9 and EE 10. But it is Done in one and In Progress in the other. Is that by intention?

[2021-12-23 10:43] mkarg commented on #494
I am sorry that I did not find the time in 2021 to set up this table. I propose we move this issue to the next release so it does not stand in the way for 3.1. Everybody fine with this proposal?

[2021-12-23 14:20] mkarg commented on #1009
@spericas AFAIK this issue is finished?

[2021-12-23 14:24] mkarg commented on #979
@spericas @andymc12 @chkal @jansupol There are no more warnings in the API itself, but there are 100+ warnings in the Examples and TCK. To not further delay publication of 3.1, I'd like to propose that I do split this issue, i.e. I do close this one and reopen two separate issues for Examples and TCK which we resolve in 4.0. WDYT?

[2022-01-04 14:46] spericas commented on #1009
PR #1010

[2022-01-04 14:46] #1009 closed

[2022-01-08 20:36] jelemux opened #1078 "Error when running jersey-tck: Cannot run program "asadmin" - File not found"
Whenever I try to execute the jersey-tck with `mvn verify` I get the following error message:
`[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:3.0.0:exec (StartDomain1) on project jersey-tck: Command execution failed.: Cannot run program "asadmin" (in directory "/home/jelemux/Documents/Java/Jakarta REST/jaxrs-api/jersey-tck/target/glassfish6/glassfish/bin"): error=2, Datei oder

[2022-01-09 08:33] mkarg commented on #1078
It would be interesting to see what happens, when you try to startup GlassFish manually:
[code]
If this fails, too, then...:
* Is there any error message on the console?
* Can you post the contents of `target/glassfish6/domains/domain1/logs/server.log` after ?

[2022-01-09 14:52] mkarg opened #1079 "Cannot start jersey-tck two times in a row"
When running `mvn --file jersey-tck/pom.xml verify` the first run starts GlassFish 6 then does all tests and finally says there are test failures (which all is correct and fine).

A subsequent second run with the same command fails to start GlassFish 6 due to two problems:

- The first run did not stop GlassFish 6, so it is still running and listens to port 4848, leading to the error message `Ther

[2022-01-09 14:53] mkarg commented on #1079
@alwin-joseph @jelemux @jansupol Any ideas how to *correctly* solve this instead of just working around?

[2022-01-09 18:21] arjantijms commented on #1079
One thing I noticed quickly glancing over the code; in jersey-tck there's this Arquillian connector:

[code]

For Mojarra we're using a connector that was forked from that one a long time ago, and I think has seen quite a bit more development and improvements:

[code]

See https://github.com/eclipse-ee4j/mojarra/blob/master/test2/pom.xml#L386

Compare

https://github.com/omnifaces/arquillian-conta

[2022-01-09 19:37] jelemux commented on #1078
Seems to work:
[code]

[server.log](https://github.com/eclipse-ee4j/jaxrs-api/files/7835764/server.log)
TCK Tests seem to get executed, there are some exceptions but maybe they're deliberate, I can't tell.

[2022-01-10 05:27] alwin-joseph commented on #1078
I had faced similar issue with mac OC . Can you try below workaround :

add  ‘/jaxrs-api/jersey-tck/target/glassfish6/glassfish/bin’ to the PATH variable.
/jaxrs-api/jersey-tck/target/glassfish6 is where the glassfish would be extracted as per the jersey-tck/pom.xml

[2022-01-10 11:24] jansupol commented on #1078
I am thinking if the space in the path `/Jakarta REST/` can be the issue...

[2022-01-10 12:32] alwin-joseph commented on #1079
I have a possible solution using https://github.com/alwin-joseph/jaxrs-api/commit/9fd7b278e216bbd6e391e83935b63d5220be7f61 .It  works for me for both the above cases. Can you try the same and see if the same works too. I will create a PR after some more testing. Please suggest if any improvements can be made too.

[2022-01-11 18:29] scottmarlow opened #1081 "Consider changing TCK package to not start with `jakarta` package..."
Some Servlet container implementations may be confused by [TCK test deployments in jakarta namespace](https://www.eclipse.org/lists/jakartaee-platform-dev/msg03128.html) which could lead to TCK challenges ([click on platform discussion thread link for more details](https://www.eclipse.org/lists/jakartaee-platform-dev/msg03128.html)).

Would it take more than a few additional weeks to address this

[2022-01-11 18:53] mkarg commented on #1078
But does it work fine in exactly the same path when issued manually?

[2022-01-12 13:31] jelemux commented on #1078
That was it, thanks!

How do we proceed now? Is there some way we can get it to work without that right from the start?

[2022-01-12 14:21] arjantijms commented on #1078
@jelemux perhaps take a look at the faces prototype tck (in the test2 folder of the mojarra project).

It extracts GlassFish, and sets the location via a property. There's nothing special users have to do but type mvn clean install.

[2022-01-13 10:37] jelemux commented on #1078
@arjantijms Thanks for the tip, I had a look but the faces tck does not utilize `exec-maven-plugin` and no call to `asadmin` is made.
Our TCK didn't use `exec-maven-plugin` either in the past and I'm not exactly sure why we need it now.

However, I was able to fix the problem by prepending a `./` before the executable. I'll prepare a PR.
This should fix the problem for Linux and MacOS. I'm not sur

[2022-01-13 14:42] #1040 closed

[2022-01-13 14:44] alwin-joseph commented on #1015
All standalone tests including signature tests were migrated.

[2022-01-13 14:44] #1015 closed

[2022-01-13 15:05] alwin-joseph opened #1083 "Migrate TCK Generation CI job to https://ci.eclipse.org/rest/"
The migrated jaxrs TCK is currently built and bundled using CI job  https://ci.eclipse.org/jakartaee-tck/job/jakarta-rest-tck-build that exists in jakartaee-tck CI and the eftl licensed bundle copied to https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee10/staged/eftl/. It also creates SHASUM file for each newly generated TCK bundle.

Ideally the tck building job should be present at https:/

[2022-01-14 18:56] mkarg commented on #1078
I agree with Arjan that migrating to Arquillian should be the future target, but for now I confirm that simply adding dot-slash-prefix will not harm at all on Windows, so go for the PR, Jeremias! :-)

[2022-01-17 07:01] alwin-joseph opened #1085 "TCK Improvement : Use arquillian plugin for executing Glassfish commands"
In jersey-tck/ use arquillian plugin for Glassfish start/stop domain, create/delete users and other commands to be run on glassfish. The same is used for faces prototype tck (in  mojarra project). Improve the plugin if required.

Currently we use the below arquillian plugin as glassfish connector.
[code]

Instead of the above, below jar can be used that has been forked and enhanced from above jar.

[2022-01-17 09:25] alwin-joseph commented on #1083
1. Get new folder created at https://download.eclipse.org/ee4j/  as https://download.eclipse.org/ee4j/jaxrs . We can check if the below command works when run in a CI job. If it does not we would need help from Eclipse infra team(use bugzilla) for creating new directory at [/home/data/httpd/download.eclipse.org/ee4j/jaxrs
](https://download.eclipse.org/ee4j/jaxrs)

`ssh -o StrictHostKeyChecking=no

[2022-01-17 19:33] arjantijms opened #1086 "Move this repo to https://github.com/jakartaee"
In the steering committee we voted to move all specification projects from eclipse-ee4j to jakartaee. As such this repo should move too in due time.

Moving is fairly automatic, and redirects will be automatically put in place from the current location here to the new location.

If there is a +1 for this (lazy or direct) I'd like to move this repo soon.

[2022-01-18 15:02] #1079 closed

[2022-01-18 17:55] jansupol commented on #1085
`<glassfish.postBootCommands>` looks good.
But... if I am not mistaken, GF is restarted for each test/deployment using Arquillian. Is the `postBootCommands` executed each time the war gets deployed? In Jakarta-REST, we only enable HTTP trace requests, so it can be fast, but we have a couple of hundreds of wars.

[2022-01-19 14:08] oliviercailloux commented on #535
The case of `application/json` has been treated (if I understand correctly), but what about other cases such as text/plain?

[2022-01-19 16:39] jamezp commented on #951
What is the intention for something like:

[code]

Injecting the `SseEventSink` as a parameter is used in all the TCK tests and examples. I've personally only ever seen `SseEventSink` injected as a method parameter.

It would likely require large refactoring for users to remove parameter injection of `@Context`. Not that I'm opposed to using CDI and deprecating `@Context` and `ContextResolver`. I

[2022-01-19 17:26] #1078 closed

[2022-01-19 18:08] spericas commented on #1083
Any volunteers to do this?

[2022-01-19 18:14] spericas commented on #951
@jamezp It would be injectable as a normal CDI bean without the need to use `@Context`. Any CDI bean shall be injectable in param position on a resource method, in fact.

[2022-01-19 18:18] jamezp commented on #951
@spericas Kind of what I assumed, but just wanted to verify thank you. I'm working on this for RESTEasy which seems like for full support is going to take some refactoring. However, that is not a spec issue :)

[2022-01-21 07:10] gurunrao commented on #1039
@starksm64 - issue can be moved to 'Done' at https://github.com/eclipse-ee4j/jakartaee-platform/projects/5

[2022-01-21 07:19] alwin-joseph commented on #1020
We were following the project board https://github.com/orgs/eclipse-ee4j/projects/22 (Jakarta 10) to track some of the TCK work where it was updated as _Done_ correctly.

I do not have the rights to change it in project board https://github.com/eclipse-ee4j/jaxrs-api/projects/3, owned by jaxrs team. Not sure if they are supposed to be updated automatically when the issue is closed.

[2022-01-21 07:33] alwin-joseph opened #1088 "TCK failures : 2 SeBootstrapIT tests fail in Linux & mac due to permission issue"
2 below SeBootstrapIT tests **fail when run in Linux and Mac** for Jersey(M2)

- ee.jakarta.tck.ws.rs.sebootstrap.SeBootstrapIT.shouldBootInstanceUsingImplementationsDefaultIpPort
- ee.jakarta.tck.ws.rs.sebootstrap.SeBootstrapIT.shouldBootInstanceUsingDefaults

with the below errors.

[code]

**The tests were reported as passing in Windows.**

The issue was fixed by running `sudo /sbin/sysctl -w n

[2022-01-21 21:52] mkarg commented on #1088
Nope. The intention of this tests is to proof that auto-selection is working well. So they MUST use port 0.

[2022-01-21 22:07] mkarg commented on #1083
Why do we need a new job? Shouldn't we build and publish the TCK as part of the existing API job?

[2022-01-24 06:27] alwin-joseph commented on #1083
There are more tasks that need to be done for the TCKs apart from the usual mvn install.

Below can be  accomplished by running jaxrs-tck-docs/tckbundle.sh.
- 2 types of TCK bundles need to be generated differentiated by the LICENSE file & the name of the file - EPL & EFTL. tckbundle.sh accepts epl/eftl as first argument for 2 different bundles.
- The TCKs are bundled as zip files with TCK documen

[2022-01-24 06:30] alwin-joseph commented on #1088
Ok. In that case what additional change is required for passing the test in non-Windows machines.
Should there be a test change to allow non root users to have access to all ports ?
Or are the implementations expected to fix this at their end for accomplishing the auto-selection.

[2022-01-24 18:09] jansupol commented on #1088
It is not an implementation that picks the port, it is [the test](https://github.com/eclipse-ee4j/jaxrs-api/blob/master/jaxrs-tck/src/main/java/jakarta/ws/rs/tck/sebootstrap/SeBootstrapIT.java#L372).
I thought about some modification such as (assumingly the same port is not chosen again and again):
[code]
I agree that it is odd that a restricted port is chosen.

[2022-01-24 18:21] jansupol commented on #1088
Just remember, we run the TCK in the Eclipse CI. We cannot use admin privileges there.

[2022-01-27 16:17] mkarg commented on #1088
Good catch! I actually missed that!

I think it is best to fix it in the way you proposed -- even if I think that it *actually* should be fixed by the JRE...

Maybe it would be a good idea to refactor this method so other tests can make use of it, too?

[2022-01-27 16:24] mkarg commented on #1086
Can you please link to a web site where that decision can be found? Thanks.

Is this really decided by the committers? We had not been asked for the original location nor can we trigger the technical move.

I do not see a benefit for us, but I actually never liked the original location either, so I vote 0.

When you do the move then please also fix all the Jenkins Jobs and links in any locations t

[2022-01-27 16:28] mkarg opened #1089 "Clarification: MUST Client throw Subclass of WebApplicationException"
The specification is unclear about the following question:

If Client receives an HTTP error code, then it MUST throw WebApplicationException or a subclass of that.

But does that imply that a Client MUST throw the subclass or is a runtime allows to simply throw literally the WebApplicationException class ALWAYS instead?

Due to that inaccuracy it is impossible to use try-catch for subclasses in t

[2022-01-27 16:40] jansupol commented on #1088
Good idea. There is a [util](https://github.com/eclipse-ee4j/jaxrs-api/tree/master/jaxrs-tck/src/main/java/jakarta/ws/rs/tck/common/util) folder for common utility methods, it can be used for methods like this.

[2022-01-27 19:04] jansupol commented on #1086
From all the steps we want to do and we are obliged to do with our Jakarta REST repository, moving the GitHub coordinates seems like the least urgent task. Is doing so around the release date at the time of finishing the last changes in the project a good timing?

[2022-01-29 14:31] mkarg commented on #1088
Good, so I will do that.

[2022-01-30 13:33] mkarg commented on #1088
With PR #1090 the TCK test now uses a utility method that will bear an unprivileged IP port. Note that this only fixed the TCK test. For ports discovered by implementations, still it is up to the implementation to fix the same problem (unless already done).

I also filed [bug report JDK-8280919](https://bugs.openjdk.java.net/browse/JDK-8280919) for this weird / inconsistent JRE behavior.

[2022-01-31 10:41] alwin-joseph commented on #1088
I see the modified someFreeIpPort() method in PR https://github.com/eclipse-ee4j/jaxrs-api/pull/1090 is not used for below failing tests :
SeBootstrapIT.shouldBootInstanceUsingDefaults
SeBootstrapIT.shouldBootInstanceUsingImplementationsDefaultIpPort

Does these tests use ports discovered by implementations?

These tests still fail for me when run against jersey-3.1.0-M2 .

[2022-01-31 15:15] spericas commented on #1089
I don't understand the part "or is a runtime allows to simply throw literally the WebApplicationException class ALWAYS instead". Could you please elaborate and/or provide an example?

[2022-01-31 15:19] spericas commented on #1086
@arjantijms I see no problem, but perhaps we should wait until 3.1 is out in case this causes any unforeseen problems. It shouldn't be long.

[2022-02-01 12:09] mkarg commented on #1088
Both tests deliverately instruct the implementation to chose the port, so it is up to the vendor of the tested implementation to either solve this problem within his product. Please also follow the discussion of the actual cause [JRE-8280919](https://bugs.openjdk.java.net/browse/JDK-8280919): They ask for a check on the original causing host. @alwin-joseph Please provide the needed information to

[2022-02-01 18:08] alwin-joseph commented on #1088
Hi Markus -

I think there are 2 issues here :

1. 2 failing Bootstrap tests
- ee.jakarta.tck.ws.rs.sebootstrap.SeBootstrapIT.shouldBootInstanceUsingImplementationsDefaultIpPort
- ee.jakarta.tck.ws.rs.sebootstrap.SeBootstrapIT.shouldBootInstanceUsingDefaults

AFAIS both of these tests **do not** use any custom method to obtain a free unprivileged IP port and hence do not use ServerSocket(0). (Plea

[2022-02-01 20:23] jansupol commented on #1088
Jersey depends on Grizzly to choose the port if -1. We may change this for M3.

[2022-02-01 21:12] mkarg commented on #1088
In fact this proofs that the test itself is correct! The problem you experience is that Jersey intentionally chooses privileged ports 443/80 by default. To pass the tests on you machine, either the machine must allow that or Jersey must use unprivileged defaults.

[2022-02-02 17:07] bondolo commented on #1086
The Javadoc API link in the sidebar on `https://jakartaee.github.io/rest/` is broken and still points to the old `https://eclipse-ee4j.github.io/jaxrs-api/apidocs` location. The correct landing page, `https://jakartaee.github.io/rest/apidocs/` does exist but the links on that page also still point to the old site.

[2022-02-02 17:12] bondolo commented on #1086
The user guide at `https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/index.html` doesn't appear to have a new location in the `https://jakartaee.github.io/rest/` site yet.

[2022-02-02 18:27] jansupol commented on #1086
Constant vigilance. I am quite surprised.

[2022-02-03 13:32] #1081 closed

[2022-02-05 17:43] mkarg commented on #1089
Example: The server sends 500 Server Fault. What does the JAX-RS specification mandate that a compatible JAX-RS Client does?

(a) The JAX-RS Client MUST throw `InternalServerErrorException`. Due to that, a client application can safely rely on simply `catch (final InternalServerErrorException e) { ... }` to handle 500 Server Fault.

(b) The JAX-RS Client MAY throw either `InternalServerErrorExcept

[2022-02-05 22:25] mkarg commented on #1088
As this is not a bug of the TCK but a problem of the specific execution environment and product under test, can we close this issue? The solution either is (a) fixing the bug in the JRE, (b) fixing the bug in the tested product, or (c) using containers for testing so root in the test is not root on the host.

[2022-02-05 23:19] winie opened #1092 "Behavior of 'queryParam' method of 'UriBuilder' class when the 'values' ​​parameter is passed as an empty array"
The `queryParam` method of the `UriBuilder` class can also be called with the 'values' ​​parameter without arguments. So the 'values' ​​array would be empty.

Is the query parameter appended to the URI without a value?
[code]

Or is the query parameter ignored?
[code]

Can this be clarified in the javadocs please.

[2022-02-05 23:23] winie commented on #1092
In my opinion, the query parameter should be appended to the URI without a value:
`www.foo.com/bar?someQueryParamName`

Because the queryParam method at least handles the name parameter. That the method call doesn't change anything about the URI is counterintuitive.

[2022-02-06 08:53] alwin-joseph commented on #1088
Hi Markus - Just highlighting this again.

The 2 failing tests **does not**  use someFreeIpPort()/unprivilegedPort()/ServerSocket(0)  method. I do not see any issue with the ServerSocket/JRE here as those tests using it in the TCK are passing. Infact I could see that  ServerSocket returned port >1024 for the other tests at least when I tried. Hence I cannot reproduce or justify the JDK bug you cre

[2022-02-06 14:00] mkarg commented on #1088
@alwin-joseph I need to disagree.

* FREE_PORT: The intention of this test is to proof that the tested product will start correctly when the product selected a free port of *its own choice*. Apparently the tested product choose a port on which it actually cannot run on that host, so the TCK test fails *deliberately* to proof that the product selects a *wrong* port. The default port (zero) instruct

[2022-02-06 15:44] mkarg commented on #1092
What is your intention of this issue: Do you want to know what a particular implementation actually does, what the spec mandates that all implementations MUST do, or do you want to propose a spec change according to your personal preference?

[2022-02-07 18:35] spericas commented on #1089
@mkarg Understood, yes. This needs to be clarified. It should really throw the most _specific_ exception available for the error code received.

[2022-02-07 19:32] alwin-joseph commented on #1088
Sorry I had few more questions.

Can you please list which are those tests in SeBootstrapIT where the product will select a free port of its own choice and failed with Jersey (before PR 1090)?

I agree that if ServerSocket(0) returns a privileged port then it is an unexpected behaviour(JRE bug). But I haven't been able to reproduce this case.

Agree on this. From what I understand below are the tw

[2022-02-10 08:21] mkarg commented on #1089
Everybody else +1 for me doing that proposed change? Any vetos?

[2022-02-10 08:53] sdaschner commented on #1089
I'd +1 Santiago's view on throwing the most specific exception available that matches the response code. So a) in your case.

[2022-02-10 21:00] NicoNes commented on #1089
+1, clarification would be great. thanks

[2022-02-11 14:13] spericas commented on #1089
@mkarg It doesn't seem the spec is very clear about this, as you found out. If we want to include a clarification in 3.1, we should create PR right away. I plan to kick off the release shortly (finally).

[2022-02-11 17:02] mkarg commented on #1089
@spericas I will provide the PR tomorrow, but as it is a spec change de-facto, we cannot fast-track it.

[2022-02-11 20:46] spericas commented on #1089
@mkarg That's a good point. I don't think we should wait 2 weeks for this. We can target this for the next release then.

[2022-02-13 08:34] mkarg commented on #1088
I cannot tell you where Jersey failed as I did not test Jersey but you did. So I tell you the tests where any tested implementation *could* fail due to selecting a free port. This is at least `SeBootstrapIT::shouldBootInstanceUsingSelfDetectedFreeIpPort`, as it *enforces* the selection of a free port by the tested implementation. In case the tested implementation does not have statically fixed def

[2022-02-13 15:43] alwin-joseph commented on #1088
This test and all others except the `SeBootstrapIT::shouldBootInstanceUsingDefaults` and `SeBootstrapIT::shouldBootInstanceUsingImplementationsDefaultIpPort` passed when I ran with Jersey.

Are you saying that even when these 2 tests - `SeBootstrapIT::shouldBootInstanceUsingDefaults` and `SeBootstrapIT::shouldBootInstanceUsingImplementationsDefaultIpPort` - are run that could mean a free port is u

[2022-02-13 16:51] mkarg commented on #1088
Yes, the JAX-RS Bootstrap API allows such a behaviour. Having said that, IIUC what @jansupol told us, then Jersey de-facto will never do that but always use 443/80. But as *this* is a JAX-RS TCK discussion and not a Jersey discussion, I need to explain the *whole* truth.

I confirm this is what @jansupol told us.

@spericas @jansupol So why did you ask me to change the TCK code to guarantee that t

[2022-02-14 15:00] spericas commented on #1088
I was likely @jansupol. I believe he is on vacation this week.

[2022-02-17 13:53] mkarg commented on #1088
So how to proceed? I'd like to propose that I undo the unnecessary port checks, as that case never happend on any machine. Counterproposals?

[2022-02-18 15:35] mkarg commented on #1092
@jansupol @andymc12 @ronsigal WDYT?

[2022-02-19 16:32] mkarg commented on #962
@andymc12 Are you planning to resolve this issue before 3.1 or is this issue open for contributions?

[2022-02-20 13:40] mkarg commented on #1018
AFAIK @jelemux is working on this one.

[2022-02-20 13:41] mkarg commented on #1019
AFAIK @jelemux is working on this one.

[2022-02-22 15:07] spericas commented on #1088
@jansupol Can you can comment on this issue?

[2022-02-23 14:38] najibk commented on #684
Is there any known workarounds or implementation to achieve this ? I would also like to intercept i/o exceptions in a centralized manner.

[2022-02-23 15:06] jansupol commented on #684
Jersey supports a [PostInvocationInterceptor](https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest3x/client.html#d0e5354) that gathers the exceptions, including `UnknownHostException`. It is a proprietary solution, though.

Keep in mind that the MP REST Client will become a part of Jakarta REST and any changes in the client API should be compatible with it.

[2022-02-26 07:55] #1089 closed

[2022-03-01 16:51] jamezp commented on #1088
I can say RESTEasy is passing the `SeBootstrapIT` as it is now. The test seems fine to me.

[2022-03-01 16:53] jansupol commented on #1088
Jersey 3.1.0-M3 does not use privileged ports any longer, ports 8080 and 8443 are used instead.

[2022-03-01 16:58] jamezp opened #1099 "TCK Challenge: Change JsonbContextProviderIT.EchoApplication to be public"
I filed a PR https://github.com/jakartaee/rest/pull/1097 to make the `JsonbContextProviderIT.EchoApplication` public rather than private. This was given a -1 from @mkarg, but I'd like to challenge this.

RESTEasy has required constructors for applications be public for at least 11 years, according the git history. I don't see any reason why this should change, especially for a TCK test. If RESTEas

[2022-03-01 17:05] jansupol commented on #1099
There would be more of them. I already [commented ](https://github.com/jakartaee/rest/pull/976#issuecomment-1022690780) about this.

[2022-03-01 17:28] jamezp commented on #1099
Do we know if Jersey allows non-public constructors for applications? All other REST resources seem to require public constructors. Having one type be different seems wrong to me regardless of whether the spec explicitly does not state it. It also doesn't state it can be non-public.

[2022-03-01 17:34] jansupol commented on #1099
Surprisingly, in Jersey, the tests pass fine. But I am +1 for updating the Application subclasses visibility, we may get hit by this when converging towards CDI, too. The tests are meant to test other functionality than private class instantiation. That could have been done in other tests if required.

[2022-03-01 17:42] jamezp commented on #1099
Good to know, thank you. The last [CI job](https://ci.eclipse.org/jakartaee-tck/job/10/job/jakarta-rest-tck-glassfish-run/51/consoleText) I saw showed it failing, but for a completely different reason.

[2022-03-02 11:05] mkarg commented on #1099
The problem is that what you like to change *is* a spec change. So feel free to propose a spec change. The TCK test is compliant with the spec hence I am -1 for changing this. It is *not* a TCK challenge.

[2022-03-02 12:19] arjantijms commented on #1099
+1 for the change in #1097.

Adding a test with something that was not tested before and for which the spec document doesn't explicitly say something is effectively a spec change. Instead of just adding a test to test that private applications are possible, I think this should have been discussed first.

Then only after everybody agreed that private applications should be possible, can the test be

[2022-03-02 14:25] spericas commented on #1099
I'm +1 for #1097. There's no need to make this more difficult to instantiate unless that is the assertion being tested by the TCK, which is not. Any further clarification may come later, now we need to complete 3.1, so we can leave the discussion for later and accept the PR now.

[2022-03-02 14:41] scottmarlow commented on #1099
Could a committer please add `challenge` label for this issue.

[2022-03-02 21:46] mkarg commented on #1099
Sorry but this is complete nonsense. The spec is the sole source of truth. Any application developer may do anything he likes unless forbidden by the spec. That is *why* it is explicitly forbidden for resources. *Any* restriction we give upon normal Java *must* be explicitly told in the spec. Until it is, the TCK's recent behavior was just incomplete and wrong, as not the TCK but the spec is the s

[2022-03-02 23:12] jamezp commented on #1099
@mkarg Would you accept a test which which includes an implementation of an `Application` which accepts a parameter because the specification doesn't specify it?

[2022-03-02 23:38] arjantijms commented on #1099
It's not nonsense IMHO. I think it makes a lot of sense really.

I don't think that's how the spec works. We test its assertions, which are explicit statements in the spec. We don't test the opposite, which is the absence of some statement.

The only thing that can happen is that a tests just happens to use something while testing something else, and it's not discovered. I think that's what's goin

[2022-03-03 12:55] spericas commented on #1099
I don't know to explain this more clearly. The TCK test needs updating.

[2022-03-03 13:43] scottmarlow commented on #1099
Some guidance from the [TCK Process 1.2](https://jakarta.ee/committees/specification/tckprocess) under "Valid Challenges":

[2022-03-03 17:30] mkarg commented on #1099
Yes I would, because the spec does not forbid it.

Anyways, looking at CDI, we should just change the spec to enforce public.

[2022-03-03 17:30] jamezp commented on #1099
I would say 2 and 4 personally.

That seems fine to me as well. I'm not really sure what the best wording would be as it seems things *may* change in 4.0 if CDI is going become more into play here.

[2022-03-03 19:27] spericas commented on #1099
Updating the spec is not ideal (and I really don't like to do this at the last moment) given the release process is already underway and only awaiting the TCK's. Updating the single TCK test is trivial and inline with the guidelines outlined above. Once again, the test in question does not correlate with any spec assertion.

[2022-03-04 08:04] mkarg commented on #1088
Okay so as it is not actually needed, I will remove the explicit port number check again.

[2022-03-04 08:06] mkarg commented on #1088
Off-Topic: Is there a public Maven repo where I can pull Jersey 3.1.0-M3 from?

[2022-03-04 09:42] mkarg opened #1101 "Spec Clarification: Application constructor must be public"
Apparently some compliant implementations allow non-public Application constructors, while others do not. To ensure that any custom Application implementation ist at-most portable, the JAX-RS specification should unambiguously say that Applications must have a public constructor.

[2022-03-04 14:12] arjantijms commented on #1088
It's in the default staging repo for Jakarta / EE4J projects:

https://jakarta.oss.sonatype.org/content/repositories/staging/org/glassfish/jersey/core/jersey-server/3.1.0-M3/

[2022-03-04 14:13] #1099 closed

[2022-03-10 17:57] jansupol opened #1104 "Compatibility Certification Request for Eclipse Jersey 3.1.0-M3"
- [x] Organization Name ("Organization") and, if applicable, URL\
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)\
  Eclipse Jersey 3.1.0-M3, see TCK Result Summary for the download links
- [x] Specification Name, Version and download URL\
   [Jakarta RESTful Web Services 3.1](https://jakarta.ee/specifications/restful-ws/3.1/)
- [x]  TCK Version, digital SHA-256 f

[2022-03-12 14:19] mkarg commented on #1088
As PR #1103 is merge, I think we can close this issue?

[2022-03-12 14:20] mkarg commented on #1086
AFAIK this issue can be closed as the repo was already moved?

[2022-03-12 18:08] alwin-joseph commented on #1088
Issue fixed in Jersey 3.1 M3 version

[2022-03-12 18:08] #1088 closed

[2022-03-12 19:41] #1086 closed

[2022-03-14 23:11] jansupol commented on #1101
I feel more comfortable letting the impl choose to support non-public constructors. We may say it is non-portable between impls.

[2022-03-15 07:11] mkarg commented on #1101
So we could say: A portable application MUST have a public constructor. A compliant implementation MAY support non-public constructors in addition.

[2022-03-15 21:17] jamezp opened #1106 "[TCK Challenge] JAXRSClientIT#replaceQueryTest4() failure should not be expected"
The `ee.jakarta.tck.ws.rs.api.rs.core.uribuilder.JAXRSClientIT#replaceQueryTest4` test expects an `IllegalArgumentException` is thrown because an invalid URI characters are passed as an argument. However, it seems like it shouldn't throw a message, but instead encode the invalid values. From the `UriBuilder` Java Doc:

I interrupt that as the character `$` in the test should be encoded to `%24` an

[2022-03-16 12:55] scottmarlow commented on #1106
FYI, Platform TCK test results from [EE 9.1 are here](https://ci.eclipse.org/jakartaee-tck/job/9.1/job/eftl-jakartaeetck-run-910/lastCompletedBuild/testReport/com.sun.ts.tests.jaxrs.api.rs.core.uribuilder/JAXRSClient/), note that `replaceQueryTest3` is included but not `replaceQueryTest4`.  I searched for `replaceQueryTest` in the Platform TCK (`9.1.x` branch) but didn't see any reason why `replac

[2022-03-16 14:31] alwin-joseph commented on #1106
I see that this test never ran or was excluded in platform tck and in old standalone TCK since it did not have `@` in the `@testName` but was not part of the excluded list. This was missed out while the test got migrated.

[2022-03-16 14:37] jamezp commented on #1106
Ah-ha! Thanks for that clue @alwin-joseph. Does this mean the test was not intended to be ran in the current 3.1 TCK?

[2022-03-16 17:08] alwin-joseph commented on #1106
Apparently the test passes with Jersey where IllegalArgumentException is thrown for this test. I believe it is worthwhile a discussion to verify if the test is valid before we disable or modify the test.

[2022-03-16 19:08] jamezp commented on #1106
Right yes, the `$` was just an example of one of the invalid characters. It could be valid if the invalid characters are encoded. It's definitely invalid as-is though.

TBH I'd almost hesitate to say what Jersey is doing is wrong. If you were to do something like `URI.create("http://localhost:8080?ame$*()^@!+-]}[{|<>,./:;'#1==x?&name2=%20y` it would throw an `IllegalArgumentException`. I assume th

[2022-03-16 20:12] jansupol commented on #1106
Maybe the `IllegalArgumentException` is untestable i.e. there is no clear definition of an input upon which the IAE should be thrown? Perhaps the best solution is to remove the test?

[2022-03-16 20:59] jamezp commented on #1106
My vote would personally be either remove or ignore it in case the specification wants to clarify later.

[2022-03-17 13:09] spericas commented on #1106
+1 on removal

[2022-03-17 13:11] alwin-joseph commented on #1106
Created https://github.com/jakartaee/rest/pull/1107 to disable/skip the challenged test.

[2022-03-19 13:17] namedgraph commented on #468
@jansupol any news on this? The current behavior doesn't make sense in terms of URI specifications and everything that builds on them. Looking up triples in an RDF database by the HTTP request URI (this is how [Linked Data](https://en.wikipedia.org/wiki/Linked_data) works) will return two completely different resources, given that it contains URIs with and without the trailing slash.

I wonder who

[2022-03-22 16:24] #1106 closed

[2022-04-06 11:42] ivargrimstad opened #1108 "Finalize the Jakarta RESTful Web Services 3.1 Release"
Please complete these steps to finalize the release:

 - [ ] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
 - [ ] go through the merged jakarta.ee specification website page to verify all the links are valid.
 - [ ] if XML Schemas are published on https://jakarta.ee/sch

[2022-04-17 11:47] mkarg commented on #1108
@spericas Santiago, what are your plans regarding JAX-RS 3.1 final release? Are you waiting for more TCK coverage?

[2022-04-19 03:35] starksm64 opened #1109 "TCK tests using JAXB without xml_binding tag"
In looking at running the TCK against a Core Profile implementation that does not include JAXB support, I found the following tests executing even when excludedGroups=xml_binding was specified:

ee.jakarta.tck.ws.rs.api.rs.core.linkjaxbadapter.JAXRSClientIT#marshallTest/unmarshallTest

[2022-04-19 13:06] spericas commented on #1108
@mkarg The jars will be pushed to central today or tomorrow at the latest.

[2022-04-20 13:19] spericas commented on #1108
https://repo1.maven.org/maven2/jakarta/ws/rs/jakarta.ws.rs-api/3.1.0/

[2022-04-20 13:24] spericas commented on #1108
@jansupol Could you take care of the e-mail task above?

[2022-04-20 13:47] spericas commented on #979
@mkarg As you suggested, closing this one. Let's reopen one for 4.0.

[2022-04-20 13:47] #979 closed

[2022-04-20 13:50] spericas commented on #804
@mkarg Can we close this issue?

[2022-04-20 13:55] spericas commented on #1108
https://github.com/jakartaee/rest/projects/3

[2022-04-20 14:06] spericas commented on #1108
@ivargrimstad Looks like all tasks are now completed.

[2022-04-20 14:41] spericas opened #1110 "Prepare Jakarta REST release 3.1.1 after updating dependencies"
Consider preparing a 3.1.1 release if/when new versions of JAXB and activation are available.

[2022-04-20 14:45] jansupol commented on #1110
It is used for the tests, only, though.

[2022-04-23 10:49] mkarg commented on #804
Apparently there seems to be one issue open. @edwin-amoakwa  and @chkal Can you please send us a status update? Thanks.

[2022-04-23 10:50] mkarg commented on #1104
@spericas Are there any rules what the committers need to do for such an approval? I assume the EF wants us to perform specific tasks, right? So it might make sense to push a checklist with those tasks into this issue.

[2022-04-24 11:26] chkal commented on #804
@mkarg I just marked all of my tasks as completed, as the corresponding PRs were merged some time ago.

[2022-04-27 01:21] jamezp opened #1111 "Compatibility Certification Request for RESTEasy 6.1.0.Beta2"
* [x]  Organization Name ("Organization") and, if applicable, URL
  Red Hat, Inc
* [x]  Product Name, Version and download URL (if applicable)
  RESTEasy 6.1.0.Beta2, see TCK Result Summary for the download links
* [x]  Specification Name, Version and download URL
  [Jakarta RESTful Web Services 3.1](https://jakarta.ee/specifications/restful-ws/3.1/)
* [x]   TCK Version, digital SHA-256 fingerprin

[2022-04-30 09:13] mkarg commented on #804
@edwin-amoakwa Please respond. Thanks.

[2022-04-30 11:16] arjantijms commented on #804
A quick peek at the activity log of @edwin-amoakwa seems to suggest he may no longer be active on GitHub.

[2022-04-30 11:41] mkarg commented on #804
Is anybody willing to invest some time into the sole open point "References to existing Java EE technologies, acronyms, and JSRs are okay as long as they are properly attributed."?

@jelemux What about you? :-)

[2022-05-11 05:59] mkarg commented on #1111
I would like to repeat the test on my own machine. Is there a public document listing the needed commands, or is there a POM that I could simply execute?

[2022-05-11 06:27] mkarg opened #1112 "API for parsing URIs using templates"
Since its inception the JAX-RS API used templates in the `UriBuilder` and the `@Path` annotation. Time has proven that URI templates are very convenient. Unfortunately there are some use cases of templates uncovered by the Jakarta REST API. I'd like to propose to extend the API to support these use case, too:

* A client application or a filter / interceptor received a response containing an URI,

[2022-05-11 15:21] jamezp commented on #1111
@mkarg Sure thing. This is the project we're using https://github.com/resteasy/resteasy-tck-runner. The README should be straight forward, but please feel free to ping me if you've got questions.

[2022-05-12 16:23] rmannibucau commented on #951
Can you confirm you intend to break existing applications at two levels:

1. Force users to move from context to inject
2. Prevent users to distinguish between CDI and JAXRS beans without a custom qualifier (since currently context is considered as a classifier in several/most applications so you can have `@Inject Foo foo;` and `@Inject @Context Foo foo`  - with implicit or not `@Inject`)
3. Not b

[2022-05-12 16:41] arjantijms commented on #951
The gain is to go to a single component model, and not have 6 different ones, which all have their quirks in interaction and all have to be maintained separately. Faces moved to CDI in this release, and there's a long standing wish toi phase out EJB beans in favour of CDI compatible alternatives.

[2022-05-12 16:48] rmannibucau commented on #951
@arjantijms I get this point but can't you get it without any breaking change defining `@Context` as a qualifier? Will keep existing code working and unify the model anyway. So proposal is to:

1. deprecate `@Context` injection wtihout `@Inject` for fields/methods,
2. define `@Context` as being a qualifier when ran in a CDI container (SE or EE)
3. keep parameter injections as it is

This makes eve

[2022-05-12 16:58] arjantijms commented on #951
Redefining `Context` as qualifier might be an option to consider.

We did do this once with `jakarta.faces.convert.FacesConverter`, which was made retroactively a qualifier. It wasn't without its own issues though, although the mistake we made there was perhaps not switching over completely (it supports converters being CDI and old-style at the same time).

[2022-05-12 17:44] rmannibucau commented on #951
A side note is that CDI embracement is also about not keeping `SeBootstrap` unreleased class since defining CDI integration in JAXRS (scanning etc) solves wat SeBootstrap tries to do in a clumsy way since it requires users to either be fully explicit or reimplement the scanning + it does not promote what all implementations had been doing (cause it fits user requests) plus it has some other pitfal

[2022-05-12 18:05] spericas commented on #951
Redefining `@Context` as a qualifier isn't going to make the new Jakarta REST compatible. There are other significant differences (resource method parameters, context resolvers, entity params, etc.) that have been proposed and discussed. Moreover, making something that looks syntactically compatible but is semantically different is even worse (e.g, `@Context` can now be used in parameter position)

[2022-05-12 18:14] spericas commented on #951
@rmannibucau  On the topic of scanning, absolutely, CDI scanning should be part of the SE proposal.

[2022-05-12 18:29] rmannibucau commented on #951
@spericas well, if you want to enforce all JAXRS component to be CDI beans then you break 100% of JAXRS applications (most of features, body readers/writers etc are standalone instances and not even managed by CDI - which is good in general in terms of design for the application but also for libraries writers).
To make it CDI compatible you don't have to break anything, just keep the integration w

[2022-05-12 19:39] arjantijms commented on #951
It's best not to have that confusing difference.

People also thought in 2003 not everything could be a spring bean in Spring, but they hold on to that concept and it worked quite well for them.

For Faces, people also thought it could not use CDI exclusively, and there we are; using CDI exclusively. And for Jakarta Security, the same was thought; invent a semi component model that abstracts from

[2022-05-12 20:07] rmannibucau commented on #951
Not sure it is true, most jsf components are still not cdi beans and making it beans slows down things and  makes the app consuming way more mem.
Same for spring.
Whatever you want, the way jaxrs is defined it has its own ioc so handling standalone is cheap and easy to understand for the consumers i mentionned.
If you want to align it on cdi you should drop jaxrs filters, interceptors etc for the

[2022-05-12 22:04] arjantijms commented on #951
Faces UIComponents are not CDI beans, but I was referring to the managed beans (which are mostly used for backing beans). The own native managed bean / IOC facility of Faces has just been pruned and it's gone.

Internally several things are managed by CDI already, and there's more on the agenda. See e.g. https://arjan-tijms.omnifaces.org/p/jsf-23.html#cdi

What is the slow down exactly? And how mu

[2022-05-14 09:26] mkarg commented on #951
I'd like to propose to separate discussions into several issues, hence discuss replacing the annotation @Context by the annotation @Inject *separately* from enforcing the use of CDI, *separately* from how to deal with SeBootstrap shortcomings. There might be interrelations, but I assume it makes finding a consensus much easier.

[2022-05-14 09:42] rmannibucau commented on #951
Agree but it also needs an "epic" to coordinate all of them with consistency otherwise we would end up with local solutions and no global one IMHO.

[2022-05-14 14:29] mkarg commented on #951
Thank you for this idea, but actually I think the JAX-RS Committers have proven since years that they are pretty able to decide on their own how they organize their project.

[2022-05-14 18:05] rmannibucau commented on #951
@mkarg exactly, this is why I asked how governance would be handled to avoid errors on this topic but it is really up to you to make it specified (my only request is no breaking change nor new useless api as an user).

[2022-05-16 11:14] mkarg opened #1115 "Clarification: Priorities of parameter conversion rules"
In the specification we do list different ways of converting a String to a parameter. A user recently asked, if the sequence mentioned in the spec is actually a mandatory priority? Actually it is necessary to know the sequence of priorities in case *multple* rules do match a parameter, e. g. there is a publis String constructor *and* a valueOf-Method *and* a param converter.

As it is not explicit

[2022-05-16 11:15] mkarg commented on #804
As nobody is willing to chime in, and as the sole open issue is rather unimportant, I hereby close this umbrella issue. If someone thinks that open point was relevant, I kindly ask to open a separate issue in turn. Thanks.

[2022-05-16 11:15] #804 closed

[2022-05-16 11:25] arjantijms commented on #1115
Not directly answering the question, but I still would love to have these concerns split off to a separate converter spec. We're seeing similar issues and question in e.g. Jakarta Faces.

[2022-05-16 13:48] spericas commented on #951
@rmannibucau I'm sorry but I cannot disagree more with your assessment of MP. In my view, Jakarta EE is the one at risk here if it continues to rely on old specs and does not bring better integration and innovations into the platform soon. As I stated before, if backward compatibility is essential, 3.X will continue to be supported by vendors for a long time.

[2022-05-16 14:11] rmannibucau commented on #951
@spericas you assume moving forward means breaking. It implies that you take microprofile path, ie break each year *applications* enforcing coding for just upgrades (including security upgrade). This is a very bad experience for end user IMHO and technically not justifiable. Here, the topic is to specify the CDI integration in JAXRS spec, it is a relatively easy task - since all vendors did it alm

[2022-05-16 18:07] OndroMih commented on #951
Hi, my view on this is sort of mixed but practical. I've always had problems with @Context injection, which works completely on its own and doesn't even rely on plain @Inject like Batch injection does. On the other hand, I don't see much value in dropping @Context if it only means more work on the spec to remove it from the API, docs and tests. The only benefit for removing I see is that new poten

[2022-05-16 19:19] arjantijms commented on #951
Well... actually it is. It's just that the parameters don't need to have the @Inject annotation applied to it. Producers and constructors use this all the time.

For instance:

[code]

Here, the `interceptionFactory` and `beanManager` parameters are not part of any method signature and can be declared in any order, and any amount of parameters can be specified here. CDI will inject them as require

[2022-05-16 19:24] arjantijms commented on #951
In a way dropping @Context has already been in progress for give or take 13 to 14 years. Yes, that process already started before JAX-RS was released in 2009.

Somewhere around 2008 @gavinking noticed that the JAX-RS team was duplicating the efforts of the CDI team and went out to talk to them. It has been lost in history what exactly transpired in that talk, but shortly before the release of EE 6

[2022-05-16 20:14] spericas commented on #951
CDI was fairly new and "unproven" at the time and it did not support SE in the early days. JAX-RS had other requirements that were difficult to achieve with a direct dependency on CDI. Times have changed, CDI is a core component in EE and MP, so there is no need to duplicate efforts any longer and make JAX-RS implementations complicated.

[2022-05-16 20:22] spericas commented on #951
They are not useless. You could argue entity interceptors could be replaced (they don't really have to), but most of the other JAX-RS providers are far from useless.

[2022-05-16 20:32] arjantijms commented on #951
Are you sure? I can't remember that being stated anywhere at the time (or currently). Do you have any historical evidence for this? (not trying to be smart here, I spend a great amount of time finding out about the history of bean models and injection and writing about it for my CDI book).

At any length, CDI can be bridged to another component model / IoC just as well. Perhaps better even.

[2022-05-16 20:50] gavinking commented on #951
Haha OMG also entirely and completely lost to my memory. But it sounds like something that would have happened.

[2022-05-16 20:57] gavinking commented on #951
Mmmm. Naively this doesn't really sound quite right to me. How does JAX-RS having its totally own native thing help integrate with other dependency injection mechanisms? I believe the real reason was more likely that JAX-RS existed before CDI. If you want something more "neutral", `@Inject` is that something, IMO, not `@Context`.

P.S. It's probably _not_ viable, but since `@Inject` itself is not

[2022-05-17 06:37] rmannibucau commented on #951
Guys, do you think #cdi is @Inject? Concretely if jaxrs goes #cdi it will never run on spring or guice because too much feature are missing. @Inject is another spec but it lacks any behabior definition so it is not usable as an IoC basis to a spec so at the end CDI implies what I explained.

Regardong the goal to be portable it is what I got as explanation why it was not CDI, "off" discussion was

[2022-05-20 21:50] mkarg commented on #951
The sole reason why JAX-RS does not use CDI simply is that when we invented JAX-RS simply CDI did not even exist, but we wanted to have context injection.

The sole reason why JAX-RS has filter and interceptor chains has nothing to with CDI at all but solely with the fact that we standardized around already existing standards and products: I copied the idea of Servlet filters while Bill Burke copi

[2022-05-20 22:00] mkarg commented on #951
Certainly they are not (not even interceptors, even if I doubted that back then when Bill Burke came up with it). Romain simply does not know the actual history. When back then I came up with the idea of adding a filter chain to JAX-RS I actually came from Servlet filters and, you won't believe but it is true, my first implementation of JAX-RS filter chain in fact was not written in Java at all bu

[2022-05-20 22:07] mkarg commented on #1115
+1 for supporting such a spec once it is there, but for the time being readers of the spec need an unambiguous answer on the originl question

[2022-05-21 07:37] rmannibucau commented on #951
@mkarg please don't write wrong things.

Indeed it was there since they got published at the same time and it wouldnt have bezn the same time two specs work together for an EE release, was a wish. That said it does not help JAXRS to embrace CDI today without inventing a new peogramming model.

JAXRS only targets Java by design - API is java to have a trivial example - so not sure I understand the

[2022-05-21 13:32] mkarg commented on #951
I don't. You just misunderstand what "being there" means: Something that is *already* released and widely used. CDI was *not* release before JAX-RS, so it *was not there*. CDI was completely new, it came from a specific field of use, it was unclear if it will be here to stay.

This is not true. JAX-RS aims for Java on the API side. The implementor's side is free of choice. Just like a RDMS can be

[2022-05-28 14:32] mkarg commented on #1115
@jansupol @andymc12 @chkal @spericas Is this core proposal OK for you then please briefly confirm, so I will turn it into a MR. Thanks.

[2022-05-28 14:33] mkarg commented on #1112
@jansupol @andymc12 @chkal @jelemux I would like to hear some initial opinion of you on this proposal, so I know whether it makes sense for me to turn it into a PR. Thanks.

[2022-05-28 15:24] mkarg commented on #1111
I confirm that the product passes the TCK suite successfully:

[2022-05-29 10:06] chkal commented on #1115
I'm fine with your proposal of enforcing the order as currently listed in the spec. :+1:

[2022-05-29 11:06] chkal commented on #1112
I basically like the idea. IMO creating something like a `UriTemplate` class representing a template and providing methods to match a concrete URI against the template to extract the named parameters would be a first step.

[2022-05-31 15:12] jamezp commented on #1111
Thank you @mkarg!

[2022-06-11 13:15] mkarg commented on #1111
In what regard? What do you expect to happen?

[2022-06-12 15:03] arjantijms commented on #1111
I think that the request needs to be accepted and then closed. See e.g. https://github.com/jakartaee/faces/issues/1673

[2022-06-12 15:04] arjantijms commented on #1111
A committer I assert this is complete and therefor accepted.

[2022-06-12 15:04] #1111 closed

[2022-06-13 14:44] jamezp commented on #1111
Thank you all. TBH I wasn't too sure what to expect with the exception of having RESTEasy listed as a compatible implementation :)

[2022-06-14 20:00] jansupol commented on #1115
I was under the impression that the Spec already defines the order in Section 3.2. String consuming argument has priority to fromString, valueOf. I am not convinced that the change of order - another incompatibility - would help the users.

[2022-06-14 20:57] jansupol commented on #1112
Sounds useful, but a couple of comments:

Not `UriInfo`, it is applicable on the server-side only.

This sounds difficult on the client side.

There was the idea to drop `RuntimeDelegate` in 4.0. Have we dropped the idea to drop it?

[2022-06-15 13:15] spericas commented on #1115
The spec lists the _types_ that are supported in connection with those "injection" points. It sort of establishes an order for how the conversion should proceed (should more than one alternative is available), but it is not very explicit. I'm fine with the proposal.

[2022-06-15 13:17] spericas commented on #1110
@jansupol Do you know if we can update this now?

[2022-06-15 13:25] spericas commented on #1101
We should adopt the CDI rules assuming we turn Application subclasses into proper beans.

[2022-06-15 17:35] rmannibucau commented on #951
@jamezp JAXRS-CDI integration already handles that AFAIK (only some implementations doing reflection on proxy without unwrapping have bugs but it is out of spec), `@Inherited` meaning seems unrelated to the linked issues and means something else so not sure it would help.

[2022-06-15 17:57] jamezp commented on #951
@rmannibucau I guess I was thinking more of the user, but maybe that doesn't matter. For example:
[code]

Essentially anything the user injects. Granted, I could see a change like this as a backwards incompatible issue. However, if we're trying to move towards CDI then it seems like a reasonable expectation.

I came across this implementing CDI support for the SeBootstrap instance in RESTEasy and

[2022-06-16 00:46] jamezp commented on #1110
The spec does [state](Jakarta® XML Binding, Version 3.0 https://jakarta.ee/specifications/xml-binding/3.0/)

However, I see failing platform signature TCK tests due to the `jakarta.ws.rs.core.Link$JaxbAdapter`. I think it makes sense to require 4.0, but that feels strange in a micro release.

[2022-06-16 05:42] jansupol commented on #1110
What do you mean by micro release? Microprofile is aligned with EE 9, and for microservices, the JAXB should be purely optional.

[2022-06-16 06:07] jansupol commented on #1110
I could not find it in the[ spec document](https://jakarta.ee/specifications/restful-ws/3.1/jakarta-restful-ws-spec-3.1.pdf). The API already depends on JAX-B 4.0 Final API, Only the test dependency is on 4.0.0-M4. Do we need to release the new API because of the test dependency?

The platform TCK/signature tests are not final, yet. There is still time to update the signature records.

[2022-06-16 13:34] jamezp commented on #1110
I just meant it seems weird to migrate to Jakarta XML Binding 4.0 in a 3.1.1 release. A major or minor bump in the version would make more sense in general. However, I understand that is not possible.

[2022-06-17 14:29] jansupol commented on #1111
I remember there was a need to send an email to tck@eclipse.org with "Approval to claim Jakarta RESTful Web Services 3.1 compatibility for <project name>" subject, so I was not sure who is about to react to this request...

[2022-06-27 14:41] ArneLimburg commented on #951
What about this proposal:
Deprecate the usage of JAX-RS specific Classes/Interfaces (I mean all that can be injected via @Context) as HTTP body.

Once this is done, we can simply recognize the Request body from every List of method paramters without using @Context).

After that we could deprecate @Context and finally remove it. Field injection then would be via @Inject and parameter injection by t

[2022-06-28 15:42] brideck commented on #1109
I saw your update, but it looks like you still didn't remove `ee.jakarta.tck.ws.rs.spec.provider.standardhaspriority.JAXRSClientIT.*` from the list of what's run for Core Profile.  From looking at the test class, I can see that an effort was made to mark a single test method as requiring JAXB, but there's too much usage of `JAXBElement` throughout the test application so it can't initialize, at le

[2022-06-28 16:20] brideck commented on #1109
I'm also not sure that the proposed/implemented solution is the best one for the `xml_binding` issue.  That is not strictly a Core Profile problem, XML Binding is optional full stop, not just in certain profiles, and the correct set of tests really needs to be identified in the TCK itself.

[2022-06-28 17:16] starksm64 commented on #1109
So the ee.jakarta.tck.ws.rs.spec.provider.standardhaspriority.JAXRSClientIT.readWriteJaxbProviderTest test that uses JAXBElement is marked with @Tag("xml_binding"). I wonder if the JAXBElement reference in that test method was changed to a fully qualified class name and not in the imports if that would avoid attempting to load JAXBElement during initialization.

[2022-06-28 17:21] starksm64 commented on #1109
Looking at how the compiler handles imports, it seems that it makes no difference whether a class is explicitly imported or used as a fully qualified type. This means that xml_binding tests need to be factored into a separate artifacts.

[2022-06-28 18:32] brideck commented on #1109
Right, in this case it's not enough to just mark the individual test method.  The application itself has further references to JAXBElement.  In the case of OL, it's the reference in `ee.jakarta.tck.ws.rs.spec.provider.standardhaspriority.Resource` that causes the servlet to fail to initialize.

[2022-06-29 06:44] starksm64 commented on #1109
So another workaround that will work for any profile would be to simply attach the jaxb api jar to the test archive using
an org.jboss.arquillian.container.test.spi.client.deployment.ApplicationArchiveProcessor implementation. There is an example of this in this test project:

https://github.com/jakartaredhat/jaxbtestjar

We discuss tomorrow in the tck call.

[2022-06-29 15:20] scottmarlow commented on #1109
Could a  committer please add the TCK Challenge to this issue.

[2022-06-29 15:22] scottmarlow commented on #1109
Note that the XML Binding use in REST in EE 9.1, had keyword.properties entries to allow XML Binding tests to be excluded.

[2022-06-29 21:49] brideck commented on #1109
Here's our proposed TCK update: https://github.com/jakartaee/rest/pull/1117

I've verified that this successfully excludes the remaining tests with XML Binding dependencies and we get the expected results with Open Liberty.  It would be a good thing for another implementation to also verify that everything works as expected.

[2022-06-30 00:43] starksm64 commented on #1109
That PR works for WildFly.

[2022-06-30 05:13] brideck commented on #1109
Groovy.  So if we can get the REST group to formally approve this challenge, we can go ahead and get that update merged.

[2022-06-30 15:01] spericas commented on #1109
I'd like @jansupol to comment on this issue, I believe he is back from vacation next week.

[2022-06-30 15:24] brideck commented on #1109
For reference, this is the set of tests that was previously marked as `xml_binding` when this was part of the Platform TCK.
[code]

To summarize, the proposed change here restores the tags that were not ported over from the Platform TCK for the two SSE test classes and expands the tagging for the `standardhaspriority` test that was previously excluded.  The `standardhaspriority` test could be refa

[2022-07-06 14:06] spericas commented on #1109
@starksm64 I believe @jansupol should be back from vacation tomorrow. Will ping him.

[2022-07-07 17:15] Emily-Jiang commented on #1109
Addressed by #1117

[2022-07-07 22:05] jansupol commented on #1109
I have commented on the PR. One test class seems irrelevant to the missing JAX-B to me.

[2022-07-08 00:08] jansupol opened #1118 "Split com.sun.ts.tests.jaxrs.spec.provider.standardhaspriority into two"
The Resource class contains a reference for the JAXBElement, which makes the tests irrelevant for JAX-B fail.
After the split, the `@Tag("xml_binding")` annotations can be removed.

[2022-07-08 00:10] jansupol commented on #1109
I was wrong, I approved the PR.

[2022-07-10 15:07] starksm64 commented on #1109
So at this point a new service release of the tck is needed and a PR to update the jakarta.ee page via the https://github.com/jakartaee/specifications/ repo.

[2022-07-13 14:57] brideck opened #1120 "ee.jakarta.tck.ws.rs.ee.rs.container.requestcontext.JAXRSClientIT should be excluded from Core Profile executions"
The application used for the ee.jakarta.tck.ws.rs.ee.rs.container.requestcontext tests has an explicit dependency on Servlet, which is not part of Core Profile.

https://github.com/jakartaee/rest/blob/master/jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/ee/rs/container/requestcontext/Resource.java#L19

There should be an exclusion group that includes these tests for vendors certifying Core Profile

[2022-07-13 15:46] jansupol commented on #1118
Also related https://github.com/jakartaee/rest/issues/1120

[2022-07-13 17:31] brideck commented on #1120
Per the discussion on the TCK call earlier today, the proposal would be to tag this one as belonging to a "servlet" group.

[2022-07-13 17:38] brideck opened #1121 "ee.jakarta.tck.ws.rs.ee.rs.core.securitycontext.basic.JAXRSBasicClientIT should be excluded from Core Profile executions"
These tests are dependent on Authorization being enabled on the server under test.  Since no security specifications are a part of Core Profile, these tests should be part of an exclusion group for vendors certifying Core Profile in the absence of security.

https://github.com/jakartaee/rest/blob/master/jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/ee/rs/core/securitycontext/basic/JAXRSBasicClientI

[2022-07-13 17:39] brideck commented on #1121
Per the discussion on the TCK call earlier today, the proposal would be to tag this one as belonging to a "security" group.

[2022-07-15 15:15] Pandrex247 opened #1123 "TCK Challenge: `!Future.isDone` Issues with `ee.jakarta.tck.ws.rs.jaxrs21.ee.client.executor.rx.JAXRSClientIT` & `ee.jakarta.tck.ws.rs.jaxrs21.ee.client.rxinvoker.JAXRSClientIT`"
### Specification:
Jakarta RESTful Web Services

### Challenged Test(s):
* [ee.jakarta.tck.ws.rs.jaxrs21.ee.client.executor.rx.JAXRSClientIT](https://github.com/jakartaee/rest/blob/master/jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs21/ee/client/executor/rx/JAXRSClientIT.java) - all that call [checkFutureOkResponse](https://github.com/jakartaee/rest/blob/master/jaxrs-tck/src/main/java/ee/jaka

[2022-07-16 21:46] jansupol commented on #1123
The check is there to verify the asynchronous-ity of the reactive calls, i.e. that the request was not blocking and the future was not done because of the synchronous blocking request. It is possible the computers are too fast these days to make the async request and the tests should be adjusted to check this in a better way.

[2022-07-16 21:54] jansupol commented on #1123
Eh, by blocking I mean blocking the main thread since the rx calls are meant to be in separate threads.

[2022-07-18 08:08] #1120 closed

[2022-07-18 09:36] alwin-joseph commented on #1120
New TCK bundle is generated at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee10/staged/eftl/jakarta-restful-ws-tck-3.1.1.zip with this resolved.

[2022-07-18 15:27] jamezp commented on #1123
+1 to this. I was never able to get the TCK to pass with RESTEasy on GitHub Actions because of these issues.

[2022-07-18 18:01] alwin-joseph commented on #1121
Sure no issues. Can you please review https://github.com/jakartaee/rest/pull/1124 .

[2022-07-19 09:18] #1121 closed

[2022-07-19 09:18] #1110 closed

[2022-07-19 09:47] alwin-joseph commented on #1121
@starksm64 @brideck
TCK bundle at https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee10/staged/eftl/jakarta-restful-ws-tck-3.1.1.zip is updated with changes in PR https://github.com/jakartaee/rest/pull/1124.

[2022-07-19 15:29] brideck commented on #1121
New TCK bundle looks good to me now.

My test count for Core with all of the excludes in place is 2647.

[2022-07-19 23:33] starksm64 commented on #1121
I see 2654 with the latest 3.1.1 staged bundle:

[code]

@brideck Do you have your pom.xml somewhere I can look at the configuration?