[2019-08-02 20:54] mkarg commented on #789
@jansupol I share your point of view. ;-)

[2019-08-03 08:56] chkal commented on #788
AFAIK this was decided by the spec committee.

[2019-08-03 11:31] mkarg commented on #788
The spec committee can only decide what *they* will do, not *who* will it do.

[2019-08-05 13:27] spericas commented on #788
+1 for the creation of the new branch.

[2019-08-05 13:46] spericas commented on #468
@cowwoc If you're suggesting that the spec should distinguished URLs and paths with and without trailing slashes, I don't think it would be possible. This _normalization_ step was introduced in version 1.0 and it is in the fabric of the matching algorithm as I remember it (and in the way path values are converted into regexp).

[2019-08-05 13:52] cowwoc commented on #468
@spericas I am suggesting exactly that. I understand that this design mistake is woven into the core of the matching algorithm but you can't ignore the fact that URI handling is fundamental to REST APIs and the spec gets it wrong.

Just fix this in the next major version.

[2019-08-05 14:09] spericas commented on #468
I think it was the correct decision at the time, the alternative introduces a lot of gotchas too when developing REST services. It is also not a backward compatible change and has the potential of breaking tons of existing applications.

[2019-08-05 14:37] cowwoc commented on #468
@spericas Those "gotchas" are how URIs work :) Seriously... you are implementing the interface (specification) of a URI and your implementation breaks the contract. I've never disputed that this breaks backwards compatibility for users of JAX-RS but you should know that anyone who interfaces with JAX-RS servers from the outside will run into problems. JS clients transform URIs coming in/out of the

[2019-08-05 15:09] spericas commented on #468
@cowwoc First, I don't think the situation is a bad as you describe it. People have been using JAX-RS with JS clients for years (certainly I have) and these technologies have been able to co-exist.
Second, I'm not sure what you mean by "your specification", it is certainly not mine, and in fact I didn't even participate in the first version of it.
Third, I find this discussion really academic at t

[2019-08-05 15:25] cowwoc commented on #468
Let's keep the door open for 3.0 then.

[2019-08-05 15:33] jansupol commented on #788
Would you not want a prove the API + Compatible Implementation passed the TCK?

[2019-08-05 17:14] mkarg commented on #468
As 3.0 definitively will break any existing application anyways, I think it is worth continuing the discussion.

[2019-08-05 17:17] mkarg commented on #788
I want to proof that Jersey passed the TCK, i. e. store the proof *there*. I do not want to proof JAX-RS itself, so I do not want to store this Jersey-specific information in the JAX-RS repo.

[2019-08-06 16:18] igbluz commented on #418
Hi, as a User of JAX-RS I am looking forward to have one day multipart support defined as standard and that vendors are able to do some good implementation so that I can use it in a easy way.  It is a very common use case for us and I think for many in insurance and banking area and so should be supported by the JAX-RS API out of the box. So please continue with the effort to standardize for after

[2019-08-07 12:39] mkarg commented on #418
As "the big three" support multiform, it might be the time to discuss the adoption to our roadmap. Suggestions? :-)

[2019-08-07 12:43] mkarg commented on #787
@eclipse-ee4j/eclipse-jaxrs More opinions, particularly from the vendors?

[2019-08-07 12:48] mkarg opened #790 "UriBuilder.fromResource and interfaces"
Apparently Jersey just checks the resource class itself, but not its interfaces, for `@Path`. The spec/javadocs are ambiguous here, as it is neither enforced for forbidden to check the interfaces of the root resource class.

From the view of a user, it would be great if all implementations MUST check all interfaces of the root resource class, not just the class itself.

Do we need to improve the j

[2019-08-07 16:28] chkal commented on #790
I think JAX-RS should use the same annotation inheritance rules for `UriBuilder.fromResource` as for the server-side (which are described in section 3.6 of the spec). This would be most consistent.

[2019-08-07 16:29] chkal commented on #418
+100

For me CDI alignment and multipart support are on the top of my priority list!

[2019-08-07 17:34] andymc12 commented on #787
+1 - I agree that `@ApplicationPath` should be supported in SE environments.

[2019-08-08 14:04] mkarg commented on #742
+1

This would also allow to use default type adapters for generic type (so you cannot register them at the class itself as neither the class nor the generic class is yours), e. g. when dealing with `List<UUID>`.

[2019-08-08 14:06] mkarg commented on #742
Added to Discussion 2.3 in the WIKI: https://github.com/eclipse-ee4j/jaxrs-api/wiki/JAX-RS-2.3-Discussion.

[2019-08-09 07:11] mkarg commented on #787
@andymc12 Do you know whether IBM and Apache products actually do support this *already*?

[2019-08-09 07:13] mkarg commented on #418
Shall we add it to 2.3 or 3.0?

[2019-08-09 07:13] mkarg commented on #790
@eclipse-ee4j/eclipse-jaxrs Vendors, what do you think?

[2019-08-09 14:01] andymc12 commented on #787
They do not currently support the Jakarta Java SE APIs.

[2019-08-09 14:03] andymc12 commented on #418
I'd say the sooner, the better.  If it's too late to put into 2.2, then I'd vote for 2.3.

[2019-08-09 17:24] igbluz commented on #418
+1

Great to see the work progress.

Best regard,

Igor

[2019-08-10 07:55] mkarg commented on #418
@asoldano @jansupol +1 for adopting this in 2.3 already?

[2019-08-12 21:34] mkarg commented on #51
@mkarg Reported by me.

[2019-08-14 01:02] damnhandy commented on #633
I just ran across this issue after doing a search for the same topic and realized I never followed up on it :) @spericas I was actually considering this for a 3.0 feature. Adding it to the 2.x spec seems rather disruptive. The challenge is that moving between JAX-RS implementations while using the same CDI implementation yield very different results. So yes @chkal, this is indeed about improving i

[2019-08-15 17:56] jansupol commented on #788
The original information I got that the TCK result is to be stored in the API repository was changed. The information is [stored in Jersey repo](https://github.com/eclipse-ee4j/jersey/blob/gh-pages/tck/jakarta-restful-web-services-2.1.md) indeed.

The branch for the web pages for the API still makes sense to me, to store some API specific information there.

[2019-08-15 18:09] mkarg commented on #788
It might be useful to have JavaDocs, for example. :-)

[2019-08-16 14:11] MarkusKull opened #792 "Clarify StatusInfo#equals"
It is a known pitfall to compare Response#getStatusInfo with one of the Status-Enums as this will return unexpected results when reasonphrase differs. Happens especially with Tomcat8.5+.

See https://blog.zenika.com/2017/05/22/some-notes-about-jax-rs-http-statuses-and-tomcat/

Even if one wanted, this cannot be fixed by overriding `equals` because `Enum`-Baseclass of `Status` declares `equals` as

[2019-08-16 14:18] starksm64 commented on #789
That is outlined in the https://github.com/jakartaee/specification-committee/blob/master/process.adoc document. The specification project members are responsible for vetting the validity of the certification request. See the Certification Resolution section of that Jakarta EE TCK Process 1.0 document.

[2019-08-16 14:34] spericas commented on #789
+1

[2019-08-16 15:21] mkarg commented on #789
@jansupol @spericas I wonder if this request can be processed due to formal reasons: Neither JAX-RS 2.1.6 nor the TCK is officially released. So how can we certify compliance?

[2019-08-16 15:23] mkarg commented on #792
I wonder why you not simply ask to make `equals` *work correctly*?

[2019-08-16 18:35] bshannon commented on #789
This looks good, although the TCK results summary needs to duplicate all the information from this certification request.  Usually we've just been copying and pasting the content to the top of the TCK results page.  See for example the [Jakarta Mail TCK results page](https://eclipse-ee4j.github.io/mail/TCK-Results).

[2019-08-18 10:04] mkarg commented on #787
@jansupol @asoldano Would be great if you could post you opinion. Thanks. :-)

[2019-08-18 10:05] mkarg commented on #790
@jansupol @andymc12 @asoldano Can you please post your opinion on this question?

[2019-08-19 06:57] MarkusKull commented on #792
@mkarg Try it: "Cannot override the final method `equals` from `Enum<Status>`"

Overriding only `StatusInfo#equals` would work partly for that comparison-order, but not when users call `Status#equals`. For a transitive `equals`, more has to be done:
- change `Status` to an non-instantiable class instead of an enum and change former enum-members to constants of type `StatusType`. (Except for compat

[2019-08-19 08:23] mkarg commented on #792
I think it would be worth letting the committers discuss that. ;-)

[2019-08-20 15:23] andymc12 commented on #790
I don't have any strong opinions here.  FWIW, the spec seems clear to me that only annotations on the resource _class_ are portable, but there is text to indicate that other implementors are free to change behavior.

[2019-08-20 15:49] jansupol commented on #770
I am sorry to be swamped with the Jakarta/Jersey 2.29.1 release. Will get to it immediately when that's done

[2019-08-22 11:49] bertysentry commented on #468
+1
Got the same problem here. Client may request a URI with or without a slash, and it won't mean the same thing. My JAX-RS backend treats it the same way. It is annoying. But I guess we'll need to cope with that...

[2019-08-23 16:51] arjantijms commented on #789
+1

[2019-08-24 10:34] chkal commented on #789
+1

[2019-08-26 15:15] asoldano commented on #789
+1

[2019-08-27 14:14] m0mus commented on #789
+1

[2019-08-27 14:18] Tomas-Kraus commented on #789
+1

[2019-08-27 14:38] jansupol commented on #789
We have the API in staging, we have the TCK available in Eclipse download page. Once this is approved and the API is released then everybody will see the API and the TCK that is used to test the compliance. The process is just being created and is new to me as well, if you can see any flaws in the process there is the Specification committee and Steering committee to give the most relevant answers

[2019-09-02 15:46] kwsutter commented on #789
@jansupol Could you please update the TCK link on this CR and the TCK-Results page to point at the official location of the TCK?  https://download.eclipse.org/jakartaee/restful-ws/2.1/?d. Thanks!

[2019-09-03 17:29] mkarg commented on #789
@kwsutter There is an *official* location for the Jakarta REST TCK? What is our technical way to push our binaries there? Maybe it's just me, but I cannot remember that the Jakarta REST committers had been officially informed about that *official* location. Can someone please point me to that information, seems I missed that.

[2019-09-04 03:45] bshannon commented on #789
Yes, there's an official location where Eclipse will publish the approved and digitally signed
versions of the TCKs that can be used for making claims of compatibility.  I don't remember
all the places we've described this, but it's in the [spec review checklist](https://github.com/jakartaee/specification-committee/blob/master/spec_review_checklist.md) and mentioned with
less detail in the [TCK pr

[2019-09-04 14:07] mkarg commented on #789
Uhm... what is a "*Spec* Pull Request"?

[2019-09-04 14:50] spericas commented on #789
@mkarg https://github.com/jakartaee/specifications/pull/7

[2019-09-05 14:12] jansupol commented on #789
Approved by [Lazy Consensus](https://github.com/jakartaee/specification-committee/blob/master/process.adoc#certification-resolution) and can be closed.

[2019-09-05 14:12] #789 closed

[2019-09-05 19:24] edbratt commented on #789
Revised the d/l link to point at final TCK URL.

[2019-09-10 13:08] olotenko opened #793 "RxInvoker API unnecessarily restrictive"
`RxInvoker.getRxInvoker` receives a `SyncInvoker`. This makes no sense in modern world.

A consequence of this is that developers are enticed to use `SyncInvoker` interface, as is done by org/glassfish/jersey/client/JerseyCompletionStageRxInvoker.java, for example.

Proposal: update the API to require `AsyncInvoker`.

Expectation: `RxInvoker` should be as good as `AsyncInvoker`, just providing a b

[2019-09-10 13:43] spericas commented on #793
Seems reasonable to me +1

[2019-09-10 14:00] olotenko opened #794 "JerseyCompletionStageRxInvoker should use AsyncInvoker"
Expected: configure asynchronous thread pool the size of CPU count, be able to saturate CPU with long-running requests to other services.

Actual: CPU mostly idle. `RxInvoker` uses `SyncInvoker`, and Jersey Client does the straightforward thing, which consumes the threads waiting for response.

If #793 is addressed at the API level, so much the better. If #793 is not fixed, at least we probably ca

[2019-09-10 14:33] olotenko commented on #794
Apologies, meant to file as a Jersey issue. Moved to https://github.com/eclipse-ee4j/jersey/issues/4255.

[2019-09-10 14:33] #794 closed

[2019-09-11 07:30] mkarg commented on #776
IIUC then Jakarta EE 8 is released including JAX-RS 2.1.6, so can we close this issue or is there still work to do?

[2019-09-11 07:44] mkarg opened #795 "Clarification: How to deal with empty entity + Content-Type header?"
Apparently the JAX-RS client API's `SyncInvoker.post(Entity.entity(null, Non-Null-Media-Type)` actually will `POST` an empty entity decorated with `Content-Type: Non-Null-Media-Type`. It's doubtful whether this is allowed by the HTTP spec, but _it in fact works_. So for the sake of *this* discussion, it is out of scope whether this is valid HTTP, but de-facto it can be done right now, so we need t

[2019-09-11 07:45] mkarg commented on #795
@jansupol @asoldano @andymc12 Vendor opinions?

[2019-09-11 13:29] spericas commented on #795
My take on this is that our API should _not_ get into the business of imposing these type of restrictions (especially since if you start, it is unclear to me where you end).

As for your use case, I believe Jersey or the JSON library in question (or even the application) should handle this case in a manner that is compatible with the application's semantics.

[2019-09-11 13:32] spericas commented on #776
I think so. Closing it now.

[2019-09-11 13:32] #776 closed

[2019-09-11 14:12] andymc12 commented on #795
I agree with @spericas - if we wanted to make a change, maybe some sort of wording in the spec like "implementations _should_ log a warning when the client attempts to pass a null value while setting a content type".

[2019-09-11 14:13] mkarg commented on #795
That's what I first thought, too. But in fact, why should Jersey or Johnzon do that? Both fulfil an API and pass the TCK. The problem is that neither JAX-RS MBW API nor JSONB API clearly demand that empty input streams MUST result in `null`, so it is up to each product to do that or fail -- both fulfils the current wording. That's why I think we need to enforce in the JavaDocs that MBWs *MUST* be

[2019-09-11 23:02] ronsigal commented on #554
I think that, if I live to be 120, I'll still find something new in the JAX-RS spec. I withdraw my objection to the use of @DefaultValue for @PathParam, for two reasons:

1. The spec says (Section 3.4 "URI Templates"): "Note that if a URI template is used on a method, a path parameter injected in a field or property may not be available (set to null )." The example given has
[code]
where {id} appe

[2019-09-13 08:02] mkarg commented on #795
@chkal What do you think?

[2019-09-15 09:07] chkal commented on #795
I don't think that we should log warnings on the client side in this situation. If the user sends an empty body with a content type, there may be a good reason to do so.

How an empty request body is handled on the server side highly depend on the media type. For XML and JSON this may be considered to be invalid (throw exception) or not (deserialize null), depending on how you look at it. But imag

[2019-09-16 13:08] kaefer3000 commented on #468
+1

I work a lot with RDF, where URI equality is crucial and determined using String equality. In case of relative URIs in responses that come from RESTful APIs, the URI of the resource determines the URI to resolve against, and is thus important to be "deterministic". If in JAX-RS, they may or may not come with a slash, this makes it hard to work with the API. I wrote a number of classes to deal

[2019-09-16 13:17] kaefer3000 opened #796 "Make request URI / UriInfo available in MessageBodyReader for client (and not just server)"
**tl;dr**: `UriInfo` is not available in a `MessageBodyReader` of a *client* implementation. Thus, I cannot get the request's URI to resolve relative URIs against.

**Long description:** I am implementing a custom `MessageBodyReader` (for processing RDF) that needs to resolve URIs against the request URI during processing. If the `MessageBodyReader` is used in a JAX-RS *server* implementation, whi

[2019-09-16 22:10] mkarg commented on #795
@chkal I agree with this, but JSON-B is a special case: JAX-RS spec explicitly requires products to accept that media type when it supports JSON-B, so an application that relies on the JAX-RS spec must find a reliable behavior of the various JAX-RS products (otherwise it makes no sense at all to require this particular media type mapping). Hence either we drop the particular JSON-B media type mapp

[2019-09-17 15:33] chkal commented on #795
Yes, JSON-B is definitely a special case. It looks like we agree that the question of how empty entities should be handled cannot be defined in a generic way on the MBR API level. So *if* we want to clarify anything, we should do it explicitly for JSON-B. However, IMO this is out of scope for us. The spec just tells products that they must provide entity providers for JSON-B (if available). But th

[2019-09-17 17:03] mkarg commented on #795
The problem is that this won't work, as the JSON-B API clearly says that the parser methods are only there for parsing _JSON_, but an empty stream *is not* JSON! So your proposal would not be backwards compatible! Hence, it is not enough that an MBR forwards the input stream to JSON-B. Again, it is *our* problem that we allow this combination to be received as we do not clearly define what the out

[2019-09-19 05:04] chkal commented on #795
Well, but it cannot be our responsibility to verify that the submitted data is valid JSON or not. Following this argumentation, we would also have to verify that the request contains JSON data and not some random binary data BEFORE we pass it to JAXB, which we cannot do.

[2019-09-19 05:42] mkarg commented on #795
@chkal There is a difference: An empty stream is always a special case, it is *never* valid data. So as long as our spec contains explicit rules for JSON-B, we *have* to decide how to deal with that special case. Otherwise it makes no sense to mention JSON-B in our spec at all, as the result is completely random depending on which implementation of the MBW is in actual use. What the spec wants is

[2019-09-20 13:00] FroMage opened #797 "SSE API issues with async operations"
I don't think the spec is consistent with async programming or proper usage of `CompletionStage` when it comes to SSE handling. For example, this documentation of `SseEventSink`:

[code]

This implies that the act of sending the even can be asynchronous (otherwise why bother returning a `CompletionStage` at all?), and completion can only be obtained by listening for the returned `CompletionStage`.

[2019-09-20 13:58] spericas commented on #797
First, I agree that the Javadocs can be improved. Having said that, I think the original intent of this API was to separate _queueing_ from _network delivery_ --much like you would in any system based on event loops.

Calling `send()` accepts the message for queueing but does not guarantee network delivery. It follows that calling `send()` multiple times _does_ guarantee ordering (a queue). The re

[2019-09-20 14:07] FroMage commented on #797
Guaranteeing the queue ordering is a good thing.

As for `close` being synchronous instead of async, it would permit people to ignore the values returned from `send` but it would completely defeat any possibility of writing being async. After all, if `send` queue things without blocking, `close` would then be guaranteed to block and defeat the whole purpose of `send` being async in the first place

[2019-09-20 15:25] chkal commented on #795
As mentioned before: In the context of JSON-B: Yes, it is invalid! In the context of other entity providers: We don't know, it depends on the provider.

Not sure if I agree on this one. AFAIK there aren't *explicit* rules for JSON-B. We just enforce that environments that support JSON-B must provide an entity provider for it. That's all. It's actually just single sentence. Although it depends on y

[2019-09-20 15:57] spericas commented on #795
In complete agreement with @chkal

[2019-09-21 14:02] basgm45 commented on #535
dfgdfgdfgfdgfdgdfgfdg

[2019-09-25 20:06] mkarg commented on #795
This will be incompatible with the JavaDocs of MBR: "_In case the entity input stream is empty, the reader is expected to either return a Java representation of a zero-length entity or throw a `jakarta.ws.rs.core.NoContentException` in case no zero-length entity representation is defined for the supported Java type._"

The code you suppose will *neither* return a zero-length entity *nor* will it t

[2019-09-26 05:26] mkarg commented on #795
Just for the records, this is what JAX-RS 2.1 spec currently says about JAXB:

*The pre-packaged JAXB and the pre-packaged primitive type
MessageBodyReader implementations MUST throw a NoContentException for zero-length message
entities.*

So if we decide to *not* extend this section whith JSON-B, we produce a really unexpected inconsistency as people would expect we treat JSON like XML.

[2019-09-26 13:01] mkarg commented on #795
Please see also https://github.com/eclipse-ee4j/jersey/pull/4275.

[2019-09-27 13:24] spericas commented on #795
Yes, this is a good point. I'm not sure I like the semantics defined for the JAXB case (anymore), but that's what the spec states. We could add a similar statement to the section about JSON-B.

[2019-09-27 13:45] mkarg commented on #795
That's all I ask for. :-)

[2019-09-27 16:40] spericas commented on #795
I'd be OK with that clarification to make it more consistent with JAXB.

[2019-09-28 08:48] chkal commented on #795
@mkarg

Thanks a lot for pointing to this statement. To be honest, I missed checking the javadocs and just looked at the spec regarding the discussion we had.

In this case I absolutely agree. We can either enforce that the JSON-B MBR returns `null` or throws an `NoContentException`. And as the latter option is already enforced for the JAXB MBR, we should define the same behavior for JSON-B.

[2019-09-28 08:51] mkarg commented on #795
I'm glad that finally we found an agreement.

So the next step we need is that the EF provides to us the source code of the spec.

[2019-09-29 08:18] rmannibucau opened #798 "Empty payload should never enforce a MBR to handle the Response"
Seems jaxrs 2.1 forces MBR to throw a no content exception when stream is empty.
It leads to several issues and should be reverted:

1. It breaks MBR responsability which is only about serialization
2. It breaks specs integration (you cant handle with an exception mapper native exceptions for this case) - and forces a third jaxrs integration through an interceptor instead of letting the rezponsabi

[2019-09-29 08:58] chkal commented on #798
That's not true. The API docs of `MessageBodyReader.readFrom()` state:

So it is either `NoContentException` or a *Java representation of a zero-length entity*.

[2019-09-29 08:59] chkal commented on #798
@mkarg Ups, looks like you assigned the issue while I was typing. :-)

[2019-09-29 08:59] mkarg commented on #798
@chkal No problem, just go ahead. The more opinions the better. :-)

[2019-09-29 09:03] rmannibucau commented on #798
A default empty representation is a fallback (as optional orElse) which bypasses parsers and fakes processing which is wrong too and has the same drawback as doing something unexpected in place or the default behavior.
It breaks most apps btw assuming the parser validated the payload.

So please, if you want that, add an explicit toggle on the method.

[2019-09-29 09:11] chkal commented on #798
I'm not sure if I understand the problem correctly.

The API doc statement quoted above basically just says:

So could you perhaps explain a bit more why you think that this is problematic?

[2019-09-29 09:12] mkarg commented on #798
@rmannibucau Empty streams are not "wrong" by design, so no, the empty representation is not just a "fallback", but actually is the expression that the MBR decided that it is a "normal" entity: For example, there might be MIME types allowing empty streams as quite normal data (like text/plain where an empty stream simply is an empty string and no problem or exceptional case at all). The decision i

[2019-09-29 09:13] mkarg commented on #798
@chkal Some background: Romain and I moved this discussion over from the original bug report at Johnzon, as it would be OT there. See https://github.com/apache/johnzon/pull/52.

[2019-09-29 09:48] mkarg commented on #798
Basically his claim is that Johnzon's several MBRs are JAX-RS 2.0 compliant and he wants to claim them JAX-RS 2.1 compliant _without changing_ them, which is impossible due to the fact that those MBRs do throw exceptions _other than_ `NoContentException` and `WebApplicationException` (which BTW was disallowed by JAX-RS 2.0 already), and due to the fact that these MBRs _neither_ return an empty ins

[2019-09-29 09:54] mkarg commented on #798
Just checked the history: Actually `NoContentException` was not added in 2.1, but in 2.0 already. So it is even more years in the spec.

[2019-09-29 10:39] rmannibucau commented on #798
Hmm, does not change much at the end, it broke 1.0 which was forbidden at javaee (at that time ;)) so still a regression at spec level.
I can provide examples of such regression if not obvious and why it such a spec change cant be implicit.

[2019-09-29 13:26] mkarg commented on #798
@rmannibucau You need to accept the truth that we will not treat it as a regression and there will not be the outcome that one can call his MBR "JAX-RS 2.1 compliant" without either throwing `NoContentException` or returning an empty instance (if possible and feasible). So actually I do not understand what you try to reach with your further arguing?

[2019-09-29 13:50] rmannibucau commented on #798
@mkarg as a spec you must guarantee backward compatibility, this is a fact and what makes jakarta valuable. This is not the case here (even review jackson if you doubt https://github.com/FasterXML/jackson-jaxrs-providers/blob/master/base/src/main/java/com/fasterxml/jackson/jaxrs/base/ProviderBase.java#L1031) so this breaks user facing behavior in terms of code or client behavior. As a spec you mus

[2019-09-29 13:59] mkarg commented on #798
@rmannibucau It is backwards compatible. But it is not compliant. This is a difference.

[2019-09-29 14:23] rmannibucau commented on #798
@mkarg ok, explain me how with a JAXRS 1 app using a parser mapper I can migrate on JAXRS 2 without rewriting my app? If you do then I agree it is compatible, if you can't (and guess what, you cant ;)), then it is just not true.

[2019-09-29 14:36] mkarg commented on #798
@rmannibucau In JAX-RS there is no such thing named "parser mapper".

[2019-09-29 14:43] rmannibucau commented on #798
@mkarg replace it by "exception thrown by a MBR when there is an incoming empty stream" ;)

[2019-09-29 14:49] mkarg commented on #798
@rmannibucau JAX-RS 1.1 did not allow an MBR to throw any other exceptions besides `WebApplicationException` and `IOException` (see JAX-RS 1.1. JavaDocs):
[code]
So a compliant MBR was forced to throw WebApplicationException. This still works in JAX-RS 2.x.

[2019-09-29 14:51] rmannibucau commented on #798
@mkarg no, this is not true, any RuntimeException is allowed and was handlable by an exception mapper

[2019-09-29 14:56] mkarg commented on #798
@rmannibucau I cannot find anything in neither JavaDocs nor Spec of JAX-RS 1.1 which proofs your claim. It might be the case that you understood it that way, and it might be that products accepted that, but it was definitively not covered by the spec. This means, behavior not covered by the spec might be broken, yes, but not the spec itself.

[2019-09-29 15:03] rmannibucau commented on #798
@mkarg no no no, it is explicit in the spec but even if it wouldnt, it is explicit in java language that a method can throw anything and any method of any spec fallbacks on JLS so it would be built-in even if not written. Now, in this case, it is also explicit through, at least, ExceptionMapper contract which supports Throwable and exception mappers are called for MBR. So it is covered ;).

Spec q

[2019-09-29 15:19] mkarg commented on #798
@rmannibucau Unfortunately this is simply is a common misunderstanding. The spec explains all components separately in different chapters. 4.4 explains what an exception mapper does *in case* an exception is propagated to it. This is *not* to be understood as a general agreement that for all times all future specs will *not* introduce new rules to throw particular exceptions, as it is just to be u

[2019-09-29 15:22] rmannibucau commented on #798
@mkarg if what you are saying is true, it means there is not a single JAX-RS implementation which is compliant to the spec so either the spec must align on implementations or you break again all users ;). Indeed I'm caricaturing a bit but this is really where we are. Does the spec enable to throw a RuntimeException in a MBR? yes, it is explicit through the signature/API. Does the spec enable to ha

[2019-09-29 17:01] mkarg commented on #798
@rmannibucau Again we seem to misunderstand each other (English is not my mother's tongue, so maybe my arguments are not perfectly laid out). Certainly you can throw any exception you like from within any JAX-RS component, as it simply is Java. And certainly will an MBR catch it as a last resort (if no other component in the call stack catches it). But the JAX-RS specification does *not* guarantee

[2019-09-29 18:04] rmannibucau commented on #798
@mkarg EJB1 / JPA change is another change. It is literally a new technology with the same name. JAX-RS 1 -> 2 is the same technology and only client API justified the major upgrade so nothing comparable.

In this last message there is something wrong: MBR don't catch exceptions, JAXRS is not a stack but a chain which is way different and why mappers are defined handling any exception on all JAXRS

[2019-10-01 19:08] jansupol commented on #770
@mkarg I have merged master to JAXRS_2_2 branch. Can we proceed with your proposal?

[2019-10-01 20:36] mkarg commented on #770
@jansupol (Almost forgot about this thread...) Sure. And thanks for the merge. I will rename the class to SeBootstrap and publish a PR this week against JAXRS_2_2 branch, ok for everybody?

[2019-10-01 21:59] mkarg commented on #770
Please review #799. :-)

[2019-10-02 14:53] igbluz commented on #418
Hi, is there any roadmap when version 2.3 should be available? I am still interested in the multipart feature to have it standardized. Where can I follow if some work is going on. Are there obstacles for continuing?

[2019-10-02 15:08] asoldano commented on #418
+1, sorry for the late reply (btw, please ping @ronsigal too in cases like this, as he leads the RESTEasy project with me).

[2019-10-02 15:28] andymc12 commented on #418
@igbluz the tentative roadmap is posted here:
https://github.com/eclipse-ee4j/jaxrs-api/wiki/Roadmap

The tentative release for 2.3 is 1Q2020.

[2019-10-02 20:14] igbluz commented on #418
Thank you for answering so quickly, I look forward to 2020 so. Will be exciting to see the first results.

[2019-10-06 14:46] mkarg commented on #770
@jansupol I'm stuck with preparing the SeBootstrap rename PR for Jersey due to the missing package rename to jakarta.ws.rs. Tried to do that but failed hopelessly. Can you please put a commit into JAXRS_2_2 for using that package, so I can put the SeBootstrap PR ontop? :-)

[2019-10-08 17:55] mkarg commented on #693
Now that Jakarta EE 8 is through the door, let's resume this thread. :-)

Proposal for location: Let's put the JAX-RS's "own" part of the TCK into our existing repository in the top-level folder `tck`. :-)

[2019-10-08 21:45] jansupol commented on #693
Currently, I heard 4 different ideas for the TCK location:
- A folder in this repository
- A new repository the EF will create for us
- A folder in the spec repository https://github.com/jakarta-ee/rest-spec
- Keep the TCK intact until Jakarta EE 9.

--
The following are the folders that are used for the Jakarta REST TCK (AFAIK):
- [bin](https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/bi

[2019-10-09 05:23] mkarg commented on #693
In fact, I have not much experience with the TCK but I'm willing to learn. ;-)

At first glance it looks as if the TCK was made to test Application Servers against compliance with a Java EE Profile, which explains the tight coupling of all those stuff. But application servers are *not the
 sole* target for Jakarte EE in future anymore, while smaller building blocks are (like smaller profiles or ev

[2019-10-12 08:45] chkal commented on #693
Actually I've a slight preference for putting our part of the TCK into a new repository `jaxrs-tck` or `rest-tck`. IMO the specification (API + spec document) and the TCK are two different things that should be kept separate. Especially because I think that they will have to be versioned independently.

Of course, it would be great if the common shared code for all TCKs would be "just" a compile/t

[2019-10-12 09:56] mkarg commented on #693
I know that the [recommendation](https://github.com/jakartaee/specification-committee/blob/master/operations.adoc#recommended-specification-project-repository-structure) is to have the TCK in a separate repo, but I do not see the benefit of that (just many drawbacks). Can you please elaborate on the organizational or technical benefit we would have from separating repositories and versions? My opi

[2019-10-12 15:17] chkal commented on #693
This is just my opinion, but I really think that separating **what** is specified (API + spec document) should be managed separately from **how** it is tested. I don't think that it will be possible in practice to modify all three artifacts (API + spec document + TCK) always in a single PR. This makes it also harder to review. So we will most likely get even fewer reviewers than we currently have.

[2019-10-15 17:56] #770 closed

[2019-10-17 16:12] kalgon commented on #796
I would really like `MessageBodyReader` and `MessageBodyWriter` to be redesigned like this:

    public interface MessageBodyContext<T> {
        Class<T> getType();
        Type getGenericType();
        Annotation[] getAnnotations();
        MediaType getMediaType();
        MultivaluedMap<String, String> getHttpHeaders();
        Object getProperty(String name);
        Collection<String> getPr

[2019-10-19 07:51] chkal commented on #796
While I agree that using something like `MessageBodyContext` would have been a good idea for the MBR/MBW API, I doubt that it will be possible to refactor the interfaces this way, as it breaks backwards compatibility.

[2019-10-19 10:08] mkarg commented on #796
The question is, why a server runtime injects `UriInfo` while a client runtime does not? As the invocation of the MBR on the client is a reaction upon a request triggered by the same client runtime, the client runtime instance simply could put the URI in its request context to fulfil this demand. Mayb we could add that to the spec in 2.2. or 3.0? That wouldn't break backwards compatibility as it w

[2019-10-19 14:13] kalgon commented on #796
Enlarging the number of injectable items would be nice. Do you think it would also be possible to inject `Properties` and `Client` into the MBR/MBW? When my MBR/MBW need some additional information from the request which can't be stringified and put into the headers, I work around the limitation by adding some fake `Annotation` into the passed annotations array (and I am not very proud of it).

[2019-10-20 21:40] kalgon commented on #749
Could you please foresee in the spec all the extension/configuration points needed by a standalone client (not deployed in a EE container) to use CDI-SE?

[2019-10-20 22:04] mkarg commented on #749
I think we could cover that with JAX-RS 3.0. JAX-RS 2.x does not regulate CDI *SE*.

[2019-10-22 15:39] derekm opened #803 "Some way to disambiguate ambiguous resource methods on the server"
With Jersey's WebResourceFactory and MicroProfile's Rest Client, re-using the same JAX-RS annotated interfaces on the client-side and the server-side is becoming more common.

When the server-side methods have arguments, it becomes convenient to overload those methods for the sake of the client-side, so that clients aren't forced to pass `null`s when parameters are optional.

For example, on the c

[2019-10-23 13:01] mkarg opened #804 "Spec: Todo"
This issue serves as an aggregated placeholder for the open TODOs with the Spec document, so we can organize to work in parallel without solving problems twice. The following list shows the open issues. If you like to provide a solution for one of these issues, please post a comment below.

- [x] (@chkal: #801) Initial contribution of the spec asciidoc "as-is" to `master`
- [x] (@mkarg: #801) URL

[2019-10-23 13:05] mkarg commented on #804
@chkal Self-service spec assignment roster is opened hereby. ;-)

[2019-10-24 12:37] kalgon opened #805 "Retrieve ParamConverters from Providers"
I am currently trying to implement a generic API which gives the client a list of form parameters (with their types) which must be sent for a specific action. When the client performs that action and sends the parameters (x-www-form-urlencoded), the server gets them as a `MultivaluedMap<String, String>`. It is then the responsibility of the resource to perform the needed type conversion. I wanted

[2019-10-25 09:35] kalgon commented on #805
Alternatively, a `ParamConverterProvider` facade (which would combine all registered `ParamConverterProvider`s) could be injected with `@Context` or `@Inject` to be used inside the resource.

    @Context
    private ParamConverterProvider paramConverterProvider;

[2019-10-25 13:52] chkal commented on #805
I like the idea of adding `getParamConverter` to the `Providers` class. We already support looking up MBWs/MBRs and exception mappers this way. So adding support for parameter converters makes sense to me.

[2019-10-28 06:24] mkarg commented on #804
**WARNING** The huge asciidoc file was split into single file per chapter in PR #806. That PR is not merged into `master` yet. So before starting to work on the spec, please always:
* fetch PR #806
* rebase ontop of the chapter splitup, *or* cherry-pick the two chapter-split commits.

*Otherwise you will have big trouble when pushing your changes due to lots of conflicts!*

[2019-10-30 18:30] ronsigal commented on #787
Well, it looks like August is gone. Sorry.

There isn't **necessarily** a single answer since RESTEasy has a variety of embedded servers:

 * SunHttpJaxrsServer
 * UndertowJaxrsServer
 * NettyJaxrsServer
 * VertsJaxrsServer

As it happens, my colleague Rebecca Searls recently reorganized them so that they all implement a single interface, EmbeddedJaxrsServer. In any case, given the following:

[2019-11-07 21:26] kalgon commented on #796
@chkal If Jakarta EE specs are going to change their namespace/package, that will break backwards compatibility anyway. So, isn't it the perfect (and only) opportunity to fix some methods signatures and other things that couldn't have been fixed otherwise without breaking backwards compatibility?

[2019-11-07 21:30] mkarg commented on #796
There is consensus among the committers to JAX-RS and among the Jakarta EE contributors at-large that the next release (Jakarta EE 9 / JAX-RS 2.2) should be backwards-compatible as best as possible (_besides_ the package rename), and that _intentionally_ breaking backwards compatibility to be deferred for a later release (e. g. Jakarta EE 10 / JAX-RS 3.x).

[2019-11-10 03:23] ronsigal commented on #554
For issue 1 (Response.created()), I've created two pull requests:

1. https://github.com/eclipse-ee4j/jaxrs-api/pull/810
2. https://github.com/eclipse-ee4j/jakartaee-tck/pull/135

-Ron

[2019-11-11 17:39] erik-brangs commented on #418
Does this issue include support for multipart in the the JAX-RS client APIs (e.g. via ``Entity``)?

[2019-11-11 17:40] erik-brangs commented on #542
What's the difference between this issue and #418?

[2019-11-11 23:54] andymc12 commented on #542
I think there were a few issues that were previously duped to other issues that got re-opened when they were moved to the Jakarta repositories.  I think this is one of them.

I'll close this issue in favor of #418.

[2019-11-11 23:54] #542 closed

[2019-11-12 11:20] rschildmeijer opened #811 "Update Cookie and NewCookie to support Same-Site"
Even though the Same-Site (Cookie Attribute) RFC is still only a draft [1] I propose that jaxrs should support the Same-Site cookie attribute. As explained in this blogpost https://web.dev/samesite-cookies-explained:

[1] https://tools.ietf.org/html/draft-west-first-party-cookies-07

[2019-11-25 21:16] ThomasVitale commented on #804
Hello @mkarg, I would like to work on the item: Use “https://” instead of “http://” for any external links.

[2019-11-25 21:25] mkarg commented on #804
Thanks for your kind help. Please also check that the replaced links *actually do* support https.  :-)

[2019-11-25 21:27] ThomasVitale commented on #804
I will, thanks @mkarg. Should I create a separate issue for the task?

[2019-11-25 21:28] mkarg commented on #804
Please do not open a separate *issue* for that but a *draft PR*. Thanks. :-)

[2019-11-25 22:37] ThomasVitale commented on #804
@mkarg I can also work on "Bug: "Filters and Interceptors / Introduction": There are four... and then there are commas without words. Same at "Filters": " ...namely:... and then there are commas without text."

[2019-11-26 18:43] mkarg commented on #804
@ThomasVitale With "*I can also work on*" you mean I shall reserve that item for you, right?

[2019-11-26 18:52] ThomasVitale commented on #804
@mkarg Yes, thanks. I got some time and opened a PR for that item: https://github.com/eclipse-ee4j/jaxrs-api/pull/814

[2019-11-26 19:17] mkarg commented on #804
@ThomasVitale Thanks a lot for your kind help! Just to optimize our workflow: (1) Please register for the items *first* before starting work, so nobody works on the same issue at the same time. (2) Please collect your work in just one PR, it makes the review process quicker, as we need *lots* of votes otherwise. Thanks. :-) (No, please do *not* close your existing PRs as a reaction, it was just a

[2019-11-26 19:19] ThomasVitale commented on #804
I will make sure to follow that process in the future, thanks @mkarg

[2019-11-27 14:51] kwsutter opened #815 "Make dependency on JAXB optional"
There is a [very active thread on the Platform Dev mailing list](https://www.eclipse.org/lists/jakartaee-platform-dev/msg01095.html) where we are discussing whether to Add the JAXB Spec/API to Jakarta.  The latest reply from Markus to me indicated a possibility of marking the dependency on JAXB from JAX-RS as optional, but he would like an issue for further discussion with the JAX-RS development t

[2019-11-27 14:52] berezovskyi commented on #70
Is there a plan to publish Jersey's `Viewable`, e.g. under `jakarta.ws.rs.ext`?

We are developing a code generator that allows using different JAX-RS frameworks and we were was planning to replace `RequestDispatcher.forward()` method calls with `Response.ok(new Viewable())` only to find this will only work in Jersey.

Thanks in advance and hope I am replying to the relevant issue.

[2019-11-27 17:28] mkarg commented on #815
Looking at API and Spec I think it would be possible. As modern applications use JSON instead of XML, it might be good idea to make JAXB _optional_ in JAX-RS. This means, we just defined *how* to treat JAXB *if* it is supported by an implementation, but we do not *request* it. For applications this means, they will still run on *some* implementations, but *not necessesarily* on *all*.

[2019-11-27 18:01] chkal commented on #815
I agree with @mkarg. IMO it would be definitely possible to make JAXB optional and I would be fine with doing so.

[2019-11-27 18:17] chkal commented on #70
No, there isn't such a plan.

But you should have a look at JSR 371, which is an action-oriented web framework built on top of JAX-RS. The corresponding specification will go final in the next few weeks and is heavily inspired by Jersey's `Viewable`.

https://www.mvc-spec.org/

[2019-11-27 20:44] andymc12 commented on #815
The `Link` class has JAXB annotations and an inner class (`JaxbAdapter`) with hard dependencies on JAXB.

I see a few approaches that would work for this case:
1) Remove the JAXB inner classes and annotations (and perhaps replace them with JSON-B equivalents?) - this would be irregular since they are not currently deprecated, but not completely without precedent.
2) We leave a compile-time depende

[2019-12-02 14:18] spericas commented on #815
Andy described the problem very well. The correct thing to do would be to deprecate those JAXB inner classes immediately and remove them in the next version. We can then tweak the text in the spec to make JAXB optional.

[2019-12-03 21:44] mcserra commented on #804
Hello @mkarg, I would like to work on "Modifying references to the JCP with corresponding Eclipse processes.". Can you save it for me? Thanks

[2019-12-04 06:03] mkarg commented on #804
Registered. :-)

[2019-12-04 16:09] sabgit opened #816 "Update the license names in pom.xml to use proper SPDX identifier"
https://github.com/eclipse-ee4j/jaxrs-api/blob/8d16c8a9df6f3e86dc57f3a9cdc3378142ab999e/jaxrs-api/pom.xml#L60

Can you please update the license names used in the `pom.xml`  to be proper SPDX identifiers?

[code]

https://spdx.org/licenses/EPL-2.0.html ---> `EPL-2.0`

https://spdx.org/licenses/GPL-2.0-with-classpath-exception.html ---> `GPL-2.0-with-classpath-exception`

[2019-12-05 07:26] chkal commented on #816
I agree that using SPDX would be better.

Feel free to provide a pull request. All information about how to contribute can be found [here](https://github.com/eclipse-ee4j/jaxrs-api/blob/master/CONTRIBUTING.md).

[2019-12-07 08:52] mcserra commented on #804
Hey @mkarg, I have some doubts about the task. Can I reach you on your email? Thanks

[2019-12-07 09:14] chkal commented on #804
@mcserra I guess it makes more sense that you ask your question here so that anyone can read it and reply to it.

[2019-12-07 09:49] mcserra commented on #804
Ok, sure. I'm just looking at the documentation, and I see some JCP related links in the bibliography. Is this what is supposed to change? As an example, there is this one:

`9 R. Chinnici, M. Hadley, and R. Mordani. Java API for XML Web Services. JSR, JCP, August 2005. See
http://jcp.org/en/jsr/detail?id=224.`

Is it supposed to change the reference the eclipse project?  https://projects.eclipse.

[2019-12-07 10:21] mkarg commented on #804
@ivargrimstad As this item is part of your checklist, can you please elaborate?

[2019-12-07 10:42] chkal commented on #804
My guess is that we have to change these references to point to the corresponding Jakarta EE specifications. This is how it was done for the Platform Specification

https://jakarta.ee/specifications/platform/8/platform-spec-8.html#relateddocs

[2019-12-12 17:56] mkarg opened #819 "Preparation of Jakarta EE 9"
Jakarta EE 9's [proposed release plan](https://docs.google.com/document/d/18cwfYhEqv_msIdH1DSVDXJc-QaUJ6zjPgmG6JHfLRrA) mandates that, due to the package migration, all specs have to increase the major version. As a consequence, we need to discuss:
- how to update our [roadmap](https://github.com/eclipse-ee4j/jaxrs-api/wiki/Roadmap), and [milestones](https://github.com/eclipse-ee4j/jaxrs-api/miles

[2019-12-13 18:54] andymc12 commented on #819
Thanks for starting this discussion.

I updated the [roadmap](https://github.com/eclipse-ee4j/jaxrs-api/wiki/Roadmap) based on the EE 9 release plan.  In an [email conversation](https://www.eclipse.org/lists/jaxrs-dev/msg00726.html) on this topic, Ivar suggested that we publish both a 3.0 release with only the package rename (no API changes, though I think spec/javadoc clarifications and TCK fixes

[2019-12-19 15:54] SElab2019 opened #822 "Updating from 2.3.X to 3.0.X breaks"
When I try to upgrade byte-buddy from 1.5.7 to the version after 1.6.3. The following code breaks.
[code]

The code should pass, but it throws an error:
[code]

[2019-12-19 16:27] mkarg commented on #822
This does not seem to be caused by JAX-RS itself. Do you have a proof that this is really related to *our* sphere of control?

[2019-12-20 14:52] spericas commented on #822
This is clearly not JAX-RS related, please close.

[2019-12-20 15:00] mkarg commented on #822
Closing as requested by @spericas.

[2019-12-20 15:00] #822 closed

[2019-12-20 16:57] mkarg commented on #788
Seems we lost track of the original issue... IIUC then we all agree that it would be fine to have a `gh-pages` branch hosting our web site. So I will ask the EF admins to do that for us now.

**Please vote. As this is not API change, the vote is open for one day.** :-)

[2019-12-20 18:46] andymc12 commented on #788
I’m +1, but I think we might want to leave the vote open a little longer due to the holidays.  Thanks, Andy

[2019-12-21 06:56] chkal commented on #788
+1 for creating the `gh-pages` branch

[2019-12-21 13:37] mkarg commented on #788
The majority is +1, there is no -1.  I have created that branch. If someone after the holidays votes -1, we can simply remove it.

[2019-12-21 13:38] #788 closed

[2019-12-27 21:13] jslsolucoes opened #824 "Retrieve method parameters values on ResourceInfo"
There is some way to support current parameters values after resourcemethod matchs ? Like an example.

[code]
Can be very useful on ContainerRequestFilter to abortWith in some cases like custom tasks thats method parameters values is required.

[code]

[2019-12-27 21:39] jslsolucoes opened #825 "Around resource invoke support"
There is some way to support AOP suport in jax-rs method resource execution like:

[code]
Im asking for this because of current fight between cdi interceptor and jax-rs lifecycle, sometimes they dont work very well together in because current lifecycle of jax-rs.
It`s very dificult work with cdi interceptor because of termination of request (abortWith) as example.
Besides interceptors must have an

[2019-12-28 04:07] jslsolucoes commented on #824
Forget about this issue. Looking for jax-rs lifecycle parameters values is only available after body reader executed. Maybe issue #825 are better way to current cover this scenario.

[2019-12-28 04:07] #824 closed

[2019-12-28 11:17] chkal commented on #825
Could you describe the problems you run into when using a CDI interceptor in more detail? I'm asking because JAX-RS will improve the integration with CDI in the near future and defining an alternative Interceptor-like API would be weird.

[2019-12-28 21:43] jslsolucoes commented on #825
its not a problem itself we can think more about how two spec fight talking each other. Code as use case:

[code]

Another problem. How can i apply globally,dynamic,named binding (as jax-rs does) this interceptor without write an extension thats modifies every bean adding qualifier @MyQualifier on cdi bean processing (ugly, annoying and confuse again).

Forgetting about cdi itself for a moment (th

[2019-12-29 11:56] mkarg commented on #825
Once CDI is fully supported by JAX-RS, would there still be a need for your proposal?

[2019-12-29 12:47] chkal commented on #825
I want to share my thoughts about some of these comments:

This will be fixed as soon as JAX-RS integrates more closely with CDI. One part of the improved CDI integration is the ability to inject JAX-RS context objects into CDI beans.

Could you explain your use case in more detail? Of course you can dynamically modify CDI beans by adding qualifiers via an extension to control for which resources

[2019-12-30 07:54] jslsolucoes commented on #825
@mkargs
I think thats its not just a simple cdi better integration problem, but a lifecycle problem. I will comment further with more source code. But we can discuss a little more about it.

@chkal
I think maybe you are missing some others aspects, even working around the injection problem in interceptor. Have a look for this piece of code. As suggestions i`m workarounding for some missing feature

[2019-12-30 13:43] mkarg commented on #788
Meanwhile the EF admins have enabled the Github Pages feature for us. So https://eclipse-ee4j.github.io/jaxrs-api/ now gets automatically updated each time (after some cache delay) from our `gh-pages` branch. Feel free to open PRs agains that branch if you have an idea how to improve the content! :-)

[2019-12-30 16:17] mkarg commented on #816
What actual benefit does this bring?

[2019-12-31 09:51] chkal commented on #816
Maven plugins which analyze licenses of your dependencies work much better if the license name is something like the SPDX identifier instead of some arbitrary text.

[2019-12-31 11:05] mkarg commented on #816
Sounds interesting. Can you point me to such a plugin which actally works much better thanks to that? I'm also contributor to Apache Maven so I could use that as a claim to request a change of the POM reference (i. e. to clearly point out that *always* a SPDX ID SHOULD get used in *all* POMs).

[2019-12-31 12:02] chkal commented on #816
I'm using [license-maven-plugin](https://www.mojohaus.org/license-maven-plugin/) in a few projects. And as dependencies typically use some arbitrary label to refer to the license, I had to configure it to merge a ton of strings to clean up the report.

Example:

[code]

Obviously, if the pom would confirm a standard identifier (like SPDX), creating license reports would be much easier.

[2019-12-31 12:46] chkal commented on #825
Thanks for sharing these details.

So if I understand you correctly, the injection issue is solved by using workaround I proposed, correct? At least it looks like you were able to get access to all the information you need in the interceptor. However, as mentioned earlier, you won't need such a workaround any more in future JAX-RS versions.

Regarding your other issue. So basically you want to abo

[2019-12-31 14:39] mkarg commented on #825
I assume that might work on some or even all JAX-RS implementations, but indeed the specification does not guarantee that (it restricts its guarantees to resource methods). So this might be one point where JAX-RS should get extended for better CDI integration. For example, we could clearly specify that `abortWith` and `WebApplicationException` MUST be supported *at any time*.

[2019-12-31 15:15] mkarg commented on #816
I see. So the "much better" is only true when *all* projects would use SPDX (it's worth nothing to just have *us* do that in JAX-RS). I will open an issue with Apache Maven to propose this as a best practice.

[2019-12-31 22:44] #816 closed

[2019-12-31 22:56] jslsolucoes commented on #825
Response.status(Status.BAD_REQUEST).entity(entity).build()
);
Seems works now throwing WebApplicationException with response as argument.

So, resuming issue for future notes:

Thank you so much guys for help, time and discussion. I`m very thankful.

[2019-12-31 22:56] #825 closed

[2020-01-01 11:54] mkarg opened #831 "[Spec] `abortWith` and `WebApplicationException` MUST be allowed *everywhere*"
JAX-RS currently officially supports `abortWith` and `WebApplicationException` only in particular places (e. g. in resource methods). While it does work in some implementations to e. g. throw `WebApplicationException` from within a CDI interceptor, this simply is *not guaranteed* to work in *all* implementations. The same is true for *caching* the `ContainerRequestContext` e. g. to `abortWith` at

[2020-01-02 06:55] chkal commented on #831
Regarding `abortWith`: This method is provided by `ContainerRequestContext`, which is actually a parameter object for the `ContainerRequestFilter` API. The API docs of `ContainerRequestContext` state:

I guess from this wording it is clear, that the context object should be used only be the filter itself. Actually the API docs of the method even state:

I don't think that it makes much sense to ex

[2020-01-02 08:18] mkarg commented on #831
Regarding the filter change: Well, the idea of this issue is to *change* the spec text. ;-) The idea is that the context is not a *filter chain context* anymore but a CDI-injectable *request and response context*, so it provides access to the request and response (incl. all properties) and it allows to break the *request and response processing* (i. e. what the spec means with "filter chain"). Thi

[2020-01-07 19:02] jansupol commented on #831
Have you thought about `@PreMatching` filters?

I believe that users would have been very unhappy should they need to refactor their existing application filters to CDI extensions upon migration to a newer API.

[2020-01-07 19:13] mkarg commented on #831
I didn't meant to actually *remove* the existing functionality, but I meant that *new* filters could be written by solely using CDI.

[2020-01-13 18:46] andymc12 commented on #606
During the code review for the CXF implementation of this feature, @reta noticed that the implementation is calling both `onError` and `onComplete` callbacks.  This behavior is correct now that #670 is merged, but his concern is that we should only be calling one or the other, not both in order to stay consistent with the Java 9 Flow API.  I was not involved with the expert group in the 2.1 early

[2020-01-13 20:48] NicoNes commented on #606
Yep I think that it will be better to make it clear in the doc that  `onError` must only be invoked in case of exceptional completion and `on Complete` in case of normal completion.

[2020-01-14 14:16] spericas commented on #606
As stated in the spec document, the inspiration for the API was really JavaScript's `EventSource`, except that there is no `onComplete` there if I recall correctly. Restricting the calls of `onError` and `onComplete` to be mutually exclusive would only make sense if all errors are unrecoverable, which I don't think is the case here.

Perhaps someone can double check this in the SSE spec, but I thi

[2020-01-14 14:45] kwsutter opened #832 "Deliver jaxrs-api Specification Version update for Jakarta EE 9"
**Is your feature request related to a problem? Please describe.**
Jakarta EE 9 is the next major release, with the main focus of moving from the ```javax``` namespace to the ```jakarta``` namespace.

**Describe the solution you'd like**
This issue will be used to track the progress of this work effort via the [Jakarta EE 9 Project board](https://github.com/orgs/eclipse-ee4j/projects/17).

**Addit

[2020-01-14 15:39] NicoNes commented on #606
Right

--

According to the JavaScript `EventSource` spec, the `onError` is invoked when the connection fails to be opened. Theres is two cases :

- "Network errors that prevents the connection from being established in the first place (e.g. DNS errors), should cause the user agent to reestablish the connection in parallel, unless the user agent knows that to be futile, in which case the user agen

[2020-01-15 01:13] reta commented on #606
@NicoNes sound it, moreover the JAX-RS javadocs are explicitly pointing to (https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/sse/SseEventSource.html):

Thank you.

[2020-01-15 13:47] spericas commented on #606
@NicoNes Yeap, that seems to be correct. It is the WebSockets API that allows for `onError` to be called in the way I was thinking about. I'm OK with the proposed update then.

[2020-01-20 17:07] kwsutter commented on #832
Can I ask this team to please create and assign the following labels to this Issue?  Thank you!
[wave:4]

[2020-01-21 16:54] andymc12 commented on #832
@kwsutter FYI, Santiago created the [JAX-RS 3.0 release record](https://projects.eclipse.org/projects/ee4j.jaxrs/releases/3.0) for Jakarta EE 9.

We should not need a separate ballot since the 3.0 release only includes the package namespace change.

[2020-01-21 21:25] andymc12 commented on #606
The behavior (including a note about onComplete vs onError) has been clarified in the 3.0 (master) and 3.1 (3.1-SNAPSHOT) streams.

@NicoNes do you agree that we can close this issue?  Thanks!

[2020-01-22 22:02] NicoNes commented on #606
Hey @andymc12,

Yes, this one can be close. Thanks :+1:

[2020-01-22 22:02] #606 closed

[2020-01-23 19:45] andymc12 opened #835 "Clarification: Can `Application.getSingletons()` return a CDI proxy instance?"
In the last couple of weeks, we've had a few different users open issues as a result of some missing clarification in the spec around whether the objects returned from `getSingletons()` can be CDI instances or not.

For example:
[code]

or:
[code]

From reading the spec today (assuming that `MyProvider` is application scoped - see section 11.2.3), it seems like this should be legal, but in practic

[2020-01-24 13:33] spericas commented on #835
@andymc12 Naturally `getSingletons` pre-dates all the great CDI machinery and scopes. I agree that there are issues when we let applications provide these instances. Personally, and I believe I mentioned this before, I'd deprecate/remove this method altogether.

Back to your comment, I think (I may need to review this part again) the bullet list in that Section is really applicable to the case in

[2020-01-24 20:53] mkarg commented on #835
+1 for deprecating this method in favor of CDI

[2020-01-24 21:36] andymc12 commented on #835
Thanks for the feedback.  Unless anybody strongly objects, I'll plan to do two things:
1) Deprecate the `getSingletons` method.
2) Write up some clarifying statements to the effect that CDI integration should only be applied to cases where JAX-RS participates in the creation of the instance.

For deprecation, I'll check to see if this is something we can put into 3.0 without requiring a separate r

[2020-01-24 21:49] mkarg commented on #835
+1, but maybe we should keep 2.1 as-is?

[2020-01-27 14:39] spericas commented on #835
@andymc12 I agree with your proposal. It's fine if we deprecate in 3.1.

[2020-01-28 04:30] t1 opened #838 "Optionally remove ResponseProcessingException"
I have a `ClientResponseFilter` that throws unchecked business exceptions. JAX-RS wraps them in `ResponseProcessingException`, which forces the client code to unwrap them manually.

I'd like to have a way to opt-out of this wrapping. Maybe an annotation on the `ClientResponseFilter`?

I could work on the details, if the general idea is accepted.

[2020-01-28 04:32] t1 opened #839 "Standard for problem details [rfc-7807]"
I'm working on producing and consuming problem details as specified in [RFC-7807](https://tools.ietf.org/html/rfc7807) for better generation and handling of http entities for application error conditions. I’ve just blogged about it: https://blog.codecentric.de/en/2020/01/rfc-7807-problem-details-with-spring-boot-and-jax-rs/

tl;dr: exceptions get mapped to rfc-7807 compliant application/problem+js

[2020-01-28 06:08] mkarg commented on #838
First step to convince the community of such a change would be to write more about why you think this commonly is nededed / what the general benefit is. :-)

[2020-01-28 07:57] chkal commented on #838
To be honest, I like how JAX-RS is currently handling this case. Throwing unchecked exceptions from a JAX-RS component is treated as an "error" and therefore wrapping the error in an exception described like this makes sense to me:

And IF you throw business exceptions and want to access them later on, unwrapping is just one line of code, right? Or am I missing something?

[2020-01-28 08:03] chkal commented on #835
@andymc12

I agree that we should deprecate `getSingletons()` in 3.0 or 3.1. So +1 for that.

I'm also fine with the clarification. But I'm not completely sure if we should really backport it to 2.1. So +0 for that.

[2020-01-28 08:04] t1 commented on #838
@mkarg : Thanks for the hint ;-)

My use-case (as stated in #839) is that I want to map Problem Details (http response entities describing the exact cause for a status code as standardized in [RFC-7807](https://tools.ietf.org/html/rfc7807)) to custom business exceptions containing all those details.

Wrapping these exceptions into a `ResponseProcessingException` requires the client code to unwrap

[2020-01-28 16:02] spericas commented on #839
Hi,

 I’ll respond to Option 2 as this would not be the right mailing list to discuss Option 1 … JAX-RS is a core Java API to build RESTful services; what you’re describing here seems like something that can be built on top of JAX-RS or simply provided as a library in a framework. I.e., at least at first glance, I don’t think JAX-RS is the correct place for this.

— Santiago

[2020-01-28 18:35] andymc12 commented on #835
Cool, thanks for the feedback.  I believe that the consensus is:
1) Javadoc clarification regarding injection can go into 3.0 and 3.1. #836 addresses this.
2) Deprecation of the `getSingletons` method can go into 3.1. #837 was intended to address this, but should go into 3.1-SNAPSHOT instead of master.  I'll fix this now.

[2020-01-29 09:01] jansupol commented on #835
CDI is mandatory since 4.0. JAX-RS 3.1 can run without CDI on a classpath. Deprecating the method would leave JAX-RS users with the deprecated only way of having a singleton. Is it the right thing?

[2020-01-29 10:17] jansupol commented on #835
I believe Jersey asks to inject all fields and beans upon creation for every scope if Jersey is to create the instance. Of course, when the application creates the instances, such as in the `getSingletons` case, Jersey does not inject anything.

Maybe it would make sense to replace Section 11.2.8: `The following additional requirements apply when using` with `The following additional requirements

[2020-01-29 11:50] jansupol opened #841 "Clarification: UriBuilder & non-http schema support"
As a follow up to the discussion on the dev mailing [list](https://www.eclipse.org/lists/jaxrs-dev/msg00781.html), I believe it makes sense to bring the discussion here to get a larger consensus than from the people that just replied to the email list.

The discussion is about the support of schemes in RFC 3986 in `UriBuilder` class.

I remember UriBuilder has been class largely discussed back in

[2020-01-29 12:14] jansupol commented on #835
@spericas While the `getSingletons` method can be used to create singletons, it also is used to instantiate the resources by the user, to set it as they feel appropriate and to provide the data to the instance which may be hard to get during instantiation by the CDI. How do you plan to replace this functionality?

[2020-01-29 13:28] spericas commented on #835
Yes, but deprecation does not mean removal. Just a warning that this will change in 4.0.

[2020-01-29 13:31] spericas commented on #835
Which is the actual use case that is hard to implement using CDI? You have injection, constructors and `@PostConstruct`.

[2020-01-29 18:26] mkarg commented on #841
Thanks for migrating the thread.

I do not see any relation between JAX-RS and file:// URIs, so I do not want to enforce it.

[2020-01-30 11:57] ronsigal commented on #746
A related (I think) issue has come up in the MicroProfile REST Client group. MP REST Client defines a class, ClientHeadersFactory, which is, essentially, a provider, and the proposed 1.4 spec says that CDI and @Context injection should work for ClientHeadersFactory's. The thing is, ClientHeadersFactory's are part of a MP REST Client environment, and the JAX-RS spec says that all but two @Context i

[2020-02-01 08:53] chkal commented on #841
Just to summarize a few of the arguments for supporting a wider range of schemes posted in the original thread:

Pro:
- The class name suggests that it is a build for `java.net.URI` which supports more schemes.
- The TCK even verifies that other schemes are supported
- The API docs mention RFC 3986 which isn't just about HTTP
- more?

Contra:
- This is a JAX-RS class and JAX-RS is about HTTP only.

[2020-02-01 11:00] chkal commented on #838
Thanks for explaining your use case. Let me share a few thoughts.

I wonder if it wouldn't make more sense to implement this in a CDI interceptor. Something like:

[code]

In this case a `ProblemAwareInterceptor` could catch `ResponseProcessingException` and translate it accordingly.

Just a thought...

[2020-02-01 11:08] chkal commented on #839
I'm not entirely sure if JAX-RS is the best place for this. On the one hand every application has to deal with problem/error reporting and people usually reinvent the wheel to implement it. So having out of the box support for such a standard would be great. On the other hand JAX-RS focuses on the core HTTP aspects of RESTful services and additional features like this are usually added by addon li

[2020-02-01 11:11] mkarg commented on #839
JAX-RS should concentrate on the core of REST-over-HTTP, evertyhing else should be done by standards built ontop (like it was done for MVC, or like Microprofile does). It might happen (like it was the case for MVC) that JAX-RS needs to provide new extension points; I would be happy to discuss them once the need actually arises.

[2020-02-01 11:13] chkal commented on #832
@mkarg I guess "javax -> jakarta API updates" has been fixed by #761 you created, correct? Or is there anything still missing for that?

[2020-02-01 11:48] mkarg commented on #832
@chkal Yes, I just checked this bullet as fixed. :-)

[2020-02-02 10:56] t1 commented on #838
@chkal : That's a great idea; it still requires the `@ProblemAware` artifact, but it's better than unwrapping the `ResponseProcessingException`. I think I'll implement that.

An option to not wrap exceptions in the first place would be even better. And it should be easy to add. I can work on a specific proposal, if has a chance of being accepted.

[2020-02-02 10:58] t1 commented on #839
@mkarg : that's perfectly fine with me. One change to JAX-RS would make the integration even easier: if there was a way to _not_ wrap exceptions coming from filters, the mechanics could be hidden completely, as requested in #838.

[2020-02-02 13:49] ggam commented on #838
Once JAX-RS resources become CDI beans automatically, you'll be able to
dinamycally add the interceptor via a CDI extension.

This is already possible when bean discovery mode is set to "all".

El dom., 2 feb. 2020 11:56, Rüdiger zu Dohna <notifications@github.com>
escribió:

[2020-02-03 15:34] ronsigal opened #842 "Client running in server context"
I don't think the relationship between a Client running inside a JAX-RS resource and the server context has ever been clarified. For example, if a provider is discovered by the server container, should it be available to the client? (See https://github.com/eclipse-ee4j/jaxrs-api/issues/746, for example.)  Similarly, if a provider used by a Client running in a resource does @Context injection, shou

[2020-02-03 16:47] mkarg commented on #842
Thanks for bringing up this topic!

In fact I wonder if it is really needed to configure that, or if it wouldn't be always correct that a client injected into a server always "sees" the server's context? In the end it is used always in reaction upon a server request.

[2020-02-03 17:05] ronsigal commented on #842
Hey @mkarg, yeah, I've always been a bit undecided on the issue, but your alternative also seems reasonable. If nothing else, I think the JAX-RS spec should clarify the subject. I'd be curious to know if anyone sees a use case for allowing a "blood brain barrier" between a Client and it's server context. Maybe it's not a single question. For example, having access to HttpHeaders seems hard to argu

[2020-02-03 18:23] mkarg commented on #842
Yes, thinking more about it, providers seems to be to core issue. In particular, *priority* of providers. For example, we want JSON be the default of our server, but it needs to talk XML to some backend in turn.

[2020-02-03 19:07] ronsigal commented on #842
Ah, @mkarg, that's a really interesting example. I see three possible solutions:

1. Just work with Accept q values;
2. Introduce a mechanism for altering the priority of providers; or
3. Disable a provider and re-enable it with a different priority.

Maybe 1 is enough. 2 seems a little ... out there. 3 fits in with my proposal. Depending on the number of application providers, you might want to d

[2020-02-03 19:22] mkarg commented on #842
I think in the end we will need to come up with a solution how to define which part of the original request context to be forwarded into the subsequent client context.

[2020-02-03 21:21] asoldano commented on #842
Indeed, this topic needs to be properly and organically treated in the spec.

[2020-02-04 14:23] sdaschner commented on #838
I'd +1 the idea of not having to unwrap the exception from `ResponseProcessingException`. (This reminds me of the `@ApplicationException` that solved unwrapping EJB exceptions back then ([bottom of page here, if you're interested](https://www.sebastian-daschner.com/news/issues/006))).

I'm not having a clear preference on how to solve that, but it would improve the usage if folks would not have to

[2020-02-04 14:40] sdaschner commented on #841
+1 for supporting `file://` and potentially other, commonly-used schemes.

While JAX-RS only covers HTTP, I've seen (and myself created) many uses of building URIs that were used "outside of JAX-RS", because this class is present in many projects, is convenient to use, and battle-tested. I see that this helps developers and see no real disadvantages (besides, of course, the initial work).

[2020-02-05 14:03] spericas commented on #838
Or adding `@Path` as a bean defining annotation. With CDI in the picture, there are enough tools for a library built on top of JAX-RS to do this unwrapping auto-magically.

[2020-02-05 14:06] spericas commented on #839
@t1 Could we close this issue then?

[2020-02-05 14:09] spericas commented on #841
+1 I think the pros outweigh the cons.

[2020-02-05 16:01] t1 commented on #839
@spericas : I'm closing the issue now, as it seems to be the common thinking that it's nothing for jax-rs at the moment.

[2020-02-05 16:01] #839 closed

[2020-02-06 08:08] thadumi commented on #841
+1 I asked some colleagues about this question, without mentioning the issue, and everyone was expecting a builder for java.net.Uri or at least the support for file://

[2020-02-06 09:11] thadumi opened #843 "What do we do with references to JSRs?"
Hi,
regarding #804 and in particular the migration of JSR references; what should be our approach for the sections Expert Group Members and Acknowledgements?

[2020-02-06 18:50] mkarg commented on #843
The sections on Expert Group Members and Acknowlidgements may stay as-is, since those always reflected the past only, and the past did not change. :-)

[2020-02-06 18:50] #843 closed

[2020-02-06 18:52] mkarg commented on #841
As `UriBuilder` is a *builder* we should discuss how to actively support *building* such non-HTTP-URIs. Are new methods needed? If *not*, what is the sake of using this class?

[2020-02-06 20:18] gorlok opened #844 "jax-rs get with "return String" generates response header content-type: application/octet-stream"
I found something weird and/or inconsistent. When a method returns String, without any @Produces nor MediaType response indication, default Content-Type's response is application/octet-stream instead of text/plain in some runtimes.

This happens with OpenLiberty and ThorntailV2. Meanwhile, on Payara Content-Type is text/plain.

I first raised this issue on OpenLiberty's issue tracking here: https:

[2020-02-08 14:21] mkarg commented on #844
@gorlok What is your proposal how the JAX-RS Spec, API, JavaDocs, and / or TCK shall be changed?

[2020-02-08 14:24] mkarg commented on #838
I second that. IMHO everything which can be done already with some custom code ontop shall never be part of JAX-RS. Only those things that cannot be done otherwise should become part of the spec. Having said that, I really do plea for us spinning off a new project implementing standard solutions ontop of JAX-RS, like "JAX-RS Commons". :-)

[2020-02-08 14:58] ggam commented on #838
Well, I actually meant that. Problem is CDI doesn't have a portable way to
do that as of now...

El mié., 5 feb. 2020 15:03, Santiago Pericasgeertsen <
notifications@github.com> escribió:

[2020-02-08 15:24] spericas commented on #838
Right, that's just Weld. It would be really nice for CDI.next to support that.

[2020-02-14 21:36] andymc12 commented on #832
Hi All - two of our dependencies (Jakarta Activation and JAXB) have published release candidates that include the `javax.*` to `jakarta.*` package rename.  I have been working on pulling them in, but there is a catch...

We use the JAXB RI for unit testing, but the JAXB RI does not have a published release that includes the package rename.  I may be able to help expedite getting a JAXB RI with the

[2020-02-15 10:39] chkal commented on #832
Any idea when the RI is planning to release a first version supporting the new namespace?

To be honest, I don't like the idea of disabling tests just because we want to update the API version so early. We are in wave 4 and JAXB is in wave 2. Why not wait for wave 2 to finish the releases before we do the update of our dependencies?

Of course, we can prepare a pull request NOW, but let's wait for

[2020-02-15 10:46] chkal commented on #844
IMO the default media type of `application/octet-stream` is a great choice and makes sense to me. I don't fully understanding the restriction to `text/plain` for boolean, character and number as described in 4.2.2. Anyone knows why it was defined this way?

[2020-02-15 12:04] mkarg commented on #844
Cannot remember that, but I think it has to do with the fact that for `text/plain` the rendered information may be used as-is, while an `application/octet-stream` (mind the prefix `application`!) MIGHT imply additional knowledge about the text's syntax (according to [wikipedia](https://en.wikipedia.org/wiki/Plain_text)). This means, `true`, `false`, `X`, `123` are unambiguous, while a longer `Stri

[2020-02-15 12:06] mkarg commented on #832
Let's just wait for wave 2 to be over. No need to hurry.

-Markus

Von: Christian Kaltepoth [mailto:notifications@github.com]
Gesendet: Samstag, 15. Februar 2020 11:39
An: eclipse-ee4j/jaxrs-api
Cc: Markus KARG; Mention
Betreff: Re: [eclipse-ee4j/jaxrs-api] Deliver jaxrs-api Specification Version update for Jakarta EE 9 (#832)

We use the JAXB RI for unit testing, but the JAXB RI does not have a p

[2020-02-15 17:18] chkal commented on #844
@spericas Any thoughts?

[2020-02-15 22:43] chrisgleissner commented on #633
I agree that it is very unintuitive that a JAX-RS controller would not support @Inject on its constructor. It forces me to use mutable fields on the controller and is inconsistent with non JAX-RS classes where Weld constructor wiring is no problem. I second the notion expressed elsewhere in this issue  that this needs addressing. For example, constructor wiring is supported consistently in Spring

[2020-02-17 16:25] andymc12 commented on #832
@chkal @mkarg Thanks for the response - and I agree that we should not disable tests if we don't have to.  I don't think the RI has a release date for the javax-to-jakarta conversion.  I will go ahead and plan to help them move forward with publishing a jakarta-ified release.

[2020-02-17 16:53] kwsutter commented on #832
Since the javax->jakarta package rename has completed, what is holding up the delivery of a Milestone or RC driver of the API jar file?  I realize some components are not comfortable with delivering an RC until the tests have passed.  And, it sounds like you have a dependency on the RI, which may need to wait.  But, how about a Milestone driver published to Maven with the API updates?  It would be

[2020-02-17 17:39] mkarg commented on #832
Kevin,

you find that here already: https://repo.eclipse.org/content/repositories/snapshots/jakarta/ws/rs/jakarta.ws.rs-api/3.0-SNAPSHOT/ and here is how to use it: https://github.com/eclipse-ee4j/jaxrs-api/wiki/Nightly-Builds.

That is the repo inteded by the EF for exactly such use cases. It is a good thing if Jakarta also uses it, too. Instructions how to do use the EF's infrastructure manual a

[2020-02-17 18:18] kwsutter commented on #832
@mkarg, thanks for the pointer.  But, we're looking for more than just a SNAPSHOT build.  Most of the other Jakarta EE projects have already posted their Milestone or RC driver.  There are just a few stragglers which are being worked.  Sure would be nice to get JAX-RS posted as well.  Thanks!
https://github.com/orgs/eclipse-ee4j/projects/17#column-7346435

Having some type of designated Milestone/

[2020-02-18 05:58] mkarg commented on #832
"We" is the people that *acted* so far. Feel free to discuss this and then *act* differently. :-)

[2020-02-18 14:27] spericas commented on #832
Hi Kevin,

 When the initial plan was announced with the waves, it was not clear (at least to me) that we would need to produce an RC version around this time since JAX-RS was in wave 4. Last week I did see the email about the Feb 14th deadline, but it was a bit late and I didn’t think we were ready. So I updated this page instead:

https://docs.google.com/spreadsheets/d/1EN5UEzxFV1Buk7yqdQAweaynW

[2020-02-18 15:06] spericas commented on #844
Not sure if all the section numbers here are accurate. Section 4.2.4 is the one that lists the standard entity providers (and allows `*/*` for String). Section 4.2.2 has a reference to Section 3.8 which, if I understand the issue here, is the more relevant one.

Section 3.8 defines the algorithm to determine the media type of a response, and this algorithm depends on the set of writers defined (an

[2020-02-18 15:29] spericas commented on #832
Is there anything pending to mark as complete step "Jakarta-ize your Specification document (if applicable)"?

[2020-02-18 17:10] andymc12 opened #845 "Update dependencies to Jakarta EE 9 levels - JAXB and Jakarta Activation"
For the 3.0 release, we will need to ensure that our dependencies are at the Jakarta EE 9 levels.  Currently, we depend on JAXB and Jakarta Activation, both of which have release candidate builds after renaming the `javax` packages to `jakarta`.

We also have one unit test, `JaxbLinkTest` that depends on the JAXB-RI - this will require that the JAXB-RI also have a build published that works with t

[2020-02-18 21:33] mkarg commented on #832
Please find the open items in https://github.com/eclipse-ee4j/jaxrs-api/issues/804.

[2020-02-19 15:43] spericas commented on #832
We should add `@Ignore` to `JaxbLinkTest.java` in order to get the release going. #845 requires a few other changes: (1) Update Javadoc change in `Link.java` and (2) An update of `pom.xml` and `ResourceExample.java` in example.

[2020-02-19 15:52] spericas commented on #832
@andymc12 Related to #845, shouldn't our API jar use `3.0.0-SNAPSHOT` instead of `3.0-SNAPSHOT`?

[2020-02-19 16:14] gergelymolnarpro opened #847 "Annotations on methods of interface"
Could support to separate JAX-RS annotations from implementation. If an interface has JAX-RS annotations and a class implements that interface then the class need to duplicate annotations from interface for compatibility. The class should inherit annotations from the interface or enable to override those.

Example:
https://github.com/eclipse/microprofile-rest-client/issues/254#issuecomment-5871820

[2020-02-19 19:09] spericas commented on #804
I think so. I'll have that change ready shortly.

[2020-02-19 19:12] spericas commented on #804
Does anyone know of any _standard text_ to add for this attribution? "References to existing Java EE technologies, acronyms, and JSRs are okay as long as they are properly attributed."

[2020-02-19 19:52] kwsutter commented on #832
The waves were more for the "final" Spec and API releases since those are more critical to get in the proper order.  Since some of the projects produced Milestone/RC API artifacts without full testing, the waves could come in any order for the APIs.  Thus, we pushed for APIs first and then the next steps are to deliver the Specs, final APIs, TCKs, and CIs.

Sorry for the confusion.  I've been tryi

[2020-02-19 19:57] kwsutter commented on #832
BTW, that spreadsheet is no longer being tracked.  We are using this project board instead.  Much more public, easier to maintain, and easier to track the progress.  Thanks!

https://github.com/orgs/eclipse-ee4j/projects/17

[2020-02-20 06:11] chkal commented on #847
JAX-RS already supports annotations on interfaces. See section 3.6 of the specification:

[2020-02-20 06:39] gergelymolnarpro commented on #847
Thanks!

[2020-02-20 06:39] #847 closed

[2020-02-22 08:03] chkal commented on #844
@spericas Thanks for your reply.

Section 3.8 also states:

But as far as I understand, the spec doesn't require the standard entity types defined in section 4.2.4 to specify a concrete type. I guess that's why JAX-RS implementations behave differently in this case, depending on whether the writer defines a concrete type or not.

My interpretation of 4.2.4 is that the standard message body writer

[2020-02-22 14:45] mkarg commented on #844
In conjunction with 4.2.1, yes.

[2020-02-27 15:01] andymc12 opened #849 "Remove `@Ignore` from `JaxbLinkTest`"
In pull #846 (issue #845) I added `@Ignore` to the `JaxbLinkTest.testSerializationOfJaxbLink()` unit test.  This was required because it depends on a JAXB implementation, but so far, there is no JAXB implementation that works with the new `jakarta.xml.bind.*` packages.

This decision was made in the interest of time for creating a milestone release for the Jakarta EE 9 platform committee.  This is

[2020-03-03 21:30] andymc12 commented on #832
The M1 milestone release is now available at Maven Central at https://repo.maven.apache.org/maven2/jakarta/ws/rs/jakarta.ws.rs-api/3.0.0-M1/

Projects that depend on JAX-RS in the new package namespace can use this Maven dependency:
[code]

[2020-03-04 06:12] mkarg commented on #832
I do appreciate this, but I wonder if we did a mistake in the EF's process rules. AFAIK we have to vote upon _each_ public release, so all committers have the chance to veto (because you cannot remove anything from Maven Central). As it is the project lead's role to guard these rules, I'd like @spericas to check this and teach us in case we did it wrong. Maybe @waynebeaton can comment, too, just f

[2020-03-04 06:14] mkarg commented on #804
All, please update the above checklist with recently merged contributions. Thanks.

[2020-03-04 13:25] spericas commented on #832
@mkarg We have been asked to produce an RC/M release for weeks for the purpose of integration with other Jakarta EE 9 technologies. Everyone here knew about this _non-final_ release coming, and several people (excluding you) have been voting in favor of it. This release should not be a surprise to anyone. Again, this is an integration release and not the final release for Jakarta EE 9.

[2020-03-04 13:27] spericas commented on #832
Thanks @andymc12 !

[2020-03-04 18:50] mkarg commented on #832
Nobody is surprised. My question is, whether there was an open voting among the committers. Maybe I simply missed or forgot it. You say we had a voting? Do you have a pointer to that?

[2020-03-04 20:13] andymc12 commented on #832
@mkarg - we discussed it in PR #850.  You abstained, but we had 3 committers vote +1. HTH

[2020-03-05 06:03] mkarg commented on #832
Thanks for the summary. As I said, maybe it's just me having amnesia. ;-)

Maybe we could clearly mark those MR that effectively will trigger the release with some special label (like "release"), to separate them from those just setting the version in the POM. Or we could agree that MR's titled "Subject" to be the official votings (so we can tell this rule in our Wiki)?

[2020-03-06 00:32] andymc12 commented on #832
I’d be fine with adding a “release” label.

[2020-03-06 18:05] andymc12 commented on #815
This issue came up again with a presentation from @kwsutter - on the [Jakarta EE project page](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan), it mentions that JAXB is optional - see the text `Jakarta XML Binding (Optional)`.

Given that we have a hard dependency on JAXB, I think we'll probably need the Jakarta Platform group to make JAXB a required component o

[2020-03-08 13:49] chkal commented on #815
Would applying option (2) fix this problem? IMO this is essentially what @mkarg also proposed!?

[2020-03-08 15:41] mkarg commented on #815
My personal opinion is that it would be best to go with option (2) for JAX-RS 3.0, but at the same time prepare for option (1) by clearly deprecating it. IMHO a future release of JAX-RS should not force runtime vendors to provide JAXB by themselves, but ask application vendors to provide JAXB API + Impl. as part of the application, and ask vendors to apply that provided API + Impl.

[2020-03-09 16:45] andymc12 commented on #815
@chkal - yes, I think Option 2 would solve the main issue without needing any further process.  It is a slight change in behavior for users though - in 2.1 `application/xml` just works out of the box, but in 3.0 a user or implementation may need to provide their own JAXB API and impl to get the same behavior.  Most vendors will probably just include JAXB as a dependency for their JAX-RS implementa

[2020-03-09 17:42] spericas commented on #815
Deprecation in 3.1 seems like the better option to me now.

[2020-03-10 07:57] kalgon opened #852 "Allow Feature to register resources"
It would be nice if `javax.ws.rs.core.Feature`s could also be used to register resources as well (and not only providers).

Then I could package a complete API unit like this:
[code]
And in my application, I would only have to do:
[code]
I know resources don't have a contract to be registered for but if that is a problem, a new method (`FeatureContext.registerResource`) could be added.

[2020-03-10 19:33] kwsutter commented on #815
@andymc12 I would say that updating the JAX-RS Spec to indicate the optional aspect of the jaxb dependency falls within the scope of the Jakarta EE Release Plan.  Since the Platform is providing jaxb as an optional technology, then your update is just a minor ripple effect of that change.

If you try to take this further by deprecating items, then a separate release plan would be required.  And, s

[2020-03-10 19:55] andymc12 commented on #815
@kwsutter Thanks - that sounds good.

All, I'll plan to draft something up for indicating that JAXB is optional in the spec document (option 2).  Thanks for the discussion.

[2020-03-10 20:01] andymc12 opened #853 "Deprecate JAXB usage in `Link` class."
Issue #815 is intended to make the JAXB APIs/impl optional for JAX-RS implementations, but the JAX-RS still has a dependency on JAXB from inner classes in the `Link` class.  Per discussion in #815, these inner classes should be deprecated and ultimately removed.

[2020-03-10 21:18] mkarg commented on #852
I currently do not see a need for this. Can you please share a real-world use case?

[2020-03-10 22:29] andymc12 commented on #852
I can see some value in the proposal, but I'd like to know more about the problem that this solves.  It seems like you could package the classes configured in the AdminFeature into it's own "admin.jar" and then package that JAR file in another WAR file - then use auto-discovery (via `@Path` and `@Provider` annotations) for them to be auto-registered.

Thanks for opening the issue.

[2020-03-20 13:11] thadumi commented on #804
@mkarg I think my task was done with  #848, wasn't it?

[2020-03-27 16:19] kwsutter commented on #832
@spericas Just assigned this Issue to you as Assignee...  There were several of these Epic Issues without having a central contact for questions.  If you would rather assign someone else, feel free to do so.  You just drew the short straw..  :-)

[2020-03-28 15:45] ronsigal opened #855 "Mandate default ExceptionMapper"
There are two ways for a request to exit a JAX-RS server:

 1. through the ContainerResponse filter chain, or
 2. by way of an unhandled Exception thrown up to the container.

The possibility of bypassing the filter chain can lead to problems. For example, the SmallRye Metrics implementation of the JAX-RS metrics resorts to using both a JAX-RS filter and a servlet filter. From the io.smallrye.metr

[2020-03-28 18:06] andymc12 commented on #855
+1

OpenLiberty's MP Metric implementation does something similar, although probably worse than SmallRye - it registers a filter and an `ExceptionMapper<Throwable>`.  I don't like the way that is done because now users get different exception-handling behavior depending on whether they have enabled MP OpenTracing or not.

My only concern about this issue is that I think it would be better to speci

[2020-03-28 22:25] #815 closed

[2020-03-29 12:26] vintprox commented on #535
It's a shame to have MediaType.APPLICATION_JSON without `utf-8` as default charset. Perhaps, `@Charset` annotation would clear things up.

[2020-03-29 19:36] ggam commented on #855
I just recently opened an OpenLiberty issue about that exactly: https://github.com/OpenLiberty/open-liberty/issues/11408

When the unhandled exception is a `WebApplicationException`, it will already contain a response with headers and status code that should be respected IMO.

[2020-03-30 13:51] spericas commented on #832
@kwsutter NP. I'm sure this info is elsewhere, but it would be possible to update this issue with the relevant dates to deliver the spec, TCKs, etc.?

[2020-03-30 14:12] spericas commented on #855
Seems like a good suggestion to support a default exception mapper. I think we'll need to say something about the mapped response, not sure if we can leave that completely open ended.

@ronsigal Would you be interested in making a concrete proposal? Perhaps in the form a PR?

[2020-03-31 00:13] ronsigal commented on #855
So, something like

A JAX-RS implementation MUST include a default ExceptionMapper that implements ExceptionMapper&lt;Throwable&gt; and which SHOULD
1. log the exception
2. set the response status to 500
3. set the response content to a string that contains at least the message of the Throwable.

If the unhandled exception is a `WebApplicationException`, its embedded Response MUST be returned.

On

[2020-03-31 00:56] andymc12 commented on #855
I think that looks good, but I don't think that the message of the Throwable should be part of the response - I'm mainly concerned about security.  I can live with it if everybody else wants it though.  Thanks Ron!

[2020-03-31 01:49] ronsigal commented on #855
@andymc12, you're right about the message. There's no reason to expect it to be meaningful to the user. I note that WebApplicationException just sends
[code]
for a 500 status.

[2020-03-31 06:15] ggam commented on #855
One can understand NotFoundException would return 500, as happens in
OpenLiberty when Opentracing is enabled.

I'd rephrase the last sentence: "If the unhandled exception is a
WebApplicationException, its embedded Response MUST be returned, and its
status code MUST be respected".

El mar., 31 mar. 2020 2:13, Ron Sigal <notifications@github.com> escribió:

[2020-03-31 09:55] namedgraph commented on #408
What's the status of this? How hard can it be to add a single method?

[2020-03-31 13:28] spericas commented on #855
@ronsigal I agree with the proposal and the feedback by @andymc12 and @ggam

[2020-03-31 14:21] chkal commented on #408
Feel free to provide a pull request for this. :-)

But please note that such a change may also require changes to the spec document, the TCK and maybe even more.

[2020-03-31 17:24] ronsigal commented on #855
@ggam, I didn't mention the status in the WebApplicationException because it's inside the Response, but it doesn't hurt to be explicit. Ok.

Thanks, @spericas, I'll work on a pull request.

[2020-03-31 19:53] ronsigal commented on #855
@ggam, I didn't mention the status in the WebApplicationException because it's inside the Response, but it doesn't hurt to be explicit. Ok.

Thanks, @spericas, I'll work on a pull request.

[2020-03-31 19:54] ronsigal commented on #855
Pull request: https://github.com/eclipse-ee4j/jaxrs-api/pull/857

I wasn't sure how to handle an addition to the Change Log, so I just added an entry to "Changes Since 2.1 Public Review". I can change that if.

[2020-03-31 20:57] namedgraph commented on #408
Why did it have to be removed in the first place? It exists in 1.9, and 2.x still supports `MultivaluedMap`.

[2020-04-01 11:56] igor-kim commented on #468
+1

In situation when client might request either "/api/somepath" and "/api/somepath/", which end up being processed by the same code with annotation `@Path("/api/somepath")`, this code needs to do some workarounds to distinguish between the calling URLs if relative URLs should be returned in response. One of the workarounds might be to inject `@Context UriInfo uriInfo` and check the request path:

[2020-04-01 14:59] chkal commented on #408
I don't know about the details. But it wasn't actually "removed". It just wasn't part of the new JAX-RS API which was defined back then and which was heavily inspired by the Jersey implementation.

[2020-04-01 15:32] ronsigal commented on #855
https://github.com/eclipse-ee4j/jaxrs-api/pull/857 replaced by https://github.com/eclipse-ee4j/jaxrs-api/pull/858.

[2020-04-03 22:21] ronsigal commented on #855
TCK test: https://github.com/eclipse-ee4j/jakartaee-tck/pull/191

[2020-04-05 00:54] ronsigal commented on #736
Hey everyone,

I've started thinking about this stuff again, and I have a couple of comments.

1. I agree with @NicoNes about getEntity() succeeding after a call to readEntity(). The problem is the TCK test
[code]
I think that should be changed in favor of the behavior we all (I think) agree on.

2. I have a suggestion, which would entail a behavior change, so it's for a future edition. It seems t

[2020-04-05 01:05] ronsigal commented on #842
I've written a proposal. It's a work in progress, but it's mostly complete, I think:

The runtime environment of a JAX-RS application is determined by a variety of objects and data from a variety of sources:

1. application scoped

   A. Application
   B. providers
   C. properties

2. request scoped

   A. request URI
   B. headers

When a Client is created inside a JAX-RS server environment, whi

[2020-04-05 05:17] NicoNes commented on #736
Hey @ronsigal,

I agree with you on point 1.

About point 2, I agree that things would be clearer without this specific `IllegalStateException` and it would be great for a future edition.

But before talking about it in details maybe we should clarify the current expected behaviour for this current edition. It will help us later to remove the `IllegalStateException` you talked about.

Based on wha

[2020-04-05 19:23] NicoNes commented on #736
Hey guys,

Forget about my last comment. I fully agree with @ronsigal.

I was reading again the version I sent to him and I figured out that few cases, the ones dealing with `getEntity()` and `readEntity()` returning `InputStream`, was not well handled/explained.

I think that Ron is right. The reason why it is so difficult for us to explain things clearly is because in these cases we try to handl

[2020-04-06 14:19] spericas commented on #736
@NicoNes Sorry, it's been a while. Could you clarify in (5) the state of `InputStream` returned by `readEntity(InputStream.class)`? Is it of any use to support that?

[2020-04-06 19:27] NicoNes commented on #736
Hey @spericas ,

Good catch.

In (5), the `InputStream` is fully consumed (i.e inputStream.read()==-1) and also closed. So:

(5) **readEntity(Foo.class) -> Foo, readEntity(InputStream.class) -> IllegalStateException**

The general rule must be that unless `bufferEntity()` was previously invoked `readEntity(...)` must not be invoked mulitple times whatever the supplied type. Such cases should throw

[2020-04-07 13:40] spericas commented on #736
Right.

 Makes sense.

 I am not sure we can always detect this condition. It's sometimes difficult to prevent users from shooting themselves on the foot.

[2020-04-07 14:02] NicoNes commented on #736
Sure.

I think we agree that `response entity InputStream` fully consumed or closed is easy to detect with `inputStream.read()==-1`.

Now if partially consumed it is less obvious. So to keep it simple maybee we should just keep what is already stated by the doc about throwing a `ProcessingException` if the `response entity stream` cannot be read as the supplied java type.

Does it sound acceptable

[2020-04-07 19:37] ronsigal commented on #736
Hi @NicoNes,

On Sunday I saw your comment about working on clarifying things first, and then changing the behavior in a later edition, but I wasn't in working mode, so I didn't respond at the time. Now, I've just come by to say that **I agree with YOU**. Lolll.

1. For stage 1, maybe the best we can do is clarify the "difference between caching and buffering", which you've done in items 1-7 (with

[2020-04-07 21:30] NicoNes commented on #736
Hey @ronsigal ,

I share your analysis and it makes me wonder too if caching support is useful.

- Stage 1:

As you said, since all implementations that passes TCK does not support caching, I think that eliminate this concept is the best things to do.

Well, I'm not sure. I personnally use one or the other but not both (it does not work anyway).

So  based on what you said, for stage 1 `getEntity(

[2020-04-07 23:27] ronsigal commented on #736
@NicoNes, yes, I mostly agree.

**Stage 1.**

+1. I like that you added "(i.e inputStream.read() != -1)". I was always confused by "consumed" and "fully consumed" here and there. I think it would be reasonable to add that explanation every place "consumed" appears, at least for Stage 1. In Stage 2, the concept of "consumed" goes away, I think.

This is a minor point, but I read
[code]
as "Get the

[2020-04-08 01:38] NicoNes commented on #736
@ronsigal,

About point 3 I think that I get you mean. Tell me if I'm wrong.

It would be like what is already done with `Cookie` (representing request cookie) and `NewCookie` (representing response cookie).
In what you described it will be  something like:
- `Response` that represents **response sent** (with `ok()`, `getEntity()` etc).
It will be the response type returned by server side methods

[2020-04-08 19:39] vanuatoo commented on #418
It's really strange that this is not part of the standard.
I would assume that any typical enterprise application has at least one feature that requires uploading files along with other data.
I think Jersey has a great support with custom annotations. RESTEasy is much harder and you have to do bean validation manually.
The lack of this feature in a standard breaks the interoperability goal of Jaka

[2020-04-08 20:39] ronsigal commented on #736
Hey @NicoNes,

re; "Am I right"

Yes

re: "the current semantic (without the cache concept) of getEntity() and readEntity()"

I guess I don't have strong feelings about the issue. I would say

**In favor of my version of the semantics:**

1. It's simpler, and
2. The ability of getEntity() to return the backing InputStream is redundant since readEntity() can do the same thing.

**In favor of your v

[2020-04-08 23:50] ronsigal commented on #736
As for bufferEntity() and getEntity(), if we keep the ability of getEntity() to retrieve a backing InputStream, then I think your suggestion makes sense. Otherwise, it's moot.

[2020-04-09 00:47] NicoNes commented on #736
Hey @ronsigal

Yes that's it.

At least for stage 1, since we think it's better to not introduce change behavior, my suggestion is just to clarify relationship between `bufferEntity()` and `getEntity()` to be consistent with `readEntity()` behavior.

So let me try to sum up everything for every one on how we would like to fix the initial issue without introduce no behavior change for this version.

[2020-04-09 16:06] ronsigal commented on #736
Hi @NicoNes,

1. I think your updated javadoc is good. I think there should also be an additional sentence or so to clarify that hasEntity() applies to either an entity object or a backing InputStream.

2. re: "another issue to propose the stage 2"

+1

3. @NicoNes, would you be interested in sending a summary to the mailing list?

[2020-04-09 16:11] ronsigal commented on #855
@scottmarlow has asked on https://github.com/eclipse-ee4j/jakartaee-tck/pull/191 which release of JAX-RS this change might target.

[2020-04-10 15:16] NicoNes commented on #736
Hey @ronsigal ,

Ok, I will add a line about it :+1:

Sure. What is the email address ?

[2020-04-10 15:29] ronsigal commented on #736
@NicoNes, jaxrs-dev@eclipse.org. See https://accounts.eclipse.org/mailing-list/jaxrs-dev.

[2020-04-11 15:33] ronsigal commented on #736
I was just reminded that my original motivation for raising https://github.com/eclipse-ee4j/jaxrs-api/issues/706 "Clarify javax.ws.rs.core.Response javadoc wrt extracting entities." was to ask for a Response.isClosed() method to make it possible to avoid getting an exception when calling, for example, hasEntity(). This would be an additional, rather than changed, behavior. I wonder if it would be

[2020-04-11 20:07] NicoNes commented on #736
Hey @ronsigal ,

Thanks for the address. I'll suscribe to the mailing list and send the mail to the group.

You're right we almost forget your initial need.
I don't know neither if it would be legal to add it in stage 1 but I'll talk about it in the mail too.

Maybe for stage 1 the quick workaround to add this `isClosed()` method in a way that JAX-RS vendors do not have nothing to do, could be add

[2020-04-13 15:11] kwsutter commented on #832
@spericas This Epic can be used in any way your team wishes.  I'm tracking progress by the Checklist, but if you wish to include dates, etc, that's fine with me.  FYI, overall, we are not tracking to the release dates very well... You can see the original dates as outlined in the [Project Board](https://github.com/orgs/eclipse-ee4j/projects/17#card-34451812).  We are working with the Steering Comm

[2020-04-14 01:30] ronsigal commented on #736
Hey @NicoNes, your isClosed() makes sense, and it makes life a little easier for using all of those methods that throw an exception when the response is closed. +1

[2020-04-16 02:01] edwin-amoakwa commented on #804
Concerning
`References to existing Java EE technologies, acronyms, and JSRs are okay as long as they are properly attributed`
I have reviewed the spec doc a couple of times and at this point, I don't see any reference of existing Java EE technologies, acronyms, and JSRs. So I propose we check it as done.

The only JavaEE reference is the XML schema which looks like this
`<web-app version="3.0" xml

[2020-04-16 02:35] jimma opened #859 "Allow SseEventSink.close() to throw IOException"
Is it better allowing SseEventSink.close() to throw IOException, then the underlying IOException doesn't need to be wrapped in RuntimeException to throw up ?  The caller can decide what to do when catch this IOException.

[2020-04-16 19:04] spericas commented on #832
@kwsutter Good question about the checkbox. I think it should be checked, but others feel free to correct that if I'm missing something.

[2020-04-17 20:39] xinmin-zhou opened #860 "Does javax.ws.rs-javax.ws.rs-api-2.0-m10 support for Java 11? If not, any timeline or recommendation?"
Hi Expert,
I would appreciate if you could share your knowledge related with me? Thanks.

Regards,
Xinmin

[2020-04-17 22:04] andymc12 commented on #859
Hi @jimma I think this makes sense.  Would you code up a pull request with this change?

Please code it against the `3.1-SNAPSHOT` branch as we cannot change APIs in the master (3.0) branch.

Thanks!

[2020-04-18 00:46] andymc12 commented on #804
We do have several places in the spec document that says "JAX-RS".  These either need to be attributed to Oracle or replaced with "Jakarta RESTful Web Services". I was thinking of opening a new issue for that discussion and (eventual) action, but maybe we could just use this issue for that?

[2020-04-18 01:54] edwin-amoakwa commented on #804
I think replacing "JAX-RS" with "Jakarta RESTful Web Services" seems more appropriate. When there is consensus on this, I will proceed and effect the changes. Will wait for further comments then take the consensus action.

[2020-04-18 08:04] mkarg commented on #804
There is NO such consensus. Some of us want to get rid of the word "JAX-RS", others do not. Oracle's lawyers confirmed to me that "JAX-RS" never was a trademark of Oracle and that we MAY keep using it WITHOUT any attributation to Oracle. If you ask me, let's keep it "JAX-RS" wherever it makes sense to have an abbreviation, and replace it, where a long form is beneficial.

[2020-04-18 08:21] mkarg commented on #860
It dendends on what you mean with "support".
* The API JAR file itself is able to be used on JRE 11 in the CLASSPATH but it is not a module (it neither contains an explicit nor automatic module constraint); it was compiled on JDK 6.
* The API JAR does not explicitly use any particular language feature, interface or class which was added to the JRE after JRE 6.
* The various implementations ("produ

[2020-04-18 08:21] #860 closed

[2020-04-18 08:30] mkarg commented on #832
@kwsutter @spericas The problem is that there is no clear definition of "complete" wrt. Jakarta-izing. I would say, we're fine since long time, but legals might say, we missed a detail. IANAL, so I tried to get a clear set of rules and were provided with this list https://github.com/eclipse-ee4j/jaxrs-api/issues/804 by @ivargrimstad. Unfortunately he himself did not want to confirm, that this list

[2020-04-18 16:54] edwin-amoakwa commented on #804
@mkarg Great. Let's leave it as such for the meantime then.
By the way, I didn't say there is a consensus to replace it, that's why I used the word "when". I was saying that because of the comment of @andymc12

[2020-04-18 17:10] chkal opened #862 "NewCookie should support SameSite attribute"
The `NewCookie` class should support the `SameSite` cookie attribute. The Jakarta Servlet project is working on adding support for `SameSite` as well in eclipse-ee4j/servlet-api#271.

I'm currently working on pull request containing a first draft of the required changes for the JAX-RS API.

[2020-04-19 16:19] NicoNes commented on #745
Hey @spericas,

To be sure to understand, do you mean this more like:

**1.  An "eager" approach**

Like in an `Observer\Observable` pattern, the `SseBroadcaster` is a kind of `observer` for every registered `SseEventSink`.
So, any error/close event from those `SseEventSink` is directly propagated to the `SseBroadcaster` and handled by the registered `Consumers` ?

**2.  A "lazy" approach**

Like

[2020-04-20 03:33] jimma commented on #859
@andymc12  PR is sent : https://github.com/eclipse-ee4j/jaxrs-api/pull/863. Please review, Andy. Thanks.

[2020-04-20 15:33] Zorin95670 opened #864 "Allow overridden @Path class by method"
In some cases, we can have two ressources
- user defined by `/users` (UsersController)
- cars defined by `/cars` (CarsController)

And we want to have a specific endpoint `/users/{usersID}/cars` with Patch to
Patch all cars of selected user.

But we want that endpoint is in Cars controllers not in UsersController. Because the service that is used is the CarsService.

May be it's possible to add an

[2020-04-20 20:16] NicoNes commented on #864
Hi @Zorin95670,

It sounds like you need to use "Sub-resources-locator".
I invite you to read section ["3.4.1 Sub Resources"](https://download.oracle.com/otn-pub/jcp/jaxrs-2_1-final-eval-spec/jaxrs-2_1-final-spec.pdf?AuthParam=1587413651_3b155dac89cec2451c931f99c3868639) of the JAX-RS spec to get more details about it.

Using this concept your code should looks like:
[code]

[code]
Hope it helps.

[2020-04-21 07:58] Zorin95670 commented on #864
Hi, thanks for your answers. It seems good.

[2020-04-21 08:45] Zorin95670 commented on #864
Thank's for your answer, It's a working trick.

But, I think it would be nice, that @Path annotation permit overridden or do not include default url.

Because, I use swagger annotation for api documentation, and it's destabilizing to have documentation of "cars" controller in "users" controller.

Another point, when you want to fix or add feature to this patch endpoint. Your first think is to go i

[2020-04-21 14:36] NicoNes commented on #864
Hey @Zorin95670

Well AFAIK, Swagger handles the "Sub resource locator"concept pretty well and you do not have to annotate the "sub resource locator" method. As you said it will be weird.

On both of your `UserController` and `CarController` you only need to add Swagger annotations on the java method annotated with `@GET`, `@POST`, `@PUT`...
This way Swagger will generate something like:

[code]

[2020-04-22 14:24] spericas commented on #864
If you look at the matching algorithm in the spec, you'd realize that your "feature request" is not compatible with the current approach. The matching algorithm isn't perfect, but has been around for like a decade. Changes that risk backward compatibility would very likely be rejected.

[2020-04-22 14:32] Zorin95670 commented on #864
@spericas @NicoNes I understand what you say and I'm agree with that :)

But my intend, is to have more flexibility in future in rest management, like other language/framework.

Like I says before, I know it's not easy to come and say "Hey it would be nice to …" or to do / think about the feature.

So, thank's for your support, the ticket can be closed, because my problem is solved.

May be open a

[2020-04-22 17:07] #864 closed

[2020-05-02 15:06] mkarg commented on #862
Can you please provide a RFC reference for SameSite? I only can find https://tools.ietf.org/id/draft-ietf-httpbis-rfc6265bis-03.html which says it is outdated and was *not* approved. We need to be on the safe side that the literals we provide are note replaced by a subsequent RFC. Thanks. :-)

[2020-05-02 18:28] chkal commented on #862
AFAIK this is the most recent version:

https://datatracker.ietf.org/doc/draft-ietf-httpbis-rfc6265bis/

[2020-05-02 21:05] mkarg commented on #862
Thanks a lot. That document says that it is still a draft and work-in-progress, so it might not be wise to include it in `master`. My proposal would be to add it once it is at least it a post-draft state, as the IETF explicitly mentions that this document can be replaced within six months:
[code]

[2020-05-03 09:01] chkal commented on #811
Sorry, I created #862 a few days ago and missed that this issue already exists. As there is already some discussion happening in the second issue, I'll close this one in favor of #862.

[2020-05-03 09:01] #811 closed

[2020-05-03 09:25] chkal commented on #862
I fully understand your concerns about the RFC's draft state. However, there are many good arguments for integrating this feature into JAX-RS 3.1:

* The `SameSite` attribute in its current form exists in RFC drafts since 2016 (see [draft-ietf-httpbis-cookie-same-site](https://datatracker.ietf.org/doc/draft-ietf-httpbis-cookie-same-site/)) and this aspect of the RFC hasn't changed since then. So i

[2020-05-03 17:54] mkarg commented on #862
I completely understand the benefits, but we cannot undo it once we adopt it, and the authority of all this, the IETF, themselves so far did not dare to declare the draft as an adopted standard *for a good reason* I think. I wonder what their reason is, and why the last draft did time out without adoption? It seems, the vendors are not *so* sure to keep it - BTW, vendors *do* drop support for non-

[2020-05-05 21:46] kwsutter opened #869 "Update CONTRIBUTING.md for Specification Project's repositories"
**Create/Update CONTRIBUTING files**

Per input from the Eclipse EMO, each Specification Project needs to ensure that a CONTRIBUTING.md or CONTRIBUTING.adoc file exists in each specification-related repository maintained by Specification Projects.
In addition, the CONTRIBUTING.md or CONTRIBUTING.adoc file needs to include the following text:

[code]

Please do this at your earliest convenience.
Th

[2020-05-06 11:15] oliviercailloux commented on #472
Has this been reverted, as suggested by those commits of end-Dec-2019 and by the fact that [Client](https://javadoc.io/doc/jakarta.ws.rs/jakarta.ws.rs-api/3.0.0-M1/jakarta/ws/rs/client/Client.html) does not implement AutoCloseable in the [Maven artifact](https://search.maven.org/artifact/jakarta.ws.rs/jakarta.ws.rs-api) 3.0.0-M1 (out in Feb 2020)?

It seems that this was a valuable addition, wante

[2020-05-06 13:33] spericas commented on #472
@oliviercailloux Should be in the 3.1-SNAPSHOT branch. Version 3.0.0 will only include the necessary package renaming for Jakarta EE 9.

[2020-05-09 09:29] chkal commented on #862
I don't think that there will be a need to "undo" this change regardless of the RFC outcome. The `SameSite` attribute is *at least* a de-facto standard. In the worst case scenario, the RFC may drop one of the possible attribute values (like `Lax` or `Strict`) or add a new one. But in this case we can add a new value to our enum and/or deprecate the old one. IMO that would be acceptable.

Just to c

[2020-05-14 16:28] kwsutter opened #871 "Update EFSL for Specifications and Javadoc"
Per the discussions on the Spec Committee and Platform Dev mailing lists, it's been discovered that many of the Javadoc and Spec references to the EFSL need updating. Please reference the following required updates and keep them in mind as your Spec Project is updating the files for Jakarta EE 9.

Note: Some Spec Projects have already started or even completed these updates. If so, just kindly ret

[2020-05-22 04:06] leonelag opened #872 "Improve GenericEntity to provide type hints on elements of collections."
The [implementation in class GenericEntity](https://github.com/eclipse-ee4j/jaxrs-api/blob/3.1-SNAPSHOT/jaxrs-api/src/main/java/jakarta/ws/rs/core/GenericEntity.java#L120) goes to great lenghts using reflection to bypass Java's erasure and find the element types.

[code]

It would be easier if we could have something like:

[code]
or even shorter, avoiding GenericEntity altogether:

[code]
So, wha

[2020-05-22 14:13] jansupol opened #873 "Missing Tag for 3.0.0-M1"
The API 3.0.0-M1 is in maven central, but there is missing a tag for it in the repo.

[2020-05-23 06:24] chkal commented on #873
@andymc12 AFAIK you performed the release, correct? Any idea why the tag is missing?

[2020-05-23 07:05] chkal commented on #871
See pull request #874.

[2020-05-23 21:23] ronsigal commented on #573
Does anyone have a sense of what it means that https://tools.ietf.org/html/rfc7538 has remained a Proposed Standard for over five years? https://datatracker.ietf.org/doc/rfc2026/ "The Internet Standards Process -- Revision 3" says that, "A specification shall remain at the Proposed Standard level for at least six (6) months", and that

   Standard level but has remained at the same maturity level

[2020-05-25 17:10] chkal commented on #573
My guess is that this RFC is abandoned. But I may be wrong about this.

However, it is listed on the [HTTP WG site](https://httpwg.org/specs/) and in the [IANA HTTP Status Code Registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml). Therefore, and because [all browsers support it](https://caniuse.com/#feat=mdn-http_status_308), I would be fine with adding it, even if

[2020-05-25 19:41] jansupol commented on #859
I do not have a strong opinion about this, but it would not align with other close methods such as on a `Client` and on a `Response` (that may close the entity input stream that throws `IOException`)

[2020-05-25 21:48] jansupol commented on #859
Anyway, it is a backward-incompatible change, and as such, it should go into a major version, not minor 3.1, imho.

[2020-05-26 13:19] spericas commented on #873
Yes, seems to be missing. Here is the job:

https://ci.eclipse.org/jaxrs/job/Publish%20Release/32/

[2020-05-26 14:57] andymc12 commented on #873
Thanks for catching that.  I'm not sure what happened during the release, but I just pushed the tag ([3.0.0-m1](https://github.com/eclipse-ee4j/jaxrs-api/tree/3.0.0-m1)) now using the commit @spericas mentioned (from the build).

[2020-05-26 16:44] andymc12 commented on #873
Along the same lines, I'm planning to add the spec PDF and HTML and Javadocs to the specification page ( https://github.com/jakartaee/specifications/blob/master/restful-ws/3.0/_index.md ), as Kevin requested at https://www.eclipse.org/lists/jakartaee-platform-dev/msg01836.html

[2020-05-27 00:52] ronsigal commented on #573
That seems reasonable to me. I wonder if anyone has any connections at IETF that could shed some light on why https://tools.ietf.org/html/rfc7538 has been languishing for so long. Just curious.

[2020-05-27 13:54] spericas commented on #873
Thanks @andymc12 !

[2020-05-27 15:33] ronsigal commented on #573
I reached out at Red Hat about this and got an interesting response:

I don't know why that is, but I guess that's the way that part of the world works (or doesn't). But I feel better now.

[2020-05-27 18:49] ronsigal commented on #859
Agree.

[2020-05-27 19:59] mkarg commented on #573
I will ask Julian (the author of RFC 7538) how to proceed. I know him from earlier projects and he should be the authoritative instance to clarify the situation.

[2020-05-27 23:37] ronsigal commented on #573
That's a great idea. It seems ... curious ... that HTTP remains in a proposed state. Maybe they think it's not going to catch on. ;-)

[2020-05-28 18:47] reschke commented on #573
Please ignore the status on the Standards Track. This part of RFC 2026 is defunct and has never been followed.

Right now, both RFC 7538 and the base HTTP specs are in status "proposed".

Note that the IETF HTTPbis WG is working on a revision of RFCs 723*, and that actually inlines the definition of status code 308. It's all on Github, see <https://github.com/httpwg/http-core>.

[2020-05-31 10:35] chkal commented on #855
@ronsigal I guess we can close this one as #858 is already merged?

[2020-06-04 13:16] fstokke commented on #862
I agree that this should be supported. It's an important security feature that is already widely adopted.

As a work-around it seems you can put the SameSite flag into NewCookie path field, e.g. path="/;SameSite=Strict" (or add the cookie manually via a set-cookie header).

Maybe a generic mechanism for adding "non-standard" flags can be added to the API?

[2020-06-07 07:41] chkal commented on #862
Interesting idea. Feel free to file an issue for that.

[2020-06-07 07:45] chkal commented on #862
#868 has just been merged!

[2020-06-07 07:45] #862 closed

[2020-06-07 08:10] #873 closed

[2020-06-07 08:11] chkal commented on #871
#874 has been merged. So we can close this one as fixed.

[2020-06-07 08:11] #871 closed

[2020-06-07 08:12] chkal commented on #855
Closing this one now. Feel free to reopen if anything is still missing.

[2020-06-07 08:12] #855 closed

[2020-06-07 08:13] chkal commented on #845
@andymc12 I guess this one can be closed, correct?

[2020-06-07 12:17] mkarg opened #877 "Custom Cookies"
Cookies, just as other aspects of HTTP, are under constant evolution. Unfortunately, there is no extension point in JAX-RS which allows to _experimentally_ support new types of cookies. So at the moment, JAX-RS  needs to adopt all new types of cookies in a hard-coded fashion. This prevents early adoption of new cookie types.

To allow application and implementation vendors to support constant cook

[2020-06-07 12:18] mkarg commented on #877
@eclipse-ee4j/ee4j-jaxrs-committers Comments? Ideas? :-)

[2020-06-07 12:18] mkarg commented on #862
Please comment on https://github.com/eclipse-ee4j/jaxrs-api/issues/877 :-)

[2020-06-07 12:55] chkal commented on #877
I don't think that we need "custom cookie types", but "custom cookie attributes". And this could be achieved by adding a list of "custom attributes" to the `NewCookie` class.

Something like:

[code]

Which would produce something like:

[code]

Currently, the `NewCookie` class is immutable, so perhaps the list of custom attributes should be supplied via the constructor. But that basically what I

[2020-06-07 13:36] mkarg commented on #877
Given the fact that a type is defined by the sum of its attributes, this is exactly what I meant. ;-)

On the other hand, it might be beneficial in some use cases to actually have a bit more support:
* Receivers of cookies would love to write `receivedCookie.isFoo()` (in contrast to `myCookiePojo.isFoo()` which already is possible), so in alignment with the general extensions design of JAX-RS it w

[2020-06-08 13:29] andymc12 commented on #845
@chkal yes, thanks for mentioning it.

[2020-06-08 13:29] #845 closed

[2020-06-10 07:54] sdaschner opened #878 "Allow ParamConverters to be defined by @Provider"
One gotcha I've bumped into many times is that you can't register a `ParamConverter` with `@Provider` but only via `ParamConverterProvider`.

While we need to keep the latter one, is there anything holding us back from directly allowing the following, without any additional config?

[code]

[2020-06-10 08:04] sdaschner opened #879 "Add type conversion for parse String method"
Chapter [Fields and Bean Properties](https://github.com/eclipse-ee4j/jaxrs-api/blob/master/jaxrs-spec/src/main/asciidoc/chapters/resources/_resource_field.adoc#fields-and-bean-properties) explains how implementations need to supports specific types for automatic field conversion.

In the Config JSR (382) back then, we had discussions around what to support and added a `parse(String)` / `parse(Char

[2020-06-10 08:05] sdaschner commented on #879
FYI see https://github.com/eclipse/ConfigJSR/blob/master/spec/src/main/asciidoc/converters.asciidoc for the draft of the spec back then (now the JSR is withdrawn, however).

[2020-06-11 07:53] mkarg commented on #878
We could either mark the *correct* converter with an annotation having its type as an attribute, or we could extend `ParamConverter` with a method which allows to ask `boolean canConvert(Type)`.

[2020-06-11 08:10] mkarg commented on #879
The spec could mandate that each compliant implementation MUST provide an implementation of `ParamConverterProvider` with lowest `@Priority` (to be able to override it) that provides an instance of `ParamConverter<Object>` being able to auto-convert *all* classes providing `static parse(CharSequence)` (including all implementations of `CharSequence`). So there is no need for a special case in the

[2020-06-11 10:44] chkal commented on #879
I would also prefer an approach like this. However, to be consistent, it would require to use the same mechanism for `valueOf`, `String` constructors and the other types specified in section 3.2 of the spec.

I would prefer to have out-of-the-box support for common types which are part of the JDK like `LocalDate`.

[2020-06-11 10:53] chkal commented on #878
I don't think that this would work well for generic types.

But that's essentially what `ParamConverterProvider` provides today.

My 2 cents: It is clear that directly annotating `ParamConverter` with `@Provider` won't work in all cases. But it could be a nice shortcut in simple cases (non-generic types without the need to access annotations). For all other cases `ParamConverterProvider` should st

[2020-06-12 07:25] sdaschner commented on #878
Good point @spericas, having a solution that works also with generics would be preferable, but that indeed could be solved with a method similar to what @mkarg described. This could be a `default` nop method for when the type is clear (also to be binary compatible), and would need to be extended if the users define multiple converters that only differ in their nested types.

[2020-06-12 07:31] sdaschner commented on #879
@mkarg You're right with the case that `String` implements `CharSequence`. In Config we made it explicit, since the impls have to do the extra work, and also we argued that users only really need the automatic conversion for anything except CharS xor String, and then the impls only have to check two signatures instead of investigating the param type, that was our motivation back then. But I'm fine

[2020-06-13 15:55] chkal commented on #849
Fixed via #867.

[2020-06-13 15:55] #849 closed

[2020-06-15 17:07] mkarg commented on #869
@kwsutter @arjantijms I assume this issue can be closed due to MR #870?

[2020-06-15 17:11] mkarg commented on #819
@andymc12 I didn't find much time to spend into this issue, so I'd like to transfer it. May I assign it to you?

[2020-06-15 18:05] andymc12 commented on #819
@mkarg Sure - I should have some time later this week to look into this further.  Thanks!

[2020-06-15 18:41] arjantijms commented on #869
Yes indeed, thanks for the ping.

[2020-06-15 18:41] #869 closed

[2020-06-15 19:46] NicoNes opened #881 "Clarification about visibility of properties/providers registered on FeatureContext in DynamicFeature"
Hi,

Suppose that I register following `DynamicFeature`:

[code]

and following resources:

[code]
[code]

Should `Resource1.get()` return `myValue` or `null` ?
Should `Resource2.get()` return `myValue` or `null` ?

Thanks

[2020-06-15 20:13] mkarg commented on #819
Great, thanks a lot!

[2020-06-15 20:18] andymc12 commented on #881
Hi @NicoNes,

I would expect `Resource1.get()` to return "myValue", and `Resource2.get()` to return null (assuming nobody else set "myProperty" to a non-null value).

The example of a DynamicFeature in the spec is is section 6.5.3 - but it only shows registering a provider, not a property. Still, I think the implication is that it should work for properties too.

HTH, Andy

[2020-06-16 12:26] codeastra2 opened #882 "Throwing a `ForbiddenException` fails with ClassNotFound."
Env:
Java SDK version: 1.8
javax.ws.rs-api: 2.0
Using this a springboot server on centosVM.
My maven dependency:
`
<dependency>
    <groupId>javax.ws.rs</groupId>
   <artifactId>javax.ws.rs-api</artifactId>
     <version>2.0</version>
   </dependency>
`

I needed to raise a `ForbiddenException` so i did a `throw new ForbiddenException("Evil Exception")`. However, on the receiver side instead of th

[2020-06-16 12:55] NicoNes commented on #881
Hey @andymc12

Makes sense to me.

Thanks

[2020-06-16 12:55] #881 closed

[2020-06-16 13:06] NicoNes commented on #882
Hi @codeastra2 ,

JAX-RS is just an API  and to make it work properly at runtime, you have to provide an implementation.

By default JAX-RS 2.0 looks for Jersey as default implementation but you can provide the implementation you want.

Hope this help,

Nicolas

[2020-06-25 19:40] andymc12 commented on #745
I noticed that I lost track of a lot of emails a few months back and just recently found them again.  Apologies for the slow replies.

IIUC, both approaches are valid, though I tend to prefer the lazy approach. For many implementations, it might not be possible (or at least not cheap and easy) to determine the health of a sink until it attempts to send an event to it - or until the broadcaster is

[2020-06-26 14:08] spericas commented on #745
@NicoNes Sorry for the really late response. I'm not sure the spec really needs to distinguish between these _approaches_. Is it really worth enforcing implementations to decide one way or the other? Sometimes it is better to engineer some leeway in the process.

 I would expect most implementations to use what you call the "lazy" approach, the alternative is likely difficult and costly to impleme

[2020-06-26 15:07] NicoNes commented on #745
Hi @andymc12 and @spericas,

Thanks for the response.

I agree with both of you guys and I also prefer the "lazy" approach  that is easier to implement

While implementating SSEBroadcaster spec on RESTEasy I choosed the "lazy" approach that seems to be more obvious/simple to me in respect of the spec.
But it raised few questions in the team with people wondering if this "lazy" approach instead of

[2020-06-29 20:43] andymc12 commented on #745
@NicoNes, I like that clarification - I would change the wording just slightly to be (my change in **bold**):
* `SseBroadcaster.onError(...)`:

* `SseBroadcaster.onClose(...)`

@spericas (and others) Are you ok with this change for 3.0?

[2020-07-01 19:39] spericas commented on #745
@andymc12 As I said above, I'm not really sure we need these clarifications, but I'm _not_ opposed to making them.

[2020-07-02 02:06] andymc12 commented on #745
Thanks @spericas - @NicoNes, do you want to open a PR for these changes?  If not, I might be able to do it later next week.

[2020-07-02 13:31] spericas commented on #745
@NicoNes Since you've been working on this, I think you should open it whenever you can.

[2020-07-02 21:15] NicoNes commented on #745
@spericas , I agree with you.
@andymc12 Don't bother about it, I will do it at the end of the week or the begining of the next one.

Thanks guys

[2020-07-06 10:32] codeastra2 commented on #882
What do you mean by implementation? All i am trying to do here is throwing an exception, should i do anything else to throw this exception ?

[2020-07-06 12:56] spericas commented on #882
@codeastra2 What @NicoNes implies is that this is _not an issue in the Jakarta API_ (formerly JAX-RS). You need an implementation to use this API and the problem is likely in the integration; in this case you likely need to file this against SpringBoot or check their documentation.

The error above seems to indicate that Jersey (java.lang.ClassNotFoundException: org.glassfish.jersey.internal.Runti

[2020-07-06 12:56] #882 closed

[2020-07-11 13:23] NicoNes commented on #745
Hey @andymc12 @spericas

Finally I got time to do the PR, here it is https://github.com/eclipse-ee4j/jaxrs-api/pull/887.

[2020-07-21 05:54] jimma opened #889 "Specify where to write the MediaType of Sse event ?"
We can set the Sse event media type with jaxrs api like:
[code]
But this setting isn't write and send to client like what http ContentType header does. Should spec define the behavior to write this information to stream? One possible place is event's comment field :
[code]

[2020-07-21 14:36] andymc12 commented on #889
Hi @jimma,

My understanding of the `mediaType(...)` method wrt to SSEs is that it is used to determine the MessageBodyWriter that will serialize the event's data object to be sent to the client. That way if you wanted to send back an entity type (e.g. "dog" or "widget", etc.), you could specify the MediaType as `application/json` or `application/xml` and then the appropriate MBW (JSON-B or JAXB)

[2020-07-21 14:37] chkal commented on #889
I'm just guessing here, but as SSE doesn't define a way to include the content type in an event, the media type was most likely just added to the JAX-RS API to support the standard MBW API for serializing the event payload.

So IMO we shouldn't include the content type in the comment field. Especially because this isn't part of the expected behavior of SSE.

[2020-07-21 15:25] spericas commented on #889
Exactly, I agree with @chkal and @andymc12

[2020-07-21 17:14] ronsigal commented on #889
I thought about this a while ago ... given that I don't remember what I
was thinking about yesterday, my recollection is a little fuzzy, but

https://www.w3.org/TR/2009/WD-eventsource-20090421/#event-stream-interpretation

says that an unrecognized field will be ignored by SSE. That suggests
that a non-standard field could be used to specify the media type. Now,
Stephane Epardaud at Red Hat, who I

[2020-07-21 19:47] mkarg commented on #889
As @andymc12 said, we added that in JAX-RS so we can use MBWs. It is not intended to be sent to the receiver. So I do not see that the spec needs to define that.

[2020-07-23 06:00] jimma commented on #889
Thanks all for your inputs.

I think these are two good ideas to notify the receiver a media type to read event to a java object. Do we need to clarify how does receiver get the correct media type in spec or api doc to read event ?

[2020-07-23 17:50] andymc12 commented on #889
Maybe.  It seems more like a something I would expect to find in a blog post or "best practices guide" rather than the spec.  It might be worthwhile to add some language to the effect of "it is usually a good idea not to mix different media types in events to the same sink, as most clients will only be expecting events of one media type".

[2020-07-23 21:19] mkarg commented on #889
+1. Actually this is not the business of the spec. The spec is about declaring how JAX-RS works, not about what people aren't expected to do. We can have that in a separate location, like a FAQ or design guide, but not in the spec.

BTW, it makes pretty much sense to have different media types in events, as long as they are *compatible*. For example, `application/fruit-apple+json` and `application

[2020-08-03 14:14] andymc12 opened #890 "Support for arrays as parameters"
Section 3.2 says the following:

the corresponding Javadoc, however in general (excluding `@Context`) the
following types are supported:

a registered `ParamConverterProvider`. See Javadoc for these classes for
more information.

`String` argument.

`fromString` with a single `String` argument that return an instance of
the type. If both methods are present then `valueOf` MUST be used unless
the t

[2020-08-03 17:36] mkarg commented on #890
Sounds reasonable. Thank your for bringing this forward.

[2020-08-10 22:48] NicoNes commented on #745
@jimma can we close this one ?

[2020-08-12 09:02] jimma commented on #745
@NicoNes  +1 to close this.

[2020-08-12 12:05] NicoNes commented on #745
@jimma I can't do it  cause I'm not the author. Can you do it please ?

Thanks

[2020-08-12 13:17] spericas commented on #745
@NicoNes Let's merge the PR and then I can close this one.

[2020-08-12 13:30] NicoNes commented on #745
Oh you are right the PR is not merged yet.

Thanks

[2020-08-14 22:32] pdinc-oss commented on #468
another patch we are going to have to make... sigh!

[2020-08-15 22:20] mkarg opened #896 "Undo EFSL changes"
**[Kevin Sutter](@kwsutter) asked us to undo the EFSL changes:**

Hi,
A few months back, I had created Issues against each of the Specification Projects to update the EFSL text based on a discussion on these two mailing lists.  It turns out that some of that discussion was incorrect and we shouldn't have updated the EFSL text.  It has been explained to me that the EFSL text must stay as it was ori

[2020-08-15 22:21] mkarg commented on #896
I think it should be sufficient to `git revert` this commit: https://github.com/eclipse-ee4j/jaxrs-api/pull/874/commits/5d554d7824986ce7fa893de33de176aeed746dcb

[2020-08-17 13:04] spericas commented on #468
@pdinc-oss Links to internal issues that are not accessible to everyone here should NOT be included.

[2020-08-18 20:58] jwcarman commented on #569
I sincerely don't like the idea of requiring CDI for any JAX-RS project. My preferred stack these days is CXF in Spring Boot. It'd be a shame for CXF not to work in Spring Boot anymore since it's not a fully CDI-compliant IOC container.

Perhaps we can just come up with some requirements of how JAX-RS applications are to behave in an IOC container (OSGi, Spring, CDI, etc) and then the provider (CX

[2020-08-18 22:18] arjantijms commented on #569
@jwcarman Since you are a Spring user, just wondering if you know. How does Spring MVC (with REST) does this? How does that framework makes sure it can work in OSGi, Spring, CDI, and perhaps Guice and HK2, and maybe even JSF Managed Beans?

[2020-08-18 22:21] jwcarman commented on #569
They don't. That's why I don't use SpringMVC and I use JAX-RS.

[2020-08-19 13:50] spericas opened #898 "Final 3.0.0 API jar delivered to Staging repo"
Created this issue to discuss any final steps needed to push the final 3.0.0 bits to staging. See #832.

[2020-08-19 13:51] spericas commented on #832
This version of Jersey already uses our API version 3.0.0-M1. Will be updated to use the final bits from staging when they become available (https://projects.eclipse.org/projects/ee4j.jersey/releases/3.0.0-m6).

[2020-08-19 15:22] chkal commented on #898
Any idea what we can do regarding the PDF rendering issue? See #876 for details.

[2020-08-19 16:32] spericas commented on #898
@chkal Don't have any suggestions. But that shouldn't prevent us from pushing the API jar to staging, right?

[2020-08-19 17:13] chkal commented on #898
Yes, sure. I just wanted to mention it, as the spec document will be part of the final release.

[2020-08-20 13:07] spericas commented on #898
I'll start with the release/staging process over the weekend.

[2020-08-20 13:09] spericas commented on #898
Is it not an option to do Asciidoc -> HTML -> PDF until we find something better?

[2020-08-20 14:15] chkal commented on #898
Yes, this may be possible. Not sure how good the results are, but it is worth a try.

[2020-08-20 15:28] spericas commented on #832
https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/staged-900/jakarta-restful-ws-tck-3.0.0.zip

[2020-08-24 14:23] spericas commented on #898
See PR #899

[2020-08-24 15:27] #890 closed

[2020-08-26 13:07] senivam opened #900 "HttpHeader for Expect"
will it be possible to add after [this line](https://github.com/eclipse-ee4j/jaxrs-api/blob/739605d01db73c522779dd43897bf86c8709ad2d/jaxrs-api/src/main/java/jakarta/ws/rs/core/HttpHeaders.java#L199) HttpHeader for Expect?
[code]

this is required to provide support for HTTP 100-continue handling (see related [Jersey bug](https://github.com/eclipse-ee4j/jersey/issues/4536) about this)

[2020-08-26 13:19] #896 closed

[2020-08-26 16:52] spericas commented on #832
https://github.com/eclipse-ee4j/jakartaee-tck/issues/457

[2020-08-26 18:10] andymc12 commented on #900
Yes, I think it makes sense to add the Expect header to the list in `HttpHeaders`. Can you open a pull request adding these lines?  Make sure to target the `3.1-SNAPSHOT` release since we cannot add it to the 3.0 (master) release.  Thanks!

[2020-08-27 10:31] mkarg commented on #900
@andymc12 I agree with you, but just for my own curiosity: What do you expect to break if we add a new `static String` to this interface? IMHO it would be safe to do it even in `master`, as nobody would say this is really a feature, and we keep backwards compatibility.

[2020-08-27 12:54] spericas commented on #832
https://jakarta.oss.sonatype.org/content/repositories/staging/jakarta/ws/rs/jakarta.ws.rs-api/3.0.0/

[2020-08-27 13:03] senivam commented on #900
so, just to be clear, shall I do the PR or @mkarg will do that? And how to proceed? :)

[2020-08-27 13:40] andymc12 commented on #900
@mkarg

Nothing should break, afaik, but my understanding was that Jakarta EE 9 was supposed to be binary compatible with Jakarta EE 8 except for the package name change.  I would also recommend putting this into 3.1 since @spericas just released 3.0 - I think we could probably re-spin the release, but even if it is allowed to add to 3.0, I don't think this change is worth the trouble to re-spin.

[2020-08-27 16:01] spericas commented on #900
Yes, this should be 3.1. Looks like @mkarg already set that.

[2020-09-01 07:25] stanio opened #904 "[spec] Matching Requests to Resource Methods – Fails to match some straighforward case"
I've initially opened eclipse-ee4j/jersey#4557 but it was suggested I put this up for discussion here.

Using `@Path` configuration as following:

[code]

causes `GET /rest/foo` to return 404 Not Found, while `GET /rest/foo/bar` and `GET /rest/foo/baz` return 200 OK as expected.  FWIW, I'm seeing `GET /application.wadl`:

[code]

which doesn't suggest any wrongdoing to me.  Changing the `@Path` de

[2020-09-01 09:19] stanio commented on #904
[resource-paths-2.zip](https://github.com/eclipse-ee4j/jaxrs-api/files/5155174/resource-paths-2.zip) – Includes a `cxf` profile:
[code]
The three implementations (Jersey, RESTEasy, and CXF) appear to behave the same – as per current spec, though it is suboptimal in my opinion.

[2020-09-01 17:23] mkarg commented on #904
IIUC what you actually want is that we shall change the spec so matching `/rest/foo` would work without the workaround? The problem is that this would break all existing applications for the sake of just some new ones that now can omit the workaround. Does not sound like a good enough reason for really touching it.

[2020-09-02 05:18] stanio commented on #904
As far as I can tell the spec is currently broken in a way it makes just a specific case work (I would say inadvertently).  I think the spec could be adjusted so that specific case would continue to work but would make other non-conflicting cases work as well.  I'll try to revisit the algorithm in the spec and suggest an appropriate change.

At the very least I think this should be considered for

[2020-09-02 11:22] jansupol commented on #904
Note that the algorithm needs to be fast. For that, it has been designed to match-or-miss, no backtracking. Potentially, when there would be many resources, with subresources, the backtracking could be very slow. So when you already match `/rest/foo`, you find no resource method that applies to you, the algorithm does no backtracking to other root-resource classes. That's why 404. So it works as d

[2020-09-02 11:39] stanio commented on #904
The problem I see is not related to backtracking but using the wrong value to match against:

request URI path = `/rest/foo`

_U_ = final capturing group not yet matched (step 2)

-   `@Path("/rest/foo") BarResource`, _U_ = `""`
-   `@Path("/rest") FooResource`, _U_ = `"/foo"`

Note, this is not explicitly stated in the spec but it appears to use just the first _U_ for matching resource methods in

[2020-09-02 12:09] jansupol commented on #904
Step 1e:

order)

Tells you to use `/rest/foo`.

The backtracking is in your example, it does not matter which resource method is matched first:

[2020-09-02 12:21] stanio commented on #904
Not sure what you consider backtracking here.  My problem is the resource method is not matched, although there's no ambiguity.  Here are both examples:

_Not working_

-   `@Path("/rest/foo") BarResource`
    -   `@Path("/bar") bar()`
    -   `@Path("/baz") baz()`
-   `@Path("/rest") FooResource`
    -   `@Path("/foo") foo()`

_Working_

-   `@Path("/rest") BarResource`
    -   `@Path("/foo/bar")

[2020-09-02 12:32] stanio commented on #904
As far as I can tell it just sorts the classes which are then used in step 2:

[2020-09-02 12:44] jansupol commented on #904
I am afraid 1f filters the other resource classes out.

[2020-09-02 12:54] stanio commented on #904
Ah, yes.  I must have missed that.  Very unfortunate.  I still think the given original case should just work, and I don't think the matching would suffer a significant performance penalty – with the workaround I've used here, there's no difference.

[2020-09-02 13:03] spericas commented on #904
IMO it doesn't seem worth adding any more complexity (no matter how much that is) to the algorithm to handle this use case. You may be able to get around this limitation using resource locators.

[2020-09-02 13:36] stanio commented on #904
O.k.  So the suggestion is to use:

[code]

I don't think the spec would necessarily become more complex, while it would need some change, but implementations would become more user friendly allowing for a wider usage variety and less user frustration.  Please close this at your discretion.

[2020-09-02 13:52] stanio commented on #904
I may have misunderstood it as with Jersey I'm getting the following:

The `application.wadl` contains only:

[code]

although all resources appear to be accessible, incl. `GET /rest/foo`.

[2020-09-08 08:18] unexist commented on #792
Maybe it is still worth pushing this issue.. ;)

[2020-09-10 05:02] chkal commented on #792
I agree that there seems to be way to fix `equals()` (or am I missing something).

Therefore, I'm fine with (1) and (2) proposed in the original issue description. Anyone wants to open a pull request against the `3.1-SNAPSHOT` branch?

[2020-09-16 06:15] erik-brangs commented on #494
Is this planned for one of the next releases?

[2020-09-17 02:22] andymc12 commented on #494
@erik-brangs it is probably too late to go into the 3.0 release (and might not be allowed depending on if it changes behavior), but it could go into the 3.1 release.  Would you be interested in open a pull request with the suggested changes to the javadocs?

[2020-09-17 19:17] scottmarlow opened #906 "Update jakarta.ws.rs.core.Link to not depend on optional (for Jakarta EE 9) jakarta.xml.bind (JAXB)"
Hi,

As mentioned on [jakartaee-platform-dev ml ](https://www.eclipse.org/lists/jakartaee-platform-dev/msg02182.html), it looks like https://github.com/eclipse-ee4j/jaxrs-api/blob/master/jaxrs-api/src/main/java/jakarta/ws/rs/core/Link.java#L28 depends on (optional in Jakarta EE 9 Full Platform Spec) Jakarta XML Binding.

jakarta.xml.bind (JAXB) is optional in Jakarta EE 9 Platform SPEC as per [6.3

[2020-09-18 13:10] spericas commented on #906
It's an unfortunate dependency we've been carrying for a while. I don't really see how this could be fixed for EE 9 without introducing a backward incompatible change to JAX-RS, in the `Link` class. Seems like we're caught between a rock and a hard place on this one.

[2020-09-18 13:23] scottmarlow commented on #906
What is the current goal for what happens when say the Configurable class definition is loaded without JAXB on the classpath?

It looks like within JAX-RS, ClientResponseContext references Link.  ClientResponseFilter references ClientResponseContext and Configurable references ClientResponseFilter.  Configurable is referenced by other classes.

[2020-09-19 09:05] erik-brangs commented on #494
@andymc12 No, I'm not sure that I understand the API and the intention well enough to write the documentation.

I was asking because it would be nice if I could use one ``Client`` per application. However, it's still unclear to me how connection management would work in that case. The ``ClientBuilder`` API allows configuration of timeouts but it doesn't allow configuring number of concurrent conne

[2020-09-19 13:36] mkarg commented on #494
(I am the original reporter of this issue)

I think we could address this in 3.1, and if nobody chimes in, I will provide a PR.

Before that, we should shortly agree upon some facts. Proposal:

- `Client` instances MUST be thread safe
- `WebTarget` instances MUST be thread safe
-  `SyncInvoke` and `AsyncInvoker` instances MUST be thread safe
- `Invocation` instances MUST be thread safe
- `Request`

[2020-09-21 20:49] andymc12 opened #907 "Declare XML Binding packages as optional in JPMS and OSGi"
Per the [thread on the Jakarta Platform mail list](https://www.eclipse.org/lists/jakartaee-platform-dev/msg02182.html), we may need to make it more clear that Jakarta XML Binding is optional. We addressed this initially in issue #815 and PR #854
However, we need to make it more clear for JPMS and OSGi users that these packages are optional.

Per Lukas's comment in the mail thread, this can be done

[2020-09-21 22:00] andymc12 opened #909 "Rename `jakarta.xml.transform.Source` to `javax.xml.transform.Source` in _entity_providers.adoc"
It looks like we inadvertently renamed a package that is still in the Java SE APIs. This should be changed back to `javax.xml.transform.Source`.

[2020-09-22 13:48] scottmarlow commented on #906
I tried running the following with `java -verbose:class jaxrs | grep jakarta.ws.rs`:
[code]
Output:
[code]

As mentioned on https://github.com/eclipse-ee4j/jakartaee-tck/pull/511#issuecomment-696717963, we tried to run the jaxrs TCK without jaxb on the classpath however, glassfish wouldn't start.

https://github.com/eclipse-ee4j/jakartaee-tck/pull/511 is approved and tested for updating the TCK, s

[2020-09-22 14:08] kwsutter commented on #907
This issue looks to supersede or, at least, is related to Issue #906.  Just connecting the dots....

[2020-09-22 14:19] spericas commented on #898
We need to re-stage after after #906, #907 and #909

[2020-09-22 15:43] andymc12 commented on #906
Thanks for testing that Scott. I updated your test case to also load
jakarta.ws.rs.core.Link to see if it would automatically load the "Jaxb*"
inner classes.
public class jaxrs {
   public static void main(String args[]) {
      try {

 jaxrs.class.getClassLoader().loadClass("jakarta.ws.rs.client.ClientResponseContext");

 jaxrs.class.getClassLoader().loadClass("jakarta.ws.rs.client.ClientResponse

[2020-09-22 16:54] scottmarlow commented on #906
No, currently, when running the TCK with `xml_binding` keyword specified a ClassNotFoundException should let the JAXRS implementor know that they forgot to include the XML binding classes on the test classpath.

[2020-09-22 20:21] spericas commented on #906
@andymc12 Tested that type of loading as well today after I saw the comment from @scottmarlow. Must admit I was a bit surprised, but it seems that all the JAXB deps are in the static inner classes and those are not eagerly loaded, which is great.

[2020-09-22 21:47] #909 closed

[2020-09-23 14:45] spericas commented on #906
This was in informative analysis of the dependency problem, but as stated by others, no need to keep this one open anymore.

[2020-09-23 14:45] #906 closed

[2020-09-23 14:58] #907 closed

[2020-09-23 18:01] spericas commented on #898
Staging release has been updated and spec docs pushed with fix to `Source` class.

[2020-09-23 18:04] jansupol commented on #494
What does it mean to be thread-safe? Does it mean that thread A sets a property, and thread B sets the same property, replacing it for thread A? Or does it mean setting a property on thread A will create a new instance, so that thread B does not override it for thread A?

The same for instance for WebTarget, if thread A sets `path`, would it be replaced by thread B?

[2020-09-23 19:10] mkarg commented on #494
"thread-safe" means that those classes will still work correctly in case _multiple_ threads do _share_ them. This means, there shall not be a difference in the outcome of a given sequence of operations performed against such an instance, independend of how many threads are used to execute these operations, as long as the sequence stays the same. So yes, thread 2 will override the settings performe

[2020-09-23 19:21] mkarg commented on #494
"thread-safe" _in general_ means that each thread MUST NOT see the changes of the other thread, so it looks like an isolated instance, hence allow sharing of one instance without risk of interfering. There MAY be particular exception from that rule _where it makes sense_.

The JavaDocs of WebTarget say: "_Create a **new** WebTarget instance by appending path to the URI of the current target instan

[2020-09-23 21:10] jansupol commented on #494
Right, the WebTarget does that, silly me. Do I get it right that we would have the same behavior for the Client, and instead of one Client, we would have one for each `register` and `property`, similarly to WebTarget?

What is the use-case for having `Response` thread-safe?

[2020-09-23 21:21] mkarg commented on #494
I think what people expect is that _configuration_ of the client will effectively change _the same_ instance; it is one of the exceptions to the rule. Just the _usage_ of the finally configured instance can be done multi-threaded. But maybe others chime in with different opinion?

Regarding `Response` I just want to be sure that if we *could* easily make it thread-safe then we should allow a multi

[2020-09-24 08:53] jansupol commented on #494
Precisely, it is an exception to _each thread MUST NOT see the changes of the other thread, so it looks like an isolated instance_. Jersey always provided a new instance of a WebTarget upon setting a property; it is aligned with the rest of the WebTarget methods, and it is somehow expected, that doing:
[code]
would behave once with the property and second without the property. That's the whole poi

[2020-09-24 13:32] spericas commented on #494
This is a stronger condition than _thread safety_, which is really about guaranteeing code that is "free of race conditions". Object immutability and copy-on-writes is one particular approach. Just stating that something needs to be thread safe does not imply that threads must not see each others updates.

 Before getting to a PR, I think it would be useful to go over some **use cases** for all th

[2020-09-24 17:40] mkarg commented on #494
@spericas Agreed in general, but in case we agree that `Response` MAY (instead of MUST) be thread-safe there is no *additional* cost, at least for Jersey -- as per @jansupol's description what it *already* works like. :-)

[2020-09-24 17:41] mkarg commented on #494
@andymc12 @ronsigal @deki What is the opinion of IBM, Red Hat and Apache?

[2020-09-24 17:52] spericas commented on #494
How does it help a Jakarta REST developer to know that a class MAY be thread safe? It means checking an implementation's docs to see if something is thread safe, and that is already the status quo. We MUST avoid MAY.

[2020-09-24 18:01] jansupol commented on #494
I was merely talking about WebTarget implementation in Jersey. Not Response.

[2020-09-27 15:33] erik-brangs commented on #501
Does this issue cover the same content as #598? They seem quite similar.

[2020-09-28 16:33] mkarg commented on #501
At first glance, this seems to be a duplicate.

[2020-10-13 08:40] jansupol opened #912 "Compatibility Certification Request for Eclipse Jersey 3.0.0-RC2"
- [x] Organization Name ("Organization") and, if applicable, URL\
  Eclipse Foundation
- [x] Product Name, Version and download URL (if applicable)\
  Eclipse Jersey 3.0.0-RC2, see TCK Result Summary for the download links
- [x] Specification Name, Version and download URL\
   [Jakarta RESTful Web Services 3.0](https://jakarta.ee/specifications/restful-ws/3.0/)
- [x]  TCK Version, digital SHA-256

[2020-10-15 20:38] fwgreen opened #913 "Consider having @BeanParam support Record Classes"
Records look like a good fit for `@BeanParam` support:
[code]

[2020-10-15 21:33] jansupol commented on #912
A new TCK has been promoted, so after rerunning the TCK I have updated the [TCK Results Summary](https://eclipse-ee4j.github.io/jersey/tck/eclipse-jersey-3.0.0-RC2).
Now we have
- [x]  TCK Version, digital SHA-256 fingerprint and download URL
[Jakarta RESTful Web Services TCK 3.0.0](https://download.eclipse.org/ee4j/jakartaee-tck/jakartaee9-eftl/promoted/jakarta-restful-ws-tck-3.0.0.zip), SHA-256:

[2020-10-16 13:10] spericas commented on #912
Great, thanks Jan!

[2020-10-16 16:00] mkarg commented on #913
Unfortunately records are just in preview even in JDK 15.

[2020-10-16 18:06] fwgreen commented on #913
Because of the faster release cadence, I'm hoping for a conversation on what's required to start now, as the plan (as of July) is to [finalize Records in JDK 16](https://mail.openjdk.java.net/pipermail/amber-spec-experts/2020-July/002254.html) (due in March 2021).

[2020-10-16 18:08] arjantijms commented on #913
Although we're set to solving the issues, and taking advantage of Java SE is very important, the Jakarta Rest spec is bound by the version of Java that the TCK describes (both standalone as platform).

That should therefor allow certification on JDK 16. I'm greatly in favour to make this possible/allow this, but as of yet the TCKs are very, very tightly tied to JDK 8.

[2020-10-30 10:11] mkarg opened #915 "Clarification: ParameterConverter throwing IllegalArgumentException"
Apparently neither the spec PDF nor the JavaDocs specificy the common sense how an implementation MUST react upon IllegalArgumentException thrown by ParameterConverter.

[Jersey for example](https://github.com/eclipse-ee4j/jersey/blob/c1263e09ad867e88cf0596930d1e81917f997a48/core-server/src/main/java/org/glassfish/jersey/server/internal/inject/SingleValueExtractor.java#L65) is **silently** accepti

[2020-10-31 07:47] oliviercailloux commented on #804
Are you planning to release the specs as an html document somewhere on the web, perhaps, when these TODO will be done? It is nice to be able to refer to specific sections by URL in an electronic discussion, which the PDF documents of Oracle do not permit.

Am I correct that the latest spec document that is available on the web for JAX-RS (thus excluding cloning this repository and building the asc

[2020-10-31 09:12] chkal commented on #804
@oliviercailloux You can find the latest versions of the spec document (both in PDF and HTML format) here:

https://jakarta.ee/specifications/restful-ws/

This page currently contains the document of Jakarta RESTful Web Services 2.1 (2019) and the latest milestone of Jakarta RESTful Web Services 3.0.

[2020-11-05 16:54] starksm64 opened #916 "Release tasks for Jakarta RESTful Web Services 3.0"
The following tasks need to be completed in order to complete the Jakarta RESTful Web Services 3.0 spec release:
- [x] promotes api staging release promotes the specification api jars to maven central. An example release job script can be found here https://wiki.eclipse.org/MavenReleaseScript.
- [x]  go through the merged jakarta.ee specification website page to verify all the links are valid.
- [

[2020-11-07 13:11] mkarg commented on #916
@spericas @andymc12 Somebody already working on these tasks?

[2020-11-07 15:38] mkarg commented on #790
It's time to find an agreement. Proposal:

- There is no need to change neither Spec nor Javadocs.
- `UriBuilder.fromResource` MUST respect interfaces w.r.t the rules outlined by chapter 3.6 of the spec.

Please VOTE now. :-)

[2020-11-07 15:44] mkarg commented on #787
Apparently there are had been only +1 votes within the last months and no -1 votes. According to our voting rules this means that **all compliant implementations MUST respect `@ApplicationPath` in Java SE deployments**.

We now have to add a TCK test for this. Anybody like to volunteer?

[2020-11-07 15:55] mkarg commented on #772
There are open comments in PR #774 that have to be addressed before we can close this issue.

[2020-11-07 15:57] mkarg commented on #612
If someone could help me with jumpstarting into TCK maintenance, I would volunteer with this issue. :-)

[2020-11-07 15:58] mkarg commented on #853
@andymc12 Do you like to assign this issue to yourself?

[2020-11-07 15:59] mkarg commented on #736
@NicoNes This is a kind reminder that this issue is assigned to you and is planned for the next release of JAX-RS. :-)

[2020-11-07 16:04] mkarg commented on #900
@senivam Do you confirm that your wanted changes are contained in the 3.1 branch, so we can close this issue? Thanks.

[2020-11-07 16:13] mkarg commented on #494
So is there a counter proposal basing on the outcome of this discussion so far?

[2020-11-07 18:23] senivam commented on #900
@mkarg yes, sure, the issue can be closed as resolved. Thank you.

[2020-11-07 18:23] #900 closed

[2020-11-07 19:27] ronsigal commented on #790
I agree with @chkal: "JAX-RS should use the same annotation inheritance rules for UriBuilder.fromResource as for the server-side (which are described in section 3.6 of the spec)".  Given that Section 3.6 says, "inheritance of class or interface annotations is not supported", I think that "Create a new instance representing a relative URI initialized from a root resource class" unambiguously says t

[2020-11-07 19:34] ronsigal opened #917 "CVE-2020-25633"
Recently, we at RESTEasy (and Quarkus) have become aware of a possible security issue, and we want to bring it to the attention of the group. It is officially identified as CVE-2020-25633 (https://nvd.nist.gov/vuln/detail/CVE-2020-25633).

Suppose a client on rick.sanchez.edu invokes the resource method

   @GET
   @Path("nocatch")
   public String noCatch() throws Exception {
      Client client

[2020-11-07 20:12] arjantijms commented on #916
API available at: https://repo1.maven.org/maven2/jakarta/ws/rs/jakarta.ws.rs-api/3.0.0/

All links on https://jakarta.ee/specifications/restful-ws/3.0 look fine

[2020-11-07 20:15] arjantijms commented on #916
I think the project didn't create a release branch.

[2020-11-07 20:20] arjantijms commented on #912
As committer for Jakarta RESTful Web Services I assert this is complete and can be accepted. I don't believe the project lead, @spericas , will have any objections to this.

[2020-11-07 20:20] #912 closed

[2020-11-07 20:20] arjantijms commented on #916
CCR accepted and closed: https://github.com/eclipse-ee4j/jaxrs-api/issues/912

[2020-11-07 20:34] arjantijms commented on #916
Email sent. CC'ed @jansupol @spericas

[2020-11-07 20:36] arjantijms commented on #916
All tasks have been completed, closing this issue.

[2020-11-07 20:36] #916 closed

[2020-11-07 20:47] #898 closed

[2020-11-07 20:48] arjantijms commented on #819
Closing this issues as 3.0 for Jakarta EE 9 has been delivered.

[2020-11-07 20:48] #819 closed

[2020-11-07 20:53] arjantijms commented on #554
Issue 1 has been addressed and merged. I think this can be closed now, especially as 3.0 has been delivered. Please re-open and retarget if more work needed to be done.

[2020-11-07 20:53] #554 closed

[2020-11-07 20:57] arjantijms commented on #804
@chkal and now it contains the final version here: https://jakarta.ee/specifications/restful-ws/3.0/ ;)

[2020-11-07 20:58] arjantijms commented on #804
I still see a few list items open here, but 3.0 has been delivered. Retargeting this to 3.1 now.

Alternatively, move this back to 3.0 and create a new issue for the remaining items.

[2020-11-07 21:01] arjantijms commented on #750
Full java docs are available here: https://jakarta.ee/specifications/restful-ws/3.0/apidocs

@FranklinYu This pattern of java docs availability is for all Jakarta EE projects.

[2020-11-07 21:01] #750 closed

[2020-11-07 21:03] arjantijms commented on #587
PR #667 has been merged. Closing this issue.

[2020-11-07 21:03] #587 closed

[2020-11-07 21:11] arjantijms commented on #832
https://repo1.maven.org/maven2/jakarta/ws/rs/jakarta.ws.rs-api/3.0.0/

[2020-11-07 21:11] arjantijms commented on #832
@kwsutter I think we can close this now?

[2020-11-08 08:01] mkarg commented on #916
@arjantijms @spericas Thank you for finishing this task. But is it really the way we want to work together as committers that we just act on a Saturday night (while the project lead is not in office) but do not discuss before?

[2020-11-08 08:05] mkarg commented on #832
@arjantijms There are the following bugs open, so @kwsutter should decide if we close this issue with open bugs, or if the bugs have to get fixed before:

- https://jakarta.ee/specifications/restful-ws/3.0/jakarta-restful-ws-spec-3.0.html - It says released September 23rd, but it was released in November. The spec committee must decide what the release date is: The finish of the ballot or the uplo

[2020-11-08 08:16] mkarg commented on #804
I'm fine with moving it to 3.1

[2020-11-08 08:23] mkarg commented on #916
I think what could count here is that branch `3.1-SNAPSHOT` should be rebased ontop `master` now.

[2020-11-08 08:53] mkarg commented on #790
My proposal is a spec change. When designing applications it is really not nice that annotations have to get repeated in the implementing class. Why don't we change the spec and do allow inheritance of annotations from interfaces? Are there technical reasons against this? It would make complex code cleaner to read due to DRY.

[2020-11-08 11:29] chkal commented on #915
What about [this paragraph in section 3.2](https://github.com/eclipse-ee4j/jaxrs-api/blame/master/jaxrs-spec/src/main/asciidoc/chapters/resources/_resource_field.adoc#L72-L83)?

[code]

According to my understanding this clearly states that a `404` or `400` status code is expected when `ParameterConverter::toString` throws a `IllegalArgumentException`. Or am I missing something?

[2020-11-08 12:05] mkarg commented on #915
Good catch! So while I personally would prefer to always use 400, I am okay with 404, too.

So we do not need to change anything, if everybody is fine with the resolution that `IllegalArgumentException` MUST result in 404 / 400, hence *it definitively is a bug* that Jersey silently uses the default value.

@andymc12 @jansupol @ronsigal Agreed?

[2020-11-10 01:03] ronsigal commented on #915
With @chkal's excellent catch, I agree. +1.

[2020-11-10 02:59] andymc12 commented on #853
@mkarg yes, thanks for the nudge.

[2020-11-10 03:43] andymc12 commented on #790
Sorry, I think I'm confused on what is being proposed.  As I understand it, Jersey's `UriBuilder.fromResource(SomeResourceClass.class)` implementation does not return URI paths from `@Path` annotations on super classes or implemented interfaces.  But section 3.6 says that class-level annotations are not supported:

So it sounds like Jersey's implementation already respects the rules in 3.6.

Is th

[2020-11-10 15:37] spericas commented on #494
I agree it is not ideal, but you're not addressing the cost factor of making everything thread safe (there's no free lunch). Also, saying nothing or saying that it is implementation dependent is not the same. If I read the latter, I expect the implementation docs to clarify it; otherwise, I don't.

[2020-11-10 15:41] spericas commented on #917
Thanks for bringing this up Ron, very interesting. I can't seem to access the CVE link at this time, but would you say that the _only_ sensitive information that could be returned is in headers/cookies? Trying to understand what it would take to sanitize such a response.

[2020-11-10 15:44] spericas commented on #612
@mkarg What exactly do you want to do next? We can always pick @jansupol's brain as he should be an expert in this area :)

[2020-11-10 15:51] spericas commented on #916
Feel free to do that @mkarg. Otherwise, let me know. We should tag 3.0 too.

[2020-11-10 15:57] spericas commented on #915
I concur.

[2020-11-10 17:11] mkarg commented on #915
Thanks, everybody. According to our resultion I have filed [Jersey issue #4636](https://github.com/eclipse-ee4j/jersey/issues/4636) and hope somebody chimes in with a bug fix. :-)

[2020-11-10 17:27] mkarg commented on #916
Created [tag 3.0.0](https://github.com/eclipse-ee4j/jaxrs-api/tags).

Rebasing is under construction, stay tuned.

[2020-11-10 20:38] ronsigal commented on #917
Hey @spericas,

Hmmm, I just accessed https://nvd.nist.gov/vuln/detail/CVE-2020-25633. Maybe it was a temporary outage ....

Besides headers and cookies (well, cookies are in a header), I would be concerned about the body. I just ran this
[code]
This would be container dependent (I'm using standalone undertow), but the call to second() returned a stacktrace showing the failure in second(), which i

[2020-11-10 22:57] spericas commented on #917
Yes, I can access it now. I'll experiment with this a bit and report back. But yes, in general, it seems that leaking anything about the _third party_ service is problematic and we should do something about it.

[2020-11-11 16:13] mkarg commented on #916
Rebasing done. Branch "2.1-SNAPSHOT" now is based on branch "master". As a result, a lot of duplicate commits have been collapsed. If somebody feels like there is something missing, don't hesitate to report.

[2020-11-11 16:41] mkarg commented on #612
I want to extend the TCK by tests for SeBootstrap etc., but I have not yet built nor run the TCK before. If someone could help me with setting up the TCK on Windows that would be terrific.

[2020-11-11 16:49] mkarg commented on #494
Actually I do not want to imply costs. My proposal is not to change existing implementations to *make* them thread-safe but to find out the minimum status-quo of existing implementations and simply describe that in the spec. Just to let app developers have a safe base on which they can trust.

[2020-11-11 17:08] andymc12 commented on #612
@mkarg, You might also want to check with @scottmarlow (RedHat) - I think he's been heavily involved in the TCK for EE9. He has set up a slack channel for TCK issues at https://eclipsefoundationhq.slack.com/archives/C0131MLD538

[2020-11-11 17:40] jansupol commented on #612
@mkarg I have summed up a wiki about the [build TCK](https://wiki.eclipse.org/TCK:Build_From_Jakarta_EE_TCK_Repo_And_Run) back at the Jakarta EE days. You might also check the [Jenkins jobs](https://ci.eclipse.org/jaxrs/view/TCK/).

[2020-11-11 18:27] mkarg commented on #612
Thank you for your great tips! I will check Jan's wiki and Jenkins Jobs first, and when I need more help, I will ask Scott and Jan! :-)

[2020-11-11 18:58] jansupol commented on #612
The TCK GitHub repo has its own [wiki](https://github.com/eclipse-ee4j/jakartaee-tck/wiki/Instructions-for-building-and-running-JakartaEE-TCK-bundle), too.

[2020-11-11 21:52] scottmarlow commented on #612
Here is a quick summary of TCK maintenance.  For existing Jakarta EE releases, we do not add/update tests, we will only exclude challenged tests.  The reason is that once an implementation has passed the TCK for a specific SPEC version, we don't add/update tests as that would change the rules of what implementations must do for that particular SPEC version.

So, I think any tests that you add woul

[2020-11-11 23:30] arjantijms commented on #612
@scottmarlow

I wonder if it's an option already (or soon) to start adding new tests based on Junit/TestNG + Arquillian in a separate test project, which are then executed just like the CDI, Jakarta Validation and Jakarta Batch tests are. Something like this was recently on the Faces list as a way forward for us, and maybe it's a useful strategy for other projects as well.

[2020-11-12 13:36] jansupol commented on #612
There is an activity like that on[ JSONB](https://github.com/eclipse-ee4j/jsonb-api/tree/master/tck), but JSON-B is basically a standalone technology, no deployment, no servlet, no CDI (the only CDI test is not part of the TCK and has been removed, it is only part of the CTS and as far as I know there is no consensus about how the CTS tests - EJB, CDI, and BV tests in case of JAX-RS should work as

[2020-11-12 18:31] mkarg commented on #790
My proposal actually is to convince everybody that UriBuilder.fromResource() now supports class-level annotation inheritance. This is what feels most intuitive to the average programmer in comparison to the current situation of repeating annotations.

[2020-11-12 20:42] spericas commented on #917
@ronsigal Here is a tweak to your example where _second_ throws an exception directly to make it more clear. The response returned by _second_ will now be forwarded to _first_'s client verbatim:

[code]

[2020-11-13 02:18] andymc12 commented on #917
That does seem like an exposure, but I think this is probably best handled with documenting the best practice (catching the exception from the client call and handling it without re-throwing the WebApplicationException).

We could create a client specific exception type, but I think that will end up causing issues when the child exception types (BadRequestException, NotFoundException, etc.) - we w

[2020-11-13 04:47] chkal commented on #790
I agree that the annotation inheritance rules described in section 3.6 are a bit "special" and may not be very intuitive. But changing them would be challenging in regards to backwards compatibility. Unfortunately.

[2020-11-13 13:53] spericas commented on #917
We need to document this for sure.

 I was thinking along the same lines and arrived to the same conclusion. Especially around backward compatibility, as I'm sure there are services out there that rely on this behavior in certain cases.

 This is an interesting idea. Not thrilled about throwing a `WebApplicationException` to the container, but our hands are a bit tied here.

[2020-11-13 19:36] andymc12 commented on #917
In reviewing issue #920, I was reminded that implementations are now required to provide a default exception mapper.  If we add a new variable to `WebApplicationException` to indicate that the exception came from a client invocation, then we could mandate that the default exception mapper ignores the embedded `Response` in client-based exceptions.

That way, if users _do_ want those headers/cookie

[2020-11-14 01:16] ronsigal commented on #917
re: "tweak to your example"

Yes, that really clarifies the problem. Although, I don't think we have to worry about nuke codes any more: our president has probably unembargoed them already. ;-)

re: "We need to document this for sure."

I agree. Our goal in RESTEasy was to try to create the safest default behavior, but I guess how much nannying to do will always be an issue.

re: "backward compati

[2020-11-14 01:23] ronsigal commented on #790
I've never understood why the current restrictions on annotation inheritance exist. Was there a compelling technical reason? And then we have to say explicitly that CDI annotation inheritance is different. Would it be possible to just adopt the CDI inheritance rules?

[2020-11-14 12:32] chkal commented on #917
I also like the idea of adding something like a simple boolean to the exception class to indicate that it was thrown from the JAX-RS client. This would allow to add special handling to exception mappers, just like proposed by @andymc12.

[2020-11-14 12:34] chkal commented on #790
I also wondered what the reason was to define it this way.

@spericas Any idea?

[2020-11-16 17:12] spericas commented on #917
@andymc12

 We all seem to be in agreement about the use of a bit in `WebApplicationException` to denote its origin. Now if we ignore `Response` by default, that would introduce a change in behavior that may cause problems in some apps --likely not many but one is enough :)

 I'm assuming you mean a _system_ property defined by the API?

[2020-11-16 17:17] spericas commented on #917
@ronsigal

 :-)

 Is that really necessary? What if the client API impl always "stamps" an exception as originated by it; sometimes that flag will be inspected, other times it will not.

[2020-11-16 17:20] spericas commented on #494
I see, I have no problem with that. We need to put together a table then and let implementers fill it out.

[2020-11-16 17:24] spericas commented on #790
I don't know the history of that, unfortunately. They are a bit odd for sure. We should definitely review this in the next major release.

[2020-11-16 17:41] andymc12 commented on #917
@spericas

+1 to keeping the default as _not_ ignoring re-thrown client responses.

Originally, I was thinking a property that users could set in their Application subclass - something like:
[code]

but maybe we could use both that and a system property (so users don't need to change their code to resolve the vulnerability).

[2020-11-17 18:59] ronsigal commented on #917
Abstractly, there seem to be two general approaches.

1. In RESTEasy, we changed to a safer behavior and made it possible to revert to the original behavior.
2. The suggestion here is to keep the current behavior but make it possible to switch to a safer behavior.

Our approach was to accept some breakage in response to a CVE. Maybe, in the context of a specification, it makes sense to be more res

[2020-11-19 00:25] ronsigal commented on #917
James Perkins has uncovered a variant of this problem.
[code]
Instead of calling get(String.class) and throwing a WebApplicationException, this one just explicitly gets the Response and returns it. That could be either 1) deliberate, or 2) bad programming. Maybe (in the future) that Response should be sanitized also? Anyway, I thought it was worth mentioning.

[2020-11-19 14:12] spericas commented on #917
@ronsigal I wouldn't consider this use case in the same category. In the previous example, the code to sanitize the response was, somewhat unexpectedly, skipped due to the exception being thrown in the statement above it. In this example, user code always gets a chance to process the response, so I would tab this one as pilot error.

[2020-11-19 15:41] jamezp commented on #917
@spericas Do you mean that if a `Response` is requested, say in a GET, that the response should be returned and a WAE not thrown assuming an error of course?

[2020-11-26 11:38] sharvarijoshi opened #922 "Resolution of CVE-2020-25633 to latest available resteasy-jaxrs 3.13.x"
As resteasy 3.13.x  series is active ,what is the plan to fix the CVE-2020-25633 https://nvd.nist.gov/vuln/detail/CVE-2020-25633 in 3.13.x?

[2020-11-26 13:13] jansupol commented on #917
For Jersey internals, we do not need the bit, since we know by the Response subclass whether it was created by the Client or not. I assume other frameworks would have similar knowledge. The information may be important for the customer, would the `ExceptionMapper` be used. However, the Spec. 3.3.4.1 says that the `ExceptionMapper` must not be used when the `WebApplicationException`'s `Response` ha

[2020-11-26 13:32] jansupol commented on #913
I do not think that TCK's flexibility should decide what the Spec shall support. It is up to the Spec to define what JDK version it supports. There is a bunch of requirements in many specs that are untestable by the TCKs at the moment.

[2020-11-28 09:12] scholzi100 commented on #922
Please have a look at #917.

[2020-11-28 09:58] scholzi100 opened #923 "HTTP "Server Push""
Recently I used Jax-RS with HTTP/2 quite a bit. I also had a quick dive into Server-Sent Event (SSE).
As much as I can tell, HTTP Server Push does quite the same as SSE but SSE relies on" messages" send over the wire and Server Push on HTTP Frames (aka HTTP Responces).

For me it seams to be a better solution to relay on Server Push as of HTTP/2, since it does provide better integration in the sen

[2020-11-28 13:21] mkarg commented on #923
HTTP/2 is definitively an interesting issue for the future. The problem with JAX-RS is that it is just common API above existing products. So you gain nothing just by adopting HTTP/2 in JAX-RS. What you need in the first place are commitments by the product vendors that they will adopt HTTP/2 in their products. So the actual question goes to Apache, IBM, RedHat and Oracle: Will you support HTTP/2

[2020-11-28 14:55] mkarg commented on #832
Anybody having an opinion here besides me...?

[2020-11-28 15:01] mkarg opened #924 "TCK: Extend existing TCK or start our own one?"
For JAX-RS 3.1 we need some new TCK tests. We have two choices:

- Extend existing TCK, which is an ugly full-Jakarta monolith that is tought to get set up locally, depends explicitly on GlassFish, uses ANT and a proprietary test harness.

- Write all new tests in a new TCK, which is a lightweight REST-only solution, that is easy to get set up locally, depends on no particular product, uses Maven

[2020-11-28 15:03] mkarg commented on #924
@arjantijms @chkal @spericas @andymc12 @jansupol @ronsigal @deki **Please discuss!** :-)

[2020-11-28 16:20] arjantijms commented on #924
For Faces we have essentially agreed to go with the second option. Write new tests in a new TCK.

For Servlet there was discussion about this too, with a hint to try converting the tests. This is an example where I manually converted a handful of tests:

https://github.com/javaee-samples/jakartaee8-tck

All tests are individual projects, use standard JUnit for running the tests and Arquillian for

[2020-11-28 16:30] deki commented on #923
In Apache CXF we have an open issue for many years https://issues.apache.org/jira/browse/CXF-6349 but no concrete time frame yet.

[2020-11-28 16:33] deki commented on #924
+1 for a TCK renewal, the existing one is just painful to execute

[2020-11-29 13:12] chkal commented on #832
A few thoughts:

- The [release record](https://projects.eclipse.org/projects/ee4j.jaxrs/releases/3.0.0) states that the release date is November 5, 2020. I agree that having a completely different date in the spec document is weird. We should definitely find a way to be more consistent regarding this for the next release.
- The release ballot results are now available [here](https://jakarta.ee/sp

[2020-11-29 13:16] chkal commented on #924
@arjantijms Now I'm curious. Do JSF implementations now have to run and pass two TCKs? The old tests contained in the original Jakarta EE TCK plus the new TCK created for Jakarta Faces?

[2020-11-29 13:36] arjantijms commented on #924
@chkal The plan is to move to just one TCK, the new one.

The matter being that Faces 4.0 (likely version number) is a big change; the deprecated templating language JSP and native managed beans will be removed. This means thousands of tests need to be adjusted.

As you know, JSF (Faces) is by far not as popular anymore as it once was, so effectively we only have two main volunteers who can devote

[2020-11-29 13:44] mkarg commented on #924
I think it would be a valid option to keep two TCKs for a while. For the Java SE Bootstrap API I could provide tests on a modern base, while we keep the old stuff until we find enough capacity to migrate it. If nobody has a problem with that, I'd like to start coding it next week.

Regarding the HTTP client, I'd really love to use JRE 11's native HTTP client, but I think as long as the TCK must pr

[2020-11-29 15:56] chkal commented on #924
Sure, this would be the best case. I just wonder if this goal is realistic. And as you already mentioned, the full migration of all existing tests to "a new TCK" may not be possible for specs like Jakarta Faces, because of the effort that would be required.

Therefore, I agree with @mkarg, that having two TCKs (the old one, which may not be updated very much anymore + the new one, which is used fo

[2020-11-29 16:42] mkarg commented on #924
As it is up to each spec project to find their own way, *this* is that public discussion. ;-)

Actually I just started a new TCK for us. Hacking on it right now. :-)

[2020-11-29 17:53] arjantijms commented on #924
Yes, so for Faces it's not set in stone yet. If there's a sudden influx of resources (which I doubt, but suppose), we can look at different options.

Also, maybe it's feasible to keep a part of the old TCK, which means we'd end up with two TCKs as well. The idea would be to run the old TCK on Faces 4.0 and whatever breaks we delete. If what remains is deemed to be of sufficient value, we could dec

[2020-11-29 18:28] arjantijms commented on #832
I've been somewhat "annoyed" (not the exact right word, but you know what I mean), but that as well.

It's not exactly our fault. The problem is that the documents have a given date that's inserted automatically at the time the document is generated. This document is then put up for ballot, and when it passes, everyone is happy and starts the Eclipse release process, with a release record date typ

[2020-11-30 15:16] spericas commented on #923
Although in both SSE and Server Push, data is being _pushed_ to the client, I don't think the intent of these technologies is really the same. Server Push was primarily designed to get around _hacks_ people were doing with HTTP/1 to optimize page downloads, while SSE was designed to get around _other hacks_ like long polling.

These two technologies don't really sit at the same abstraction layer,

[2020-11-30 15:37] spericas commented on #917
I think the example is a little more clear when the `processEntity` method is called as in the original one (which, of course, was _not_ called when an exception is thrown).

In the second example, let's say we add a call to a method `processResponse`, then this method will _always_ be called and would be given a chance to (1) check the status code and (2) process the entity accordingly before ret

[2020-11-30 17:02] mkarg commented on #832
If the fault is the automatic date, then the template simply must changed to include a *static* date.

[2020-11-30 17:02] jansupol commented on #923
I might be wrong, but if Servlet 4 already supports HTTP/2, and [Server Push](https://javaee.github.io/javaee-spec/javadocs/javax/servlet/http/PushBuilder.html), so can JAX-RS.

[2020-11-30 17:57] spericas commented on #923
@jansupol Yes, they do, but for the Server Push use case of pushing resource dependencies AFAIK. As I see it, more of a _web server_ feature than a _REST feature_.

[2020-11-30 17:58] jansupol commented on #924
Not that anyone cares about the history around the CTS framework nowadays, but it might help a bit to understand the bits how they are now and the complexity behind the CTS framework. Back in the Java EE (5) days, Java EE platform was what mattered most. It was Java EE Spec that defined the containers (the basic are EJB, Servlet, JSP, and appclient - in the CTS terminology those are referred to as

[2020-11-30 18:18] m0mus commented on #924
I fully support extracting TCKs from CTS into the project repository but I am strongly against having two sets of tests. It must be only one source of truth. You must submit only one set of TCKs for the spec ballot. You can have two sets only temporary while you are developing new functionality and migrating old tests from CTS.
I am suggesting to take a look how it was done in JSON Binding and JSO

[2020-11-30 19:15] jansupol commented on #924
I wonder if we could have CTS tests (the old ones) and TCK tests (the new ones). The vendors always used to run both the TCK and the CTS, no matter the tests are the same... That's if the Jakarta EE 10 continues with having the CTS bundle at all...

[2020-12-01 13:05] spericas commented on #924
Regardless of how we structure things internally, we should aim at having a single bundle and a single command to run all the tests; otherwise it would prone to errors and confusion.

[2020-12-01 14:25] arjantijms commented on #924
Thanks @jansupol I'm always interested in the history :)

In practice, maybe the vehicles add some complexity, but IMHO what is a very basic but practical obstacle in the current TCK is that all separate tests are just a list of files that are assembled by an ANT file into for example a war, without any native project structure that an IDE recognises.

In most of the newer setups, each test is a s

[2020-12-01 15:21] maho7791 opened #925 "SseEventSource cannot see the JAXRS_DEFAULT_SSE_BUILDER in OSGI"
Because the package **org.glassfish.jersey.media.sse.internal** is not exported in the jersey-media-sse bundle,e.g. the JaxRs client is not able to load the default SSE builder.

This is a constellation that will never work.
A possible solution could be to introduce a factory in the SSE that can be instanciated reflectivley and then create the builder instance in the **javax.ws.rs.ext.sse.FactoryF

[2020-12-01 15:47] #853 closed

[2020-12-02 08:31] chkal commented on #925
Looks like a Jersey and not a spec issue. So please file a corresponding issue here: https://github.com/eclipse-ee4j/jersey/issues

[2020-12-02 08:40] chkal commented on #832
Looks like the date is basically the build timestamp:

https://github.com/eclipse-ee4j/jaxrs-api/blob/3c4941be798aba7986916b26e3f17e5b6c4ef85a/jaxrs-spec/pom.xml#L37

TBH: I'm not 100% sure if I like that or not. It will never match the release date from the release record. But on the other hand it is the "creation date of the release artifact", which somehow makes sense to me.

[2020-12-02 11:06] maho7791 commented on #925
I would say its, a problem that is also related to jaxrs-api, because the assumption that is made, will not work in OSGi ;-). Like suggested I also filed a bug in Jersey:
https://github.com/eclipse-ee4j/jersey/issues/4649

[2020-12-02 11:41] chkal commented on #925
Ok, thanks for the explanation. I'm not super familiar with OSGi. So do you think that the manifest of the JAX-RS API needs to be updated for this to work correctly?

[2020-12-02 11:50] maho7791 commented on #925
Its is less a problem of the Manifest. The JAXRS_DEFAULT_SSE_BUILDER refers to a Class that is, in OSGi, not visible to the JaxRs API. I took a look in Jersey SSE and it seems that, having this Implementation hidden from the Exports is wanted.

There is a similar constellation in JAXB between API and the default implementation. The difference is that in JAXB the API refers to a factory that create

[2020-12-02 14:08] jansupol commented on #915
To me this is in contradiction to what the `ParameterConverter` javadoc says:

When the supplied String is null, `IllegalArgumentException` is thrown and the `@DefaultValue` is used.

[2020-12-02 15:47] jansupol commented on #925
As I understand it, the construct of a default SSE builder is no longer in the 3.x API, and it unlikely would be changed in 2.x API. So from the API perspective, it is solved. This seems to be a Jersey issue now.

[2020-12-02 18:34] mkarg commented on #915
Where actually is written that the default value shall be used in that case?

[2020-12-02 18:37] andymc12 commented on #915
@jansupol I think that the javadoc text is consistent with the spec text @chkal mentioned.  The key part in the spec text is "**Other exceptions** thrown during construction of field or property values using any of the 5 steps listed above are treated as client errors...".

The javadoc for `@DefaultValue` states:
[code]

I take that to mean that `@DefaultValue` should only be used if no value is p

[2020-12-03 01:09] jansupol commented on #915
The process is as follows:
1) the header param injection occurs.
2) the provided ParamConverter is used
3) when the param is null, the user defined ParamConverter can convert null into a value, or throw IllegalArgumentException
4) if the user defined ParamConverter did not work for the null value, which can only be determined by the IllegalArgumentException, the DefaultValue is to be used.

Or doe

[2020-12-03 01:59] jansupol commented on #924
The Eclipse IDE works fine for the TCK repository. It is faster to use just the subset of tests, for JAX-RS TCK instead of all src/com/sun/ts/test tests, the src/com/sun/ts/tests/{common,interop,jaxrs,servlet,signaturetest} folders only. The path is set in the ts.jte file, which is unknown to Eclipse IDE. So it was required to add the jars from the ts.jte classpath to the Eclipse classpath. Not al

[2020-12-03 06:23] chkal commented on #923
Partially related: The Chrome team [announced in early November](https://groups.google.com/a/chromium.org/g/blink-dev/c/K3rYLvmQUBY/m/vOWBKZGoAQAJ?pli=1), that they will remove Server Push from their HTTP/2 and HTTP/3 protocol implementations. See also this [blog post](https://evertpot.com/http-2-push-is-dead/) for some context.

Of course this decision shouldn't be a blocker for us, but it may be

[2020-12-03 15:11] andymc12 commented on #915
In @mkarg's scenario (as I understand it), the ParamConverter is throwing the IllegalArgumentException, not returning null. The javadocs seem to indicate that if a null string is passed in then the ParamConverter should throw an IllegalArgumentException rather than returning a null object, but I think that is a separate issue - we could add more clarification there - i.e. add something to say that

[2020-12-03 23:04] mkarg commented on #915
Yes, Andy, but in fact I would even go one step further looking at the section about default values in https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/ext/ParamConverter.html: `@DefaultValue`'s `value` string actually is just the *input* to the converter in case the request did not contain the parameter according to that paragraph. This is essential to know, because a converter must have

[2020-12-04 09:40] commodis opened #926 "Enhance interaction between UriBuilder and MultivaluedMap"
`UriInfo` provides essential information about the URI like the query parameters via the Methode `UriInfo.getQueryParameters()`.
Its return type is `MultivaluedMap<String, String>` which is basically a `Map<String, List<String>>`.
Thus a single entry inside this `Map` is `Entry<String, List<String>>`.

This type is incompatible with the class `UriBuilder`. Its method signature is

[code]

Followin

[2020-12-05 10:27] chkal commented on #926
I guess your example could be fixed by adding `.toArray()`, or am I missing something?

[code]

[2020-12-07 09:38] commodis commented on #926
You are correct.

The question is, why would I need to do that in the first place within a single API?
I guess it is the same reasoning for classes like `WebTarget` which could accept more than a common String

[2020-12-07 15:34] spericas commented on #915
Right. This could be done eagerly or lazily.

I suppose this is possible, although not sure what the use case would be.

 Not following this one. Converters are required to throw an `IllegalArgumentException` if the parameter is`null`. `@DefaultValue(null)` is counterintuitive and likely something we should disallow.

[2020-12-08 17:02] mkarg commented on #915
In case some fancy data format wants to transport the string `NOTHING` to effectively provide a parameter value of `null` which has a `@DefaultValue("Of Some Non-Null Value"), for example.

Good catch! Right, `@DefaultValue(null)` effectively is invalid due to that restriction and would produce `IllegalArgumentException` in turn. Maybe we should cleary say that in the JavaDocs of this annotation.

[2020-12-08 19:01] everett1992 opened #927 "Requesting clarification of CompletionStage Resource methods"
[Jersey], one jax-rs implementation, does not unwrap CompletionStage generic types when calling MessageBodyWriter after a CompletionStage resource method. It does unwrap the actual response value, and the type but not the Generic Type https://github.com/eclipse-ee4j/jersey/issues/4640. It also doesn't unwrap `CompletionException` when a CompletionStage completes exceptionally. https://github.com/e

[2020-12-08 21:07] andymc12 commented on #915
I don't think `@DefaultValue(null)` is allowed by the compiler.  When I try it, I get `The value for annotation attribute DefaultValue.value must be a constant expressionJava(536871525)`.  And according to [O'Reilly Java In A Nutshell](https://www.oreilly.com/library/view/java-in-a/0596007736/ch04s03.html),

So I don't think we need to be concerned with that scenario.

[2020-12-09 06:03] cowwoc commented on #468
Unfortunately version 3.0.0 went out the door without this. Can we please schedule this against a concrete milestone?